<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 6
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    ASKfm
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Founded in 2010, ASKfm is a global social networking site that allows users to ask and answer questions anonymously. On ASKfm, your child can post anonymous questions and receive replies in the form of text, photos, or videos from anyone in the world.</div><div><br></div><div>All posts are public, meaning that everyone can see them, regardless of whether they have the app or not. ASKfm currently has over 200 million registered users around the world.</div><div><br></div><h2>Concerns Surrounding ASKfm</h2><div>Because ASKfm is an anonymous social media platform, it has struggled with cyberbullying and issues with sexual content. In 2013, the app was linked to<a href="https://www.buzzfeednews.com/article/ryanhatesthis/a-ninth-teenager-since-last-september-has-committed-suicide"> several teen suicides</a>, and in a <a href="https://news.o2.co.uk/?press-release=children-reveal-riskiest-social-media-sites-new-net-aware-guide">2016 survey by NSPCC</a>, 88% of children surveyed reported seeing inappropriate content on the platform.</div><div><br></div><div>Safety concerns related to ASKfm include the following:</div><div><br></div><ul>
<li>While most questions are sincere and positive, not all are, and some users may send or request provocative photos.</li>
<li>Anonymity — which is supposed to allow users to ask and answer questions honestly — emboldens some users to post inappropriate content or engage in cyberbullying.</li>
<li>The Shoutout feature allows users communicate with users who are located geographically close to them, including total strangers who could arrange to meet up.</li>
<li>There is no way to keep ASKfm accounts private. Users cannot see who is following them, and everything they post is visible to all users.</li>
<li>ASKfm profiles can also be found on search engines like as Google Chrome. This includes background pictures as well as posts.</li>
</ul><div><br></div><h2>How to Keep Your Kids Safe on ASKfm</h2><ul>
<li>If you allow your child to use ASKfm, make sure that they are aware of the fully-public nature of the platform, as well as the other potential dangers involved with the application. And for good measure, ask them not to link their ASKfm account to their Facebook account.</li>
<li>Don’t let your child use their real first or last name as their username, or use a real photo as their profile picture.</li>
<li>Go to <strong>Settings</strong> &gt; <strong>Account</strong>, where you will find privacy options. Tap the buttons to:<ul>
<li>Change your child’s password</li>
<li>Deactivate their account</li>
<li>Allow others to share their posts</li>
<li>Allow others to subscribe to their activities</li>
<li>Allow their answers to be be shown on the Discover feed</li>
<li>Allow anonymous questions</li>
</ul>
</li>
<li>Hide incoming Shoutouts and see only direct questions by swiping the Shoutout symbol in the <strong>Incoming Questions</strong> section. Or opt out of Shoutouts altogether:<ul><li>Go to <strong>Settings</strong> &gt; <strong>Account</strong> &gt; toggle off <strong>Allow Shoutout questions</strong>.</li></ul>
</li>
<li>To block or report users for inappropriate content, click the three dots next to their question to open the menu. Tap <strong>Block</strong> or <strong>Report</strong>.</li>
<li>To delete answers your child has written, click the <strong>X</strong> next to the post.</li>
<li>To delete your child's ASKfm account and all the information associated with it:<ul><li>Contact ASKfm<a href="https://support.ask.fm/hc/en-us/articles/115008686388-How-do-I-cancel-my-ASKfm-account-"> through this form</a>, and it will take 30 days for the profile to be fully removed.</li></ul>
</li>
</ul><div><br></div><h2>In Conclusion</h2><div>Like most social media platforms, users must be at least <a href="https://support.ask.fm/hc/en-us/articles/115008827008-How-old-user-has-to-be-to-join-ASKfm-">13 years old</a> or older to sign up. If your child downloads the app when they are underaged, you can simply delete it. If they are older and have spoken to you about it, make sure that you communicate the risks and explain how your child can be protected from potentially dangerous content.</div><div><br></div><div>As technology grows increasingly complicated, the most important strategy you can take for protecting their children is to stay alert and keep open lines of communication so that children feel safe coming to you about their concerns.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Ask.Fm, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the questions/comments your child asks and the answers they receive, as well as, the questions/comments they are asked and the answers they post. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Yahoo!
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Yahoo! has ceased the creation of new Yahoo! Family Accounts, which were previously used to create email accounts for kids younger than 13. Because of this, Bark does not recommend using Yahoo! email with younger kids.</div><div><br></div><div>If you would like to monitor your 13+ child’s Yahoo! email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Yahoo! mail, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Fortnite
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Fortnite<em> </em>is a brilliant mashup of creative building and third-person shooting action. Fortnite is available on PlayStation 4 and Xbox One, as well as Windows and Mac. The popular multiplayer version of the game, Battle Royale,<em> </em>has taken the world by storm, with about 80 million people currently enjoy the action-packed adventure.</div><div><br></div><div>An internet connection is required to play the game, and when your child plays Fortnite, they can instantly connect with people around the globe. The game is rated “T for Teen” due to some violence (gunfire, explosions, swords, etc.)</div><div><br></div><div>Fortnite is a very social game, as kids can play against their friends or players from across the world. YouTube and Twitch gamers have contributed to the game's popularity by streaming their gameplay and amusing antics. The most popular gaming mode, Battle Royale, also happens to be free (with in-app purchases available).</div><div><br></div><h2>Is Fortnite Appropriate for Children?</h2><div>To some parents, the absence of blood in Fortnite makes the game less of a concern than other shooting games. However, the online chat element does open the door to inappropriate language and contact from strangers. Games with chat features generally aren't recommended for those under age 13, but with parental controls, Fortnite can serve as a great alternative to other, more brutal first-person shooter games.</div><div><br></div><h3>Fortnite and Twitch</h3><div>Many kids aren't just playing the game — they're watching others play it on Twitch. Twitch is a platform that video game enthusiasts use to livestream themselves playing games like Fortnite. Livestreaming is, by nature, a bit unpredictable. There's no editing for language or mature content. If your child is using the Twitch platform to watch gamers play Fortnite, be aware of the lack of censorship they'll encounter.</div><div><br></div><h2>Fortnite Parental Controls</h2><div>Both the gaming console and PC versions of <em>Fortnite </em>offer live, unmoderated chat capabilities. Players can opt to use voice chat or type text to the screen. This, unfortunately, exposes kids to the whims of strangers and the high likelihood of obscene language, with people talking into microphones in real time during the game.<br><br>
</div><h3>How to turn off the voice chat option in the Fortnite</h3><ol>
<li>Navigate to the top right corner of the main page.</li>
<li>Select the <strong>...</strong>&nbsp; icon.</li>
<li>Select then the <strong>gear</strong> icon.</li>
<li>Go to the <strong>Audio</strong> tab at the top of your screen.</li>
<li>Adjust voice chat and other audio features.</li>
</ol><div><br></div><h2>How to report another user</h2><div>If you or your child feel that another player has acted inappropriately, you can select <strong>Report Player</strong> at the bottom right of the screen at any time.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Nintendo 3DS
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Nintendo 3DS is a portable, handheld gaming system similar to the Gameboy systems from the 90s, except this one is enabled for Wi-Fi. It also allows gameplay to take place in 3D (with compatible games) and features cameras for taking photos and videos, as well as a touchscreen.</div><div><br></div><div>With the 3DS parental controls, you can restrict several features and settings, including:</div><div><br></div><ul>
<li>Playable titles based on software ratings</li>
<li>Internet browser</li>
<li>Nintendo 3DS Shopping Services</li>
<li>Display of 3D images</li>
<li>Miiverse</li>
<li>Sharing files (including images, video, audio, etc.)</li>
<li>Online interaction</li>
<li>StreetPass</li>
<li>Friend Registration</li>
<li>DS Download Play</li>
<li>Viewing Distributed Videos and YouTube content</li>
<li>Child Online Privacy Protection - parental consent for the online collection, use, or disclosure of personal data for children under age 13</li>
</ul><div><br></div><h2>Setting Parental Controls on the Nintendo 3DS</h2><ol>
<li>Check to see that your system is up to date, and if not, <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/287">update the system</a> before continuing.</li>
<li>Select <strong>Parental Controls</strong> from the <strong>System Settings Menu</strong>. Tap <strong>Yes</strong>.</li>
<li>Select <strong>Yes</strong> when prompted to configure the settings.</li>
<li>Select <strong>Next</strong> on the following screen. Read the information, then tap <strong>OK</strong>
</li>
<li>Tap <strong>OK</strong> again, and choose a 4-digit PIN. You’ll enter this PIN twice.</li>
<li>Tap <strong>OK</strong> to select a secret question you can answer if you forget your PIN.</li>
<li>Select a secret question from the list, or create your own. Use the on-screen keyboard to type your answer. Remember, the answer is case-sensitive.</li>
<li>Tap <strong>OK</strong> to confirm the answer.</li>
<li>Tap <strong>OK</strong>. Register your email address to reset your PIN if your forget it. If you do register your email address, you’ll need to enter it twice to confirm it, then check your confirmation email to confirm your account. If you don’t want to add your email address, select <strong>Cancel</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>When you’re finished, tap <strong>Done</strong> to save the settings.</li>
</ol><div>
<br>You’ll now be able to select the restrictions you want to set on the 3DS based on the topics above.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Netflix
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Netflix is one of the most popular online streaming services in the U.S., with more than 100 million subscribers. Its content includes movies, TV shows, documentaries, and more, and it runs the gamut from kid-friendly to adult-only. Netflix can be accessed via web browsers, smart TVs, tablets, smartphones, and even consoles such as Xbox One and Playstation 4.<br><br>
</div><h2>Parental Control Settings</h2><div>With Netflix’s parental restrictions, you can add profiles for everyone in your family — each with different parental control settings to limit what content they can access. It’s best to set up these changes from a computer.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Netflix.com. You’ll be greeted with a screen that says <strong>Who's watching?</strong>
</li>
<li>Click on the <strong>Add Profile</strong> icon to the far right.</li>
<li>Input your child's name and then click <strong>Continue</strong>.</li>
<li>On the <strong>Manage Profiles</strong> screen, you will be able to create additional parental controls on the account you just created. Click the <strong>pencil</strong> icon on the account.</li>
<li>Click on the dropdown labeled <strong>Allowed TV Shows and Movies</strong> and choose one of these four options:<ul>
<li>
<strong>For Little Kids only:</strong> This category features G-rated content suitable for younger children, including a variety of cartoons, nature documentaries, and silly kids’ movies and TV shows.</li>
<li>
<strong>For Older Kids and below:</strong> This category adds PG-rated movies and TV shows that include themes of violence — although no blood or gore is present.</li>
<li>
<strong>For Teens and below: </strong>This category adds PG-13 content that will not be suitable for younger children. Violence will be more graphic, and there will be mild explicit content.</li>
<li>
<strong>All Maturity levels: </strong>No restrictions. NC-17, NR, R, and UR content is available.</li>
</ul>
</li>
</ol><div><br></div><h3>How to create a parent control PIN</h3><div>Now that you have created the account for your child, you can create a Parental Control PIN that you can use to lock down specific content. This has been a long-awaited feature for Netflix, allowing parents to gain more advanced control over their child's accounts and block any unwanted material behind a PIN passcode.</div><div><br></div><ol>
<li>Log in to your Netflix account and select your profile.</li>
<li>Click on your icon on the top-right corner of the screen and select <strong>Account</strong> from the dropdown that appears.</li>
<li>In the <strong>Settings</strong> section below, click on the <strong>Parental Controls</strong> link. You will be asked to re-enter your password to continue to the next screen.</li>
<li>You will then be directed to the <strong>Parental Control PIN</strong> screen. Enter a PIN number of your choice.</li>
<li>In the <strong>Restrict by Maturity Level</strong> section, you can change the slider on the screen to block any of the four levels mentioned above. This will require the PIN number to be typed in before viewing any content above the chosen level.</li>
<li>In the <strong>Restrict Specific Titles</strong> section below, you can choose specific titles that require a PIN to watch, regardless of the maturity rating on the account.</li>
</ol><div><br></div><h3>How to view what your child has recently watched</h3><div>Netflix also allows you to view the recent streaming activity. This allows you to see the exact date and time content has been viewed on Netflix, as well as from where and on what device.</div><div><br></div><ol>
<li>Click on your icon in the top-right corner of the screen again and click on <strong>Account</strong>.</li>
<li>In the <strong>Settings</strong> section, select <strong>Recent Device Streaming Activity</strong>. Here you will see the most recently used devices with their locations.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Dish
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>This guide will show DISH satellite internet users exactly how to use all available tools for parents.</div><div><br></div><h2>DISH Satellite Internet: Understanding the Technology</h2><div>Satellite internet with dishNET is ideal for basic web browsing, online shopping, social media, and email.&nbsp;</div><div><br></div><div>There is a data limit for users, so parents will want to know how to monitor data usage. Here are the steps:</div><div><br></div><ol>
<li>Go to <a href="http://mydish.com/"><strong>myDISH.com</strong></a> and select <strong>Create Online ID</strong>.</li>
<li>Identify yourself with either your 10-digit phone number or your 16-digit account number, and then follow instructions to verify your information.</li>
<li>Once logged in, select <strong>My Internet</strong> from the menu on the left.</li>
<li>View and manage the amount of data being used on your account. You can see what time of day the internet is being accessed the most, and you can view how much data is remaining.</li>
</ol><div><br></div><div>Other than viewing data usage, parents do not have more direct control over browsing habits with dishNET.</div><div><br></div><h2>How to Set Parental Controls With DISH TV</h2><h3>On the DISH TV receiver</h3><div>Each receiver box in the home must be set with individual controls. Parents are able to restrict access to programs with certain ratings, block adult channels, and restrict the ability to purchase content. Steps vary based on which specific box you have.</div><div><br></div><div>In general, you will log in via the <strong>Home</strong> button on your remote, and then select the <strong>Settings - Parental Controls</strong> option. Here, you can turn controls on or off, set your parental password, and choose individual controls to enable.</div><div><br></div><div>Here are detailed instructions for each type of DISH remote.</div><div><br></div><div>
<strong>40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>DISH also offers a TV Guardian feature. When enabled, the TV Guardian will block explicit language that is spoken on the audio or written in the closed captioning. A TV Guardian logo will appear on the bottom-right corner of your screen when something is blocked.</div><div><br></div><div>
<strong>TV Guardian on a 40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><div>
<strong>50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>
<strong>TV Guardian on a 50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><h2>With DISH Anywhere</h2><div>DISH Anywhere is a service that allows customers to access television programming via their mobile device or computer. Parental controls set on the receiver do not transfer to this service, so each device must have parental controls activated. Below is detailed information on how to change settings for each type of device: Phone, Tablet, Computer, Amazon Fire TV/Stick, and Android TV.</div><div><br></div><h3>For a phone</h3><div>First, you’ll need to download the DISH Anywhere app onto your phone. You’ll need to enter your DISH Online ID and password so be sure you have those handy.</div><div><br></div><div>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired four-digit passcode.</li>
<li>Re-enter your desired four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been created.</li>
<li>Select your desired security question.</li>
<li>Enter the answer to your selected security question.</li>
<li>&nbsp;Re-enter the answer to your selected security question.</li>
<li>Select <strong>OK</strong> to confirm your security question has been added.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your new four-digit passcode.</li>
<li>Re-enter your new four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been changed.<br><br>
</li>
</ol><div>To customize your settings:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>TV Ratings</strong> or <strong>Movie Ratings</strong> to set restrictions.</li>
<li>Select which ratings will require the parental control passcode to view.</li>
<li>Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a tablet</h3><div>First, you’ll need to download the DISH Anywhere app onto your tablet. Then enter your DISH Online ID and password. Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong>.</li>
<li>Swipe to and select your desired security question.</li>
<li>Enter your desired answer.</li>
<li>Re-enter your desired answer.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
<li>&nbsp;Select your desired parental control preferences.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your desired passcode, then re-enter to confirm.</li>
<li>Select <strong>OK</strong> to confirm the passcode was changed successfully.</li>
</ol><div><br></div><div>To customize your settings:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If necessary, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a computer</h3><div>Visit dishanywhere.com and log in with your mydish.com username and password. If you need to create a mydish.com account first, you’ll need to have the following information to identify your DISH account.<br><br>
</div><div>Either your:<br><br>
</div><ul>
<li>Phone #&nbsp;</li>
<li>Account #</li>
<li>10-Digit Receiver #</li>
</ul><div><br></div><div>AND provide one of the following to verify you are authorized to access the account.<br><br>
</div><ul>
<li>4-Digit Security Code&nbsp;</li>
<li>Last 4-Digits of Social Security #</li>
<li>Send Email to Address on File</li>
</ul><div><br></div><div>Once you’re in dishanywhere.com, you’ll need to create a passcode. To set up your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired <strong>Security Question</strong>.</li>
<li>Type the answer to the Security Question in the <strong>Answer</strong> and <strong>Confirm Answer</strong> fields.</li>
<li>Enter your desired four-digit passcode into the <strong>Passcode</strong> and <strong>Confirm Passcode</strong> fields.</li>
<li>Select <strong>Activate Parental Controls</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Type in your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your passcode into the <strong>Current Passcode</strong> field.</li>
<li>Enter your desired new passcode into the <strong>New Passcode</strong> and <strong>Confirm New Passcode</strong> fields.</li>
<li>Select <strong>Change Passcode</strong>.</li>
</ol><div><br></div><div>To customize your parental control settings:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select your desired parental control preferences.</li>
<li>Select <strong>Update Parental Controls</strong>.<br><br>
</li>
</ol><h3>For Amazon Fire TV/Stick and Android TV</h3><div>To set up the parental controls for DISH Anywhere on a smart TV, you’ll need to start by downloading the app (or if you’re lucky enough to be in a hotel room where the app is already installed). You will need your DISH online ID and password in order to log in.<br><br>
</div><div>Next, you need to create a passcode for your parental controls. Here’s how:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Select <strong>CREATE PASSCODE</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To change the passcode for your parental controls:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Enter your current passcode.</li>
<li>Select <strong>CHANGE PASSCODE</strong>.</li>
<li>Enter your new passcode.</li>
<li>Re-enter your new passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To customize your parental control settings for an Amazon Fire TV/Stick &amp; Android TV:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>Select <strong>Save Changes</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/chromebook-11ba0ff273af8f115882dc93b70029ac9fa0f8eeee26a68a873e39a972e930ce.png">
            Chromebook
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chromebook
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Chromebooks are unique laptops that use the Chrome Operating System (OS). Essentially, the Chromebook is run by Google's Chrome browser, and nearly all of its functions are used while connected to the internet. While users are able to work offline for some functions, most of the apps and documents require internet access.</div><div><br></div><h2>Using Google Family Link to Monitor Your Child’s Chromebook</h2><div><br></div><div>Because Chromebooks operate solely on the Google Chrome browser, you will be accessing all of the controls via your family's Google Accounts. Each child will need a Google Family Link account.</div><div><br></div><ol>
<li>Make sure your Chromebook is updated to version 65 or higher of Chrome OS. <a href="https://support.google.com/chromebook/answer/177889">Click here</a> if you need help updating your system.</li>
<li>To create a Family Link account for your child, download the app for either <a href="https://itunes.apple.com/us/app/google-family-link/id1150085200&amp;ct=homepage-website-setup&amp;mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?hl=en&amp;id=com.google.android.apps.kids.familylink">Android</a>.</li>
<li>Follow the instructions on your screen to set up the account.</li>
</ol><div><br></div><h3>How to add a new user to Chromebook</h3><ol>
<li>Select <a href="https://support.google.com/chromebook/answer/1059242?hl=en"><strong>Add Person</strong></a> on the Chromebook's lock screen.</li>
<li>Sign in using your child's Family Link account information.</li>
<li>Next, you will be asked to sign in to your parent account in Family Link to grant access.</li>
<li>An on-screen prompt will list what your child can and cannot access.</li>
<li>Click <strong>Yes</strong> to allow your child access to the Chromebook.</li>
</ol><div><br></div><h3>What Family Link Monitors</h3><div>Children signed into their Google Accounts on a Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:<br><br>
</div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "try to block mature sites" has been turned on for your child in the Family Link settings, Chrome browsing will block most sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. However, your child can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this info won't be used to personalize ads for children under 13.</li>
</ul><div><br></div><h3>How to manage websites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that's right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.</li>
<li>
<strong>Only allow certain sites</strong>: Your child will only be able to visit the sites you allow.</li>
</ul>
</li>
<li>Tap <strong>Manage Sites</strong> to manually block or allow certain sites.</li>
</ol><div><br></div><h3>How to manage website permissions</h3><div>Parents can choose if their child is allowed to grant permissions to the websites they visit. Examples of permissions include allowing sites to track location, access the camera, or push notifications. To adjust this setting:</div><div><br></div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off.</li>
</ol><div><br></div><h3>How to monitor browsing history</h3><ol>
<li>On your child's Chromebook, open <strong>Chrome</strong>.</li>
<li>In the top right, select <strong>More &gt; History</strong>. This page shows your child's recent Chrome history.</li>
</ol><h3>
<br>How to clear history</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>In the <strong>History</strong> section, tap <strong>Clear history</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's Chromebook, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. <a href="http://bark.us/?s=barkomatic">Bark</a> can also monitor the saved photos and videos on Chromebook by downloading the <a href="http://bark.us/?s=barkomatic">Bark</a> for Chromebooks app from the Google Play Store. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPad
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Home
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Home is a smart speaker that competes with the Amazon Echo and the Apple HomePod. You can use it to get news and weather forecasts, make purchases, listen to music, and more. If you want to make sure your children are using Google Home appropriately, these step-by-step directions will allow you to set up parental controls.<br><br>
</div><h2>Setting Parental Controls on Google Home Smart Speakers</h2><ol>
<li>Set up a <a href="https://families.google.com/familylink/"><strong>Google Family Link</strong></a> account. This allows you to view activity, manage apps, limit screen time, and lock devices. You can even use Family Link to see where your child is as long as they are carrying their device and location services are on. You must download the app on your smartphone.</li>
<li>Use the <strong>Family Link</strong> app to create a Google Account for your child, where you can control and monitor linked apps and devices.</li>
<li>Have each child nearby to provide voice samples to allow voice recognition of commands. This is necessary for individual permissions profiles. Expect to spend up to 10 minutes per child.</li>
<li>Block explicit music and video content from YouTube.<ol>
<li>Open the <strong>Google Home</strong> app.</li>
<li>Tap <strong>Menu</strong> in the top left corner.</li>
<li>Verify the Google Account listed is the one linked to Google Home. Switch accounts, if necessary, by clicking the triangle to the right of the account name.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Under <strong>Devices</strong>, tap the Home device you want to adjust.</li>
<li>Under <strong>YouTube Restricted Mode</strong>, block content by sliding the slider to the right.</li>
</ol>
</li>
<li>Block explicit content from <strong>Google Play Music</strong>.<ol>
<li>Open the <strong>Google Play Music</strong> website. You cannot access this setting from the Google Play Music app.</li>
<li>In the top left corner, click <strong>Settings</strong>.</li>
<li>In the <strong>General</strong> section, click the checkbox next to <strong>Block explicit songs in radio</strong>. This will not block Google Play Music premium users from playing specific explicit songs or albums.</li>
</ol>
</li>
</ol><div><br></div><div>Children are blocked from online purchasing automatically. External apps are blocked unless Google has vetted them and designated them as <strong>Apps for Families on Google Assistant</strong>. You can block third-party apps via Family Link.</div><div><br></div><div>Google Home has a personal results setting you can monitor, but you must choose to monitor all of the content — calendar, contacts list, and photos — or none of it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>