<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Pie - 9.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android Pie</strong>, which is version 9.0. This is the latest version of Android, released in August 2018.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 8.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Tap one of the following options <strong>A) Pattern B) PIn C) Password.</strong>
</li>
</ol><div>
<br>What's the difference?</div><ul>
<li>Pattern lock uses a pattern via connecting-the-dots.</li>
<li>Pin uses 4-16 digits.</li>
<li>Password uses a combination of letters and numbers.</li>
</ul><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the Google Play Store menu again.</li>
<li>Tap <strong>My Apps &amp; Games.</strong>
</li>
<li>Tap Installed.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases </strong>to prevent in-app purchases.</li>
</ol><div>
<br><em>REMINDER: Not all apps have age ratings, so make sure to talk to your child about the types of content you allow.<br></em><br>
</div><h3>Preventing in-app purchases</h3><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h3>Create a restricted profile</h3><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>System.</strong>
</li>
<li>Tap <strong>Advanced.</strong>
</li>
<li>Tap <strong>Multiple Users.</strong>
</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Set Up Now.</strong>
</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limited data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to off.</li>
<li>If prompted, tap TURN OFF to confirm.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set.</strong>
</li>
</ol><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>From the Mobile section, toggle the <strong>Alert me about data usage</strong> switch on.</li>
<li>If prompted, tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Set Data warning </strong>to turn on.</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set.</strong>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a><br><br>.</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S9
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S9 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S9 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S9 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.<br><br>
</div><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>From the Mobile section, tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Toggle the <strong>Limit mobile data usage</strong> switch on.</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set</strong>.</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>From the Mobile section, toggle the <strong>Alert me about data usage</strong> switch on.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Set Data </strong>warning to turn on.</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon is one of the largest cell phone service providers in the U.S. Beyond smartphones, they also sell tablets, wearables, and other accessories. If Verizon is your provider, you’ll be glad to know they offer their own parental controls to help you keep your children safe online.</div><div><br></div><div>Verizon Family Safeguards &amp; Controls allow you to manage everything from phone activity and usage to age restrictions on content, and more. Most of the features are included free with your plan. Let’s take a look at what’s included, and what you’ll have to pay for.</div><div><br></div><ul>
<li>
<strong>Verizon Roadside Assistance: </strong>$3/month/line</li>
<li>
<strong>Verizon Smart Family:</strong> $4.99/month/account</li>
<li>
<strong>Block Calls &amp; Messages:</strong> Free</li>
<li>
<strong>Internet Spam Blocking:</strong> Free</li>
<li>
<strong>Verizon Support &amp; Protection:</strong> Free</li>
<li>
<strong>Family Locator: </strong>$9.99/month/account - included in Smart Family Premium</li>
<li>
<strong>Service Blocks:</strong> Free</li>
<li>
<strong>Total Equipment Coverage: </strong>Starts at $7/month/device</li>
<li>
<strong>Total Mobile Protection: </strong>Starts at $9/month/device</li>
<li>
<strong>Usage Alerts:</strong> Free</li>
</ul><div>
<br><br>
</div><h2>Verizon's Just Kids Plan</h2><div>The Just Kids Plan allows parents to manage screen time, filter content, track location and more. Additional features include:<br><br>
</div><ol>
<li>5GB monthly data</li>
<li>Unlimited talk/text to 20 parent-approved contacts</li>
<li>Safety mode to avoid data overages</li>
<li>Smart Family premium with parental controls at no extra cost&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Setting Parental Controls on Verizon</h2><div>Only the Account Owner or Account Manager can access the Usage Controls/Smart Family.</div><div><br></div><ol>
<li>Login into Verizon Smart Family using your <strong>My Verizon</strong> login credentials.</li>
<li>Select your desired Smart Family plan. Tap <strong>Next</strong>.</li>
<li>Select the lines you’d like to add to the Smart Family.</li>
<li>Name the lines you’re adding if you want. Then tap <strong>Sign up</strong>.</li>
</ol><div><br></div><h2>Pairing Your Child’s Devices</h2><h3>On Android</h3><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Tap <strong>Pause Internet</strong>, <strong>Add protection</strong>, or <strong>Content filters</strong>.</li>
<li>Tap <strong>Next</strong>.</li>
<li>Enter your child's age to get the appropriate protection level. Tap <strong>Next</strong>.</li>
<li>Select <strong>OK</strong>.</li>
<li>Block or customize each category according to what you believe is best for your child.</li>
<li>Tap <strong>Pair phone</strong>.</li>
<li>Tap <strong>Send</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Open your child’s device.</li>
<li>Open the text from the Parent app.</li>
<li>Tap <strong>Show Me How</strong>.</li>
<li>Watch the tutorial. Tap <strong>Got it</strong> to continue.</li>
<li>Scroll to <strong>Smart Family Companion</strong> and tap that option.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Toggle Smart Family Companion to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong> on your Parent device.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h3>On iPhone</h3><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Tap <strong>Pause Internet</strong>, <strong>Add protection</strong>, or <strong>Content filters</strong>.</li>
<li>Tap <strong>Next</strong>.</li>
<li>Enter your child's age to get the appropriate protection level. Tap <strong>Next</strong>.</li>
<li>Select <strong>OK</strong>.</li>
<li>Block or customize each category according to what you believe is best for your child.</li>
<li>Tap <strong>Pair phone</strong>.</li>
<li>Tap <strong>Send</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Open your child’s device.</li>
<li>Open the text from the Parent app.</li>
<li>Tap <strong>Show Me How</strong>.</li>
<li>Watch the tutorial. Tap <strong>Got it</strong> to continue.</li>
<li>Tap <strong>Install</strong>, then tap <strong>Trust.</strong>&nbsp;</li>
<li>Tap <strong>Done</strong>. Tap <strong>OK</strong>.</li>
<li>Tap <strong>OK</strong> on the Parent device.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Enabling Content Filters</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Content Filters</strong>.</li>
<li>Tap everything you want to block.</li>
<li>When you’re done, tap <strong>Save</strong>.</li>
<li>Tap <strong>Content Filters</strong> again, and scroll down to <strong>Websites</strong>.&nbsp;</li>
<li>Tap <strong>Trusted Websites</strong> to add websites to that list.</li>
<li>Tap <strong>Blocked Websites</strong> to add websites to that list.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Time Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Time Restrictions</strong>.</li>
<li>Create time restrictions appropriate for your child.<ol>
<li>Add school or night hours by tapping <strong>School hours</strong> or <strong>night hours</strong> and adjusting the recommended restrictions.</li>
<li>Tap <strong>Save</strong> to put the restrictions in effect.</li>
<li>Add custom restrictions by tapping <strong>Add time restrictions</strong>. Choose times and days you want to go into effect. Tap <strong>Save</strong>.</li>
<li>To remove restrictions, select the restriction you want to remove, then tap Remove.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Data Target Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Data target</strong>.</li>
<li>Create data targets appropriate for your child.<ol>
<li>Enter the data target in gigabytes for the child.</li>
<li>If you want to be notified when your child reaches that target, tap <strong>Don’t block data, but alert me when the limit is reached</strong>.</li>
<li>Tap <strong>Save</strong> to put the limit into effect.</li>
<li>To remove restrictions, tap the data target for the family member, then tap <strong>Remove</strong>. Confirm removal by tapping remove again.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Purchase Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Purchase Limits</strong>.</li>
<li>Create a purchase limit based on what you feel is appropriate for your child.<ol>
<li>Enter the dollar amount to set the limit. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping it and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Text Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Text limit</strong>.</li>
<li>Create a text limit based on what you feel is appropriate for your child.&nbsp;<ol>
<li>Enter the maximum number of texts you’ll allow your child to send and receive in a month. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping the limit and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Call Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Call limits</strong>.</li>
<li>Create a call limit based on what you feel is appropriate for your child.&nbsp;<ol>
<li>Enter the maximum number of minutes you’ll allow your child to use in a month. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping the limit and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Location Alerts</h2><div>If you’ve opted for Smart Family Premium, family location features are included. You can add locations where your child often is, and get notified when they arrive at and leave those locations.</div><div><br></div><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Location alerts</strong>.</li>
<li>Tap <strong>Places &amp; alerts</strong>.<ol>
<li>Tap <strong>Add a place</strong>.</li>
<li>Enter a name and address.</li>
<li>Tap either <strong>Arrival</strong> or <strong>Departure</strong> alert switches.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Repeat for any additional locations.</li>
<li>Remove alerts by selecting the Place Alert you want to remove, then tap <strong>Remove</strong>. Tap Remove again to confirm.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Reddit
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Also known as "the front-page of the internet," Reddit is a popular online forum that features a vast amount of content for users to read, contribute to, and share with other people. It functions much like a message board. Reddit is routinely in the top ten most popular websites in the U.S., and it has has grown significantly since its humble beginnings in 2005.</div><div><br></div><div>The forum is organized by user-created boards known as "subreddits" that can be about nearly any topic imaginable. A subreddit is preceded by the characters "r/" in the url. For example, "r/planes" would be a subreddit on the general topic of planes. Similarly, a subreddit entitled "r/stocks" would be all about the stock market.</div><div><br></div><h2>Pros</h2><div>Reddit really is just a large database of knowledge. While some of that "knowledge" is certainly random photos and memes, there are plenty of subreddits that are all about learning specific topics, such as "r/guitarlessons" or "r/woodworking". These can be excellent channels for beginners to learn new hobbies or share their knowledge with others.<br><br>
</div><h2>Cons</h2><div>As you can imagine, a website with such an open-ended platform could be worrisome for younger visitors. Because Reddit is such a popular destination, there are scores of NSFW (not safe for work) threads available on the site. Although not immediately visible, it is there. Thankfully, there are ways to protect your child from viewing any explicit content.</div><div><br></div><h2>How to Keep Your Child Safe on Reddit</h2><h3>How to create an account</h3><div>Create your child's Reddit account yourself and sign up with your own email address. This allows you to keep tabs on what your child is looking at, and even change settings or block usage if it ever becomes necessary. Without access to your email address, your child will not be able to change the password. While this is a great first step, there are a few account settings you will need to change to make the browsing experience more kid-friendly.</div><div><br></div><div>Note: You can use Reddit without logging in it all. It’s possible to log out at any time once you’ve logged in to escape any restrictions put in pace.<br><br>
</div><h3>How to secure your child’s Reddit account</h3><ol>
<li>Click on your child’s account username at the top-right corner of the screen.</li>
<li>Select <strong>User Settings</strong> from the dropdown menu.</li>
<li>Tap the <strong>Profile</strong> menu button.</li>
<li>Scroll down until you see the <strong>Advanced</strong> section. Uncheck both <strong>Content Visibility</strong> and <strong>Active in communities visibility</strong>, which will help keep your child more anonymous online. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and select the <strong>Privacy &amp; Security</strong> menu button.</li>
<li>In the top section labeled <strong>User Privacy</strong>, uncheck <strong>Search engine indexing</strong>. This prevents any search engine from displaying your child's profile in search results.</li>
<li>Scroll down until you see the <strong>Messaging Privacy</strong> section. Click on the dropdown next to the <strong>Who can message you</strong> setting and change it from <strong>Everyone</strong> to <strong>Whitelisted</strong>. Now you can customize the users who can message your child's account; for example, a neighborhood friend. Keep in mind that administrators and moderators of subreddits that your child is following will always be able to send them private messages. So it is important to decide carefully what subreddits your child can follow. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and click on the <strong>Feed Settings</strong> menu button.</li>
<li>At the very top of the list is the <strong>Content Preferences</strong> section. Verify that <strong>Adult Content</strong> is disabled (it should be disabled by default but it doesn't hurt to double-check). It may also be a good idea to disable <strong>Autoplay media</strong> immediately below the Adult Content setting, which stops videos and .gifs from playing automatically. Click <strong>Save</strong> at the bottom of the screen.</li>
</ol><div><br></div><h3>Report hateful speech or bullying.</h3><div>If your child comes across any hateful speech or bullying, help them report any offending users.</div><div><br></div><ol>
<li>For offensive posts: click the “<strong>...</strong>” at the bottom of the post and select <strong>Report</strong> from the dropdown that appears. Then select a reason for the report and click <strong>Submit</strong>.</li>
<li>For offensive comments, click on the <strong>Report</strong> button immediately below the comment. Then select a reason for the report and click <strong>Submit</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Reddit, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors your child's submissions, comments, and private messages. This includes replies to their comments, which come in as private messages. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AOL
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Parental controls for AOL email accounts were discontinued Nov. 1, 2017.&nbsp; Existing secondary usernames or child accounts were <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">promoted to full, standalone accounts with no parental control features at all</a>. Because of this, Bark does not recommend using AOL email with children.</div><div><br></div><div>If you would like to monitor your child’s existing AOL email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.&nbsp;</div><div><br></div><div>If you would prefer to remove access to these unmonitored accounts entirely, instructions on how to delete an AOL account are presented below.</div><div><br></div><h2>How to Delete a Secondary AOL Account That Has Been Promoted to a Full Account</h2><ol>
<li>Access the AOL account deactivation page <a href="https://login.aol.com/?done=https%3A%2F%2Fapi.login.aol.com%2Foauth2%2Frequest_auth%3Fclient_id%3Ddj0yJmk9a0dMSTFNQTlieXAwJmQ9WVdrOU1teEVVMHQ1TjJFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD00OQ--%26scope%3Dgdpr-w%26redirect_uri%3Dhttps%253A%252F%252Faol.mydashboard.oath.com%252Fcallback%252Fuser%26response_type%3Dcode%26language%3Den-US%26state%3DeyJ1c2VyX3JldHVybl9wYXRoIjoiL2RlbGV0ZS1teS1hY2NvdW50IiwidXNlcl9oaW50IjoidW5kZWZpbmVkIiwibm9uY2UiOiJkY2JiNmMxMWE4NDA1MDY2MGVkZmI3ZTU2NjMyZmRkZCJ9%26src%3Dpd-aol%26.scrumb%3D0&amp;src=pd-aol&amp;crumb=3e6Fsy9JE9i&amp;redirect_uri=https%3A%2F%2Faol.mydashboard.oath.com%2Fcallback%2Fuser&amp;lang=en-US&amp;language=en-US">here</a>.</li>
<li>Read the information on terminating your account in full. You'll receive all the legal information on what AOL is responsible for in terms of data, and more information.</li>
<li>Follow the on-screen prompts confirming that you do indeed want to delete this account.</li>
</ol><div><br></div><div>To learn more about changes to accounts that were previously sub-usernames or child accounts prior to 2017, please read AOL's help page on this topic <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">here</a>.</div><div><br></div><h2>How to Download Data Before Deleting a Secondary AOL Account</h2><ol>
<li>If you would like to save data before deleting a standard account that was previously a child's account, visit the AOL Privacy Dashboard page <a href="https://policies.oath.com/us/en/oath/privacy/dashboard/index.html">here</a>.</li>
<li>Choose <strong>AOL email</strong> to view the data for this AOL service.</li>
<li>Scroll down and click <strong>Manage Your Data</strong>.</li>
<li>It will take time to prepare your data package. Insert an email address that you're currently using to receive the notification that your email account data are processed and ready to download.</li>
<li>Click <strong>Request Download</strong>.</li>
<li>You'll receive an email linking you to the final download of all the contents of your email account.</li>
</ol><div>
<br>For more important information on what to look for before closing an AOL email account, please review the AOL help page <a href="https://help.aol.com/articles/close-your-account">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In AOL email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Nintendo 3DS
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Nintendo 3DS is a portable, handheld gaming system similar to the Gameboy systems from the 90s, except this one is enabled for Wi-Fi. It also allows gameplay to take place in 3D (with compatible games) and features cameras for taking photos and videos, as well as a touchscreen.</div><div><br></div><div>With the 3DS parental controls, you can restrict several features and settings, including:</div><div><br></div><ul>
<li>Playable titles based on software ratings</li>
<li>Internet browser</li>
<li>Nintendo 3DS Shopping Services</li>
<li>Display of 3D images</li>
<li>Miiverse</li>
<li>Sharing files (including images, video, audio, etc.)</li>
<li>Online interaction</li>
<li>StreetPass</li>
<li>Friend Registration</li>
<li>DS Download Play</li>
<li>Viewing Distributed Videos and YouTube content</li>
<li>Child Online Privacy Protection - parental consent for the online collection, use, or disclosure of personal data for children under age 13</li>
</ul><div><br></div><h2>Setting Parental Controls on the Nintendo 3DS</h2><ol>
<li>Check to see that your system is up to date, and if not, <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/287">update the system</a> before continuing.</li>
<li>Select <strong>Parental Controls</strong> from the <strong>System Settings Menu</strong>. Tap <strong>Yes</strong>.</li>
<li>Select <strong>Yes</strong> when prompted to configure the settings.</li>
<li>Select <strong>Next</strong> on the following screen. Read the information, then tap <strong>OK</strong>
</li>
<li>Tap <strong>OK</strong> again, and choose a 4-digit PIN. You’ll enter this PIN twice.</li>
<li>Tap <strong>OK</strong> to select a secret question you can answer if you forget your PIN.</li>
<li>Select a secret question from the list, or create your own. Use the on-screen keyboard to type your answer. Remember, the answer is case-sensitive.</li>
<li>Tap <strong>OK</strong> to confirm the answer.</li>
<li>Tap <strong>OK</strong>. Register your email address to reset your PIN if your forget it. If you do register your email address, you’ll need to enter it twice to confirm it, then check your confirmation email to confirm your account. If you don’t want to add your email address, select <strong>Cancel</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>When you’re finished, tap <strong>Done</strong> to save the settings.</li>
</ol><div>
<br>You’ll now be able to select the restrictions you want to set on the 3DS based on the topics above.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Call of Duty
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Call of Duty: Black Ops 4 is the latest major entry in the long-running Call of Duty series of multiplayer shooters. This game features a new addition: Blackout, the first major budget entry into the battle royale shooter sub-genre made popular by Fortnite and PUBG.</div><div><br></div><div>Call of Duty: Black Ops 4 is available on PC via Battle.net, PlayStation 4, and Xbox One. Unlike some popular games, such as Fortnite or Rocket League, there is no cross-platform play, so universal communications settings for Battle.net, PSN, and Xbox Live fully control the level of communication your child has with other players.<br><br>
</div><h2>Graphic content</h2><div>Call of Duty: Black Ops 4 is specifically targeted at mature audiences. It depicts gunshot wounds, dismemberment, and exposed viscera. The in-game dialogue regularly includes profanity. Some levels include elements such as mutilated corpses and drug paraphernalia. Parents are strongly cautioned to decide whether it is appropriate for their child to play this game.<br><br>
</div><h3>How to turn off graphic content</h3><ol>
<li>From the in-game menu, select <strong>Options</strong>.</li>
<li>Next, select <strong>Content Filter</strong>.</li>
<li>Set <strong>Graphic Content</strong> to <strong>Off</strong>&nbsp; to disable blood, gore, and adult language.</li>
</ol><div><br></div><h2>Chat Functionality</h2><div>There is no text communication in Call of Duty: Black Ops 4. Voice chat is handled through the overarching online service hosting the game (Battle.net, PlayStation Network, and Xbox Live). Unless players have voice communication turned off manually or are already engaged in a private party chat, they will have open lines with all players present in the game.</div><div><br></div><div>The Blackout mode defaults to squad chat if the player is not engaged in a solo game. However, whenever players are near an enemy who has died, the game opens their microphone to anyone near the downed player. Often, this leads to a few seconds of aggressive or offensive chatter for a few seconds. These voice opportunities can be disabled by system-level communications settings.</div><div><br></div><h2>How to Disable Public Voice Communications</h2><h3>For Xbox One users</h3><ol>
<li>Head over to <a href="https://account.xbox.com/en-US/settings">https://account.xbox.com/en-US/settings</a>. Log in with your Xbox Live account information, and select your child's profile.</li>
<li>Scroll down to <strong>Privacy and Online Safety</strong> and select it. A list of games appears.</li>
<li>Choose <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Scroll down to <strong>Others Can Communicate with Voice, Text, or Invites Settings</strong> and toggle the input field to <strong>Blocked</strong>. Now, all voice communication features will be disabled.<ol><li>&nbsp;System-level party chat will still be enabled with approved friends.</li></ol>
</li>
</ol><div><br></div><h3>For PlayStation 4 users</h3><ol>
<li>Select <strong>Settings</strong> on your PS4 dashboard.</li>
<li>Choose your child's profile and scroll down to <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Click <strong>Applications/Devices/Network Features</strong>.</li>
<li>Select <strong>Network Features</strong>.</li>
<li>In the <strong>Network Features</strong> area check the radio button next to <strong>Choose to Disable Communication With Other PSN Users On This Account</strong>.</li>
</ol><div><br></div><h3>For PC Battle.net users</h3><ol>
<li>Load up <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Sound</strong>.</li>
<li>Scroll down to <strong>In-Game Voice</strong> and toggle it to <strong>Disabled</strong>.</li>
<li>Players can also choose to mute individual players in-game in real time. To do so, press <strong>Tab</strong> to bring up the scoreboard.</li>
<li>Mouse over the offending player, and click their name.</li>
<li>Choose <strong>Mute</strong>. This player will remain muted in new multiplayer sessions, as well.</li>
</ol><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Dish
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>This guide will show DISH satellite internet users exactly how to use all available tools for parents. It assumes that you have already set up the relevant DISH accounts. Below you will find parental control settings across multiple DISH devices from multiple points of access, including:<br><br>
</div><ul>
<li>
<strong>DISH TV Receiver</strong> with 40.0 remote and 50.0/52.0/54.0 remote</li>
<li>
<strong>DISH Anywhere</strong> for phone, tablet, computer, Amazon Fire TV/Stick, and Android TV</li>
</ul><div><br></div><h2>Parental Controls on the DISH TV Receiver</h2><div>Each receiver box in the home must be set with individual controls. Parents are able to restrict access to programs with certain ratings, block adult channels, and restrict the ability to purchase content. Steps vary based on which specific box you have.</div><div><br></div><div>In general, you will log in via the <strong>Home</strong> button on your remote and then select the <strong>Settings - Parental Controls</strong> option. Here, you can turn controls on or off, set your parental password, and choose individual controls to enable.</div><div><br></div><div>Here are detailed instructions for each type of DISH remote:</div><div><br></div><h3>40.0 remote</h3><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired <strong>Parental Control</strong> preferences.</li>
</ol><div><br></div><div>DISH also offers a TV Guardian feature. When enabled, the TV Guardian will block specific language that is spoken on the audio or written in the closed captioning. A TV Guardian logo will appear on the bottom-right corner of your screen when something is blocked.</div><div><br></div><div>
<strong>To enable TV Guardian on a 40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired <strong>CC Mode Option</strong>.</li>
</ol><div><br></div><h3>50.0/52.0/54.0 remote</h3><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>
<strong>To enable TV Guardian on a 50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired <strong>CC Mode Option</strong>.</li>
</ol><div><br></div><h2>Parental Controls With DISH Anywhere</h2><div>DISH Anywhere is a service that allows customers to access television programming via their mobile device or computer. Parental controls set on the receiver do not transfer to this service, so each device must have parental controls activated. Below is detailed information on how to change settings for each type of device: Phone, Tablet, Computer, Amazon Fire TV/Stick, and Android TV.</div><div><br></div><h3>DISH Anywhere for a phone</h3><div>First, you’ll need to download the DISH Anywhere app onto your phone. You’ll need to enter your DISH Online ID and password so be sure you have those handy.</div><div><br></div><div>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired four-digit passcode.</li>
<li>Re-enter your desired four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been created.</li>
<li>Select your desired security question.</li>
<li>Enter the answer to your selected security question.</li>
<li>&nbsp;Re-enter the answer to your selected security question.</li>
<li>Select <strong>OK</strong> to confirm your security question has been added.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your new four-digit passcode.</li>
<li>Re-enter your new four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been changed.<br><br>
</li>
</ol><div>To customize your settings:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>TV Ratings</strong> or <strong>Movie Ratings</strong> to set restrictions.</li>
<li>Select which ratings will require the parental control passcode to view.</li>
<li>Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>DISH Anywhere for a tablet</h3><div>First, you’ll need to download the DISH Anywhere app onto your tablet. You’ll need to enter your DISH Online ID and password, so be sure to have those handy.<br><br>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong>.</li>
<li>Swipe to and select your desired security question.</li>
<li>Enter your desired answer.</li>
<li>Re-enter your desired answer.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
<li>&nbsp;Select your desired <strong>Parental Control</strong> preferences.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your desired passcode, then re-enter to confirm.</li>
<li>Select <strong>OK</strong> to confirm the passcode was changed successfully.</li>
</ol><div><br></div><div>To customize your settings:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If necessary, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>DISH Anywhere for a computer</h3><div>Go to<strong> </strong>dishanywhere.com and log in with your mydish.com username and password to create a parental controls passcode. To set up your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired Security Question.</li>
<li>Type the answer to the Security Question in the <strong>Answer</strong> and <strong>Confirm Answer</strong> fields.</li>
<li>Enter your desired four-digit passcode into the Passcode and Confirm Passcode fields.</li>
<li>Select <strong>Activate Parental Controls</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Type in your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your passcode into the <strong>Current Passcode</strong> field.</li>
<li>Enter your desired new passcode into the <strong>New Passcode</strong> and <strong>Confirm New Passcode</strong> fields.</li>
</ol><div><br></div><div>To customize your parental control settings:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select your desired Parental Control preferences.</li>
<li>Select <strong>Update Parental Controls</strong>.<br><br>
</li>
</ol><h3><strong>DISH Anywhere for Amazon Fire TV/Stick and Android TV</strong></h3><div>To set up the Parental controls for DISH Anywhere on a smart TV, you’ll need to start by downloading the app (or if you’re lucky enough to be in a hotel room where the app is already installed). You will need your DISH online ID and password in order to log in.<br><br>
</div><div>Next, you need to create a passcode for your parental controls. Here’s how:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Select <strong>CREATE PASSCODE</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To change the passcode for your parental controls:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Enter your current passcode.</li>
<li>Select <strong>CHANGE PASSCODE</strong>.</li>
<li>Enter your new passcode.</li>
<li>Re-enter your new passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To customize your parental control settings for a Amazon Fire TV/Stick &amp; Android TV:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>Select <strong>Save Changes</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options are available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content and access Google Fiber apps like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls — one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guides (indicated by a red prohibition sign, or a "no symbol"), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step-by-step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong><em>.</em>
</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows Vista
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows Vista is an older Windows operating system used on PCs and tablets. It was made available to the general public in January 2007 and received its final update in Service Pack 2, which was released in May 2009. Even though it’s no longer updated, parents can still set restrictions.<br><br>
</div><h2>Setting Up Parental Restrictions</h2><h3>How to create a user account for your child</h3><ol>
<li>Open the <strong>Control Panel</strong>.</li>
<li>Select <strong>User Accounts</strong> and <strong>Family Safety</strong>.</li>
<li>Click <strong>Add or Remove User Accounts</strong> to set up your child’s user account.<ol><li>Make sure this account is a non-administrator. Otherwise, your child has access to the area where parental controls are set.</li></ol>
</li>
</ol><div><br></div><h3>How to access parental controls for your child’s account</h3><ol>
<li>Click <strong>Set up Parental Controls for Any User</strong> to start the process.</li>
<li>Click the user account you want to set controls for from the list.</li>
<li>Enable parental controls by clicking <strong>On, Enforce current settings</strong>.</li>
<li>If you want to get a report of the child’s user activity, then click <strong>On, Collect information about computer usage</strong>. This way, you’ll be able to see all the websites your child looks at, the files they downloaded, when they logged on, the programs they used, and more.</li>
<li>Use the <strong>Windows Vista Web Filter</strong> to control your child’s internet experience.<ol>
<li>Choose the content you wish to block or allow.</li>
<li>Choose to allow or block file downloads.</li>
</ol>
</li>
<li>Use the <strong>Time limits</strong> section to control the times your child can use the computer.</li>
<li>Use the <strong>Games</strong> section to control the games your child can play.<ol>
<li>Choose the rating, or mix and match content.</li>
<li>Choose the games rating provider.</li>
<li>Block specific games, if you wish.</li>
</ol>
</li>
<li>Allow or block use of specific programs.</li>
<li>Click <strong>OK</strong> when finished.</li>
<li>Repeat for any additional children.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Safari
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Safari is the internet browser that comes with all Apple computers, and it possesses some built-in parental control features to help protect your children online. For these to work, you must first create a user profile for your child on the Apple device, then adjust the system settings to apply to Safari.</div><div><br></div><div>NOTE: These instructions apply to Mac computers using Sierra OS. Menu options may vary slightly, but generally the instructions should be similar for other Mac OS versions.<br><br>
</div><h2>How to Create a User Profile for Your Child on an Apple Computer</h2><ol>
<li>Log in to your administrator account on the device.</li>
<li>Click <strong>System Preferences</strong>.</li>
<li>Next, click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon in order to begin making changes. Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Choose the Age:<ol>
<li>4+</li>
<li>9+</li>
<li>12+</li>
<li>17+</li>
</ol>
</li>
<li>Add the full name of your child.</li>
<li>Next, enter an account name.</li>
<li>Enter a password.</li>
<li>Create a password hint in case your child forgets the password. (If it is forgotten, you can log in to your administrator account and reset the password).</li>
<li>Click <strong>Create user</strong>.</li>
<li>When finished, click the <strong>lock</strong> icon again to prevent further changes.</li>
</ol><div><br></div><h2>How to Set Parental Controls for Safari</h2><ol>
<li>Click <strong>System Preferences</strong>.&nbsp;</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes. Enter your password when prompted.</li>
<li>Select the user account whose parental controls you want to manage.</li>
<li>Click <strong>Enable Parental Controls</strong>.</li>
<li>Click <strong>Web</strong>. While you can use this interface to implement parental controls for the entire computer, since this focuses on the Safari browser, we’ll ignore the other tabs and options.</li>
<li>Choose one of the following options:<ul>
<li><strong>Allow unrestricted access to websites</strong></li>
<li>
<strong>Try to limit access to adult websites</strong>.<strong> </strong>You can click the <strong>Customize</strong> button to add a list of sites to always allow, and a list of sites to never allow.</li>
<li>
<strong>Allow access only to these websites</strong>.<strong> </strong>There are a number of websites in this list, including Bing, Google, Facebook, Twitter, and others. Click the <strong>+</strong> to add another site to the list. Click a site in the list and then the <strong>-</strong> button to remove a site from the list.</li>
</ul>
</li>
<li>When finished, click the <strong>lock</strong> icon to prevent additional changes.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Safari, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor web browsing for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPod Touch
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>