<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Pinterest
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>At first glance, Pinterest appears to be one of the safest social media sites. There's little direct communication between participants, so your child is unlikely to connect with predators. Unfortunately, that doesn't mean that Pinterest is entirely safe. There are <a href="https://www.bark.us/blog/pinterest-monitoring-6-things-parents-need-to-know/">several things</a> parents need to keep in mind as they allow their children to browse Pinterest, notably including:</div><div><br></div><ul>
<li>Mature content, including pornographic content, that hasn't yet been blocked by Pinterest</li>
<li>Content that glorifies eating disorders or self-harm</li>
<li>Links that lead away from Pinterest to other sites that could potentially be dangerous</li>
<li>A lack of privacy on Pinterest (most people use their real name to sign up)</li>
<li>Pinterest has secret boards that are visible only to your child and whoever they choose to invite</li>
<li>You can <a href="https://help.pinterest.com/en/article/edit-account-privacy">hide your child’s account from search engines</a> and disable cookie-based personalization</li>
<li>Your child has the ability to <a href="https://help.pinterest.com/en/article/block-or-unblock-someone">block other Pinterest users</a> if they encounter harassment or bullying</li>
</ul><div><br></div><div>It's also important to keep in mind that your child may not be in control of what images they see when they're browsing. Content pinned by the individuals they follow (who your child may never have met) or content that appears after a seemingly innocent search can be surprisingly detrimental. Pinterest’s terms of service state that children must be <a href="https://help.pinterest.com/en/article/age-requirements-for-using-pinterest">at least 13</a> to use their product, but some parents may choose to allow their child to use it earlier.&nbsp;</div><div><br></div><div>How do you keep your child safe while they're browsing Pinterest? There are several steps that can help keep your child safer.</div><div><br></div><h2>Follow Your Child</h2><div>Do you follow your child on Pinterest? While this may not mean that you see everything they look at, it will show you what they're pinning — and make it easy for you to check out their boards. Following your child may help you note any disturbing trends in your child's Pinterest behavior before they become a more serious problem. Knowing that you're following them may also help prevent your child from looking up and pinning content that could be detrimental to their mental health.<br><br>Keep in mind that others can follow your child, too. Avoid linking your child's Pinterest account to their Facebook, Twitter, or Instagram accounts to help prevent strangers from learning more about them.</div><div><br></div><h2>Limit Pinterest Time</h2><div>You may find that limiting your child to browsing Pinterest on a browser helps you keep a more effective eye on what they're doing than allowing them to browse straight from their phone. Consider limiting the amount of time spent on Pinterest just like you would any other social media site. Many parents feel that Pinterest is essentially harmless, and it may be for most children. Others may struggle with the ready availability of pornographic images or inappropriate content. Limiting time on the site can also help limit their exposure to that content.</div><div><br></div><h2>Adjust Parental Controls in Your Browser</h2><div>It can be helpful to <a href="https://www.bark.us/blog/concerned-parents-should-consider-internet-providers-parental-controls-when-selecting-a-service-and-when-setting-up-the-devices-they-provide-their-kids/">adjust parental controls in your browser</a> to help prevent your child from browsing to websites that display inappropriate content, even if they are linked on Pinterest.</div><div><br></div><h2>Talk to Your Child</h2><div>Any time you discover that your child is accessing inappropriate content, it's important to have a conversation about it. Some content is accessed simply because of a child's natural curiosity. Other content may be accessed because your child fell down a metaphorical “rabbit hole” while browsing and ended up in a place they didn't intend to go. No matter how your child accessed that content, however, it's important to talk about it. Share your views, including why you would rather they avoid that type of content. An <a href="https://www.bark.us/blog/tech-accountability-create-technology-contract-family/">open dialogue</a> makes it easier for your child to tell you what they've seen — and it increases the odds that they'll turn to you — instead of to the internet — to learn more.</div><div><br></div><div>Pinterest is a great place for your child to browse hairstyles, outfit ideas, workout plans, and more. With proper parental monitoring, it can be an excellent tool for your child — and these steps can help keep your child safe.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Pinterest, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the child's profile, the images and descriptions that they pin. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">her</a>e.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If your family subscribes to Xfinity Comcast, you will have access to the Xfinity Comcast email service. Your Xfinity email address is associated with the primary account holder and is created when you sign up for services. You will be able to create new email addresses from your account settings.<br><br>Although Xfinity Comcast's email provider doesn't technically have parental controls, there are ways to help keep your child safer while emailing.&nbsp;<br><br>
</div><h2>Using Xfinity Connect to Manage Email Accounts</h2><div>Xfinity Connect is a downloadable app that extends your Comcast services onto mobile devices (Apple and Android), allowing you to access your @comcast.net email address. This app is where the parental restrictions live.</div><div><br></div><h2>How to Change Your Child’s Display Name</h2><div>Create your child’s email account from the main Xfinity dashboard. If this is your child's first email handle, you'll most likely monitor who they exchange emails with and when. However, changing your child's display name is still a good idea to protect his or her identity online. The display name is the name that populates in the "From" field of a sent email. Using a nickname or a pseudonym is a great way of keeping your child's name from falling into the hands of spammers. Here's how to change your display name in Xfinity Connect:</div><div><br></div><ol>
<li>From your Xfinity Connect dashboard, select <strong>Preferences</strong>.</li>
<li>From the <strong>Preferences </strong>page, click<strong> Email</strong>.</li>
<li>On the <strong>Email Preferences</strong> page, you'll see a form labelled <strong>Your name on emails will be</strong>. Fill it in accordingly.</li>
</ol><div>&nbsp;</div><h2>How to Set Spam Filters</h2><ol>
<li>From your Xfinity dashboard, click the <strong>gear</strong> icon and navigate to <strong>Advanced Settings</strong>.</li>
<li>Click <strong>Enable spam filtering</strong>.</li>
<li>If you want a record of potential spam entering your child's inbox you can choose to check the <strong>Save a copy of emails marked as spam</strong> box. Otherwise, they’ll be deleted before even reaching the inbox.</li>
</ol><div><br></div><h2>How to Set an Email Safe List</h2><div>Your Comcast email account also gives you the option to set up a highly limited inbox that only allows emails from specific email addresses. This safe list allows you to control who your child emails — any messages from addresses not included on the safe list will not be delivered.</div><div><br></div><ol>
<li>Click the <strong>gear</strong> icon to navigate to<strong> Settings</strong>.</li>
<li>Click <strong>Advanced Settings</strong>.</li>
<li>Navigate to <strong>Email Safe List </strong>and input the addresses your child may receive mail from.</li>
</ol><div><br></div><h2>How to Set Incoming Email Restrictions</h2><div>Comcast's email service also includes an advanced feature that allows you to create multiple email filters. Though this is a more complicated process, it is a robust system that gives the user the power to sort through incoming email. To create a filter you will dictate the conditions that trigger the filter and the resulting action.</div><div><br></div><ol>
<li>From the<strong> Settings</strong> page, click <strong>Filter rules </strong>followed by <strong>Add new rule</strong>.</li>
<li>Add your <strong>Rule name</strong> into the provided field.</li>
<li>Click <strong>Add condition</strong> and follow the prompts (<a href="https://www.xfinity.com/support/articles/spam-filters-and-email-blocking-new-experience">more details here</a>).</li>
<li>Choose your <strong>Action</strong>.</li>
</ol><div>5. Click <strong>Save</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Xfinity/Comcast email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    EA/Origins
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>EA (Electronic Arts) is a video game developer that has created some of the most popular games available today, including Star Wars: Battlefront II, Battlefield, Madden, The Sims, and more. To complement their extensive library of games, EA built a gaming platform called <strong>EA Origin</strong>, which is downloadable on PC, Mac, and the Xbox and PlayStation marketplaces. Players can log in to EA Origin and access all of their EA games, play games without internet access (on PC and Mac only), and connect with friends — all in one place.</div><div><br></div><div>EA Origin also features an optional monthly PC gaming subscription called <strong>Origin Access</strong>. This subscription has a <strong>Basic</strong> package and a more expensive <strong>Premier</strong> package that grants access to over 150 games and the ability to play games before they’re released with <strong>Play First Trials</strong>.</div><div><br></div><div>While EA games have become a staple of the modern childhood experience, many games contain graphic content that may be unsuitable for your child. It’s important to use the available parental controls so your child isn’t exposed to content they can’t handle, whether it’s violent gameplay, mature imagery, or vulgar chatroom discussions.</div><div><br></div><h2>Setting Up a Primary Account</h2><div>In order to set up a child account, EA requires that you first create a profile for yourself. You can then create their child's profile as a sub-account.</div><div><br></div><ol>
<li>Start by navigating to <a href="http://www.origin.com/">www.origin.com</a>.</li>
<li>Click the <strong>Register</strong> button, which is below the orange sign in button.</li>
<li>Input your <strong>Country/Region</strong> and <strong>Date of Birth</strong>.</li>
<li>On the next screen, add your <strong>Email Address</strong> and create a <strong>Password</strong>.</li>
<li>Underneath the heading "<strong>People can find me by searching…</strong>", create a new <strong>Public ID </strong>(otherwise known as a "username"). To protect your anonymity, it’s best not to use your real first or last name.</li>
</ol><div><br></div><div>Now that you have created your main account, you'll need to download and install the EA Origin app to create your child's account. To do this:</div><div><br></div><ol>
<li>
<strong>Log out</strong> of your EA Origin account.</li>
<li>Navigate back to the <a href="http://www.origin.com/">Origin homepage</a>.</li>
<li>In the menu on the left side of the page, click the <a href="https://www.origin.com/usa/en-us/store/download"><strong>Download</strong></a> button.</li>
<li>Select either the<strong> Windows</strong> or<strong> Mac</strong> download button.</li>
</ol><div><br></div><h2>Setting Up a Child Account</h2><div>Once the EA Origin app is installed, you can begin creating your child's account:</div><div><br></div><ol>
<li>Click on the app to open the<strong> </strong>log-in window.</li>
<li>Select <strong>Create An Account</strong> at the top of the window.</li>
<li>Input the <strong>Country/Region</strong> and your child's <strong>Date of Birth</strong>.<ul><li>NOTE: It is <em>very</em> important that you input the correct age for your child to allow for the appropriate restrictions.</li></ul>
</li>
<li>Read and accept the Privacy &amp; Cookie Policy and the User Agreement, then click <strong>Next</strong>.</li>
<li>Enter your email address for your personal EA Account and choose a password in the top two fields.</li>
<li>Then create a Public ID for your child. Avoid using your child's real name.</li>
<li>Click <strong>Create Account</strong>.</li>
<li>A verification email will be sent to your inbox. Click the appropriate link to verify that you are the parent or guardian.<ul><li>The new child's account will use your personal password by default. Make sure to change the password before letting your child access the account:<ol>
<li>Navigate back to the <strong>EA Origin login screen</strong>.</li>
<li>Select the <strong>Forgot your password?</strong> link below the sign-in button.</li>
<li>Type in your <strong>child's Public ID</strong>.</li>
<li>You will receive an email to reset the password.</li>
</ol>
</li></ul>
</li>
</ol><div><br></div><h2>Child Account Restrictions</h2><h3>Multiplayer games</h3><div>It's worth noting that accounts for children under the age of 13 will not have access to many online multiplayer games, depending on the gaming console they have. If you want your child to be able to play any online multiplayer game on a PC, Mac, or PlayStation 3, the game will need to be purchased and played on your adult account, which is not recommended without supervision. Xbox One, Xbox 360, and PlayStation 4 consoles all allow customized parental controls using each console's built-in parental control settings.<br><br>
</div><h3>Marketplace</h3><div>Child accounts do not have access to the Origin Store, so your child will not be able to purchase games through their account. Games can be added manually by <a href="https://help.ea.com/en-us/help/origin/origin/origin-code-redemption-faq/">redeeming the Product Code</a> in your child's account.</div><div><br></div><h3>Social interaction</h3><div>At this time, EA does not allow social interaction on a child account. Adult accounts have the ability to add friends by searching a Public ID or email address.</div><div><br></div><h2>When Your Child Gets Older</h2><div>Once your child reaches a certain age, EA will <a href="https://help.ea.com/en-us/help/account/aging-up-an-origin-account-to-an-adult-account/">automatically notify your child</a> that they are allowed to change their child account to a full-access account. This age varies by country or region, but it is typically 13 years old.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    World of Warcraft
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>World of Warcraft (WoW) is the most popular massively multiplayer online role playing game (MMORPG) of all time. While the WoW craze has died down in recent years, it is still a popular place for millions of people to slip into their in-game avatars, gather, and play.</div><div><br></div><div>In WoW, players enter the world of Azeroth, a place filled with many races and creatures, but split into two near-constantly warring factions — the Alliance and the Horde. Players can choose to join either faction then help people all around the world of Azeroth for gold, gear and experience points to level up.</div><div><br></div><h2>Enabling Parental Controls in World of Warcraft</h2><div>This all seems fairly innocent, and it is. However, your children will be playing on servers filled with thousands of other people. To manufacturer Blizzard's credit, they have gone to great lengths to make sure their game was safe for all players and to help parents make sure their children aren't spending all their time in the world of Azeroth.</div><div><br></div><div>World of Warcraft is a PC-only game, and while there are other ways to enact parental controls on the PC, Blizzard has some of the most expansive parental controls of any game publisher.</div><div><br></div><div><strong>When you create a Parent Account with Blizzard, you’ll be able to:</strong></div><div><br></div><ul>
<li>Set play time limits and certain schedules</li>
<li>Enable or disable voice chat</li>
<li>Enable or disable live streaming of gameplay</li>
<li>Enable or disable in-game purchases</li>
<li>Enable or disable text chat and Real ID name reveal</li>
<li>Full play-time reports</li>
</ul><div><br></div><div>All of this can be very simply enabled on Blizzard's website from the parental control page <a href="https://us.battle.net/account/parental-controls/setup.html">here</a>.</div><div><br></div><h2>Things to Keep in Mind</h2><h3>To chat, or not to chat?</h3><div>While Blizzard has excellent parental controls, the reason that WoW has been enduringly popular is because it’s played with so many other people. Unlike other games, where the activities are short, some activities may require players to communicate with one another to explain more complex mechanics. This is where disabling chat might affect gameplay. However, for younger children, it may be best to keep chat disabled so they’re not exposed to uncensored strangers (many of whom are adults).<br><br>
</div><h3>Using Discord instead of WoW chat</h3><div>It is important to also remember that while Blizzard has good parental controls, there are ways to bypass them. For example, many guilds, instead of using in-game chat options, will use third-party programs such as Discord to text and voice chat. This makes it necessary to still keep an eye on who your children chat with even if WoW chat is disabled.<br><br>
</div><h3>Real-life guilds</h3><div>The best option for keeping your children safe while still allowing them to have fun may be instead to find an in-game community that is a good fit for them. In WoW, these communities are called guilds. Many guilds are run by other parents to create a safe community that exists specifically for younger children to give them a friendly and safe play environment.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Comcast, one of the largest cable and internet providers in the country, offers an excellent suite of parental controls through their new xFi Wi-Fi platform. Including a personalized homepage with all of the necessary activity insights, parents get useful tools like Device Pausing, Time Limits, and other advanced parental controls.<br><br>Comcast xFi is only compatible with wireless gateways that are provided by Comcast.</div><div><br></div><h2>How to Begin</h2><div>Open the Xfinity xFi app or navigate to <a href="http://www.xfinity.com/myxFi">www.xfinity.com/myxFi</a> and type in your username and password. You will then be directed to the Overview page that will show you default information about your gateway including other relevant user data, such as the recent activity of the most popular devices on your network, and your family members.</div><div><br></div><h2>Device List</h2><div>Click on the <strong>Device</strong> tab. You can see who is currently connected to your network, and you can manage family devices from this screen.</div><div><br></div><ul>
<li>
<strong>Active Devices</strong> are listed at the top of this screen with a green icon noting the connection.</li>
<li>
<strong>Inactive Devices</strong> are listed at the bottom of the screen and do not show a green icon.</li>
</ul><div><br></div><div>If this is your first time logging in, none of your devices will be customized and may appear as a long string of numbers and letters — also known as a MAC address — or it may be the device's default name (e.g. "Johns_MacBook_Air"). Personalizing the device names will allow easier access to family members and devices.</div><div><br></div><h2>Personalizing Devices</h2><div>If you have just connected a new device, or have yet to personalize any devices, there will be a prompt at the top of the Device screen that informs you of any devices waiting to be personalized.</div><div><br></div><ol>
<li>Click the <strong>Personalize</strong> button near the top of the page.</li>
<li>Click the device you want to personalize from the <strong>new devices list</strong>.</li>
<li>Here you will have the option to <strong>name your device</strong> and <strong>select a device category</strong>.<ul><li>If you are having trouble identifying the device, click on <strong>View More Device Info</strong> to see more details about the device.</li></ul>
</li>
<li>Select <strong>Continue</strong> and then <strong>Close</strong>.</li>
<li>Now that the device is personalized, you can assign it to a family member's profile.</li>
<li>Choose a family member from the list or click <strong>Create New</strong> to create a new profile.</li>
</ol><div><br></div><div>You can also create new profiles on the <strong>People</strong> menu.</div><div><br></div><h2>People</h2><div>Select <strong>People</strong> from the top menu. Here you can create new profiles, view the activity of specific family members, and manage guest profiles. In addition to the specific family member profiles, you will see these two unique profiles:</div><div><br></div><ul>
<li>
<strong>Household</strong> — This profile is a collection of devices that are used by multiple people, such as the living room TV or a printer.</li>
<li>
<strong>Guest</strong> — This profile displays all of the devices used by house guests.</li>
</ul><div><br></div><div>Neither of these profiles can be deleted and may be empty depending on your current setup.</div><div><br></div><h2>Device Pausing</h2><div>Pausing devices can be an excellent way to get everyone to the dinner table in a timely manner.</div><div><br></div><ol>
<li>To pause a device, click on a family member's name on the <strong>People</strong> page.</li>
<li>On the top right of the screen click <strong>Pause All Devices</strong>.</li>
</ol><div><br></div><div>Alternatively, you can pause one device at a time by going to the <strong>Devices</strong> page, selecting a device, and choosing <strong>Pause Device</strong>.</div><div><br></div><h2>Time Limits</h2><div>Follow these steps to begin setting time limits for your family:</div><div><br></div><ol>
<li>Navigate back to the <strong>People</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click <strong>Edit </strong>next to <strong>Bedtime Mode</strong>.</li>
<li>Here you can set time limits for both <strong>School Nights</strong> (Sun-Thurs) or <strong>Weekend Nights</strong> (Fri-Sat) separately. Select the checkbox for each section and adjust the sliders to change the time limits.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>Now your child will have official time limits for their devices, with unique bedtime modes depending on whether it is a school night or weekend night.</div><div><br></div><h2>Parental Controls</h2><div>You can control the type of content your child can access through the Parental Controls settings.</div><div><br></div><ol>
<li>Navigate yet again to the <strong>Overview</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click<strong> Edit </strong>next to<strong> Parental Controls</strong>.</li>
<li>Select the <strong>On</strong> dial.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>This parental control setting is not fully customizable, but will automatically reduce the risk of your child accessing explicit material online. The viewable material will be limited to content appropriate for all ages.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Dish
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>This guide will show DISH satellite internet users exactly how to use all available tools for parents.</div><div><br></div><h2>DISH Satellite Internet: Understanding the Technology</h2><div>Satellite internet with dishNET is ideal for basic web browsing, online shopping, social media, and email.&nbsp;</div><div><br></div><div>There is a data limit for users, so parents will want to know how to monitor data usage. Here are the steps:</div><div><br></div><ol>
<li>Go to <a href="http://mydish.com/"><strong>myDISH.com</strong></a> and select <strong>Create Online ID</strong>.</li>
<li>Identify yourself with either your 10-digit phone number or your 16-digit account number, and then follow instructions to verify your information.</li>
<li>Once logged in, select <strong>My Internet</strong> from the menu on the left.</li>
<li>View and manage the amount of data being used on your account. You can see what time of day the internet is being accessed the most, and you can view how much data is remaining.</li>
</ol><div><br></div><div>Other than viewing data usage, parents do not have more direct control over browsing habits with dishNET.</div><div><br></div><h2>How to Set Parental Controls With DISH TV</h2><h3>On the DISH TV receiver</h3><div>Each receiver box in the home must be set with individual controls. Parents are able to restrict access to programs with certain ratings, block adult channels, and restrict the ability to purchase content. Steps vary based on which specific box you have.</div><div><br></div><div>In general, you will log in via the <strong>Home</strong> button on your remote, and then select the <strong>Settings - Parental Controls</strong> option. Here, you can turn controls on or off, set your parental password, and choose individual controls to enable.</div><div><br></div><div>Here are detailed instructions for each type of DISH remote.</div><div><br></div><div>
<strong>40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>DISH also offers a TV Guardian feature. When enabled, the TV Guardian will block explicit language that is spoken on the audio or written in the closed captioning. A TV Guardian logo will appear on the bottom-right corner of your screen when something is blocked.</div><div><br></div><div>
<strong>TV Guardian on a 40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><div>
<strong>50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>
<strong>TV Guardian on a 50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><h2>With DISH Anywhere</h2><div>DISH Anywhere is a service that allows customers to access television programming via their mobile device or computer. Parental controls set on the receiver do not transfer to this service, so each device must have parental controls activated. Below is detailed information on how to change settings for each type of device: Phone, Tablet, Computer, Amazon Fire TV/Stick, and Android TV.</div><div><br></div><h3>For a phone</h3><div>First, you’ll need to download the DISH Anywhere app onto your phone. You’ll need to enter your DISH Online ID and password so be sure you have those handy.</div><div><br></div><div>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired four-digit passcode.</li>
<li>Re-enter your desired four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been created.</li>
<li>Select your desired security question.</li>
<li>Enter the answer to your selected security question.</li>
<li>&nbsp;Re-enter the answer to your selected security question.</li>
<li>Select <strong>OK</strong> to confirm your security question has been added.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your new four-digit passcode.</li>
<li>Re-enter your new four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been changed.<br><br>
</li>
</ol><div>To customize your settings:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>TV Ratings</strong> or <strong>Movie Ratings</strong> to set restrictions.</li>
<li>Select which ratings will require the parental control passcode to view.</li>
<li>Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a tablet</h3><div>First, you’ll need to download the DISH Anywhere app onto your tablet. Then enter your DISH Online ID and password. Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong>.</li>
<li>Swipe to and select your desired security question.</li>
<li>Enter your desired answer.</li>
<li>Re-enter your desired answer.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
<li>&nbsp;Select your desired parental control preferences.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your desired passcode, then re-enter to confirm.</li>
<li>Select <strong>OK</strong> to confirm the passcode was changed successfully.</li>
</ol><div><br></div><div>To customize your settings:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If necessary, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a computer</h3><div>Visit dishanywhere.com and log in with your mydish.com username and password. If you need to create a mydish.com account first, you’ll need to have the following information to identify your DISH account.<br><br>
</div><div>Either your:<br><br>
</div><ul>
<li>Phone #&nbsp;</li>
<li>Account #</li>
<li>10-Digit Receiver #</li>
</ul><div><br></div><div>AND provide one of the following to verify you are authorized to access the account.<br><br>
</div><ul>
<li>4-Digit Security Code&nbsp;</li>
<li>Last 4-Digits of Social Security #</li>
<li>Send Email to Address on File</li>
</ul><div><br></div><div>Once you’re in dishanywhere.com, you’ll need to create a passcode. To set up your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired <strong>Security Question</strong>.</li>
<li>Type the answer to the Security Question in the <strong>Answer</strong> and <strong>Confirm Answer</strong> fields.</li>
<li>Enter your desired four-digit passcode into the <strong>Passcode</strong> and <strong>Confirm Passcode</strong> fields.</li>
<li>Select <strong>Activate Parental Controls</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Type in your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your passcode into the <strong>Current Passcode</strong> field.</li>
<li>Enter your desired new passcode into the <strong>New Passcode</strong> and <strong>Confirm New Passcode</strong> fields.</li>
<li>Select <strong>Change Passcode</strong>.</li>
</ol><div><br></div><div>To customize your parental control settings:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select your desired parental control preferences.</li>
<li>Select <strong>Update Parental Controls</strong>.<br><br>
</li>
</ol><h3>For Amazon Fire TV/Stick and Android TV</h3><div>To set up the parental controls for DISH Anywhere on a smart TV, you’ll need to start by downloading the app (or if you’re lucky enough to be in a hotel room where the app is already installed). You will need your DISH online ID and password in order to log in.<br><br>
</div><div>Next, you need to create a passcode for your parental controls. Here’s how:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Select <strong>CREATE PASSCODE</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To change the passcode for your parental controls:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Enter your current passcode.</li>
<li>Select <strong>CHANGE PASSCODE</strong>.</li>
<li>Enter your new passcode.</li>
<li>Re-enter your new passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To customize your parental control settings for an Amazon Fire TV/Stick &amp; Android TV:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>Select <strong>Save Changes</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    High Sierra
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Macs are a series of computers — desktops and laptops — manufactured by Apple, and they run with the OS X operating system. High Sierra version 10.13 was released in 2017. It was the most current version until Apple released OS X 10.14 (known as Mojave) in September 2018.<br><br>
</div><h2>Create a New User Profile on Your Mac</h2><ol>
<li>Log in to your administrator account.</li>
<li>Click the <strong>System Preferences</strong> icon in your <strong>Dock</strong>.</li>
<li>Click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes.</li>
<li>Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Select your child’s age (either 4+, 9+, or 12+).</li>
<li>Enter your child’s full name.</li>
<li>Enter an <strong>Account Name</strong>.</li>
<li>Enter a <strong>password</strong> for the user, and then enter it again to verify it.</li>
<li>Create a <strong>password hint</strong> in case the child forgets the password.</li>
<li>Click <strong>Create user</strong>.</li>
<li>Click the <strong>lock</strong> again to prevent further changes.</li>
</ol><div><br></div><h2>Set Parental Restrictions on Your Mac</h2><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock icon</strong> to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select a user, then begin to customize their restrictions:<ul>
<li>
<strong>Time:</strong> Set time limits for weekdays, weekends, and bedtime.</li>
<li>
<strong>Privacy:</strong> Allow your child to make changes related to privacy.</li>
<li>
<strong>Web</strong>: Limit access to websites, or allow unrestricted access.</li>
<li>
<strong>Apps:</strong><ul>
<li>Prevent your child from using the built-in camera.</li>
<li>Restrict them from joining multiplayer games in the Game Center.</li>
<li>Limit your child’s contact with other people through Mail.</li>
<li>Specify which apps your child can access.</li>
</ul>
</li>
<li>
<strong>Stores:</strong><ul>
<li>Disable access to the iTunes Store and the iBooks Store.</li>
<li>Limit a child’s access to music, movies, TV shows, apps, and books to only those with age-appropriate ratings.</li>
</ul>
</li>
<li>
<strong>Other:</strong><ul>
<li>Prevent your child from using Siri and Dictation.</li>
<li>Adjust printer and scanner settings.</li>
<li>Limit CD-burning and DVD-burning.</li>
<li>Hide profanities in the dictionary and other sources.</li>
<li>Prevent the Dock from being modified, and instead show your child a simplified, easy-to-use view of the Mac desktop.</li>
</ul>
</li>
</ul>
</li>
</ol><div><br></div><h2>Manage Parental Controls From Another Mac</h2><div>After you set restrictions for a child on one Mac, you can manage parental controls from a different Mac that’s on the same network. Here’s how:<br><br>
</div><div>On the Mac your child uses:</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.&nbsp;</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select <strong>Manage parental controls from another computer</strong>.<br><br>NOTE: If you don’t see this option, there may be a user selected on the left side of Parental Controls preferences. Command-click the selected user so there isn’t a user selected.</li>
</ol><div><br></div><div>On the Mac you want to use to manage your child’s parental controls settings (i.e. your own personal Mac):</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select the Mac your child uses.</li>
<li>Enter the administrator name and password for the Mac your child uses.</li>
<li>Select the user to be managed (your child).</li>
</ol><div><br></div><div>That’s it! You can now change your child’s parental controls settings and monitor their activity logs.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with their groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Fire is a tablet developed and supported by Amazon. Kids can use it to read Kindle ebooks, play games, watch movies, and use social media.&nbsp;</div><div><br></div><div>It’s equipped with one of the most comprehensive sets of parental controls on the market, and we’ll walk you through how to set them up.<br><br>
</div><h2>Parental Controls on Amazon Fire</h2><h3>Option 1: Basic parental controls</h3><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Tap the switch next to <strong>Parental Controls</strong>.</li>
<li>Enter a password and confirm your password.</li>
<li>Tap <strong>Finish</strong>.</li>
<li>After you turn on parental controls, a <strong>lock</strong> icon will appear at the top of the screen.<br><br>
</li>
</ol><div><strong>Basic parental controls allow you to restrict the following:</strong></div><ul>
<li>The Amazon Store</li>
<li>Web browsing</li>
<li>Email, Contacts, and Calendar apps</li>
<li>Social network sharing</li>
<li>The camera</li>
<li>Specific content types (for example, books or apps)</li>
</ul><div><br></div><div><strong>Basic parental controls allow you to password-protect the following:</strong></div><ul>
<li>Purchases from the Amazon stores on your device (like the Amazon Appstore)</li>
<li>Playing movies and TV shows from Prime Video</li>
<li>Connecting to Wi-Fi</li>
<li>Enabling location services</li>
</ul><div><br></div><div><strong>How to set a curfew and choose when your child can use their tablet:</strong></div><ul>
<li>Tap the switch next to <strong>Set a Curfew</strong> to turn this feature on.</li>
<li>Tap <strong>Curfew Schedule</strong>.</li>
<li>Choose the days and times that the child will not be able to access the device.</li>
<li>To unlock a device in curfew, enter your parental controls password.</li>
</ul><div><br></div><div><strong>How to monitor your child’s tablet use:</strong></div><ul>
<li>Tap the switch next to <strong>Monitor This Profile</strong> to monitor activity on how your child is using their Amazon Fire.</li>
<li>A monitored profile will show a <strong>parent and child</strong> icon at the top of the screen.</li>
<li>View the information by visiting <strong>Activity Center</strong> on the <strong>Your Devices</strong> tab of <strong>Manage Your Content and Devices.</strong>
</li>
<li>You’ll be able to see how much time your child has spent on various apps, which books they’ve read, and what content they’ve accessed.</li>
</ul><div><br></div><h3>Option 2: Purchasing parental controls through Amazon FreeTime Unlimited</h3><div>Amazon FreeTime Unlimited is a subscription service available for customers in the U.S., U.K., and Germany. It’s available on Fire, Android, iOS, Kindle, and compatible Echo devices, and one subscription works across all devices. It gives kids access to thousands of age-appropriate books, movies, TV shows, music, games, and educational apps for a small monthly fee. Parents can use it to create a personalized experience for their kids while striking the right balance between education and entertainment.</div><div><br></div><div>It has additional parental control options, such as limiting the type of content your child accesses until they’ve completed daily goals (i.e., math problems, reading) and shutting itself down at the designated curfew.</div><div><br></div><div><strong>How to subscribe to Amazon FreeTime Unlimited on an Amazon Fire:</strong></div><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Profiles &amp; Family Library</strong>.</li>
<li>Tap your child’s profile.</li>
<li>Tap <strong>Subscribe to Amazon FreeTime Unlimited</strong>.</li>
<li>Select a monthly subscription plan:<ol>
<li>
<strong>Single Child Plan ($4.99/month or $2.99/month for Prime members):</strong> If you have only one child registered to Amazon FreeTime, or if you want to provide access to Kindle FreeTime Unlimited to one, but not all, of the child profiles in your household</li>
<li>
<strong>Family Plan ($9.99/month or $6.99/month for Prime members, $119/year or $83/year for Prime members): </strong>If you want your subscription to cover up to four children in your household<br><br>
</li>
</ol>
</li>
</ol><div><strong>How to use Amazon FreeTime Unlimited’s parental controls:</strong></div><ol>
<li>Tap the <strong>FreeTime</strong> app.</li>
<li>Select the profile for your child.</li>
<li>Choose <strong>Set Daily Goals &amp; Time Limits</strong> and adjust the toggles to choose how long they can spend per day in specific apps (on the device overall).</li>
<li>Choose a <strong>Turn off by</strong> time to prevent them from using their tablet after bedtime.</li>
<li>Tap <strong>Manage your Child’s Content</strong> and then <strong>Smart Filters</strong> to set the age minimum and maximum for the type of content they’re allowed to see.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Amazon Fire, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor photos, videos, web browsing, and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>