<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Oreo – 8.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android Oreo</strong>, which is version 8.0 - 8.1.0. This is a fairly recent version of Android and was released on August 21, 2017.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 8.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Under <strong>Set Content Restrictions</strong>, you should see three options:<ul>
<li>
<strong>Apps &amp; Games:</strong> Choose which apps and games your child can access, including whether or not they can access unrated items.</li>
<li>
<strong>Movies:</strong> Restrict purchases or playback depending on a movie’s rating.</li>
<li>
<strong>Music: </strong>Block explicit songs and protect unwanted purchases.</li>
</ul>
</li>
</ol><div>
<br><em>REMINDER: Not all apps have age ratings, so make sure to talk to your child about the types of content you allow.<br></em><br>
</div><h3>Preventing in-app purchases</h3><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h3>Create a restricted profile</h3><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Users</strong> (if you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limited data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle “<strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S8 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S8 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S8 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div><br></div><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.</div><div><br></div><div>You can also set up Face Recognition, Intelligent Scan, Fingerprint Scanner, and Iris Scanner. To do this:</div><div><br></div><ol>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Biometrics</strong>.</li>
<li>Tap either <strong>A) Fingerprint</strong>, <strong>B) Face Recognition</strong>, <strong>C) Intelligent Scan</strong>, or <strong>D) Iris Scanner</strong>
</li>
</ol><div><br></div><div>What's the Difference Between Fingerprint, Face Recognition, Intelligent Scan, and Iris Scanner?<br><br>
</div><ul>
<li>
<strong>Fingerprint</strong> scan uses your fingerprint to unlock the device.</li>
<li>
<strong>Face Recognition</strong> uses your face to unlock the device.</li>
<li>
<strong>Iris Scanner</strong> uses your eyes to unlock the device by pointing them at the iris scanner.</li>
<li>
<strong>Intelligent Scan</strong> uses both your face and your eyes to unlock the device.</li>
</ul><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>Tap<strong> Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap the status switch beside <strong>Data Limit.</strong>
</li>
<li>Tap <strong>Data Limit.</strong>
</li>
<li>Enter a data usage limit.</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Data Warning</strong>.</li>
<li>Enter the data usage level at which you will receive a warning.</li>
<li>Tap Set.</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>AT&amp;T rises to the occasion in terms of the services they provide for families. Previously, their parental controls were provided under their AT&amp;T Smart Limits plan. However, as of November 26th, 2018, the plan has been retired and families are now transferred into the <a href="https://www.att.com/features/secure-family-app.html">new Secure Family app</a> that brings all the helpful features of Smart Limits and more to a centralized and easy-to-use location for parents.</div><div><br></div><h2>What Is Included in AT&amp;T Secure Family?</h2><div>Secure Family is an upgraded version of the old parental controls, packaged into one handy app. Unlike other service providers that charge separate fees for different parental control services, Secure Family includes pretty much everything you want for one flat fee of $7.99 per month for up to 10 lines.</div><div><br></div><div>Features included in Secure Family include:</div><div><br></div><ul>
<li>
<strong>Location Tracking </strong>– Need to find any member of the family on your plan? You can on an interactive map.</li>
<li>
<strong>Location Alerts </strong>– Every time a child arrives at a place they're supposed to be – such as home or school – you can receive an alert. You can also schedule alerts to find out where your child is at certain times of the day as well.</li>
<li>
<strong>Location History </strong>– Busy working but want to know where your child was? You can check their location history.</li>
<li>
<strong>Pause Internet </strong>– Stop all internet connectivity to keep your child doing homework instead of watching cat videos on YouTube.</li>
<li>
<strong>Content Filter</strong> – Allows for custom and age-appropriate recommendations for content parents should block.</li>
<li>
<strong>Time Limits </strong>– Manage your child's time on the internet so they might go outside once in a while.</li>
<li>
<strong>Block In-App Purchases</strong> – Don't be a victim of that old horror story by preventing your child from accidentally spending thousands on in-app purchases.</li>
</ul><div><br></div><div>The app can be used to monitor either Apple devices (iPhone or iPad) that are iOS10 or higher, or Android smartphones or tablets that are Android 5.0 or higher. Devices must also be on the same postpaid AT&amp;T wireless account and have SIM cards installed.</div><div><br></div><div>The one thing that is missing from the old Smart Limit plan is the ability to block numbers and limit phone activity during certain times. Both of these abilities have been moved to the free <strong>AT&amp;T Call Protect</strong> app. With it, you can block certain numbers from calling or texting individuals on your plan, as well as limit times when children can receive calls or texts.</div><div><br></div><h2>Setting Up AT&amp;T Secure Family</h2><div>The best part of AT&amp;T's parental controls is perhaps how easy it is. As their new service is an app, you can activate and use it right now from your smartphone. It will be accessible for anyone with an activated phone and the AT&amp;T login credentials for your plan. After confirming payment, you can set up restrictions for each family member using your own phone.</div><div><br></div><div>In the app, parental controls all begin by selecting a user from the family map interface. You will see pictures representing each member of your whole family on the map. You simply need to select the picture to begin setting specific controls.</div><div><br></div><div><strong>Blocking Content</strong></div><ul>
<li>Select the specified family member.</li>
<li>Select <strong>Content Filters</strong>
</li>
<li>You will have a choice of blocking all or some "objectionable" content, which consists of AT&amp;T's own recommendations. You can also block certain Social Media sites, Games, and Messaging services.</li>
</ul><div><br></div><div><strong>Disabling In-App Purchases</strong></div><ul>
<li>Choose the specified family member.</li>
<li>Once selected, there will be a bar on their page where you can disable in-app purchases.</li>
<li>Once <strong>Off</strong> is selected, you are given an option to limit the amount they can spend. If complete disabling is desired, put <strong>0</strong> in the text field.</li>
</ul><div><br></div><div><strong>Pausing The Internet</strong></div><ul>
<li>Select desired family member.</li>
<li>A large blue pause button is prominently displayed over their map location and picture. Tap to pause the internet.</li>
<li>Tap again to resume internet service.</li>
</ul><div><br></div><div><strong>Setting Time Limits</strong></div><ul>
<li>Select desired family member.</li>
<li>On their page, select <strong>Schedule</strong>.</li>
<li>From there, you can set certain "on" times in which internet and mobile service will work.</li>
<li>You can set specific time limits for apps on your child's phone as well as the time they can spend in an internet browser.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    TikTok
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>TikTok is a video sharing application that allows users to make and watch short music videos. The attraction to TikTok lies in its special effects filters, fun stickers, and the ability to share and collaborate with friends.</div><div><br></div><h2>Safety Concerns</h2><div>Like many social media platforms, users must be 13 or older to use TikTok. The app is rated for ages 12+, but it can still contain mild fantasy violence, suggestive themes, sexual content and nudity, drug use or references, and profanity or crude humor. Here are some other tips:</div><div><br></div><ul>
<li>At times, users may use inappropriate words as hashtags.</li>
<li>TikTok allows users to link their account with other social media profiles such as Instagram or YouTube, which allows the app access to contacts and other information.</li>
<li>TikTok collects information from users, including technical and behavioral information, location, shared social network information, messages, metadata, contacts, and more.</li>
<li>Songs may have explicit lyrics — many people use popular songs to create their own music videos, so exposure to unedited, inappropriate songs on TikTok can be a risk.</li>
<li>Be careful with in-app purchases, particularly coins that users share with others to "encourage creativity." Remember to toggle off "in-app purchases" in the Restrictions section.</li>
</ul><div><br></div><h2>Privacy Controls on TikTok/Musical.ly</h2><h3>How to set up a private account</h3><div>Even with a private account, profile information — including profile photos, usernames, and bios — will be visible to all users. Counsel your teen not to reveal personal information such as their age, address, or phone number in their profile.</div><div>
<br>You can make your TikTok account private so other users cannot see your videos unless they follow you and you approve them.</div><div><br></div><ol>
<li>Go to your profile page.</li>
<li>Tap on the top-right corner and select <strong>Privacy and Settings</strong>
</li>
<li>Select the <strong>Privacy and Safety</strong> option and toggle <strong>Private Account</strong> on or off.</li>
</ol><div><br></div><h3>How to manage comments on a global level</h3><ol>
<li>Go to <strong>Privacy and Safety</strong> settings.</li>
<li>Tap <strong>Who Can Send Me Comments</strong>.</li>
<li>Choose <strong>Everyone</strong>, <strong>Friends</strong> (mutual followers), or <strong>Off</strong>.</li>
</ol><div><br></div><h3>How to turn off comments for an individual video</h3><ol>
<li>Open the video for which you want to turn off comments.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Select <strong>Comments Off</strong>.</li>
</ol><h3>
<br>How to prevent people from creating duet videos with your child</h3><ol>
<li>Go to <strong>Privacy and Safety</strong> settings.</li>
<li>Tap <strong>Who Can Duet With Me</strong>.</li>
<li>Choose <strong>Everyone</strong>, <strong>Friends</strong> (mutual followers), or <strong>Off</strong>.</li>
</ol><div><br></div><h3>How to control direct messages</h3><ol>
<li>Go to <strong>Privacy and Safety</strong> settings.</li>
<li>Tap <strong>Who Can Send Messages to Me</strong>.</li>
<li>Choose accordingly.</li>
</ol><div><br></div><h3>How to block and/or report a user</h3><ol>
<li>From the offending user’s profile, tap the “<strong>…</strong>” in the upper-right corner.</li>
<li>Select <strong>Block this user</strong>. You can also <strong>Unblock</strong> or <strong>Report</strong> a user on the same menu.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On TikTok, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor TikTok chats for Android and Amazon device users. We're continually working to be able to monitor TikTok on iOS. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Outlook / Hotmail
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Many people are confused about the email services provided by Microsoft, particularly Hotmail and Outlook. This is because of a series of rebranding efforts beginning around 2012, during which time Hotmail was phased out in favor of the more robust Outlook email client.</div><div><br></div><div>Hotmail users at the time were allowed to retain their @hotmail.com accounts, but new users must create an @outlook.com account. Each is still used by millions of people, and although they have different extensions, they are in fact the same email service — <strong>Outlook.com</strong>, formerly known as Hotmail.</div><div><br></div><div>
<strong>Outlook Mail</strong> is the name of the web app for viewing Outlook.com, and the desktop email client is called <strong>Microsoft Outlook</strong>, which can be used for @outlook.com addresses as well as others. The two of them are the built-in email platforms for <strong>Microsoft 365</strong>.<br><br>
</div><h2>Parental Controls in Outlook</h2><div>It’s important to note that there are no parental control settings offered by Outlook per se. But you can implement controls over all Microsoft properties — including email services — by creating a “family” through the Microsoft online platform. Setting up a child account in this way activates a number of features that are compliant with the Children’s Online Privacy Protection Act (COPPA).</div><div><br></div><div>This article is written under of the assumption that you have already done this. To learn how to set up a family account for Microsoft 365, <a href="https://support.microsoft.com/en-us/help/12413/microsoft-account-what-is-family-group">click here</a>.</div><div><br></div><div>These controls will only work if your child is using a Microsoft Windows device (Internet Explorer, Windows Phone, Windows PC, Xbox), or an Android device that is also running Microsoft Launcher. If you wish to implement these controls on other devices and platforms, unfortunately you will be unable to do so.<br><br>
</div><h3>Inside your family account</h3><div>Log into your account at <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a>. Under each child you have added to your family account, you’ll see a variety of customizable settings, including: Activity, Screen Time, Content Restrictions, Spending, and Find on Map.</div><div><br></div><ul>
<li>
<strong>Activity:</strong> The Activity tab shows you exactly what your child is doing when logged in to their Microsoft account. See what apps and games your child is using, what sites they are visiting, what they’re searching for online, and how much screen time they’re spending.</li>
<li>
<strong>Screen Time:</strong> The Screen Time tab allows you to set screen time limits for all of your Microsoft devices for each individual child.</li>
<li>
<strong>Content Restrictions:</strong> The Content Restrictions tab is where you’ll find all the ways to control your child’s activity through their Microsoft account. Toggle <strong>on</strong> or <strong>off</strong> your child’s ability to make purchases online, manage what apps/games they are able to interact with, and manage what websites they are and are not able to visit.</li>
</ul><div><br></div><div>Since these controls only work through Microsoft Internet Explorer, each child’s profile will automatically have other web browsers (Mozilla Firefox, Google Chrome, etc.) blacklisted so they are unable to avoid the controls that you have set.</div><div><br></div><ul>
<li>
<strong>Spending:</strong> Microsoft allows users to make purchases through their accounts. Under the Spending tab, users can add money to their account for use online.</li>
<li>
<strong>Find Your Child:</strong> Using this tab, easily locate your child’s registered Microsoft devices in the event they are lost or stolen.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Outlook, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox One
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>XBox One is the latest console from Microsoft. With it, you can play video games, stream content from apps, chat with other players via <a href="https://support.xbox.com/en-US/xbox-one/xbox-live/connecting-to-xbox-live">XBox Live</a>, surf the web, and even watch TV (if you have a cable box to connect it to).</div><div><br></div><div>Setting parental controls on the XBox One is a somewhat complex process, but it's worth it for the level of control you’ll have for each child in your family. If you allow your children to stream content from various apps such as Hulu while on the device, the parental controls on the gaming console will override any parental controls you have set up on the individual apps, in most cases.</div><div><br></div><h2>Screen Time Limits</h2><div>To set screen time limits for your child on Xbox One and Windows 10 devices, go to <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a> and sign in with your Microsoft account. Then:<br><br>
</div><ol>
<li>Find your child's name and select <strong>Screen time</strong>.</li>
<li>If you want to use the same schedule for all devices, switch <strong>Use one screen time schedule</strong> from <strong>Off</strong> to <strong>On</strong>. If you’d rather have separate schedules, scroll down and switch screen time on for PC and Xbox One individually.</li>
<li>Set how much time your child is allowed to spend with their devices each day, and when they can use them. If you want to give them the full amount of time you’ve scheduled, select <strong>Max</strong> <strong>scheduled</strong>. (Example: If you’ve allowed screen time from 8 am to 8 pm, they could use their devices that entire time).</li>
</ol><div>
<br>To give your kids a heads up on Xbox when their screen time is running out:<br><br>
</div><ol>
<li>Press the <strong>Xbox </strong>button on the controller.</li>
<li>Select <strong>System</strong> &gt; <strong>Settings </strong>&nbsp;&gt; <strong>Preferences</strong> &gt; <strong>Notifications</strong> &gt; <strong>Xbox Notifications </strong>&gt; <strong>System</strong> and make sure <strong>System notifications on</strong> is selected.</li>
</ol><div>
<br>Screen time counts down when a child is signed in, so if they’re not actively using their console, have them sign out.</div><div><br></div><h2>Age Limits for Accessing Content</h2><div>To ensure your kids have access to only family-friendly games, apps, TV shows, and movies on their Xbox One, you can choose from preset recommendations by age. To do this:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button to open the guide, and then go to <strong>System &gt; Settings &gt; Account &gt; Family settings</strong>.</li>
<li>Select <strong>Manage family members</strong>, and then select the child account you want to update.</li>
<li>Under <strong>Access to content</strong>, choose the desired age-level restriction. (By default, your child’s restrictions will be set to the age associated with their Microsoft account).</li>
</ol><div>
<br>When your child asks to use a blocked app or game that’s rated above their content restrictions, you can approve it by signing in with your passkey and selecting <strong>Always</strong> or <strong>Just this once</strong>.<br><br><br>
</div><h2>Customize Privacy Settings</h2><div>You can prevent your child from playing with strangers in the privacy settings. To ensure your child is only playing with people they know, or turn off voice chat and unprompted communication:<br><br>
</div><ol>
<li>Click <strong>Settings</strong>
</li>
<li>Click <strong>All Settings</strong>
</li>
<li>Click <strong>Account</strong>
</li>
<li>Click <strong>Family</strong>
</li>
<li>Customize your privacy settings&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Mute or Block Players</h2><div>If you don't want to hear or be contacted by specific players on Xbox One, you can mute them or block their communications with you. If you believe that the player has violated the Microsoft Services Agreement or Code of Conduct, you may also wish to <a href="https://enforcement.xbox.com/Home/HowTo#sub-topic2-0">file a complaint</a>.<br><br>
</div><h3>Mute another player</h3><div>If another player engages in abusive or inappropriate in-game or chat voice communications, you can mute that player. This prevents them from speaking to you in-game or in a chat session. To mute another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to mute. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player’s profile, select <strong>Mute</strong>.</li>
</ol><div>
<br>To unmute a player, follow the same steps to get to the player’s profile, and then select <strong>Unmute</strong>.<br><br>
</div><h3>Block another player</h3><div>Blocking another player prevents you from receiving that player’s messages, game invites, and party invites. It also prevents the player from seeing your online activity and removes them from your friends list, if they were on it. To block another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to block. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player's profile, select <strong>Report or Block</strong>, and then select <strong>Block</strong>.</li>
</ol><div>
<br>To unblock a player, follow the same steps to get to the player’s profile, and then select <strong>Unblock</strong>.<br><br>
</div><h3>Block another player's messages</h3><div>You can also block a player after receiving an offensive or inappropriate message. Here's how:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide, and then go to <strong>Communication </strong>&gt;<strong> Conversations</strong>.</li>
<li>Select the message from the player you want to block.</li>
<li>Select <strong>More </strong>&gt;<strong> View profile </strong>&gt;<strong> Report or block </strong>&gt;<strong> Block</strong>.</li>
</ol><div><br></div><h2>Copilot on XBox One</h2><div>Copilot links two controllers so you can use them as if they were one controller. The person who turns on Copilot for their controller is the pilot, and the pilot gets all achievements and gamerscore. To turn on Copilot:<br><br>
</div><ol>
<li>Connect a second controller to the Xbox for the copilot. The copilot can sign in or not — achievements and gamerscore don't go to this player.</li>
<li>Using the pilot's controller, press the <strong>Xbox</strong> button to open the guide, then select <strong>System</strong> &gt; <strong>Settings</strong> &gt; <strong>Ease of Access</strong> &gt; <strong>Controller</strong>.</li>
<li>Choose <strong>Copilot settings</strong>, then select <strong>Turn on Copilot</strong>.</li>
<li>Select the copilot controller.</li>
</ol><div>
<br>The controllers are now linked, and both controllers have full control. When you start a game, you can use either controller however you like.<br><br>To turn off Copilot, go back to the Copilot settings and select <strong>Turn off Copilot</strong>.<br><br>
</div><h2>Preventing Unauthorized Purchases</h2><div>To help prevent unauthorized purchases from your console, you can set it to ask for the password every time you buy something.<br><br>
</div><ul>
<li>Select <strong>System </strong>&gt; <strong>Settings</strong> &gt; <strong>Account</strong> &gt; <strong>Sign-in, security &amp; passkey</strong>. To help protect your account, you may be asked to enter your password.</li>
<li>Select <strong>Change my sign-in &amp; security preferences</strong>.</li>
<li>Scroll right and select <strong>Customize</strong>.</li>
<li>Scroll right and select <strong>Ask for my passkey to make purchases</strong>.</li>
<li>Select <strong>Passkey required</strong>.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Stardew Valley
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Stardew Valley is a farming simulation role-playing video game originally released in 2016, in which the player's character takes over their grandfather's farm in a place called Stardew Valley. The gameplay is colorful and generally peaceful, although the player can battle some monsters, like slimes, in the mines. It is currently rated <a href="http://www.esrb.org/ratings/Synopsis.aspx?Certificate=34835&amp;Title=Stardew+Valley">Everyone 10+</a>.</div><div>&nbsp;</div><div>Until this year, players could only play by themselves, which meant that it was a fairly safe game for children to play. But in 2018, a four-player cooperative option was added to the Windows version, with plans for adding a cooperative version to the other platforms soon.</div><div>&nbsp;</div><div>Stardew Valley is available on several platforms: computers or laptops running Microsoft Windows, OS X, or Linux, PlayStation 4, PlayStation Vita, Xbox One, and Nintendo Switch.<br><br>
</div><h2>Parental Controls</h2><div>Stardew Valley doesn't currently feature anything that resembles parental controls, but you can use the parental controls on the various platforms it operates on to monitor your child's gameplay.<br><br>
</div><h2>In-Game Chats</h2><div>In order to engage in the cooperative multiplayer, each player must purchase their own copy of Stardew Valley and already have it downloaded on their computer. One player sets up as a host and the other three join in. They work on one farm together and can chat in-game. In multiplayer mode, there is a chance that your child could communicate with adults. The chat cannot be disabled, unfortunately.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Cox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Cox Communications offers several features to help parents keep an eye on their kids' internet activity. Here is a complete guide to the best parental controls for Cox Communications customers.</div><div><br></div><h2>Controls for Internet Access</h2><div>Parental control features are free for Cox High-Speed Internet customers as part of your Cox Security Suite Powered by McAfee®. Parental controls allow you to customize safety features based on your child's age and your family values.</div><div><br></div><div>Cox Security Suite allows customers to do the following:</div><div><br></div><ul>
<li>Control children's time spent online</li>
<li>Restrict access to age-appropriate websites only</li>
<li>Give older children some freedom by blocking access to categories of websites, like sites dealing with gambling, dating, or alcohol</li>
<li>Block specific websites for older children, allowing access to most of the internet</li>
<li>Receive daily email reports about your child's online activity, including time spent and websites visited</li>
</ul><div><br></div><h2>Cox Security Suite Settings</h2><div>Cox Security Suite is compatible with Windows computers and Mac computers as well as Android and Apple devices.</div><div><br></div><div>To download Cox Security Suite for Windows:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>Your personalized McAfee <strong>My Account</strong> page displays. From the McAfee My Account page, click <strong>PC</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: If you are using a non-Microsoft browser, make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>On the Installer File pop-up window that displays, click <strong>Open</strong>.</li>
<li>Select either <strong>Complete Install</strong> or <strong>Custom Install</strong>, then click <strong>Next</strong>.<br>NOTE: Custom Install allows you to select specific features if you do not want to install all features.</li>
<li>A pop-up may display asking you to allow this program to make changes. Click <strong>Yes</strong> to allow these changes.</li>
<li>The download process begins. Once complete, your computer is protected.<br><br>
</li>
</ol><div>To download Cox Security Suite for Mac:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>From the McAfee <strong>My Account</strong> page, select <strong>Mac</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: Make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>Complete the following:<ol>
<li>Click <strong>Download</strong>.</li>
<li>Click <strong>Open</strong>.</li>
<li>Enter your Mac administrator Username and Password.</li>
<li>Enter the serial number provided.</li>
<li>Click <strong>Next</strong>.</li>
</ol>
</li>
<li>Once the download is complete, click <strong>Finish</strong>. A confirmation pop-up displays to install WebAdvisor.</li>
<li>Select the desired option to complete your installation.</li>
<li>Click <strong>Install</strong>. The WebAdvisor is downloaded and installation is complete.<br><br>
</li>
</ol><div>Begin by downloading and installing the software as described <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html">here</a>. Once the Cox Security Suite software is installed on your device, you’ll have access to these easy-to-use parental control tools.</div><div><br></div><div>To download Cox Security Suite for a smartphone/tablet:</div><div>
<br>It’s recommended to begin this process on a computer. Click <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html#download">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</div><div><br></div><ol>
<li>Sign in with your Cox Primary User ID and Password.</li>
<li>From the McAfee My Account page, click <strong>Mobile</strong> from the drop-down, then click <strong>Send Link</strong>.<br><br>
</li>
</ol><h3>Web &amp; Email Protection</h3><div>To change your firewall and anti-spam settings, follow these steps:</div><div><br></div><ol>
<li>Open the <strong>Cox Security Suite Plus Console</strong> by double-clicking the <strong>McAfee icon</strong> on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the <strong>Navigation</strong> tab to view features and navigate to <strong>Web &amp; email protection</strong>.</li>
<li>Click <strong>Firewall</strong> to toggle your firewall on or off or create new settings.</li>
<li>Click <strong>Anti-spam</strong> to toggle spam management on or off.</li>
</ol><div><br></div><h3>Parental Controls</h3><div>The Cox Security Suite offers basic parental controls for your PC.</div><div><br></div><ol>
<li>Open the Cox Security Suite Plus Console by double-clicking the McAfee icon on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the Navigation tab to view features and navigate to Parental Controls.</li>
<li>Next to <strong>Administrative Password</strong>, click <strong>Set</strong> to save a new password.</li>
<li>Click <strong>Edit</strong> next to <strong>Protect Your Family</strong> to customize your settings.</li>
<li>At the bottom of the page, you’ll see a <strong>Parental Controls Report</strong> that allows you to see whether your protected devices tried to view blocked content.</li>
</ol><div><br></div><h3>Privacy Settings for Mobile Devices</h3><div>Your Cox Security Suite also offers basic protection for Android and Apple phones and tablets.</div><div><br></div><ol>
<li>Log in to your <strong>McAfee Mobile Security</strong> center.</li>
<li>Click <strong>Privacy</strong>.</li>
<li>Tap the <strong>&gt;</strong> next to a profile to adjust settings.</li>
<li>Tap the box next to each app or website that is allowed for the profile.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Tap the circle next to the profiles name and tap <strong>Activate</strong>.</li>
</ol><div><br></div><h3>Lock Device</h3><div>To remotely lock your child’s device, follow these steps:<br><br>
</div><ol>
<li>Visit <a href="http://www.cox.com/securitysuite">www.cox.com/securitysuite</a> and click <strong>Access Security Suite Plus</strong>.</li>
<li>Once you are signed in, click on the tab that represents the device you’d like to lock.</li>
<li>Click <strong>Lock</strong>.</li>
<li>You can unlock the device by deselecting the <strong>Lock</strong> button.</li>
</ol><div><br></div><div>Cox Communications offers several parental control features, but it doesn't cover everything. If you are looking for an easy way to monitor your child or teen's online activity, check out the <a href="https://www.bark.us/">Bark app</a> for more information. Bark provides peace of mind to parents raising kids in a digital age.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Netflix
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Netflix is one of the most popular online streaming services in the U.S., with more than 100 million subscribers. Its content includes movies, TV shows, documentaries, and more, and it runs the gamut from kid-friendly to adult-only. Netflix can be accessed via web browsers, smart TVs, tablets, smartphones, and even consoles such as Xbox One and Playstation 4.<br><br>
</div><h2>Parental Control Settings</h2><div>With Netflix’s parental restrictions, you can add profiles for everyone in your family — each with different parental control settings to limit what content they can access. It’s best to set up these changes from a computer.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Netflix.com. You’ll be greeted with a screen that says <strong>Who's watching?</strong>
</li>
<li>Click on the <strong>Add Profile</strong> icon to the far right.</li>
<li>Input your child's name and then click <strong>Continue</strong>.</li>
<li>On the <strong>Manage Profiles</strong> screen, you will be able to create additional parental controls on the account you just created. Click the <strong>pencil</strong> icon on the account.</li>
<li>Click on the dropdown labeled <strong>Allowed TV Shows and Movies</strong> and choose one of these four options:<ul>
<li>
<strong>For Little Kids only:</strong> This category features G-rated content suitable for younger children, including a variety of cartoons, nature documentaries, and silly kids’ movies and TV shows.</li>
<li>
<strong>For Older Kids and below:</strong> This category adds PG-rated movies and TV shows that include themes of violence — although no blood or gore is present.</li>
<li>
<strong>For Teens and below: </strong>This category adds PG-13 content that will not be suitable for younger children. Violence will be more graphic, and there will be mild explicit content.</li>
<li>
<strong>All Maturity levels: </strong>No restrictions. NC-17, NR, R, and UR content is available.</li>
</ul>
</li>
</ol><div><br></div><h3>How to create a parent control PIN</h3><div>Now that you have created the account for your child, you can create a Parental Control PIN that you can use to lock down specific content. This has been a long-awaited feature for Netflix, allowing parents to gain more advanced control over their child's accounts and block any unwanted material behind a PIN passcode.</div><div><br></div><ol>
<li>Log in to your Netflix account and select your profile.</li>
<li>Click on your icon on the top-right corner of the screen and select <strong>Account</strong> from the dropdown that appears.</li>
<li>In the <strong>Settings</strong> section below, click on the <strong>Parental Controls</strong> link. You will be asked to re-enter your password to continue to the next screen.</li>
<li>You will then be directed to the <strong>Parental Control PIN</strong> screen. Enter a PIN number of your choice.</li>
<li>In the <strong>Restrict by Maturity Level</strong> section, you can change the slider on the screen to block any of the four levels mentioned above. This will require the PIN number to be typed in before viewing any content above the chosen level.</li>
<li>In the <strong>Restrict Specific Titles</strong> section below, you can choose specific titles that require a PIN to watch, regardless of the maturity rating on the account.</li>
</ol><div><br></div><h3>How to view what your child has recently watched</h3><div>Netflix also allows you to view the recent streaming activity. This allows you to see the exact date and time content has been viewed on Netflix, as well as from where and on what device.</div><div><br></div><ol>
<li>Click on your icon in the top-right corner of the screen again and click on <strong>Account</strong>.</li>
<li>In the <strong>Settings</strong> section, select <strong>Recent Device Streaming Activity</strong>. Here you will see the most recently used devices with their locations.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon allows parents to set up parental controls for individual devices that are connected to the network. Whenever a device is connected to a wireless network and allowed access via the password, Verizon logs the device.</div><div><br></div><div>If your child has a laptop and a phone that are connected to the Wi-Fi network, each device will be listed separately, along with any other devices that are connected to the network. Verizon also allows users to set up parameters on a device-by-device basis, meaning the devices used by children can have specific controls.</div><div><br></div><h2>Setting Up Parental Controls</h2><div>Verizon subscribers can access parental controls directly <a href="https://www.verizon.com/home/myverizon/?session=n&amp;goto=https%3A%2F%2Fwww.verizon.com%2Fforyourhome%2Febillpay%2Fbilling%2Fpaybill">here</a>. To begin the process of setting up parental controls, you will need to log into your Verizon account.</div><div><br></div><ol>
<li>Once logged into your account, click on the <strong>Parental Controls</strong> tab at the top of the screen.</li>
<li>Scroll down until you see the <strong>Networked computers/devices</strong> list.</li>
<li>Find your child's device, click on it, then click the <strong>Add</strong> button.</li>
<li>You can add multiple devices at one time or set up different settings for each device.</li>
</ol><div><br></div><h2>Blocking Specific Websites</h2><div>To block specific websites or types of sites, you will need to create rules that ensure the selected devices cannot access content that you find objectionable. You can do this by listing specific websites, as well as sites that contain particular keywords.</div><div><br></div><ul>
<li>After you've selected the devices that you want to create rules for, click on the <strong>Block The Following Websites and Embedded Keywords within a Website</strong> tab.</li>
<li>Type in the websites and keywords that you'd like to block.</li>
<li>Follow the prompts to select whether the sites and keywords should always be blocked, or only during specific times of the day.</li>
</ul><div><br></div><div>You may need to set up multiple rules based on the types of websites you are looking to block. For example, if you'd like to block social media during certain times of day, you will need to set up one rule. A separate rule must be created to block mature content permanently. You will need to follow the same steps for each individual rule you wish to set up.</div><div><br></div><h2>Limiting Your Child's Daily Access to the Internet</h2><div>You can also set up a rule that blocks your child's ability to access the internet during a specified period. For example, if you'd like your child's device to disconnect at 11 p.m., you can set perimeters to block all internet access starting at that time. You must also set a time of day that the device can once again access the internet.</div><div><br></div><ul>
<li>Follow the steps above to create a rule for your child's devices.</li>
<li>Instead of clicking on the <strong>Block the Following Websites</strong> option, click on the <strong>Block All Internet Access</strong> tab.</li>
<li>Pick the days of the week and the times of the day you'd like all internet access to be blocked.</li>
<li>
<strong>Save</strong> the rule and return to your main account page.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Not Sure
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPad
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>