<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 5c
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The iPhone 5c does not support the latest version of Apple’s operating system (iOS 12). The most up-to-date version of iOS that the iPhone 5c supports is <strong>iOS 10</strong>.&nbsp;</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>How to turn on restrictions in iOS 10</h2><ol>
<li>Tap <strong>Settings</strong>
</li>
<li>Tap <strong>General</strong>
</li>
<li>Tap <strong>Restrictions</strong>
</li>
<li>Tap <strong>Enable Restrictions</strong> and create a passcode</li>
</ol><div><br></div><h3>Content &amp; Privacy Restrictions</h3><div>You can restrict a wide variety of apps and features on the iPhone 5c including:<br><br>
</div><div>
<em>Apps and features<br></em><br>
</div><ul>
<li>iTunes Store</li>
<li>Apple Music Connect</li>
<li>iBooks Store</li>
<li>In-App Purchases</li>
<li>Siri</li>
<li>Safari</li>
<li>Camera</li>
<li>FaceTime</li>
<li>AirDrop</li>
<li>CarPlay</li>
<li>Installing apps</li>
<li>Deleting apps</li>
<li>Multiplayer games in Game Center</li>
<li>Adding Game Center friends</li>
</ul><div><br></div><div>
<em>Content<br></em><br>
</div><ul>
<li>TV shows</li>
<li>Books</li>
<li>Apps</li>
<li>Websites</li>
<li>Siri</li>
<li>Ratings</li>
<li>Music, Podcasts, News and iTunes</li>
<li>Movies</li>
</ul><div><br></div><div>
<em>Changes to privacy settings<br></em><br>
</div><ul>
<li>Photos</li>
<li>Share My Location</li>
<li>Bluetooth sharing</li>
<li>Location Services</li>
<li>Contacts&gt;</li>
<li>Calendars</li>
<li>Reminders</li>
<li>Microphone</li>
<li>Facebook</li>
<li>Advertising</li>
<li>Twitter</li>
</ul><div><br></div><div>
<em>Changes to settings and accounts<br></em><br>
</div><ul>
<li>Background App Refresh</li>
<li>Volume limit</li>
<li>Media Library</li>
<li>Screen recording</li>
<li>Cellular Data Use</li>
<li>Accounts (you have the option to prevent changes to Mail, Contacts, Calendars, iCloud, Twitter, Facebook, Vimeo, Flickr, iTunes, App Store, iMessage, and FaceTime)</li>
</ul><div><br></div><div><br></div><h2>Create your Family Sharing account</h2><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.<br><br>
</div><ol>
<li>Tap <strong>Settings</strong>
</li>
<li>Tap <strong>iCloud</strong>
</li>
<li>Tap <strong>Get Started</strong>
</li>
<li>You will then be prompted with onscreen instructions to set up family members</li>
</ol><div><br></div><div>
<em>Invite people to join your family<br></em><br>
</div><ol>
<li>Tap <strong>Settings</strong>
</li>
<li>Tap <strong>iCloud</strong>
</li>
<li>Tap <strong>Family</strong>
</li>
<li>Tap <strong>Add Family Member</strong>
</li>
<li>Enter your family member's name or email address and follow the onscreen instructions.</li>
</ol><div><br></div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.</div><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    WhatsApp
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>WhatsApp is a free messaging system currently owned by Facebook. It allows users to send unlimited text messages, voice messages, and video calls, as well as images, documents, and other media to other WhatsApp users around the world. Users can access the app through mobile devices and desktop computers — all they need is a cell phone number.&nbsp; Whatsapp is one of the most popular messaging apps in the world and is available internationally, with over a billion users worldwide.</div><div><br></div><div>Users must be 13 to use Whatsapp. Younger WhatsApp users prefer to use the application rather than their phone's native texting because it allows them more privacy and freedom, or so they believe. This is primarily because parents tend to be more familiar with basic texting than newer applications like WhatsApp.&nbsp;</div><div><br></div><div>WhatsApp is not considered to be a typical type of social media, since the platform is not public. Rather, it is considered "dark social" — social sharing that is not measured by web analytics platforms. This means that users cannot flag inappropriate messages to alert WhatsApp to the problem, though they may screenshot the message and share it with the company. The company cannot remove posts, though it can ban users.</div><div><br></div><h2>Privacy Controls for WhatsApp</h2><h3>How to block someone</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Blocked</strong>, and add who you’d like to block. Blocked contacts will no longer be able to call you or send your child messages.&nbsp;</li>
</ol><div><br></div><h3>How to turn off visible public public information</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Up top, you can edit the following four items and select who can see what on your child’s profile:<ol>
<li>
<strong>Last Seen:</strong> When your child was last using the app</li>
<li>
<strong>Profile Photo:</strong> Your child’s photo</li>
<li>
<strong>About:</strong> Your child’s mini bio</li>
<li>
<strong>Status:</strong> What they’re currently doing</li>
</ol>
</li>
</ol><div><br></div><h3>How to turn off Live Location</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Live Location</strong> and select the chats from which you’d like to remove.</li>
</ol><div><br></div><h3>How to report safety and security issues to WhatsApp</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Help</strong>.</li>
<li>Then tap <strong>Contact Us</strong> to send a message.&nbsp;</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On WhatsApp, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor WhatsApp messages for Android and Amazon device users. For iOS users <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor your child's messages and message attachments (if available). If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iCloud
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>iCloud email is Apple's cloud-based email solution, and it integrates across all iOS devices. For families with iPhones, iPads and OSX computers in their household, iCloud email is a seamless way to easily set up and access email.</div><div><br></div><div>One downside of iCloud mail is that you cannot connect sub-accounts to a primary account and access their iCloud email messages. For parents to gain full access to their children's iCloud email, a shared account is required. Apple's approach involves limiting options on the child's device directly, rather than at the account level.</div><div><br></div><div>There are definitely some benefits to the shared account approach. This streamlines the process for keeping an eye on email contacts and any messages sent by your children. As long as your children have similarly limited access on their iOS and OSX devices, you can feel confident that there aren't any email activities they can engage in that you won't be able to access.</div><div><br></div><div>The other option is to connect accounts for children under 13 to a primary account. This allows the owner of the primary account to select which applications and services on their iOS or OSX device are open for usage. This allows parents to limit or disable iCloud email access, but it does not provide the ability to read messages remotely.</div><div><br></div><h2>Two-Factor Authentication for iCloud for iOS</h2><ol>
<li>Open the <strong>Mail</strong> app.</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap the primary account name.</li>
<li>Tap <strong>Turn On Two-Factor Authentication</strong>.</li>
<li>Add the phone number(s) where you would like to receive authentication codes.</li>
<li>Tap <strong>Next</strong> to test the process and receive your code.</li>
<li>Type in the code you receive to complete the process.</li>
</ol><div><br></div><h2>Connect Accounts for Users Under 13 to a Family Sharing iCloud Account for iOS (on Phones)</h2><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap your account name.</li>
<li>Select <strong>Family Sharing</strong>.</li>
<li>Select <strong>Add Family Member</strong>.</li>
<li>Tap <strong>Create a Child Account</strong>.</li>
<li>Follow the on-screen instructions (you'll need your child's birthday and a chosen permanent name for their iCloud account).</li>
<li>When these steps are complete, select <strong>Family Sharing</strong> again.</li>
<li>Select your child's account name to manage which applications or payments they can access.</li>
<li>Tap <strong>Mail</strong> to limit usable hours or prohibit usage entirely for their iCloud email account.</li>
</ol><div><br></div><div>For supplemental information surrounding how Under 13 iCloud accounts work on all platforms, please consult Apple's official page <a href="https://support.apple.com/en-us/HT201084">here</a>.</div><div><br></div><h2>Connect Accounts for Users Under 13 to a Family Sharing iCloud Account Through OSX (on Computers)</h2><ol>
<li>Click <strong>Apple Menu</strong>.</li>
<li>Go to <strong>System Preferences</strong>.</li>
<li>Click <strong>iCloud</strong>.</li>
<li>Select <strong>Manage Family</strong>.</li>
<li>Click the <strong>+</strong> icon to add a new account.</li>
<li>Select <strong>Create an Apple ID</strong> for a child.</li>
<li>Follow the on-screen prompts for information (you'll need your child's birthday as well as a permanent name for their personal account).</li>
<li>When these steps are complete, select <strong>Manage Family</strong> again.</li>
<li>Here, you'll find options for the same limitations as the iOS version.</li>
</ol><div><br></div><div>For a deeper dive into information on all of the aspects of iCloud, please take a moment to look over their official support page <a href="https://support.apple.com/icloud">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In iCloud email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Nintendo Switch
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Since its debut with the NESin 1985, Nintendo has provided quality content and captivating gaming experiences for consumers of all ages. Today the entertainment giant has several other gaming consoles in production, including the newest addition to the family: the Nintendo Switch.</div><div>&nbsp;</div><div>Even though the Nintendo Switch is considered one of the safer consoles for children, any type of online gaming platform will always carry risk. In order to combat this, there are several different parental controls available for you to use.<br><br>
</div><h2>Parental Controls for the Switch</h2><div>In order to provide their customers with the best gaming experience, Nintendo has <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/10530">comprehensive parental controls</a> that allow parents to have a more powerful voice in how their children use the console. The parental controls for the Nintendo Switch <strong>console</strong> allow parents to:</div><div>&nbsp;</div><ul>
<li>Restrict software by age based on each game’s ESRB rating</li>
<li>Block posting to social media</li>
<li>Block communication with others</li>
</ul><div><br></div><div>The Nintendo Switch Parental Controls<strong> smart device app</strong> has the same functionality, plus the following additional features:</div><div><br></div><ul>
<li>Set play-time limits</li>
<li>View play activity</li>
<li>Restrict VR Mode (3D Visuals)</li>
</ul><div><br></div><div>Finally, <strong>through your child’s Nintendo Account</strong>, you can also set restrictions on Nintendo eShop purchases. Nintendo eShop restrictions can only be set through an account’s profile settings on a PC or smart device, accessible by signing in to <a href="http://accounts.nintendo.com">http://accounts.nintendo.com</a>.<br><br>
</div><h2>Nintendo Switch Console</h2><div>Accessing the Parental Controls for the Switch is fairly easy. To access this function directly from the console, follow these steps:</div><div>&nbsp;</div><ol>
<li>On the Home Screen, locate and select <strong>Systems Settings</strong>.</li>
<li>Once selected, scroll down to <strong>Parental Controls</strong>.</li>
<li>Select <strong>Parental Control Settings</strong>, which appears on the right side of the screen.</li>
<li>Scroll down and select <strong>Use This Console</strong>.</li>
<li>Select <strong>Restriction Level</strong>.</li>
<li>If you would like to enable the pre-made settings, select either <strong>Child</strong>, <strong>Pre-teen</strong>, or <strong>Teen</strong> from the menu and the console will automatically restrict content based on your child's age.</li>
<li>If you would rather have your settings customized, select <strong>Custom Settings</strong> instead.<br><br>
</li>
</ol><h2>Customize Your Settings</h2><div>If you want to only restrict certain functions, follow these easy steps:</div><div>&nbsp;</div><ol>
<li>From the <strong>Custom Settings</strong> menu, select <strong>Restrict Software</strong>.</li>
<li>To restrict games based on their rating, select <strong>Software Ratings Organization</strong>.</li>
<li>To restrict the ability to post to social media, select <strong>Post to Social Media</strong>. (NOTE: No players under the age of 13 will be able to access Nintendo's social media content, no matter what the parental controls are set to).</li>
<li>To limit your child's ability to send messages, share images, and get user profile information, select <strong>Communicating with Others</strong>.</li>
</ol><div>&nbsp;</div><div>Once you have your parental controls set to your exact specifications, select <strong>Next</strong> to save your preferences and create a four to eight-digit PIN number that you will use in the future to access the Parental Controls.<br><br>
</div><h2>Controls From Your Smartphone</h2><div>To access the parental controls on your Android or iPhone, you will need to register your Switch console to the <strong>Nintendo Switch Parental Controls</strong> app. To do this, open the app on your phone and either sign in or create a new Nintendo account. The app will then give you a set of instructions, <strong>including a code</strong> that you will need to submit on the Switch console.</div><div>&nbsp;</div><div>Here are <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/22407/p/897/c/628">the steps</a> to successfully managing your parental control settings on your smartphone:</div><div><br></div><ol>
<li>On your Switch console's <strong>Home Screen</strong>, launch the <strong>System Settings</strong>.</li>
<li>Scroll down and select <strong>Parental Settings</strong>.</li>
<li>Select <strong>Parental Control Settings</strong>.</li>
<li>You will then be sent to a page that will ask you how you would like to set up your Parental Control Settings. Select <strong>Use your Smart Device</strong>.</li>
<li>It will ask you if you have the Parental Control app. Select <strong>Yes</strong>.</li>
<li>Then select <strong>Enter Registration Code</strong>. Enter the code the app generated for you when you first opened it.</li>
<li>Select <strong>Register</strong>.</li>
<li>Go back to the app and select <strong>Set Parental Controls</strong>.</li>
<li>You will be prompted to <strong>Set a Daily Limit</strong>. You can either select <strong>No Limit</strong> or you can choose to limit activity for up to 6 hours.</li>
<li>Tap <strong>Next</strong>, then choose to create a pre-made setting by selecting either <strong>Child</strong>, <strong>Pre-Teen</strong>, or <strong>Teen</strong>. Or select <strong>Custom Setting</strong> for individualized restrictions.</li>
<li>Select <strong>Next</strong> to save your settings.</li>
<li>If you would like to receive Push notifications for a statement on your child's monthly game activity, tap <strong>Allow</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Roblox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Roblox calls itself the “world’s largest entertainment platform.” Players build games for other community members using the Roblox Studio. Roblox is available for download as an app on various platforms, including smartphones, computers, tablets, and some consoles, such as the XBox One, HTC Vive, and Oculus Rift.</div><div><br></div><div>Roblox chat is filtered to prevent any personally identifiable information or inappropriate content from being shared with other users. Players have default settings based on the date of birth set on their account.</div><div><br></div><div>Players 12 years or younger have posts and chats filtered for inappropriate content and behavior, as well as personal information. Those 13 years or older can say more words and phrases than younger players, but personal information or inappropriate content remains restricted regardless of age. This system is applied to most areas of Roblox, whether public or private.</div><div><br></div><div>Roblox accounts list the age bracket of the account in the upper right corner as either 13+ or &lt;13 depending on the date of birth to help parents determine the player’s experience while in the game. This information is also displayed during game play, but it is not displayed to other players and can only be seen by the account user while they are logged in.</div><div><br></div><div>Accounts, regardless of player age, can have parental controls in place to limit or disable various chat features, including who can chat with them in a game or on the site, who can send messages, who can follow them into games, and who can invite them to VIP servers.</div><div><br></div><h2>Setting Parental Controls on Roblox</h2><div>Parents can adjust the interaction settings of their child’s account with the following steps:</div><div><br></div><ol>
<li>Log in to the account.</li>
<li>Click the <strong>gear</strong> icon, and then click <strong>Settings</strong>.</li>
<li>On the right-hand side of the <strong>Settings</strong> page, click <strong>Privacy</strong>.</li>
<li>From here, you can adjust both <strong>Contact Settings</strong> and <strong>Other Settings</strong>.</li>
<li>If your child is 12 or younger, you can choose <strong>Friends</strong> or <strong>No one</strong>. If your child is 13 or older, there are additional options for interaction with other players.</li>
</ol><div><br></div><div>Parents who want additional control should go to the <strong>Security</strong> section of the <strong>Account Settings</strong> page. Here, you can set a PIN and other account restrictions.</div><div><br></div><h2>Account PINs</h2><div>&nbsp;Users and parents can enable a 4-digit PIN which is required to make changes to the account.</div><div><br></div><h2>Account Restrictions</h2><div>Enabling account restrictions limits the account to only curated content and disables contact settings to prevent chatting.</div><div><br></div><div>Parents can see what their child is doing when logged into their account. They can see a list of creations, private message history, a list of friends and followers, and virtual item purchases and trade history. Simply navigate to the corresponding areas of the account to learn more: <strong>Create</strong>, <strong>Message</strong>s, <strong>Friends</strong>, and <strong>My Transactions</strong> respectively.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon allows parents to set up parental controls for individual devices that are connected to the network. Whenever a device is connected to a wireless network and allowed access via the password, Verizon logs the device.</div><div><br></div><div>For example, if your child has a laptop and a phone that are connected to the Wi-Fi network, each device will be listed separately, along with any other devices that have connected to the network. Verizon also allows users to set up parameters on a device-by-device basis, meaning the devices used by children can have specific controls.</div><div><br></div><h2>Setting Up Parental Controls</h2><div>Verizon subscribers can access parental controls directly <a href="https://www.verizon.com/home/myverizon/?session=n&amp;goto=https%3A%2F%2Fwww.verizon.com%2Fforyourhome%2Febillpay%2Fbilling%2Fpaybill">here</a>. To begin the process of setting up parental controls, you will need to log in into your Verizon account.</div><div>
<br>Once logged into your account:<br><br>
</div><ol>
<li>Click on the <strong>Parental Controls</strong> tab at the top of the screen.</li>
<li>Scroll down until you see the <strong>Networked computers/devices</strong> list.</li>
<li>Find your child's device, click on it, then click the <strong>Add</strong> button.</li>
<li>You can add multiple devices at one time or set up different settings for each device.</li>
</ol><div><br></div><h2>Blocking Specific Websites</h2><div>To block specific websites or types of sites, you will need to create rules that ensure the selected devices cannot access content that you find objectionable. You can do this by listing specific websites, as well as sites that contain particular keywords.</div><div><br></div><ul>
<li>After you've selected the devices that you want to create rules for, click on the <strong>Block The Following Websites and Embedded Keywords</strong> within a Website tab.</li>
<li>Type in the websites and keywords that you'd like to block.</li>
<li>Follow the prompts to select whether the sites and keywords should always be blocked, or only during specific times of the day.</li>
</ul><div><br></div><div>You may need to set up multiple rules based on the type of websites you are looking to block. If you'd like, for example, to block social media during certain times of day, you will need to set up one rule. A separate rule must be created to block mature content permanently. You will need to follow the same steps for each individual rule you wish to set up.</div><div><br></div><h2>Limiting Your Child's Daily Access to the Internet</h2><div>You can also set up a rule that blocks your child's ability to access the internet during a specified period. For example, if you'd like your child's device to disconnect at 11 p.m. you can set perimeters to block all internet access starting at 11 p.m. You must also set a time of day that the device can once again access the internet.</div><div><br></div><ul>
<li>Follow the steps above to create a rule for your child's devices.</li>
<li>Instead of clicking on the <strong>Block the Following Websites</strong> option, click on the <strong>Block all Internet Access</strong> tab.</li>
<li>Pick the days of the week and the times of the day you'd like all internet access to be blocked.</li>
<li>Save the rule and return to your main account page.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you use AT&amp;T as your internet service provider, you have access to some great basic parental controls that can help you set digital ground rules for your children. You can make basic changes to your router from any connected device, keeping your family safe and secure.</div><div><br></div><h2>Setting Parental Controls With AT&amp;T</h2><div>AT&amp;T’s basic parental controls allow you to restrict chosen devices to pre-set websites and restrict the time during which a device has an internet connection. Per<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015462?make=ATT&amp;model=WirelessNetMF279&amp;gsi=vknAoFY"> AT&amp;T’s Wireless Internet support page</a>:</div><div><br></div><ol>
<li>From a device that is connected to your AT&amp;T network, go to<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Click <strong>Parental Controls</strong> and check the box next to the devices you wish to limit.</li>
<li>Click <strong>Apply</strong>.</li>
<li>Visit Permitted Websites and click <strong>Add New</strong> to add websites the device has permission to visit.</li>
<li>Visit <strong>Restricted Time Settings</strong> to set restricted times during which the device does not have access to the internet.</li>
</ol><div>&nbsp;</div><h2>Block a Device from Connecting to Wi-Fi</h2><div>Blocking devices from a Wi-Fi connection is a quick and easy way to “turn off the internet” and keep your kids from after-hours browsing.<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015465?make=ATT&amp;model=WirelessNetMF279&amp;gsi=GLNI97k"> Per AT&amp;T’s support page</a>:</div><div><br></div><ol>
<li>Visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a> and log in.</li>
<li>Click <strong>Connected Devices</strong> on the menu on the left-hand side of your screen.</li>
<li>On the <strong>Connected Devices</strong> page, check the box below <strong>Block Access</strong>.</li>
<li>Click <strong>Apply</strong> followed by <strong>OK</strong>.</li>
<li>You can unblock a device by clicking <strong>Unblock Access</strong> in the <strong>Blocked Wi-Fi Devices</strong> panel.<br><br>
</li>
</ol><h2>View and Track Data Usage by Device</h2><div>Not sure if your kids are using too much data? Now there’s an easy way to see who’s hogging all your bandwidth.</div><div><br></div><ol>
<li>From your connected device, visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Find and click <strong>Data Usage</strong> in the menu on the left-hand side of your screen.</li>
<li>On the <strong>Data Usage</strong> page, click <strong>Enable</strong> beneath the <strong>Data Usage Details</strong> panel.</li>
<li>Click <strong>Apply</strong>.</li>
<li>A new panel will appear, providing a breakdown of data usage by device.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows 10
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows 10 is the latest operating system available for PCs. It allows for seamless connection between PCs, Windows phones, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h2>Setting Parental Controls on Windows 10</h2><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Galaxy Tab
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Samsung Galaxy Tab series is a line of tablets that uses the Android operating system. These tablets are portable, have Wi-Fi capability, and come with a variety of other features — including easy-to-use parental controls in their Kids Mode app.<br><br>
</div><h2>The Kids Mode Parental Control App</h2><div>The Samsung Galaxy Tab products are best managed with the Kids Mode app, which provides children with age-appropriate content while allowing parents to restrict access to apps and stored media content on the device. The Kids Mode app is only available on newer generations (Samsung Galaxy Tab 3 and higher). Please install the latest Android operating system update beforehand to make sure Kids Mode runs smoothly.</div><div><br></div><div>Since the Kids Mode app can be toggled on and off, you need to begin by setting up a user profile for your child on the device.</div><div><br></div><h3>Create a user profile for your child on a Samsung Galaxy Tab</h3><div>&nbsp;</div><ol>
<li>Go to the tablet’s <strong>Home</strong> screen.</li>
<li>Tap on the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Users</strong>.</li>
<li>Tap <strong>Add user or profile</strong>.</li>
<li>Tap <strong>Choose restricted profile</strong>.</li>
<li>Create a password.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><div>Once you’ve set up a user profile for your child, you can download the Kids Mode app.<br><br>
</div><h3>Download Kids Mode</h3><ol>
<li>If Kids Mode is not already on your device, open the <strong>Google Play Store</strong>.</li>
<li>Search <strong>Samsung Kids Mode</strong> to pull up the Kids Mode app, created by Samsung Electronics Co. Ltd.</li>
<li>Tap <strong>Install</strong>.</li>
</ol><div><br></div><h3>Set up Kids Mode</h3><ol>
<li>From the <strong>Home</strong> screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Enter a new four-digit PIN.&nbsp;</li>
<li>Enter your child’s name and birthday for their Kids Mode profile.</li>
<li>Tap <strong>Accept</strong> on the disclaimer.</li>
<li>Tap <strong>Skip</strong> to add apps to Kids Mode later, or <strong>Next</strong> to do it now.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><h3>Add apps using Kids Mode</h3><div>Which apps are your child allowed to use on their Samsung Galaxy Tab? That’s up to you! Decide which apps are permitted when Kids Zone is activated — you can add up 30.</div><div>&nbsp;</div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.</li>
<li>Tap <strong>Applications</strong>.</li>
<li>Tap the <strong>Add</strong> icon in the upper right-hand corner.</li>
<li>If a disclaimer appears, tap <strong>Accept</strong> to agree and continue.</li>
<li>Select the apps you’re allowing your child to use by touching the box. A green checkmark will appear on each selected app.</li>
<li>Tap <strong>Done</strong> when you’re finished.</li>
</ol><div>&nbsp;</div><div>Even without allowing access to additional apps, children using Kids Mode will automatically have access to the following apps:<br><br>
</div><ul>
<li>Kids Drawing</li>
<li>Kids Music</li>
<li>Kids Media</li>
<li>Kids Voice Recorder</li>
<li>Kids Camera</li>
<li>Kids Photo Gallery</li>
<li>Kids Store (they can view and save apps, but only parents can choose to purchase or download an app)</li>
</ul><div><br></div><h3>Create time restrictions using Kids Mode</h3><div>How long should your child be allowed to use their Samsung Galaxy Tab? You can control exactly how long they can use the device in a single day.&nbsp;</div><div><br></div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.&nbsp;</li>
<li>Select <strong>Daily playtime limit</strong>.</li>
<li>You can choose to leave it on <strong>No time limit</strong>, or you can click <strong>Time limit</strong> (default is 30 minutes per day) and tap the <strong>Settings</strong> icon to personalize the time limit in five-minute intervals (0-180 minutes).</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>