<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy Note 8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy Note 8 is part of Samsung's incredibly popular Galaxy series of smartphone devices. Like all smartphones that run on the Android operating system, the Galaxy Note 8 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).</div><div><br></div><div>Since the Galaxy Note 8 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div><br></div><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.</div><div><br></div><div>You can also set up Iris Scanner. <strong>Iris Scanner</strong> uses your eyes to unlock the device by pointing them at the iris scanner. To do this:</div><div><br></div><ol>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Biometrics</strong>.</li>
<li>Tap <strong>Iris Scanner.</strong>
</li>
</ol><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.&nbsp;</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.&nbsp;</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>In the mobile section, tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Toggle the Limit mobile data switch <strong>ON</strong>.</li>
<li>If prompted, tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>SET.</strong>
</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>In the mobile section, tap <strong>Alert me about data usage.</strong>
</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>SET.</strong>
</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Lollipop – 5.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to<strong> Android Lollipop</strong>, which is version 5.0 - 5.1.1. This is an older version of Android, as it was released November 12, 2014.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 5.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:<em>&nbsp;</em>
</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings.</strong>
</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF.</strong>
</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon is one of the largest cell phone service providers in the U.S. Beyond smartphones, they also sell tablets, wearables, and other accessories. If Verizon is your provider, you’ll be glad to know they offer their own parental controls to help you keep your children safe online.</div><div><br></div><div>Verizon Family Safeguards &amp; Controls allow you to manage everything from phone activity and usage to age restrictions on content, and more. Most of the features are included free with your plan. Let’s take a look at what’s included, and what you’ll have to pay for.</div><div><br></div><ul>
<li>
<strong>Verizon Roadside Assistance: </strong>$3/month/line</li>
<li>
<strong>Verizon Smart Family:</strong> $4.99/month/account</li>
<li>
<strong>Block Calls &amp; Messages:</strong> Free</li>
<li>
<strong>Internet Spam Blocking:</strong> Free</li>
<li>
<strong>Verizon Support &amp; Protection:</strong> Free</li>
<li>
<strong>Family Locator: </strong>$9.99/month/account - included in Smart Family Premium</li>
<li>
<strong>Service Blocks:</strong> Free</li>
<li>
<strong>Total Equipment Coverage: </strong>Starts at $7/month/device</li>
<li>
<strong>Total Mobile Protection: </strong>Starts at $9/month/device</li>
<li>
<strong>Usage Alerts:</strong> Free</li>
</ul><div>
<br><br>
</div><h2>Verizon's Just Kids Plan</h2><div>The Just Kids Plan allows parents to manage screen time, filter content, track location and more. Additional features include:<br><br>
</div><ol>
<li>5GB monthly data</li>
<li>Unlimited talk/text to 20 parent-approved contacts</li>
<li>Safety mode to avoid data overages</li>
<li>Smart Family premium with parental controls at no extra cost&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Setting Parental Controls on Verizon</h2><div>Only the Account Owner or Account Manager can access the Usage Controls/Smart Family.</div><div><br></div><ol>
<li>Login into Verizon Smart Family using your <strong>My Verizon</strong> login credentials.</li>
<li>Select your desired Smart Family plan. Tap <strong>Next</strong>.</li>
<li>Select the lines you’d like to add to the Smart Family.</li>
<li>Name the lines you’re adding if you want. Then tap <strong>Sign up</strong>.</li>
</ol><div><br></div><h2>Pairing Your Child’s Devices</h2><h3>On Android</h3><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Tap <strong>Pause Internet</strong>, <strong>Add protection</strong>, or <strong>Content filters</strong>.</li>
<li>Tap <strong>Next</strong>.</li>
<li>Enter your child's age to get the appropriate protection level. Tap <strong>Next</strong>.</li>
<li>Select <strong>OK</strong>.</li>
<li>Block or customize each category according to what you believe is best for your child.</li>
<li>Tap <strong>Pair phone</strong>.</li>
<li>Tap <strong>Send</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Open your child’s device.</li>
<li>Open the text from the Parent app.</li>
<li>Tap <strong>Show Me How</strong>.</li>
<li>Watch the tutorial. Tap <strong>Got it</strong> to continue.</li>
<li>Scroll to <strong>Smart Family Companion</strong> and tap that option.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Toggle Smart Family Companion to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong> on your Parent device.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h3>On iPhone</h3><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Tap <strong>Pause Internet</strong>, <strong>Add protection</strong>, or <strong>Content filters</strong>.</li>
<li>Tap <strong>Next</strong>.</li>
<li>Enter your child's age to get the appropriate protection level. Tap <strong>Next</strong>.</li>
<li>Select <strong>OK</strong>.</li>
<li>Block or customize each category according to what you believe is best for your child.</li>
<li>Tap <strong>Pair phone</strong>.</li>
<li>Tap <strong>Send</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Open your child’s device.</li>
<li>Open the text from the Parent app.</li>
<li>Tap <strong>Show Me How</strong>.</li>
<li>Watch the tutorial. Tap <strong>Got it</strong> to continue.</li>
<li>Tap <strong>Install</strong>, then tap <strong>Trust.</strong>&nbsp;</li>
<li>Tap <strong>Done</strong>. Tap <strong>OK</strong>.</li>
<li>Tap <strong>OK</strong> on the Parent device.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Enabling Content Filters</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Content Filters</strong>.</li>
<li>Tap everything you want to block.</li>
<li>When you’re done, tap <strong>Save</strong>.</li>
<li>Tap <strong>Content Filters</strong> again, and scroll down to <strong>Websites</strong>.&nbsp;</li>
<li>Tap <strong>Trusted Websites</strong> to add websites to that list.</li>
<li>Tap <strong>Blocked Websites</strong> to add websites to that list.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Time Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Time Restrictions</strong>.</li>
<li>Create time restrictions appropriate for your child.<ol>
<li>Add school or night hours by tapping <strong>School hours</strong> or <strong>night hours</strong> and adjusting the recommended restrictions.</li>
<li>Tap <strong>Save</strong> to put the restrictions in effect.</li>
<li>Add custom restrictions by tapping <strong>Add time restrictions</strong>. Choose times and days you want to go into effect. Tap <strong>Save</strong>.</li>
<li>To remove restrictions, select the restriction you want to remove, then tap Remove.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Data Target Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Data target</strong>.</li>
<li>Create data targets appropriate for your child.<ol>
<li>Enter the data target in gigabytes for the child.</li>
<li>If you want to be notified when your child reaches that target, tap <strong>Don’t block data, but alert me when the limit is reached</strong>.</li>
<li>Tap <strong>Save</strong> to put the limit into effect.</li>
<li>To remove restrictions, tap the data target for the family member, then tap <strong>Remove</strong>. Confirm removal by tapping remove again.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Purchase Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Purchase Limits</strong>.</li>
<li>Create a purchase limit based on what you feel is appropriate for your child.<ol>
<li>Enter the dollar amount to set the limit. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping it and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Text Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Text limit</strong>.</li>
<li>Create a text limit based on what you feel is appropriate for your child.&nbsp;<ol>
<li>Enter the maximum number of texts you’ll allow your child to send and receive in a month. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping the limit and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Call Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Call limits</strong>.</li>
<li>Create a call limit based on what you feel is appropriate for your child.&nbsp;<ol>
<li>Enter the maximum number of minutes you’ll allow your child to use in a month. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping the limit and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Location Alerts</h2><div>If you’ve opted for Smart Family Premium, family location features are included. You can add locations where your child often is, and get notified when they arrive at and leave those locations.</div><div><br></div><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Location alerts</strong>.</li>
<li>Tap <strong>Places &amp; alerts</strong>.<ol>
<li>Tap <strong>Add a place</strong>.</li>
<li>Enter a name and address.</li>
<li>Tap either <strong>Arrival</strong> or <strong>Departure</strong> alert switches.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Repeat for any additional locations.</li>
<li>Remove alerts by selecting the Place Alert you want to remove, then tap <strong>Remove</strong>. Tap Remove again to confirm.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    WhatsApp
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>WhatsApp is a free messaging system currently owned by Facebook. It allows users to send unlimited text messages, voice messages, and video calls, as well as images, documents, and other media to other WhatsApp users around the world. Users can access the app through mobile devices and desktop computers — all they need is a cell phone number.&nbsp; Whatsapp is one of the most popular messaging apps in the world and is available internationally, with over a billion users worldwide.</div><div><br></div><div>Users must be 13 to use Whatsapp. Younger WhatsApp users prefer to use the application rather than their phone's native texting because it allows them more privacy and freedom, or so they believe. This is primarily because parents tend to be more familiar with basic texting than newer applications like WhatsApp.&nbsp;</div><div><br></div><div>WhatsApp is not considered to be a typical type of social media, since the platform is not public. Rather, it is considered "dark social" — social sharing that is not measured by web analytics platforms. This means that users cannot flag inappropriate messages to alert WhatsApp to the problem, though they may screenshot the message and share it with the company. The company cannot remove posts, though it can ban users.</div><div><br></div><h2>Privacy Controls for WhatsApp</h2><h3>How to block someone</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Blocked</strong>, and add who you’d like to block. Blocked contacts will no longer be able to call you or send your child messages.&nbsp;</li>
</ol><div><br></div><h3>How to turn off visible public public information</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Up top, you can edit the following four items and select who can see what on your child’s profile:<ol>
<li>
<strong>Last Seen:</strong> When your child was last using the app</li>
<li>
<strong>Profile Photo:</strong> Your child’s photo</li>
<li>
<strong>About:</strong> Your child’s mini bio</li>
<li>
<strong>Status:</strong> What they’re currently doing</li>
</ol>
</li>
</ol><div><br></div><h3>How to turn off Live Location</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Live Location</strong> and select the chats from which you’d like to remove.</li>
</ol><div><br></div><h3>How to report safety and security issues to WhatsApp</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Help</strong>.</li>
<li>Then tap <strong>Contact Us</strong> to send a message.&nbsp;</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On WhatsApp, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor WhatsApp messages for Android and Amazon device users. For iOS users <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor your child's messages and message attachments (if available). If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Outlook / Hotmail
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Many people are confused about the email services provided by Microsoft, particularly Hotmail and Outlook. This is because of a series of rebranding efforts beginning around 2012, during which time Hotmail was phased out in favor of the more robust Outlook email client.</div><div><br></div><div>Hotmail users at the time were allowed to retain their @hotmail.com accounts, but new users must create an @outlook.com account. Each is still used by millions of people, and although they have different extensions, they are in fact the same email service — <strong>Outlook.com</strong>, formerly known as Hotmail.</div><div><br></div><div>
<strong>Outlook Mail</strong> is the name of the web app for viewing Outlook.com, and the desktop email client is called <strong>Microsoft Outlook</strong>, which can be used for @outlook.com addresses as well as others. The two of them are the built-in email platforms for <strong>Microsoft 365</strong>.<br><br>
</div><h2>Parental Controls in Outlook</h2><div>It’s important to note that there are no parental control settings offered by Outlook per se. But you can implement controls over all Microsoft properties — including email services — by creating a “family” through the Microsoft online platform. Setting up a child account in this way activates a number of features that are compliant with the Children’s Online Privacy Protection Act (COPPA).</div><div><br></div><div>This article is written under of the assumption that you have already done this. To learn how to set up a family account for Microsoft 365, <a href="https://support.microsoft.com/en-us/help/12413/microsoft-account-what-is-family-group">click here</a>.</div><div><br></div><div>These controls will only work if your child is using a Microsoft Windows device (Internet Explorer, Windows Phone, Windows PC, Xbox), or an Android device that is also running Microsoft Launcher. If you wish to implement these controls on other devices and platforms, unfortunately you will be unable to do so.<br><br>
</div><h3>Inside your family account</h3><div>Log into your account at <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a>. Under each child you have added to your family account, you’ll see a variety of customizable settings, including: Activity, Screen Time, Content Restrictions, Spending, and Find on Map.</div><div><br></div><ul>
<li>
<strong>Activity:</strong> The Activity tab shows you exactly what your child is doing when logged in to their Microsoft account. See what apps and games your child is using, what sites they are visiting, what they’re searching for online, and how much screen time they’re spending.</li>
<li>
<strong>Screen Time:</strong> The Screen Time tab allows you to set screen time limits for all of your Microsoft devices for each individual child.</li>
<li>
<strong>Content Restrictions:</strong> The Content Restrictions tab is where you’ll find all the ways to control your child’s activity through their Microsoft account. Toggle <strong>on</strong> or <strong>off</strong> your child’s ability to make purchases online, manage what apps/games they are able to interact with, and manage what websites they are and are not able to visit.</li>
</ul><div><br></div><div>Since these controls only work through Microsoft Internet Explorer, each child’s profile will automatically have other web browsers (Mozilla Firefox, Google Chrome, etc.) blacklisted so they are unable to avoid the controls that you have set.</div><div><br></div><ul>
<li>
<strong>Spending:</strong> Microsoft allows users to make purchases through their accounts. Under the Spending tab, users can add money to their account for use online.</li>
<li>
<strong>Find Your Child:</strong> Using this tab, easily locate your child’s registered Microsoft devices in the event they are lost or stolen.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Outlook, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    PS4
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Sony Playstation 4 (PS4) encompasses more than just video gaming — users can stream music, movies, and TV, as well as browse the web. Because of this, the PS4 can create potentially harmful situations for children, so it’s important to monitor and restrict access to inappropriate content.</div><div><br></div><h2>Sony's Video Game Rating System</h2><div>All PS4 video games hold ratings based on the criteria and judgment of the Entertainment Software Rating Board (ESRB). The most common of these ratings include "E" for games appropriate for everyone, "T" for content acceptable for most teenagers, and "M" for content deemed appropriate only for mature players.</div><div><br></div><div>It is important to remember that the ESRB rating system provides only a general idea of a video game's content. While this can help parents determine what games are appropriate for their children, parents are greatly encouraged to research and review games before purchasing to determine the content they'd like their children to access.</div><div><br></div><div>A simple breakdown of how to use ESRB ratings in conjunction with Sony's parental controls (which use numbers 1-11) include:</div><div><br></div><ul>
<li>Level 0: ESRB RP - RATING PENDING</li>
<li>Level 2: ESRB EC - EARLY CHILDHOOD</li>
<li>Level 3: ESRB E - EVERYONE</li>
<li>Level 4: ESRB E10+ - EVERYONE 10+</li>
<li>Level 5: ESRB T - TEEN</li>
<li>Level 9: ESRB M - MATURE</li>
<li>Level 10: ESRB AO - ADULTS ONLY</li>
</ul><div><br></div><h2>Setting Up PlayStation 4 Parental Controls</h2><div>Sony provides parental control options to help ensure the safety and security of children. Before establishing other parental controls, Sony recommends that you set a system restriction passcode. This allows you to alter and adjust your settings later and prevents others from accessing and changing the restrictions you put in place.<br><br>
</div><h3>How to set a system restriction passcode</h3><ol>
<li>Access the PlayStation's main <strong>Settings</strong> menu, then select <strong>Parental Controls/Family Management.&nbsp;</strong>
</li>
<li>Navigate to <strong>PS4 System Restrictions</strong>. Before setting a custom passcode, you'll need to enter the default code <strong>("0000")</strong>.&nbsp;</li>
<li>Choose a passcode that is simple for you to remember.</li>
</ol><div><br></div><div>After setting up your own system restriction passcode, you'll be able to set up other parental controls on your console, including by each individual user if you have multiple children.<br><br>
</div><h3>How to implement parental controls on PS4</h3><ol>
<li>From the PlayStation's main <strong>Settings</strong> menu, select the <strong>Parental Controls/Family Management</strong> menu.</li>
<li>Select the child account you'd like to manage. We recommend that you create an individual account for each PlayStation user to allow for multiple control options; an older child can access games and other content acceptable for older users, while younger children in the same household can only access content appropriate for younger children.</li>
<li>Choose from the following what you’d like to restrict:</li>
</ol><ul>
<li>
<strong>Restrict games by age level:</strong> Using the system explained above, prevent access to certain games and applications based on Sony's rating system (1-11).</li>
<li>
<strong>Restrict Blu-rays and DVDs:</strong> Restrict the use of Blu-ray discs or DVDs.</li>
<li>
<strong>Restrict internet access: </strong>Through the PlayStation 4's default settings, access to the internet browser can be completely disabled for all websites.</li>
<li>
<strong>Restrict communication with other players:</strong> Setting this parental control prevents communications from other PlayStation players. Chat, messages, friend requests, and game invites will not be received by restricted accounts.</li>
<li>
<strong>Age filtering for PlayStation store content:</strong> Hide games and game features based on your child's age.</li>
<li>
<strong>Restrict use of internet browser:</strong> You can completely disable the PS4’'s Internet Browser from launching.</li>
</ul><div><br></div><h3>How to disable guest profile creation</h3><div>Disabling the creation of guest profiles or additional profiles is important, because this is a popular workaround for kids who want to bypass the set parental controls. Here's how to prevent that:<br><br>
</div><ol>
<li>On your PS4 system, log in as the family manager and navigate to <strong>Settings</strong>.</li>
<li>Next, select <strong>Parental Controls/Family Management</strong>. Then, select <strong>PS4 System Restrictions</strong>.</li>
<li>You'll need to enter the system restriction passcode. If you haven't set this yet, the default is <strong>0000</strong>.</li>
<li>Select <strong>New User Creation and Guest Login</strong> and select <strong>Not Allowed</strong>.</li>
<li>Sony recommends selecting <strong>Change System Restriction Passcode </strong>and changing it to a memorable 4-digit code to prevent other users from gaining access to the parental controls.</li>
<li>When you're done, your changes will be saved automatically.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Call of Duty
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Call of Duty: Black Ops 4 is the latest major entry in the long-running Call of Duty series of multiplayer shooters. This game features a new addition: Blackout, the first major budget entry into the battle royale shooter sub-genre made popular by Fortnite and PUBG.</div><div><br></div><div>Call of Duty: Black Ops 4 is available on PC via Battle.net, PlayStation 4, and Xbox One. Unlike some popular games, such as Fortnite or Rocket League, there is no cross-platform play, so universal communications settings for Battle.net, PSN, and Xbox Live fully control the level of communication your child has with other players.<br><br>
</div><h2>Graphic content</h2><div>Call of Duty: Black Ops 4 is specifically targeted at mature audiences. It depicts gunshot wounds, dismemberment, and exposed viscera. The in-game dialogue regularly includes profanity. Some levels include elements such as mutilated corpses and drug paraphernalia. Parents are strongly cautioned to decide whether it is appropriate for their child to play this game.<br><br>
</div><h3>How to turn off graphic content</h3><ol>
<li>From the in-game menu, select <strong>Options</strong>.</li>
<li>Next, select <strong>Content Filter</strong>.</li>
<li>Set <strong>Graphic Content</strong> to <strong>Off</strong>&nbsp; to disable blood, gore, and adult language.</li>
</ol><div><br></div><h2>Chat Functionality</h2><div>There is no text communication in Call of Duty: Black Ops 4. Voice chat is handled through the overarching online service hosting the game (Battle.net, PlayStation Network, and Xbox Live). Unless players have voice communication turned off manually or are already engaged in a private party chat, they will have open lines with all players present in the game.</div><div><br></div><div>The Blackout mode defaults to squad chat if the player is not engaged in a solo game. However, whenever players are near an enemy who has died, the game opens their microphone to anyone near the downed player. Often, this leads to a few seconds of aggressive or offensive chatter for a few seconds. These voice opportunities can be disabled by system-level communications settings.</div><div><br></div><h2>How to Disable Public Voice Communications</h2><h3>For Xbox One users</h3><ol>
<li>Head over to <a href="https://account.xbox.com/en-US/settings">https://account.xbox.com/en-US/settings</a>. Log in with your Xbox Live account information, and select your child's profile.</li>
<li>Scroll down to <strong>Privacy and Online Safety</strong> and select it. A list of games appears.</li>
<li>Choose <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Scroll down to <strong>Others Can Communicate with Voice, Text, or Invites Settings</strong> and toggle the input field to <strong>Blocked</strong>. Now, all voice communication features will be disabled.<ol><li>&nbsp;System-level party chat will still be enabled with approved friends.</li></ol>
</li>
</ol><div><br></div><h3>For PlayStation 4 users</h3><ol>
<li>Select <strong>Settings</strong> on your PS4 dashboard.</li>
<li>Choose your child's profile and scroll down to <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Click <strong>Applications/Devices/Network Features</strong>.</li>
<li>Select <strong>Network Features</strong>.</li>
<li>In the <strong>Network Features</strong> area check the radio button next to <strong>Choose to Disable Communication With Other PSN Users On This Account</strong>.</li>
</ol><div><br></div><h3>For PC Battle.net users</h3><ol>
<li>Load up <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Sound</strong>.</li>
<li>Scroll down to <strong>In-Game Voice</strong> and toggle it to <strong>Disabled</strong>.</li>
<li>Players can also choose to mute individual players in-game in real time. To do so, press <strong>Tab</strong> to bring up the scoreboard.</li>
<li>Mouse over the offending player, and click their name.</li>
<li>Choose <strong>Mute</strong>. This player will remain muted in new multiplayer sessions, as well.</li>
</ol><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Spectrum
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. You will have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com&nbsp;</li>
<li>Spectrum TV channel apps.&nbsp;</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users:</div><div><br></div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong> and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users:<strong><br></strong><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for Preferences will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable parental controls. You might need to select the <strong>lock</strong> icon on the <strong>Parental Control</strong> window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block.</li>
</ol><div>NOTE: You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your <strong>Parental Control</strong> and <strong>Browser Protection</strong> settings. If a website is added to the website exception list, it won't be blocked for any reason.</div><div><br></div><h2>Parental Control Features</h2><div>Once in the Security Suite, you can turn on and adjust settings for the features detailed below.</div><div><br></div><h3>Content blocker</h3><div>Restrict access to sites based on content or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.&nbsp;</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.&nbsp;</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.&nbsp;</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under <strong>Channel blocks</strong>, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Netflix
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Netflix is one of the most popular online streaming services in the U.S., with more than 100 million subscribers. Its content includes movies, TV shows, documentaries, and more, and it runs the gamut from kid-friendly to adult-only. Netflix can be accessed via web browsers, smart TVs, tablets, smartphones, and even consoles such as Xbox One and Playstation 4.<br><br>
</div><h2>Parental Control Settings</h2><div>With Netflix’s parental restrictions, you can add profiles for everyone in your family — each with different parental control settings to limit what content they can access. It’s best to set up these changes from a computer.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Netflix.com. You’ll be greeted with a screen that says <strong>Who's watching?</strong>
</li>
<li>Click on the <strong>Add Profile</strong> icon to the far right.</li>
<li>Input your child's name and then click <strong>Continue</strong>.</li>
<li>On the <strong>Manage Profiles</strong> screen, you will be able to create additional parental controls on the account you just created. Click the <strong>pencil</strong> icon on the account.</li>
<li>Click on the dropdown labeled <strong>Allowed TV Shows and Movies</strong> and choose one of these four options:<ul>
<li>
<strong>For Little Kids only:</strong> This category features G-rated content suitable for younger children, including a variety of cartoons, nature documentaries, and silly kids’ movies and TV shows.</li>
<li>
<strong>For Older Kids and below:</strong> This category adds PG-rated movies and TV shows that include themes of violence — although no blood or gore is present.</li>
<li>
<strong>For Teens and below: </strong>This category adds PG-13 content that will not be suitable for younger children. Violence will be more graphic, and there will be mild explicit content.</li>
<li>
<strong>All Maturity levels: </strong>No restrictions. NC-17, NR, R, and UR content is available.</li>
</ul>
</li>
</ol><div><br></div><h3>How to create a parent control PIN</h3><div>Now that you have created the account for your child, you can create a Parental Control PIN that you can use to lock down specific content. This has been a long-awaited feature for Netflix, allowing parents to gain more advanced control over their child's accounts and block any unwanted material behind a PIN passcode.</div><div><br></div><ol>
<li>Log in to your Netflix account and select your profile.</li>
<li>Click on your icon on the top-right corner of the screen and select <strong>Account</strong> from the dropdown that appears.</li>
<li>In the <strong>Settings</strong> section below, click on the <strong>Parental Controls</strong> link. You will be asked to re-enter your password to continue to the next screen.</li>
<li>You will then be directed to the <strong>Parental Control PIN</strong> screen. Enter a PIN number of your choice.</li>
<li>In the <strong>Restrict by Maturity Level</strong> section, you can change the slider on the screen to block any of the four levels mentioned above. This will require the PIN number to be typed in before viewing any content above the chosen level.</li>
<li>In the <strong>Restrict Specific Titles</strong> section below, you can choose specific titles that require a PIN to watch, regardless of the maturity rating on the account.</li>
</ol><div><br></div><h3>How to view what your child has recently watched</h3><div>Netflix also allows you to view the recent streaming activity. This allows you to see the exact date and time content has been viewed on Netflix, as well as from where and on what device.</div><div><br></div><ol>
<li>Click on your icon in the top-right corner of the screen again and click on <strong>Account</strong>.</li>
<li>In the <strong>Settings</strong> section, select <strong>Recent Device Streaming Activity</strong>. Here you will see the most recently used devices with their locations.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    High Sierra
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Macs are a series of computers — desktops and laptops — manufactured by Apple, and they run with the OS X operating system. High Sierra version 10.13 was released in 2017. It was the most current version until Apple released OS X 10.14 (known as Mojave) in September 2018.<br><br>
</div><h2>Create a New User Profile on Your Mac</h2><ol>
<li>Log in to your administrator account.</li>
<li>Click the <strong>System Preferences</strong> icon in your <strong>Dock</strong>.</li>
<li>Click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes.</li>
<li>Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Select your child’s age (either 4+, 9+, or 12+).</li>
<li>Enter your child’s full name.</li>
<li>Enter an <strong>Account Name</strong>.</li>
<li>Enter a <strong>password</strong> for the user, and then enter it again to verify it.</li>
<li>Create a <strong>password hint</strong> in case the child forgets the password.</li>
<li>Click <strong>Create user</strong>.</li>
<li>Click the <strong>lock</strong> again to prevent further changes.</li>
</ol><div><br></div><h2>Set Parental Restrictions on Your Mac</h2><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock icon</strong> to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select a user, then begin to customize their restrictions:<ul>
<li>
<strong>Time:</strong> Set time limits for weekdays, weekends, and bedtime.</li>
<li>
<strong>Privacy:</strong> Allow your child to make changes related to privacy.</li>
<li>
<strong>Web</strong>: Limit access to websites, or allow unrestricted access.</li>
<li>
<strong>Apps:</strong><ul>
<li>Prevent your child from using the built-in camera.</li>
<li>Restrict them from joining multiplayer games in the Game Center.</li>
<li>Limit your child’s contact with other people through Mail.</li>
<li>Specify which apps your child can access.</li>
</ul>
</li>
<li>
<strong>Stores:</strong><ul>
<li>Disable access to the iTunes Store and the iBooks Store.</li>
<li>Limit a child’s access to music, movies, TV shows, apps, and books to only those with age-appropriate ratings.</li>
</ul>
</li>
<li>
<strong>Other:</strong><ul>
<li>Prevent your child from using Siri and Dictation.</li>
<li>Adjust printer and scanner settings.</li>
<li>Limit CD-burning and DVD-burning.</li>
<li>Hide profanities in the dictionary and other sources.</li>
<li>Prevent the Dock from being modified, and instead show your child a simplified, easy-to-use view of the Mac desktop.</li>
</ul>
</li>
</ul>
</li>
</ol><div><br></div><h2>Manage Parental Controls From Another Mac</h2><div>After you set restrictions for a child on one Mac, you can manage parental controls from a different Mac that’s on the same network. Here’s how:<br><br>
</div><div>On the Mac your child uses:</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.&nbsp;</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select <strong>Manage parental controls from another computer</strong>.<br><br>NOTE: If you don’t see this option, there may be a user selected on the left side of Parental Controls preferences. Command-click the selected user so there isn’t a user selected.</li>
</ol><div><br></div><div>On the Mac you want to use to manage your child’s parental controls settings (i.e. your own personal Mac):</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select the Mac your child uses.</li>
<li>Enter the administrator name and password for the Mac your child uses.</li>
<li>Select the user to be managed (your child).</li>
</ol><div><br></div><div>That’s it! You can now change your child’s parental controls settings and monitor their activity logs.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with their groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPod Touch
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>