<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 6S
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Snapchat
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Snapchat is a massively popular multimedia messaging app. Available on iOS and Android, Snapchat is so much more than a quirky camera — it's an instant connection to the entire world.&nbsp;</div><div><br></div><div>Users can take pictures using countless fun filters and record short video snippets. The original appeal of the app was its disappearing media. Pictures and videos sent to friends would only display for a few seconds and then vanish. The app has undergone many updates since its introduction, and it is now possible to save media received from friends.<br><br>
</div><h2>Understanding the Lingo</h2><div>Snapchat has its own <a href="https://www.pocket-lint.com/apps/news/snapchat/131313-what-is-snapchat-how-does-it-work-and-what-is-it-used-for">dictionary</a> of app-specific lingo that can read like a foreign language to parents. Here are a few of the most important terms to know:</div><div><br></div><ul>
<li>
<strong>Snap</strong>: This is the colloquial term for a photo or video taken or sent on the app.&nbsp;</li>
<li>
<strong>Story:</strong> When you link several snaps together back-to-back, it creates a story. Stories are publicly visible for 24 hours, after which they disappear. (With recent updates, though, you can save these stories to the private storage area called "Memories").</li>
<li>
<strong>Snapcode:</strong> A scannable code that can be used to quickly add friends to a Snapchat profile.</li>
<li>
<strong>Snapstreak: </strong>This term refers to the length of time that two people have snapped each other consistently for consecutive days.&nbsp;</li>
<li>
<strong>Geofilter</strong>: Like filters, you can use a geofilter to decorate snaps and share your location (popular at large, public events).</li>
<li>
<strong>Snap Map:</strong> With this feature, you can share your location and look around a map to see where other people are located.</li>
</ul><div><br></div><h2>Privacy Settings</h2><div>Since it's so easy to add friends to the Snapchat app, your child can accumulate a lot of strangers on their friends list. Depending on their user settings, the app can collect a ton of data about their habits and share it with third parties.</div><div><br></div><div>It's particularly hard for parents to monitor their children's activity on Snapchat, as there's no feed to scroll through (unlike Facebook or Instagram). So, instead, focus on implementing strong privacy settings. Together with your child, go into the app's settings menu and look for the "<strong>Who Can</strong>" options. Here, you can control several different privacy functions.</div><div><br></div><h3>How to access the privacy settings</h3><ol>
<li>Access the settings by tapping your child’s icon in the top left of any screen.</li>
<li>Click the red <strong>Gear</strong> icon in the top right corner.</li>
<li>Look for the <strong>Contact Me</strong> option under the <strong>Who Can</strong> heading in your settings.</li>
<li>Choose between:<ol>
<li>Contact Me</li>
<li>Send Me Notifications</li>
<li>View My Story</li>
<li>See My location</li>
<li>Save Me in Quick Add</li>
</ol>
</li>
<li>Select the parameters appropriate for your child.&nbsp;</li>
</ol><div><br></div><h3>How to block someone</h3><div>If someone is harassing your child or is a stranger trying to communicate with them, the best action is to block the user.</div><div><br></div><ol>
<li>Navigate to the <strong>Friends</strong> page by tapping the <strong>chat bubble</strong> on the bottom of any screen.</li>
<li>Next, at the top of the screen, tap the <strong>person icon</strong> with a <strong>plus sign</strong> next to it.</li>
<li>Here you'll see a list of users that have added your child. You can tap on each name to pull up a list of options — including <strong>Ignore</strong> and <strong>Block</strong>.</li>
<li>If you just want to delete someone’s attempt to add your child, tap <strong>Ignore</strong>.</li>
<li>But if you never want that user to be able to contact your child again, tap <strong>Block</strong>.</li>
</ol><div><br></div><h2>The Discover Section</h2><div>Discover contains media content created by celebrities, entertainment outlets, and random strangers. While many of these content providers are legitimate, you can't truly predict what might pop up. Alcohol ads, offensive language, or nudity could pop up just as easily as the <em>New York Times.</em> Content is typically promotional in nature and is frequently mature in subject matter.<br><br><br>
</div><h3>How to unsubscribe from content on 'Discover'</h3><ol>
<li>Open Snapchat</li>
<li>Swipe left</li>
<li>Underneath the ‘Friends’ section, find ‘Subscriptions’</li>
<li>Click the arrow next to ‘Subscriptions’</li>
<li>Find the outlet you wish to unsubscribe from</li>
<li>In the right hand corner, find the ribbon icon</li>
<li>Tap and hold down on the ribbon icon</li>
<li>A menu will appear</li>
<li>Toggle ‘Subscribe’ off</li>
</ol><h3><br></h3><h3>How to hide content on 'Discover'</h3><ol>
<li>Open Snapchat</li>
<li>Swipe left</li>
<li>Underneath the ‘Subscriptions’ section, find ‘For You’</li>
<li>Tap and hold the content you wish to hide</li>
<li>A menu will appear</li>
<li>Tap ‘Hide [Name]’</li>
</ol><div>
<br><br>
</div><h2>Snapchat Stories</h2><div>A story is a photo or video that you submit to be available for just 24 hours on your account. Many users will add to their story multiple times a day. After Snapchat popularized the format, <a href="https://www.commonsensemedia.org/website-reviews/facebook">Facebook</a> and <a href="https://www.commonsensemedia.org/app-reviews/instagram">Instagram</a> offered story-creation tools, too.&nbsp;</div><div><br></div><div>Stories appear as circles, and when you tap them, they autoplay the pictures or videos the user collected. You can create personal stories that your friends can view for a 24-hour period.</div><div><br></div><div>Or, if you think your Snap is particularly interesting or newsworthy, you can send it to Our Story. Our Stories are like mini-documentaries of events, holidays, game championships, or other things happening in the world on a particular day. Snaps are curated and compiled by the company. While it's cool to have your story added to Our Story, it's also very public, so kids should think carefully before submitting one.</div><div><br></div><h2>Location Sharing</h2><div>When reading through the list of Snapchat terms, one thing that may stick out is the prevalence of location sharing. This is a major concern for many parents, as allowing anyone to see your child's whereabouts at any given moment is a bit frightening, to say the least. Here's how you can disable the <a href="http://time.com/money/4876766/snapchat-snap-map-turn-off/">Snap Map</a> feature:</div><div><br></div><ol>
<li>On your child's phone, open the map from the Snapchat home screen by pinching your fingers in toward the middle of the screen (from the corners inward).</li>
<li>Tap the <strong>Settings</strong> icon in the upper-right corner of the screen.</li>
<li>Select <strong>Ghost Mode</strong> to hide your child's location.</li>
</ol><div><br></div><div>To completely turn off location sharing, go to the main settings menu on your child's phone and change Snapchat's permissions. Note that this will prevent them from using certain geography-based filters.</div><div><br></div><h2>General Snapchat Safety Tips</h2><div>Despite the app touting the concept of <a href="https://www.commonsensemedia.org/blog/parents-ultimate-guide-to-snapchat">disappearing photos</a>, it's important to talk to your child about the permanence of anything they share on social apps. Anyone who receives a photo can take a screenshot of the image, ensuring it lives forever. (The app will send a notification to the sender if a photo is captured). It's crucial that your child understands that nothing they put online is temporary. Many teens have found themselves in uncomfortable situations by sharing embarrassing photos.</div><div><br></div><div>If your child signed up for Snapchat with their correct birth date, they should not see adult content, as Snapchat filters content for underage users. Often though, children will put an older birthdate to circumvent this built-in limiter.&nbsp; Most kids use Snapchat to be expressive and goofy and stay in touch with friends (maybe a bit too much!) There is some mature content, but Snapchat is generally appropriate for those ages 16 and older.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Snapchat, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor Snapchat private messages (chat) on Android and Amazon devices. On iPhone and iPad,&nbsp; <a href="http://bark.us/?s=barkomatic">Bark</a> monitors Stories. Snapchat doesn't allow external access to private messages, so we cannot monitor direct messages on iOS devices (and neither can any other monitoring service). We're continually working to be able to monitor Snapchat on iOS. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If your family subscribes to Xfinity Comcast, you will have access to the Xfinity Comcast email service. Your Xfinity email address is associated with the primary account holder and is created when you sign up for services. You will be able to create new email addresses from your account settings.<br><br>Although Xfinity Comcast's email provider doesn't technically have parental controls, there are ways to help keep your child safer while emailing.&nbsp;<br><br>
</div><h2>Using Xfinity Connect to Manage Email Accounts</h2><div>Xfinity Connect is a downloadable app that extends your Comcast services onto mobile devices (Apple and Android), allowing you to access your @comcast.net email address. This app is where the parental restrictions live.</div><div><br></div><h2>How to Change Your Child’s Display Name</h2><div>Create your child’s email account from the main Xfinity dashboard. If this is your child's first email handle, you'll most likely monitor who they exchange emails with and when. However, changing your child's display name is still a good idea to protect his or her identity online. The display name is the name that populates in the "From" field of a sent email. Using a nickname or a pseudonym is a great way of keeping your child's name from falling into the hands of spammers. Here's how to change your display name in Xfinity Connect:</div><div><br></div><ol>
<li>From your Xfinity Connect dashboard, select <strong>Preferences</strong>.</li>
<li>From the <strong>Preferences </strong>page, click<strong> Email</strong>.</li>
<li>On the <strong>Email Preferences</strong> page, you'll see a form labelled <strong>Your name on emails will be</strong>. Fill it in accordingly.</li>
</ol><div>&nbsp;</div><h2>How to Set Spam Filters</h2><ol>
<li>From your Xfinity dashboard, click the <strong>gear</strong> icon and navigate to <strong>Advanced Settings</strong>.</li>
<li>Click <strong>Enable spam filtering</strong>.</li>
<li>If you want a record of potential spam entering your child's inbox you can choose to check the <strong>Save a copy of emails marked as spam</strong> box. Otherwise, they’ll be deleted before even reaching the inbox.</li>
</ol><div><br></div><h2>How to Set an Email Safe List</h2><div>Your Comcast email account also gives you the option to set up a highly limited inbox that only allows emails from specific email addresses. This safe list allows you to control who your child emails — any messages from addresses not included on the safe list will not be delivered.</div><div><br></div><ol>
<li>Click the <strong>gear</strong> icon to navigate to<strong> Settings</strong>.</li>
<li>Click <strong>Advanced Settings</strong>.</li>
<li>Navigate to <strong>Email Safe List </strong>and input the addresses your child may receive mail from.</li>
</ol><div><br></div><h2>How to Set Incoming Email Restrictions</h2><div>Comcast's email service also includes an advanced feature that allows you to create multiple email filters. Though this is a more complicated process, it is a robust system that gives the user the power to sort through incoming email. To create a filter you will dictate the conditions that trigger the filter and the resulting action.</div><div><br></div><ol>
<li>From the<strong> Settings</strong> page, click <strong>Filter rules </strong>followed by <strong>Add new rule</strong>.</li>
<li>Add your <strong>Rule name</strong> into the provided field.</li>
<li>Click <strong>Add condition</strong> and follow the prompts (<a href="https://www.xfinity.com/support/articles/spam-filters-and-email-blocking-new-experience">more details here</a>).</li>
<li>Choose your <strong>Action</strong>.</li>
</ol><div>5. Click <strong>Save</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Xfinity/Comcast email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Nintendo 3DS
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Nintendo 3DS is a portable, handheld gaming system similar to the Gameboy systems from the 90s, except this one is enabled for Wi-Fi. It also allows gameplay to take place in 3D (with compatible games) and features cameras for taking photos and videos, as well as a touchscreen.</div><div><br></div><div>With the 3DS parental controls, you can restrict several features and settings, including:</div><div><br></div><ul>
<li>Playable titles based on software ratings</li>
<li>Internet browser</li>
<li>Nintendo 3DS Shopping Services</li>
<li>Display of 3D images</li>
<li>Miiverse</li>
<li>Sharing files (including images, video, audio, etc.)</li>
<li>Online interaction</li>
<li>StreetPass</li>
<li>Friend Registration</li>
<li>DS Download Play</li>
<li>Viewing Distributed Videos and YouTube content</li>
<li>Child Online Privacy Protection - parental consent for the online collection, use, or disclosure of personal data for children under age 13</li>
</ul><div><br></div><h2>Setting Parental Controls on the Nintendo 3DS</h2><ol>
<li>Check to see that your system is up to date, and if not, <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/287">update the system</a> before continuing.</li>
<li>Select <strong>Parental Controls</strong> from the <strong>System Settings Menu</strong>. Tap <strong>Yes</strong>.</li>
<li>Select <strong>Yes</strong> when prompted to configure the settings.</li>
<li>Select <strong>Next</strong> on the following screen. Read the information, then tap <strong>OK</strong>
</li>
<li>Tap <strong>OK</strong> again, and choose a 4-digit PIN. You’ll enter this PIN twice.</li>
<li>Tap <strong>OK</strong> to select a secret question you can answer if you forget your PIN.</li>
<li>Select a secret question from the list, or create your own. Use the on-screen keyboard to type your answer. Remember, the answer is case-sensitive.</li>
<li>Tap <strong>OK</strong> to confirm the answer.</li>
<li>Tap <strong>OK</strong>. Register your email address to reset your PIN if your forget it. If you do register your email address, you’ll need to enter it twice to confirm it, then check your confirmation email to confirm your account. If you don’t want to add your email address, select <strong>Cancel</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>When you’re finished, tap <strong>Done</strong> to save the settings.</li>
</ol><div>
<br>You’ll now be able to select the restrictions you want to set on the 3DS based on the topics above.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Roblox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Roblox calls itself the “world’s largest entertainment platform.” Players build games for other community members using the Roblox Studio. Roblox is available for download as an app on various platforms, including smartphones, computers, tablets, and some consoles, such as the XBox One, HTC Vive, and Oculus Rift.</div><div><br></div><div>Roblox chat is filtered to prevent any personally identifiable information or inappropriate content from being shared with other users. Players have default settings based on the date of birth set on their account.</div><div><br></div><div>Players 12 years or younger have posts and chats filtered for inappropriate content and behavior, as well as personal information. Those 13 years or older can say more words and phrases than younger players, but personal information or inappropriate content remains restricted regardless of age. This system is applied to most areas of Roblox, whether public or private.</div><div><br></div><div>Roblox accounts list the age bracket of the account in the upper right corner as either 13+ or &lt;13 depending on the date of birth to help parents determine the player’s experience while in the game. This information is also displayed during game play, but it is not displayed to other players and can only be seen by the account user while they are logged in.</div><div><br></div><div>Accounts, regardless of player age, can have parental controls in place to limit or disable various chat features, including who can chat with them in a game or on the site, who can send messages, who can follow them into games, and who can invite them to VIP servers.</div><div><br></div><h2>Setting Parental Controls on Roblox</h2><div>Parents can adjust the interaction settings of their child’s account with the following steps:</div><div><br></div><ol>
<li>Log in to the account.</li>
<li>Click the <strong>gear</strong> icon, and then click <strong>Settings</strong>.</li>
<li>On the right-hand side of the <strong>Settings</strong> page, click <strong>Privacy</strong>.</li>
<li>From here, you can adjust both <strong>Contact Settings</strong> and <strong>Other Settings</strong>.</li>
<li>If your child is 12 or younger, you can choose <strong>Friends</strong> or <strong>No one</strong>. If your child is 13 or older, there are additional options for interaction with other players.</li>
</ol><div><br></div><div>Parents who want additional control should go to the <strong>Security</strong> section of the <strong>Account Settings</strong> page. Here, you can set a PIN and other account restrictions.</div><div><br></div><h2>Account PINs</h2><div>&nbsp;Users and parents can enable a 4-digit PIN which is required to make changes to the account.</div><div><br></div><h2>Account Restrictions</h2><div>Enabling account restrictions limits the account to only curated content and disables contact settings to prevent chatting.</div><div><br></div><div>Parents can see what their child is doing when logged into their account. They can see a list of creations, private message history, a list of friends and followers, and virtual item purchases and trade history. Simply navigate to the corresponding areas of the account to learn more: <strong>Create</strong>, <strong>Message</strong>s, <strong>Friends</strong>, and <strong>My Transactions</strong> respectively.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content, and the ability to access Google Fiber apps, like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls: one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guide (indicated by a red prohibition sign, or a "no" symbol), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step by step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong>.</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple TV
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Apple TV is a set-top box that connects to your TV with an HDMI cable. It connects to your home Wi-Fi network to bring the internet to your TV, and it also allows you to stream movies and music. Mac users can use AirPlay to display your Mac screen on your TV, as long as you’re connected to the same Wi-Fi network. You do not need an iPhone to use an Apple TV device, but you must have an iTunes account.<br><br>
</div><h2>Setting Parental Controls on Apple TV</h2><div>Before you can set the Apple TV parental controls, also known as restrictions, you must first create a PIN. The PIN is required for future access to Restrictions in the Settings menu. Depending on your restriction settings, you may also need to use this PIN to rent or purchase content.<br><br>To turn on Restrictions:</div><div><br></div><ol>
<li>Using the Apple TV remote, select the <strong>Settings</strong> app at the bottom of the Home Screen.</li>
<li>Then select <strong>General</strong> &gt; <strong>Restrictions</strong>.</li>
<li>Enter a 4-digit number to create your passcode, also known as your PIN. Enter them again to confirm, and select OK to continue.</li>
</ol><div><br></div><h3>Customizing restrictions</h3><div>Once Restrictions are turned on, you can customize the parental control settings however you deem appropriate. To begin, select <strong>Restrictions</strong> again to open the menu. Options vary depending on which generation of Apple TV you have, but this menu will include:</div><div><br></div><ul>
<li>
<strong>Allow:</strong> Select this option when you don't want to password-protect o restrict an app or feature.</li>
<li>
<strong>Restrict:</strong> Choose this setting for a four-digit passcode requirement for purchases, rentals, or app usage.</li>
<li>
<strong>Block</strong> or <strong>No:</strong> These options let you block content or features.</li>
<li>
<strong>Show</strong> or <strong>Yes:</strong> Choose these options when you don't want to restrict an app or feature.</li>
<li>
<strong>Hide:</strong> Select this option to hide an app or feature.</li>
</ul><div><br></div><h3>Restricting specific content</h3><div>You can also restrict specific features or content, including:</div><div><br></div><ul>
<li>
<strong>iTunes Store:</strong> Allow, Restrict, or Block. This applies to purchases, in-app purchases, and rentals.</li>
<li>
<strong>Music and Podcasts:</strong> Filter out explicit content with the “Clean” option. Filter nothing with the “Explicit” option.</li>
<li>
<strong>Siri Explicit Language:</strong> Select “Hide” to filter mature language. Select “Show” to filter nothing.</li>
<li>
<strong>Movies, TV Shows, and Apps:</strong> Select your location and filter or block content based on content or age ratings.</li>
<li>
<strong>Multiplayer Games and Screen Recording:</strong> Yes or No.</li>
<li>
<strong>AirPlay Settings, Conference Room Display, TV Provider, Background App Refresh, Remote App Pairing, and Location Services:</strong> Allow or Restrict.</li>
</ul><div><br></div><div>It’s also possible to customize your iTunes Store and App Store password preferences, so that users must enter your password to complete any purchases from either the iTunes store or the App Store.</div><div><br></div><div>Third-party channels, such as YouTube, Amazon Video, Hulu, and Netflix that are viewed through Apple TV have their own parental controls that you’ll need to set independently of the controls set on the Apple TV.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon allows parents to set up parental controls for individual devices that are connected to the network. Whenever a device is connected to a wireless network and allowed access via the password, Verizon logs the device.</div><div><br></div><div>If your child has a laptop and a phone that are connected to the Wi-Fi network, each device will be listed separately, along with any other devices that are connected to the network. Verizon also allows users to set up parameters on a device-by-device basis, meaning the devices used by children can have specific controls.</div><div><br></div><h2>Setting Up Parental Controls</h2><div>Verizon subscribers can access parental controls directly <a href="https://www.verizon.com/home/myverizon/?session=n&amp;goto=https%3A%2F%2Fwww.verizon.com%2Fforyourhome%2Febillpay%2Fbilling%2Fpaybill">here</a>. To begin the process of setting up parental controls, you will need to log into your Verizon account.</div><div><br></div><ol>
<li>Once logged into your account, click on the <strong>Parental Controls</strong> tab at the top of the screen.</li>
<li>Scroll down until you see the <strong>Networked computers/devices</strong> list.</li>
<li>Find your child's device, click on it, then click the <strong>Add</strong> button.</li>
<li>You can add multiple devices at one time or set up different settings for each device.</li>
</ol><div><br></div><h2>Blocking Specific Websites</h2><div>To block specific websites or types of sites, you will need to create rules that ensure the selected devices cannot access content that you find objectionable. You can do this by listing specific websites, as well as sites that contain particular keywords.</div><div><br></div><ul>
<li>After you've selected the devices that you want to create rules for, click on the <strong>Block The Following Websites and Embedded Keywords within a Website</strong> tab.</li>
<li>Type in the websites and keywords that you'd like to block.</li>
<li>Follow the prompts to select whether the sites and keywords should always be blocked, or only during specific times of the day.</li>
</ul><div><br></div><div>You may need to set up multiple rules based on the types of websites you are looking to block. For example, if you'd like to block social media during certain times of day, you will need to set up one rule. A separate rule must be created to block mature content permanently. You will need to follow the same steps for each individual rule you wish to set up.</div><div><br></div><h2>Limiting Your Child's Daily Access to the Internet</h2><div>You can also set up a rule that blocks your child's ability to access the internet during a specified period. For example, if you'd like your child's device to disconnect at 11 p.m., you can set perimeters to block all internet access starting at that time. You must also set a time of day that the device can once again access the internet.</div><div><br></div><ul>
<li>Follow the steps above to create a rule for your child's devices.</li>
<li>Instead of clicking on the <strong>Block the Following Websites</strong> option, click on the <strong>Block All Internet Access</strong> tab.</li>
<li>Pick the days of the week and the times of the day you'd like all internet access to be blocked.</li>
<li>
<strong>Save</strong> the rule and return to your main account page.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Firefox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Mozilla Firefox is an internet browser available for your computer and mobile devices. It does not have any built-in parental control features. However, if you change the parental controls on the computer itself, these settings can apply to the Firefox browser. It’s also possible to use third-party browser add-ons, known as <a href="https://addons.mozilla.org/en-US/firefox/search/?q=parental+control&amp;cat=all">extensions</a>, to implement parental controls.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Not Sure
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Galaxy Tab
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Samsung Galaxy Tab series is a line of tablets that uses the Android operating system. These tablets are portable, have Wi-Fi capability, and come with a variety of other features — including easy-to-use parental controls in their Kids Mode app.<br><br>
</div><h2>The Kids Mode Parental Control App</h2><div>The Samsung Galaxy Tab products are best managed with the Kids Mode app, which provides children with age-appropriate content while allowing parents to restrict access to apps and stored media content on the device. The Kids Mode app is only available on newer generations (Samsung Galaxy Tab 3 and higher). Please install the latest Android operating system update beforehand to make sure Kids Mode runs smoothly.</div><div><br></div><div>Since the Kids Mode app can be toggled on and off, you need to begin by setting up a user profile for your child on the device.</div><div><br></div><h3>Create a user profile for your child on a Samsung Galaxy Tab</h3><div>&nbsp;</div><ol>
<li>Go to the tablet’s <strong>Home</strong> screen.</li>
<li>Tap on the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Users</strong>.</li>
<li>Tap <strong>Add user or profile</strong>.</li>
<li>Tap <strong>Choose restricted profile</strong>.</li>
<li>Create a password.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><div>Once you’ve set up a user profile for your child, you can download the Kids Mode app.<br><br>
</div><h3>Download Kids Mode</h3><ol>
<li>If Kids Mode is not already on your device, open the <strong>Google Play Store</strong>.</li>
<li>Search <strong>Samsung Kids Mode</strong> to pull up the Kids Mode app, created by Samsung Electronics Co. Ltd.</li>
<li>Tap <strong>Install</strong>.</li>
</ol><div><br></div><h3>Set up Kids Mode</h3><ol>
<li>From the <strong>Home</strong> screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Enter a new four-digit PIN.&nbsp;</li>
<li>Enter your child’s name and birthday for their Kids Mode profile.</li>
<li>Tap <strong>Accept</strong> on the disclaimer.</li>
<li>Tap <strong>Skip</strong> to add apps to Kids Mode later, or <strong>Next</strong> to do it now.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><h3>Add apps using Kids Mode</h3><div>Which apps are your child allowed to use on their Samsung Galaxy Tab? That’s up to you! Decide which apps are permitted when Kids Zone is activated — you can add up 30.</div><div>&nbsp;</div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.</li>
<li>Tap <strong>Applications</strong>.</li>
<li>Tap the <strong>Add</strong> icon in the upper right-hand corner.</li>
<li>If a disclaimer appears, tap <strong>Accept</strong> to agree and continue.</li>
<li>Select the apps you’re allowing your child to use by touching the box. A green checkmark will appear on each selected app.</li>
<li>Tap <strong>Done</strong> when you’re finished.</li>
</ol><div>&nbsp;</div><div>Even without allowing access to additional apps, children using Kids Mode will automatically have access to the following apps:<br><br>
</div><ul>
<li>Kids Drawing</li>
<li>Kids Music</li>
<li>Kids Media</li>
<li>Kids Voice Recorder</li>
<li>Kids Camera</li>
<li>Kids Photo Gallery</li>
<li>Kids Store (they can view and save apps, but only parents can choose to purchase or download an app)</li>
</ul><div><br></div><h3>Create time restrictions using Kids Mode</h3><div>How long should your child be allowed to use their Samsung Galaxy Tab? You can control exactly how long they can use the device in a single day.&nbsp;</div><div><br></div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.&nbsp;</li>
<li>Select <strong>Daily playtime limit</strong>.</li>
<li>You can choose to leave it on <strong>No time limit</strong>, or you can click <strong>Time limit</strong> (default is 30 minutes per day) and tap the <strong>Settings</strong> icon to personalize the time limit in five-minute intervals (0-180 minutes).</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>