<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 6
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Discord
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Discord is a free voice, video, and text chatting app for teens and adults ages 13 and up. It was created to bring people people together who love gaming. Users playing the same game will often set up Discord groups to communicate during live gameplay.</div><div><br></div><div>Teens can access Discord via their computer, web browser, or mobile phone. Once there, they can join a chat they’ve been invited to or they can create private servers and invite their friends to play and discuss games by voice, text, or video. They can also message each other individually or in group chats with up to ten other friends.<br><br>
</div><h2>How to Block Unwanted Communications</h2><ol>
<li>From User Settings, tap <strong>Privacy &amp; Safety</strong>.</li>
<li>Turn off the <strong>Allow direct messages from server members</strong> option.</li>
<li>In this same menu, under <strong>Who can add you as a friend</strong>, deselect <strong>Everyone</strong> and <strong>Server members</strong>.</li>
</ol><div><br></div><h2>How to Block Inappropriate Content</h2><div>Discord has the ability to set an explicit content filter that will automatically detect and delete images and uploads containing explicit and inappropriate content.<br><br>
</div><ol>
<li>From <strong>User Settings</strong>, tap <strong>Privacy &amp; Safety</strong>&nbsp;</li>
<li>Check the <strong>Keep Me Safe</strong> box. This will filter out explicit content so that it’s never seen.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iCloud
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>iCloud email is Apple's cloud-based email solution, and it integrates across all iOS devices. For families with iPhones, iPads and OSX computers in their household, iCloud email is a seamless way to easily set up and access email.</div><div><br></div><div>One downside of iCloud mail is that you cannot connect sub-accounts to a primary account and access their iCloud email messages. For parents to gain full access to their children's iCloud email, a shared account is required. Apple's approach involves limiting options on the child's device directly, rather than at the account level.</div><div><br></div><div>There are definitely some benefits to the shared account approach. This streamlines the process for keeping an eye on email contacts and any messages sent by your children. As long as your children have similarly limited access on their iOS and OSX devices, you can feel confident that there aren't any email activities they can engage in that you won't be able to access.</div><div><br></div><div>The other option is to connect accounts for children under 13 to a primary account. This allows the owner of the primary account to select which applications and services on their iOS or OSX device are open for usage. This allows parents to limit or disable iCloud email access, but it does not provide the ability to read messages remotely.</div><div><br></div><h2>Two-Factor Authentication for iCloud for iOS</h2><ol>
<li>Open the <strong>Mail</strong> app.</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap the primary account name.</li>
<li>Tap <strong>Turn On Two-Factor Authentication</strong>.</li>
<li>Add the phone number(s) where you would like to receive authentication codes.</li>
<li>Tap <strong>Next</strong> to test the process and receive your code.</li>
<li>Type in the code you receive to complete the process.</li>
</ol><div><br></div><h2>Connect Accounts for Users Under 13 to a Family Sharing iCloud Account for iOS (on Phones)</h2><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap your account name.</li>
<li>Select <strong>Family Sharing</strong>.</li>
<li>Select <strong>Add Family Member</strong>.</li>
<li>Tap <strong>Create a Child Account</strong>.</li>
<li>Follow the on-screen instructions (you'll need your child's birthday and a chosen permanent name for their iCloud account).</li>
<li>When these steps are complete, select <strong>Family Sharing</strong> again.</li>
<li>Select your child's account name to manage which applications or payments they can access.</li>
<li>Tap <strong>Mail</strong> to limit usable hours or prohibit usage entirely for their iCloud email account.</li>
</ol><div><br></div><div>For supplemental information surrounding how Under 13 iCloud accounts work on all platforms, please consult Apple's official page <a href="https://support.apple.com/en-us/HT201084">here</a>.</div><div><br></div><h2>Connect Accounts for Users Under 13 to a Family Sharing iCloud Account Through OSX (on Computers)</h2><ol>
<li>Click <strong>Apple Menu</strong>.</li>
<li>Go to <strong>System Preferences</strong>.</li>
<li>Click <strong>iCloud</strong>.</li>
<li>Select <strong>Manage Family</strong>.</li>
<li>Click the <strong>+</strong> icon to add a new account.</li>
<li>Select <strong>Create an Apple ID</strong> for a child.</li>
<li>Follow the on-screen prompts for information (you'll need your child's birthday as well as a permanent name for their personal account).</li>
<li>When these steps are complete, select <strong>Manage Family</strong> again.</li>
<li>Here, you'll find options for the same limitations as the iOS version.</li>
</ol><div><br></div><div>For a deeper dive into information on all of the aspects of iCloud, please take a moment to look over their official support page <a href="https://support.apple.com/icloud">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In iCloud email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Steam
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Steam is a free gaming platform available for download onto your computer. With it, you can buy and download video games — and there are millions to choose from. While many of them are appropriate for children, there are plenty that aren’t. Fortunately, parents can take control and decide what gets downloaded.</div><div><br></div><div>Any time a person sets up a new Steam account, that account automatically gets full access to everything: the Steam store, all purchased games, and the Steam Community discussions. To prevent children from purchasing or accessing inappropriate content on the Steam platform, there is a set of parental controls available known as Family View.</div><div><br></div><div>With Family View, access to the Steam Store, Library, Community, Friends content, and other features may be granted by the entry of a secret PIN.</div><div><br></div><h2>How to Set Parental Controls on Steam</h2><ol>
<li>Login to Steam with the account your child will use.</li>
<li>Click the <strong>Steam menu</strong> in the top, and open <strong>Settings</strong>.</li>
<li>Go to the <strong>Family</strong> tab that opens on the left side of the window.</li>
<li>Click <strong>Family View</strong> to start the wizard.</li>
<li>Follow the on-screen instructions through each step of the wizard. This allows you to choose the content and features you want the child to be able to access with their account.</li>
<li>Select and confirm your new PIN.</li>
</ol><div><br></div><div>It’s worth noting that even though there is a parental control system in place, Steam still leaves vetting the games and checking the ratings to parents. Games are rated by age, but may not provide enough detail about what is actually in the game for parents to make informed decisions. This means parents will have to rely on third-party sources such as <a href="https://www.commonsensemedia.org/">Common Sense Media</a> to learn more about titles before making decisions about games and restrictions.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Five Nights at Freddy’s
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Five Nights at Freddy's is a horror video game that uses jump scares and tension tactics rather than violence and bloodshed. The game is too intense for younger children, particularly given its sensations of being trapped and defenseless.</div><div><br></div><div>It features a slew of freaky animatronic characters, whose appearances and demeanors are enough to make your skin crawl. Even teens should know what they're getting into before playing Five Nights at Freddy's. If your child is easily spooked by lifelike dolls, they may want to steer clear of this title.&nbsp;</div><div><br></div><h2>Is Five Nights at Freddy's Really That Scary?</h2><div>In Five Nights at Freddy's, you play the role of a new night security guard at Freddy Fazbear's Pizza. Your mission is to keep a watchful eye on the pizza shop's animatronic characters, who tend to wander at night. Should they find you first, you're a goner. Every move you make drains your energy reserves. If you try to run, the room goes black and you're completely defenseless.</div><div><br></div><h2>Keeping Kids Safe on Five Nights at Freddy's</h2><div>Five Nights at Freddy's is rated PG-13 for disturbing/violent content, some language, and horror. Though parents can block access to titles of a certain rating on their children's devices, the game itself does not have any in-game parental controls or limiters. There is no chat functionality.</div><div><br></div><div>If you’re concerned about your child, do not let them play it or download it. You can control this by setting parental controls on devices (PC, iOS, Android) that limit your child's access to download or access specific content.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Comcast, one of the largest cable and internet providers in the country, offers an excellent suite of parental controls through their new xFi Wi-Fi platform. Including a personalized homepage with all of the necessary activity insights, parents get useful tools like Device Pausing, Time Limits, and other advanced parental controls.<br><br>Comcast xFi is only compatible with wireless gateways that are provided by Comcast.</div><div><br></div><h2>How to Begin</h2><div>Open the Xfinity xFi app or navigate to <a href="http://www.xfinity.com/myxFi">www.xfinity.com/myxFi</a> and type in your username and password. You will then be directed to the Overview page that will show you default information about your gateway including other relevant user data, such as the recent activity of the most popular devices on your network, and your family members.</div><div><br></div><h2>Device List</h2><div>Click on the <strong>Device</strong> tab. You can see who is currently connected to your network, and you can manage family devices from this screen.</div><div><br></div><ul>
<li>
<strong>Active Devices</strong> are listed at the top of this screen with a green icon noting the connection.</li>
<li>
<strong>Inactive Devices</strong> are listed at the bottom of the screen and do not show a green icon.</li>
</ul><div><br></div><div>If this is your first time logging in, none of your devices will be customized and may appear as a long string of numbers and letters — also known as a MAC address — or it may be the device's default name (e.g. "Johns_MacBook_Air"). Personalizing the device names will allow easier access to family members and devices.</div><div><br></div><h2>Personalizing Devices</h2><div>If you have just connected a new device, or have yet to personalize any devices, there will be a prompt at the top of the Device screen that informs you of any devices waiting to be personalized.</div><div><br></div><ol>
<li>Click the <strong>Personalize</strong> button near the top of the page.</li>
<li>Click the device you want to personalize from the <strong>new devices list</strong>.</li>
<li>Here you will have the option to <strong>name your device</strong> and <strong>select a device category</strong>.<ul><li>If you are having trouble identifying the device, click on <strong>View More Device Info</strong> to see more details about the device.</li></ul>
</li>
<li>Select <strong>Continue</strong> and then <strong>Close</strong>.</li>
<li>Now that the device is personalized, you can assign it to a family member's profile.</li>
<li>Choose a family member from the list or click <strong>Create New</strong> to create a new profile.</li>
</ol><div><br></div><div>You can also create new profiles on the <strong>People</strong> menu.</div><div><br></div><h2>People</h2><div>Select <strong>People</strong> from the top menu. Here you can create new profiles, view the activity of specific family members, and manage guest profiles. In addition to the specific family member profiles, you will see these two unique profiles:</div><div><br></div><ul>
<li>
<strong>Household</strong> — This profile is a collection of devices that are used by multiple people, such as the living room TV or a printer.</li>
<li>
<strong>Guest</strong> — This profile displays all of the devices used by house guests.</li>
</ul><div><br></div><div>Neither of these profiles can be deleted and may be empty depending on your current setup.</div><div><br></div><h2>Device Pausing</h2><div>Pausing devices can be an excellent way to get everyone to the dinner table in a timely manner.</div><div><br></div><ol>
<li>To pause a device, click on a family member's name on the <strong>People</strong> page.</li>
<li>On the top right of the screen click <strong>Pause All Devices</strong>.</li>
</ol><div><br></div><div>Alternatively, you can pause one device at a time by going to the <strong>Devices</strong> page, selecting a device, and choosing <strong>Pause Device</strong>.</div><div><br></div><h2>Time Limits</h2><div>Follow these steps to begin setting time limits for your family:</div><div><br></div><ol>
<li>Navigate back to the <strong>People</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click <strong>Edit </strong>next to <strong>Bedtime Mode</strong>.</li>
<li>Here you can set time limits for both <strong>School Nights</strong> (Sun-Thurs) or <strong>Weekend Nights</strong> (Fri-Sat) separately. Select the checkbox for each section and adjust the sliders to change the time limits.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>Now your child will have official time limits for their devices, with unique bedtime modes depending on whether it is a school night or weekend night.</div><div><br></div><h2>Parental Controls</h2><div>You can control the type of content your child can access through the Parental Controls settings.</div><div><br></div><ol>
<li>Navigate yet again to the <strong>Overview</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click<strong> Edit </strong>next to<strong> Parental Controls</strong>.</li>
<li>Select the <strong>On</strong> dial.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>This parental control setting is not fully customizable, but will automatically reduce the risk of your child accessing explicit material online. The viewable material will be limited to content appropriate for all ages.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options are available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content and access Google Fiber apps like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls — one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guides (indicated by a red prohibition sign, or a "no symbol"), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step-by-step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong><em>.</em>
</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows 10
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows 10 is the latest operating system available for PCs. It allows for seamless connection between PCs, Windows phones, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h2>Setting Parental Controls on Windows 10</h2><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>