<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 7
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    ASKfm
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Founded in 2010, ASKfm is a global social networking site that allows users to ask and answer questions anonymously. On ASKfm, your child can post anonymous questions and receive replies in the form of text, photos, or videos from anyone in the world.</div><div><br></div><div>All posts are public, meaning that everyone can see them, regardless of whether they have the app or not. ASKfm currently has over 200 million registered users around the world.</div><div><br></div><h2>Concerns Surrounding ASKfm</h2><div>Because ASKfm is an anonymous social media platform, it has struggled with cyberbullying and issues with sexual content. In 2013, the app was linked to<a href="https://www.buzzfeednews.com/article/ryanhatesthis/a-ninth-teenager-since-last-september-has-committed-suicide"> several teen suicides</a>, and in a <a href="https://news.o2.co.uk/?press-release=children-reveal-riskiest-social-media-sites-new-net-aware-guide">2016 survey by NSPCC</a>, 88% of children surveyed reported seeing inappropriate content on the platform.</div><div><br></div><div>Safety concerns related to ASKfm include the following:</div><div><br></div><ul>
<li>While most questions are sincere and positive, not all are, and some users may send or request provocative photos.</li>
<li>Anonymity — which is supposed to allow users to ask and answer questions honestly — emboldens some users to post inappropriate content or engage in cyberbullying.</li>
<li>The Shoutout feature allows users communicate with users who are located geographically close to them, including total strangers who could arrange to meet up.</li>
<li>There is no way to keep ASKfm accounts private. Users cannot see who is following them, and everything they post is visible to all users.</li>
<li>ASKfm profiles can also be found on search engines like as Google Chrome. This includes background pictures as well as posts.</li>
</ul><div><br></div><h2>How to Keep Your Kids Safe on ASKfm</h2><ul>
<li>If you allow your child to use ASKfm, make sure that they are aware of the fully-public nature of the platform, as well as the other potential dangers involved with the application. And for good measure, ask them not to link their ASKfm account to their Facebook account.</li>
<li>Don’t let your child use their real first or last name as their username, or use a real photo as their profile picture.</li>
<li>Go to <strong>Settings</strong> &gt; <strong>Account</strong>, where you will find privacy options. Tap the buttons to:<ul>
<li>Change your child’s password</li>
<li>Deactivate their account</li>
<li>Allow others to share their posts</li>
<li>Allow others to subscribe to their activities</li>
<li>Allow their answers to be be shown on the Discover feed</li>
<li>Allow anonymous questions</li>
</ul>
</li>
<li>Hide incoming Shoutouts and see only direct questions by swiping the Shoutout symbol in the <strong>Incoming Questions</strong> section. Or opt out of Shoutouts altogether:<ul><li>Go to <strong>Settings</strong> &gt; <strong>Account</strong> &gt; toggle off <strong>Allow Shoutout questions</strong>.</li></ul>
</li>
<li>To block or report users for inappropriate content, click the three dots next to their question to open the menu. Tap <strong>Block</strong> or <strong>Report</strong>.</li>
<li>To delete answers your child has written, click the <strong>X</strong> next to the post.</li>
<li>To delete your child's ASKfm account and all the information associated with it:<ul><li>Contact ASKfm<a href="https://support.ask.fm/hc/en-us/articles/115008686388-How-do-I-cancel-my-ASKfm-account-"> through this form</a>, and it will take 30 days for the profile to be fully removed.</li></ul>
</li>
</ul><div><br></div><h2>In Conclusion</h2><div>Like most social media platforms, users must be at least <a href="https://support.ask.fm/hc/en-us/articles/115008827008-How-old-user-has-to-be-to-join-ASKfm-">13 years old</a> or older to sign up. If your child downloads the app when they are underaged, you can simply delete it. If they are older and have spoken to you about it, make sure that you communicate the risks and explain how your child can be protected from potentially dangerous content.</div><div><br></div><div>As technology grows increasingly complicated, the most important strategy you can take for protecting their children is to stay alert and keep open lines of communication so that children feel safe coming to you about their concerns.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Ask.Fm, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the questions/comments your child asks and the answers they receive, as well as, the questions/comments they are asked and the answers they post. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If your family subscribes to Xfinity Comcast, you will have access to the Xfinity Comcast email service. Your Xfinity email address is associated with the primary account holder and is created when you sign up for services. You will be able to create new email addresses from your account settings.<br><br>Although Xfinity Comcast's email provider doesn't technically have parental controls, there are ways to help keep your child safer while emailing.&nbsp;<br><br>
</div><h2>Using Xfinity Connect to Manage Email Accounts</h2><div>Xfinity Connect is a downloadable app that extends your Comcast services onto mobile devices (Apple and Android), allowing you to access your @comcast.net email address. This app is where the parental restrictions live.</div><div><br></div><h2>How to Change Your Child’s Display Name</h2><div>Create your child’s email account from the main Xfinity dashboard. If this is your child's first email handle, you'll most likely monitor who they exchange emails with and when. However, changing your child's display name is still a good idea to protect his or her identity online. The display name is the name that populates in the "From" field of a sent email. Using a nickname or a pseudonym is a great way of keeping your child's name from falling into the hands of spammers. Here's how to change your display name in Xfinity Connect:</div><div><br></div><ol>
<li>From your Xfinity Connect dashboard, select <strong>Preferences</strong>.</li>
<li>From the <strong>Preferences </strong>page, click<strong> Email</strong>.</li>
<li>On the <strong>Email Preferences</strong> page, you'll see a form labelled <strong>Your name on emails will be</strong>. Fill it in accordingly.</li>
</ol><div>&nbsp;</div><h2>How to Set Spam Filters</h2><ol>
<li>From your Xfinity dashboard, click the <strong>gear</strong> icon and navigate to <strong>Advanced Settings</strong>.</li>
<li>Click <strong>Enable spam filtering</strong>.</li>
<li>If you want a record of potential spam entering your child's inbox you can choose to check the <strong>Save a copy of emails marked as spam</strong> box. Otherwise, they’ll be deleted before even reaching the inbox.</li>
</ol><div><br></div><h2>How to Set an Email Safe List</h2><div>Your Comcast email account also gives you the option to set up a highly limited inbox that only allows emails from specific email addresses. This safe list allows you to control who your child emails — any messages from addresses not included on the safe list will not be delivered.</div><div><br></div><ol>
<li>Click the <strong>gear</strong> icon to navigate to<strong> Settings</strong>.</li>
<li>Click <strong>Advanced Settings</strong>.</li>
<li>Navigate to <strong>Email Safe List </strong>and input the addresses your child may receive mail from.</li>
</ol><div><br></div><h2>How to Set Incoming Email Restrictions</h2><div>Comcast's email service also includes an advanced feature that allows you to create multiple email filters. Though this is a more complicated process, it is a robust system that gives the user the power to sort through incoming email. To create a filter you will dictate the conditions that trigger the filter and the resulting action.</div><div><br></div><ol>
<li>From the<strong> Settings</strong> page, click <strong>Filter rules </strong>followed by <strong>Add new rule</strong>.</li>
<li>Add your <strong>Rule name</strong> into the provided field.</li>
<li>Click <strong>Add condition</strong> and follow the prompts (<a href="https://www.xfinity.com/support/articles/spam-filters-and-email-blocking-new-experience">more details here</a>).</li>
<li>Choose your <strong>Action</strong>.</li>
</ol><div>5. Click <strong>Save</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Xfinity/Comcast email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox One
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>XBox One is the latest console from Microsoft. With it, you can play video games, stream content from apps, chat with other players via <a href="https://support.xbox.com/en-US/xbox-one/xbox-live/connecting-to-xbox-live">XBox Live</a>, surf the web, and even watch TV (if you have a cable box to connect it to).</div><div><br></div><div>Setting parental controls on the XBox One is a somewhat complex process, but it's worth it for the level of control you’ll have for each child in your family. If you allow your children to stream content from various apps such as Hulu while on the device, the parental controls on the gaming console will override any parental controls you have set up on the individual apps, in most cases.</div><div><br></div><h2>Screen Time Limits</h2><div>To set screen time limits for your child on Xbox One and Windows 10 devices, go to <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a> and sign in with your Microsoft account. Then:<br><br>
</div><ol>
<li>Find your child's name and select <strong>Screen time</strong>.</li>
<li>If you want to use the same schedule for all devices, switch <strong>Use one screen time schedule</strong> from <strong>Off</strong> to <strong>On</strong>. If you’d rather have separate schedules, scroll down and switch screen time on for PC and Xbox One individually.</li>
<li>Set how much time your child is allowed to spend with their devices each day, and when they can use them. If you want to give them the full amount of time you’ve scheduled, select <strong>Max</strong> <strong>scheduled</strong>. (Example: If you’ve allowed screen time from 8 am to 8 pm, they could use their devices that entire time).</li>
</ol><div>
<br>To give your kids a heads up on Xbox when their screen time is running out:<br><br>
</div><ol>
<li>Press the <strong>Xbox </strong>button on the controller.</li>
<li>Select <strong>System</strong> &gt; <strong>Settings </strong>&nbsp;&gt; <strong>Preferences</strong> &gt; <strong>Notifications</strong> &gt; <strong>Xbox Notifications </strong>&gt; <strong>System</strong> and make sure <strong>System notifications on</strong> is selected.</li>
</ol><div>
<br>Screen time counts down when a child is signed in, so if they’re not actively using their console, have them sign out.</div><div><br></div><h2>Age Limits for Accessing Content</h2><div>To ensure your kids have access to only family-friendly games, apps, TV shows, and movies on their Xbox One, you can choose from preset recommendations by age. To do this:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button to open the guide, and then go to <strong>System &gt; Settings &gt; Account &gt; Family settings</strong>.</li>
<li>Select <strong>Manage family members</strong>, and then select the child account you want to update.</li>
<li>Under <strong>Access to content</strong>, choose the desired age-level restriction. (By default, your child’s restrictions will be set to the age associated with their Microsoft account).</li>
</ol><div>
<br>When your child asks to use a blocked app or game that’s rated above their content restrictions, you can approve it by signing in with your passkey and selecting <strong>Always</strong> or <strong>Just this once</strong>.<br><br><br>
</div><h2>Customize Privacy Settings</h2><div>You can prevent your child from playing with strangers in the privacy settings. To ensure your child is only playing with people they know, or turn off voice chat and unprompted communication:<br><br>
</div><ol>
<li>Click <strong>Settings</strong>
</li>
<li>Click <strong>All Settings</strong>
</li>
<li>Click <strong>Account</strong>
</li>
<li>Click <strong>Family</strong>
</li>
<li>Customize your privacy settings&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Mute or Block Players</h2><div>If you don't want to hear or be contacted by specific players on Xbox One, you can mute them or block their communications with you. If you believe that the player has violated the Microsoft Services Agreement or Code of Conduct, you may also wish to <a href="https://enforcement.xbox.com/Home/HowTo#sub-topic2-0">file a complaint</a>.<br><br>
</div><h3>Mute another player</h3><div>If another player engages in abusive or inappropriate in-game or chat voice communications, you can mute that player. This prevents them from speaking to you in-game or in a chat session. To mute another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to mute. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player’s profile, select <strong>Mute</strong>.</li>
</ol><div>
<br>To unmute a player, follow the same steps to get to the player’s profile, and then select <strong>Unmute</strong>.<br><br>
</div><h3>Block another player</h3><div>Blocking another player prevents you from receiving that player’s messages, game invites, and party invites. It also prevents the player from seeing your online activity and removes them from your friends list, if they were on it. To block another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to block. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player's profile, select <strong>Report or Block</strong>, and then select <strong>Block</strong>.</li>
</ol><div>
<br>To unblock a player, follow the same steps to get to the player’s profile, and then select <strong>Unblock</strong>.<br><br>
</div><h3>Block another player's messages</h3><div>You can also block a player after receiving an offensive or inappropriate message. Here's how:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide, and then go to <strong>Communication </strong>&gt;<strong> Conversations</strong>.</li>
<li>Select the message from the player you want to block.</li>
<li>Select <strong>More </strong>&gt;<strong> View profile </strong>&gt;<strong> Report or block </strong>&gt;<strong> Block</strong>.</li>
</ol><div><br></div><h2>Copilot on XBox One</h2><div>Copilot links two controllers so you can use them as if they were one controller. The person who turns on Copilot for their controller is the pilot, and the pilot gets all achievements and gamerscore. To turn on Copilot:<br><br>
</div><ol>
<li>Connect a second controller to the Xbox for the copilot. The copilot can sign in or not — achievements and gamerscore don't go to this player.</li>
<li>Using the pilot's controller, press the <strong>Xbox</strong> button to open the guide, then select <strong>System</strong> &gt; <strong>Settings</strong> &gt; <strong>Ease of Access</strong> &gt; <strong>Controller</strong>.</li>
<li>Choose <strong>Copilot settings</strong>, then select <strong>Turn on Copilot</strong>.</li>
<li>Select the copilot controller.</li>
</ol><div>
<br>The controllers are now linked, and both controllers have full control. When you start a game, you can use either controller however you like.<br><br>To turn off Copilot, go back to the Copilot settings and select <strong>Turn off Copilot</strong>.<br><br>
</div><h2>Preventing Unauthorized Purchases</h2><div>To help prevent unauthorized purchases from your console, you can set it to ask for the password every time you buy something.<br><br>
</div><ul>
<li>Select <strong>System </strong>&gt; <strong>Settings</strong> &gt; <strong>Account</strong> &gt; <strong>Sign-in, security &amp; passkey</strong>. To help protect your account, you may be asked to enter your password.</li>
<li>Select <strong>Change my sign-in &amp; security preferences</strong>.</li>
<li>Scroll right and select <strong>Customize</strong>.</li>
<li>Scroll right and select <strong>Ask for my passkey to make purchases</strong>.</li>
<li>Select <strong>Passkey required</strong>.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Five Nights at Freddy’s
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Five Nights at Freddy's is a horror video game that uses jump scares and tension tactics rather than violence and bloodshed. The game is too intense for younger children, particularly given its sensations of being trapped and defenseless.</div><div><br></div><div>It features a slew of freaky animatronic characters, whose appearances and demeanors are enough to make your skin crawl. Even teens should know what they're getting into before playing Five Nights at Freddy's. If your child is easily spooked by lifelike dolls, they may want to steer clear of this title.&nbsp;</div><div><br></div><h2>Is Five Nights at Freddy's Really That Scary?</h2><div>In Five Nights at Freddy's, you play the role of a new night security guard at Freddy Fazbear's Pizza. Your mission is to keep a watchful eye on the pizza shop's animatronic characters, who tend to wander at night. Should they find you first, you're a goner. Every move you make drains your energy reserves. If you try to run, the room goes black and you're completely defenseless.</div><div><br></div><h2>Keeping Kids Safe on Five Nights at Freddy's</h2><div>Five Nights at Freddy's is rated PG-13 for disturbing/violent content, some language, and horror. Though parents can block access to titles of a certain rating on their children's devices, the game itself does not have any in-game parental controls or limiters. There is no chat functionality.</div><div><br></div><div>If you’re concerned about your child, do not let them play it or download it. You can control this by setting parental controls on devices (PC, iOS, Android) that limit your child's access to download or access specific content.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Charter
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Charter Communications recently underwent a merger with Time Warner and Bright House Networks. They are now all the same company: Spectrum. What follows are the parental controls for Spectrum's internet and TV services.<br><br>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. You will have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com&nbsp;</li>
<li>Spectrum TV channel apps.&nbsp;</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users:</div><div><br></div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong> and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users:<strong><br></strong><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for Preferences will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable parental controls. You might need to select the <strong>lock</strong> icon on the <strong>Parental Control</strong> window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block.</li>
</ol><div>NOTE: You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your <strong>Parental Control</strong> and <strong>Browser Protection</strong> settings. If a website is added to the website exception list, it won't be blocked for any reason.</div><div><br></div><h2>Parental Control Features</h2><div>Once in the Security Suite, you can turn on and adjust settings for the features detailed below.</div><div><br></div><h3>Content blocker</h3><div>Restrict access to sites based on content or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.&nbsp;</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.&nbsp;</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.&nbsp;</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under <strong>Channel blocks</strong>, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Prime
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Prime Video is a video streaming service that is included free as part of your Amazon Prime membership. This allows members to watch thousands of movies and TV shows for free.</div><div><br></div><div>Amazon Prime Video is available on web browsers and has an app that can be downloaded on various streaming devices, including Roku, XBox One, Playstation 4, and Nintendo Wii U. It can also be accessed on smartphones and tablets.</div><div><br></div><h2>Amazon Prime Parental Control Settings</h2><h3>How to create an Amazon Video PIN</h3><div>To enable parental controls, Amazon Prime Video requires you to first create a PIN for your account. The PIN will serve to lock kids out from restricted content.</div><div><br></div><ol>
<li>Make sure you’re logged in to your Amazon account from a web browser.</li>
<li>In the top right corner, click <strong>Hello [your name] Account &amp; Lists</strong>.</li>
<li>When the drop down opens, click <strong>Your Account</strong>.</li>
<li>Scroll down a little bit and on the left-hand side, in the <strong>Digital Content and Devices</strong> box, click <strong>Video Settings</strong>.</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>At the top of the page, set your PIN and click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Rating categories</h3><div>Amazon Prime Video follows the same ratings guidelines as the Motion Picture Association of America and TV Parental Guidelines to determine the parental controls rating categories. Ratings are combined into levels with recommended audiences — General, Family, Teen, and Mature — to assist with setting viewing restrictions on devices.</div><div><br></div><h3>How to set viewing restrictions</h3><div>Viewing restrictions allow you to take your parental controls one step further so you can block playback of movies and TV shows based on their rating category. You can choose the ratings categories you want to restrict, and on which registered devices you want to apply the restrictions.</div><div><br></div><div>NOTE: Restrictions for Fire Devices and Xbox One must be set on the device, and cannot be controlled from your Amazon account.</div><div><br></div><ol>
<li>While on the <strong>Parental Controls</strong> screen, scroll down from where you set the PIN to set viewing restrictions.</li>
<li>Select the ratings categories you want to restrict.</li>
<li>Continue scrolling to select the devices to which you want to apply the restrictions.</li>
</ol><div><br></div><div>Once viewing restrictions are set, a <strong>lock</strong> symbol appears next to any titles with ratings in the restricted categories. If anyone tries to watch one of the titles, they will be required to enter the video PIN before playback begins.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Comcast, one of the largest cable and internet providers in the country, offers an excellent suite of parental controls through their new xFi Wi-Fi platform. Including a personalized homepage with all of the necessary activity insights, parents get useful tools like Device Pausing, Time Limits, and other advanced parental controls.</div><div><br></div><h2>How to Begin</h2><div>Open the Xfinity xFi app or navigate to <a href="http://www.xfinity.com/myxFi">www.xfinity.com/myxFi</a> and type in your username and password. You will then be directed to the Overview page that will show you default information about your gateway.</div><div><br></div><h2>Device List</h2><div>Click on the <strong>Device</strong> tab. You can see who is currently connected to your network, and you can manage family devices from this screen.</div><div><br></div><ul>
<li>
<strong>Active Devices</strong> are listed at the top of this screen with a green icon noting the connection.</li>
<li>
<strong>Inactive Devices</strong> are listed at the bottom of the screen and do not show a green icon.</li>
</ul><div><br></div><div>If this is your first time logging in, none of your devices will be customized and may appear as a long string of numbers and letters — also known as a MAC address — or it may be the device's default name (e.g. "Johns_MacBook_Air"). Personalizing the device names will allow easier access to family members and devices.</div><div><br></div><h2>Personalizing Devices</h2><div>If you have just connected a new device, or have yet to personalize any devices, there will be a prompt at the top of the Device screen that informs you of any devices waiting to be personalized.</div><div><br></div><ol>
<li>Click the <strong>Personalize</strong> button near the top of the page.</li>
<li>Click the device you want to personalize from the <strong>new devices list</strong>.</li>
<li>Here you will have the option to <strong>name your device</strong> and <strong>select a device category</strong>.<ul><li>If you are having trouble identifying the device, click on <strong>View More Device Info</strong> to see more details about the device.</li></ul>
</li>
<li>Select <strong>Continue</strong> and then <strong>Close</strong>.</li>
<li>Now that the device is personalized, you can assign it to a family member's profile.</li>
<li>Choose a family member from the list or click <strong>Create New</strong> to create a new profile.</li>
</ol><div><br></div><div>You can also create new profiles on the <strong>People</strong> menu.</div><div><br></div><h2>People</h2><div>Select <strong>People</strong> from the top menu. Here you can create new profiles, view the activity of specific family members, and manage guest profiles. In addition to the specific family member profiles, you will see these two unique profiles:</div><div><br></div><ul>
<li>
<strong>Household</strong> — This profile is a collection of devices that are used by multiple people, such as the living room TV or a printer.</li>
<li>
<strong>Guest</strong> — This profile displays all of the devices used by house guests.</li>
</ul><div><br></div><div>Neither of these profiles can be deleted and may be empty depending on your current setup.</div><div><br></div><h2>Device Pausing</h2><div>Pausing devices can be an excellent way to get everyone to the dinner table in a timely manner.</div><div><br></div><ol>
<li>To pause a device, click on a family member from the <strong>People</strong> page.</li>
<li>On the top right of the screen click <strong>Pause All Devices</strong>.</li>
</ol><div><br></div><div>Alternatively, you can pause one device at a time by going to the <strong>Devices</strong> page, selecting a device, and choosing <strong>Pause Device</strong>.&nbsp;</div><div><br></div><h2>Time Limits</h2><div>Follow these steps to begin setting time limits for your family:</div><div><br></div><ol>
<li>Navigate back to the <strong>People</strong> page and click on a family member.</li>
<li>Underneath the <strong>Recent Activity</strong> section, click <strong>Edit </strong>next to <strong>Bedtime Mode</strong>.</li>
<li>Here you can set time limits for both <strong>School Nights</strong> (Sun-Thurs) or <strong>Weekend Nights</strong> (Fri-Sat) separately. Select the checkbox for each section and adjust the sliders to change the time limits.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>Now your child will have official time limits for their devices, with unique bedtime modes depending on if it is a school night or weekend night.</div><div><br></div><h2>Parental Controls</h2><div>You can control the type of content your child can access through the Parental Controls settings.</div><div><br></div><ol>
<li>Navigate to the <strong>Overview</strong> page and click on a family member.</li>
<li>Underneath the <strong>Recent Activity</strong> section, click<strong> Edit </strong>next to<strong> Parental Controls</strong>.</li>
<li>Select the <strong>On</strong> dial.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>This parental control setting is not fully customizable, but it will automatically reduce the risk of your child accessing explicit material online. The viewable material will be limited to content appropriate for all ages.</div><div><br></div><div>Comcast xFi is only compatible with wireless gateways that are provided by Comcast.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>