<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Oreo – 8.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android Oreo</strong>, which is version 8.0 - 8.1.0. This is a fairly recent version of Android and was released on August 21, 2017.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 8.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Under <strong>Set Content Restrictions</strong>, you should see three options:<ul>
<li>
<strong>Apps &amp; Games:</strong> Choose which apps and games your child can access, including whether or not they can access unrated items.</li>
<li>
<strong>Movies:</strong> Restrict purchases or playback depending on a movie’s rating.</li>
<li>
<strong>Music: </strong>Block explicit songs and protect unwanted purchases.</li>
</ul>
</li>
</ol><div>
<br><em>REMINDER: Not all apps have age ratings, so make sure to talk to your child about the types of content you allow.<br></em><br>
</div><h3>Preventing in-app purchases</h3><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h3>Create a restricted profile</h3><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Users</strong> (if you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limited data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle “<strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S10
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S10 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S10 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S10 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.<br><br>
</div><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>From the Mobile section, tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Toggle the <strong>Limit mobile data usage</strong> switch on.</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set</strong>.</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>From the Mobile section, toggle the <strong>Alert me about data usage</strong> switch on.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Set Data </strong>warning to turn on.</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>AT&amp;T rises to the occasion in terms of the services they provide for families. Previously, their parental controls were provided under their AT&amp;T Smart Limits plan. However, as of November 26th, 2018, the plan has been retired and families are now transferred into the <a href="https://www.att.com/features/secure-family-app.html">new Secure Family app</a> that brings all the helpful features of Smart Limits and more to a centralized and easy-to-use location for parents.</div><div><br></div><h2>What Is Included in AT&amp;T Secure Family?</h2><div>Secure Family is an upgraded version of the old parental controls, packaged into one handy app. Unlike other service providers that charge separate fees for different parental control services, Secure Family includes pretty much everything you want for one flat fee of $7.99 per month for up to 10 lines.</div><div><br></div><div>Features included in Secure Family include:</div><div><br></div><ul>
<li>
<strong>Location Tracking </strong>– Need to find any member of the family on your plan? You can on an interactive map.</li>
<li>
<strong>Location Alerts </strong>– Every time a child arrives at a place they're supposed to be – such as home or school – you can receive an alert. You can also schedule alerts to find out where your child is at certain times of the day as well.</li>
<li>
<strong>Location History </strong>– Busy working but want to know where your child was? You can check their location history.</li>
<li>
<strong>Pause Internet </strong>– Stop all internet connectivity to keep your child doing homework instead of watching cat videos on YouTube.</li>
<li>
<strong>Content Filter</strong> – Allows for custom and age-appropriate recommendations for content parents should block.</li>
<li>
<strong>Time Limits </strong>– Manage your child's time on the internet so they might go outside once in a while.</li>
<li>
<strong>Block In-App Purchases</strong> – Don't be a victim of that old horror story by preventing your child from accidentally spending thousands on in-app purchases.</li>
</ul><div><br></div><div>The app can be used to monitor either Apple devices (iPhone or iPad) that are iOS10 or higher, or Android smartphones or tablets that are Android 5.0 or higher. Devices must also be on the same postpaid AT&amp;T wireless account and have SIM cards installed.</div><div><br></div><div>The one thing that is missing from the old Smart Limit plan is the ability to block numbers and limit phone activity during certain times. Both of these abilities have been moved to the free <strong>AT&amp;T Call Protect</strong> app. With it, you can block certain numbers from calling or texting individuals on your plan, as well as limit times when children can receive calls or texts.</div><div><br></div><h2>Setting Up AT&amp;T Secure Family</h2><div>The best part of AT&amp;T's parental controls is perhaps how easy it is. As their new service is an app, you can activate and use it right now from your smartphone. It will be accessible for anyone with an activated phone and the AT&amp;T login credentials for your plan. After confirming payment, you can set up restrictions for each family member using your own phone.</div><div><br></div><div>In the app, parental controls all begin by selecting a user from the family map interface. You will see pictures representing each member of your whole family on the map. You simply need to select the picture to begin setting specific controls.</div><div><br></div><div><strong>Blocking Content</strong></div><ul>
<li>Select the specified family member.</li>
<li>Select <strong>Content Filters</strong>
</li>
<li>You will have a choice of blocking all or some "objectionable" content, which consists of AT&amp;T's own recommendations. You can also block certain Social Media sites, Games, and Messaging services.</li>
</ul><div><br></div><div><strong>Disabling In-App Purchases</strong></div><ul>
<li>Choose the specified family member.</li>
<li>Once selected, there will be a bar on their page where you can disable in-app purchases.</li>
<li>Once <strong>Off</strong> is selected, you are given an option to limit the amount they can spend. If complete disabling is desired, put <strong>0</strong> in the text field.</li>
</ul><div><br></div><div><strong>Pausing The Internet</strong></div><ul>
<li>Select desired family member.</li>
<li>A large blue pause button is prominently displayed over their map location and picture. Tap to pause the internet.</li>
<li>Tap again to resume internet service.</li>
</ul><div><br></div><div><strong>Setting Time Limits</strong></div><ul>
<li>Select desired family member.</li>
<li>On their page, select <strong>Schedule</strong>.</li>
<li>From there, you can set certain "on" times in which internet and mobile service will work.</li>
<li>You can set specific time limits for apps on your child's phone as well as the time they can spend in an internet browser.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    GroupMe
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The GroupMe app is a messaging app owned by Microsoft. Users sign up with their Facebook, Microsoft/Skype, phone number, or email address, and are then able to send private or group messages to other users. It works across platforms; all you need is a device (iPhone, Android, computer, tablet) and Wi-Fi or data to get connected.</div><div><br></div><div>GroupMe is primarily a group chatting app, but there is also the option for direct messaging between individuals.</div><div><br></div><h2>Safety Concerns With GroupMe</h2><ol>
<li>
<strong>Location tracking:</strong> Users can opt in to a geo-tracking feature, which allows them to engage in conversations with strangers. Nearby GroupMe users can view the name and profile picture of people close by, and they can initiate messages with one another. This is a concern because it gives potential predators a direct way to communicate with kids.</li>
<li>
<strong>Inability to fully delete old messages:</strong> There is no option to delete old messages, so if a user posts something they later regret, there's no way to undo it. Messages may be “hidden,” but they don’t disappear entirely. This inability to undo an action may be concerning.</li>
<li>
<strong>Access to inappropriate GIFs and emojis:</strong> Users are able to see and use content that parents might find objectionable. There are sexually explicit images, GIFs, and video clips. Many of these also allow users to follow the source link, which could then lead to even more inappropriate content. GroupMe does not offer a way to filter out this content.</li>
<li>
<strong>Reports of bullying:</strong> Because GroupMe is set up for group use, it's easy to see how these groups can encourage the formation of cliques. There have been many reports of bullying within the app.</li>
</ol><div><br></div><h2>How to Block Someone&nbsp;</h2><div>You can block people from contacting you or adding you into any groups. You cannot delete GroupMe contacts.<br><br>1. In the main menu, select <strong>Contacts</strong>.<br> 2. Select the contact you want to block, then select <strong>Block</strong>.<br> 3. In the confirmation window, select <strong>Yes</strong> or <strong>Block</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On GroupMe, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors your child's group messages and private messages, including images and media associated with each. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Gmail
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Gmail is a free email service developed by Google. Users can access Gmail on the web, tablets, and smartphones as well as with third-party programs that synchronize email content.&nbsp;</div><div><br></div><div>Email accounts may seem relatively harmless, but kids as young as five often have their own email address for their online activities. It is nearly impossible to create an online profile without an email address. That said, an unchecked email address is a potential access point for your child to correspond with people you do not know.</div><div><br></div><h2>For Kids Under 13</h2><div>For children under 13, Google Accounts will need to be created with an app called Family Link, which you can also use to supervise their Google Accounts.<br><br>
</div><h3>How to create a Google Account for children under 13</h3><ol>
<li>Download the <strong>Family Link</strong> app.</li>
<li>Open the <strong>Family Link</strong> app.</li>
<li>In the top right, tap <strong>Create </strong>or <strong>+</strong>.</li>
<li>Follow the instructions on screen to create your child’s account.</li>
<li>When you're done, a confirmation will show on the screen.<br><br>
</li>
</ol><h3>How Gmail accounts are different for kids under 13</h3><div>For the most part, Gmail will be the same for children as it is for adults. There are only a few Gmail features that aren't available to children under 13.<br><br>
</div><ul>
<li>
<strong>Ads:</strong> Google won't serve ads in Gmail or process Gmail messages for advertising purposes.</li>
<li>
<strong>Automatic forwarding:</strong> Children can't automatically forward emails to another email address.</li>
<li>
<strong>Gmail offline:</strong> If their device isn't connected to the internet, children can’t read, send, or search their Gmail emails.</li>
<li>
<strong>Google+:</strong> Children can't use any Google+ features available in Gmail.</li>
<li>
<strong>Labs:</strong> Children can’t turn on experimental Gmail features.</li>
<li>
<strong>Mail delegation:</strong> Children can't give someone else access to read, send, or delete their emails.&nbsp;</li>
<li>
<strong>Spam:</strong> If Gmail identifies an email as spam, it won't get delivered to your child's inbox or spam folder.</li>
</ul><div><br></div><h2>For Kids Over 13</h2><h3>How to create filters&nbsp;</h3><div>When setting up a Gmail account for a child, it is best to set up filters to ensure they do not receive unwanted emails. The filter setting limits who can contact your child via email. If you'd like to add more people to the filter, you can do so from the accounts settings.</div><div>&nbsp;</div><ol>
<li>Sign into your child's Gmail account.</li>
<li>Click on the <strong>gear icon</strong> in the top right corner.&nbsp;</li>
<li>Click <strong>Settings</strong>.</li>
<li>Click on the <strong>Filters and Blocked Addresses </strong>tab.</li>
<li>Click <strong>Create a New Filter </strong>and follow the prompts to create a custom filter.</li>
<li>Opt to have the emails that don't fit into the filter deleted, rather than sent to spam to ensure your child cannot access them.</li>
</ol><div><br></div><h3>How to check your child's email from your account</h3><div>As an added layer of protection, you can choose to receive and view your child's email on your account. Adding an account is not the same as email forwarding. The messages will remain in your child's inbox, but give you access to the messages via separate folders.&nbsp;</div><div><br></div><ol>
<li>Enter the <strong>Settings </strong>section of your own Gmail account using the<strong> gear icon</strong> at the top of the inbox.&nbsp;</li>
<li>Click on the <strong>Accounts and Import</strong> tab.&nbsp;</li>
<li>Click on <strong>Add Account</strong>.&nbsp;</li>
<li>Enter the email address and password that you would like to import.</li>
<li>The added account should be your child's email account.</li>
</ol><div><br></div><h3>How to block an email address from contacting your child</h3><ol>
<li>Open the offending email.&nbsp;</li>
<li>In the top right of the message, click <strong>More</strong>.</li>
<li>Then, click <strong>Block [sender]</strong>.</li>
<li>If you blocked someone by mistake, you can unblock them using these same steps.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Gmail, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments and gmail chats they send and receive. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    PS4
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Sony Playstation 4 (PS4) encompasses more than just video gaming — users can stream music, movies, and TV, as well as browse the web. Because of this, the PS4 can create potentially harmful situations for children, so it’s important to monitor and restrict access to inappropriate content.</div><div><br></div><h2>Sony's Video Game Rating System</h2><div>All PS4 video games hold ratings based on the criteria and judgment of the Entertainment Software Rating Board (ESRB). The most common of these ratings include "E" for games appropriate for everyone, "T" for content acceptable for most teenagers, and "M" for content deemed appropriate only for mature players.</div><div><br></div><div>It is important to remember that the ESRB rating system provides only a general idea of a video game's content. While this can help parents determine what games are appropriate for their children, parents are greatly encouraged to research and review games before purchasing to determine the content they'd like their children to access.</div><div><br></div><div>A simple breakdown of how to use ESRB ratings in conjunction with Sony's parental controls (which use numbers 1-11) include:</div><div><br></div><ul>
<li>Level 0: ESRB RP - RATING PENDING</li>
<li>Level 2: ESRB EC - EARLY CHILDHOOD</li>
<li>Level 3: ESRB E - EVERYONE</li>
<li>Level 4: ESRB E10+ - EVERYONE 10+</li>
<li>Level 5: ESRB T - TEEN</li>
<li>Level 9: ESRB M - MATURE</li>
<li>Level 10: ESRB AO - ADULTS ONLY</li>
</ul><div><br></div><h2>Setting Up PlayStation 4 Parental Controls</h2><div>Sony provides parental control options to help ensure the safety and security of children. Before establishing other parental controls, Sony recommends that you set a system restriction passcode. This allows you to alter and adjust your settings later and prevents others from accessing and changing the restrictions you put in place.<br><br>
</div><h3>How to set a system restriction passcode</h3><ol>
<li>Access the PlayStation's main <strong>Settings</strong> menu, then select <strong>Parental Controls/Family Management.&nbsp;</strong>
</li>
<li>Navigate to <strong>PS4 System Restrictions</strong>. Before setting a custom passcode, you'll need to enter the default code <strong>("0000")</strong>.&nbsp;</li>
<li>Choose a passcode that is simple for you to remember.</li>
</ol><div><br></div><div>After setting up your own system restriction passcode, you'll be able to set up other parental controls on your console, including by each individual user if you have multiple children.<br><br>
</div><h3>How to implement parental controls on PS4</h3><ol>
<li>From the PlayStation's main <strong>Settings</strong> menu, select the <strong>Parental Controls/Family Management</strong> menu.</li>
<li>Select the child account you'd like to manage. We recommend that you create an individual account for each PlayStation user to allow for multiple control options; an older child can access games and other content acceptable for older users, while younger children in the same household can only access content appropriate for younger children.</li>
<li>Choose from the following what you’d like to restrict:</li>
</ol><ul>
<li>
<strong>Restrict games by age level:</strong> Using the system explained above, prevent access to certain games and applications based on Sony's rating system (1-11).</li>
<li>
<strong>Restrict Blu-rays and DVDs:</strong> Restrict the use of Blu-ray discs or DVDs.</li>
<li>
<strong>Restrict internet access: </strong>Through the PlayStation 4's default settings, access to the internet browser can be completely disabled for all websites.</li>
<li>
<strong>Restrict communication with other players:</strong> Setting this parental control prevents communications from other PlayStation players. Chat, messages, friend requests, and game invites will not be received by restricted accounts.</li>
<li>
<strong>Age filtering for PlayStation store content:</strong> Hide games and game features based on your child's age.</li>
<li>
<strong>Restrict use of internet browser:</strong> You can completely disable the PS4’'s Internet Browser from launching.</li>
</ul><div><br></div><h3>How to disable guest profile creation</h3><div>Disabling the creation of guest profiles or additional profiles is important, because this is a popular workaround for kids who want to bypass the set parental controls. Here's how to prevent that:<br><br>
</div><ol>
<li>On your PS4 system, log in as the family manager and navigate to <strong>Settings</strong>.</li>
<li>Next, select <strong>Parental Controls/Family Management</strong>. Then, select <strong>PS4 System Restrictions</strong>.</li>
<li>You'll need to enter the system restriction passcode. If you haven't set this yet, the default is <strong>0000</strong>.</li>
<li>Select <strong>New User Creation and Guest Login</strong> and select <strong>Not Allowed</strong>.</li>
<li>Sony recommends selecting <strong>Change System Restriction Passcode </strong>and changing it to a memorable 4-digit code to prevent other users from gaining access to the parental controls.</li>
<li>When you're done, your changes will be saved automatically.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Stardew Valley
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Stardew Valley is a farming simulation role-playing video game originally released in 2016, in which the player's character takes over their grandfather's farm in a place called Stardew Valley. The gameplay is colorful and generally peaceful, although the player can battle some monsters, like slimes, in the mines. It is currently rated <a href="http://www.esrb.org/ratings/Synopsis.aspx?Certificate=34835&amp;Title=Stardew+Valley">Everyone 10+</a>.</div><div>&nbsp;</div><div>Until this year, players could only play by themselves, which meant that it was a fairly safe game for children to play. But in 2018, a four-player cooperative option was added to the Windows version, with plans for adding a cooperative version to the other platforms soon.</div><div>&nbsp;</div><div>Stardew Valley is available on several platforms: computers or laptops running Microsoft Windows, OS X, or Linux, PlayStation 4, PlayStation Vita, Xbox One, and Nintendo Switch.<br><br>
</div><h2>Parental Controls</h2><div>Stardew Valley doesn't currently feature anything that resembles parental controls, but you can use the parental controls on the various platforms it operates on to monitor your child's gameplay.<br><br>
</div><h2>In-Game Chats</h2><div>In order to engage in the cooperative multiplayer, each player must purchase their own copy of Stardew Valley and already have it downloaded on their computer. One player sets up as a host and the other three join in. They work on one farm together and can chat in-game. In multiplayer mode, there is a chance that your child could communicate with adults. The chat cannot be disabled, unfortunately.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Cox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Cox Communications offers several features to help parents keep an eye on their kids' internet activity. Here is a complete guide to the best parental controls for Cox Communications customers.</div><div><br></div><h2>Controls for Internet Access</h2><div>Parental control features are free for Cox High-Speed Internet customers as part of your Cox Security Suite Powered by McAfee®. Parental controls allow you to customize safety features based on your child's age and your family values.</div><div><br></div><div>Cox Security Suite allows customers to do the following:</div><div><br></div><ul>
<li>Control children's time spent online</li>
<li>Restrict access to age-appropriate websites only</li>
<li>Give older children some freedom by blocking access to categories of websites, like sites dealing with gambling, dating, or alcohol</li>
<li>Block specific websites for older children, allowing access to most of the internet</li>
<li>Receive daily email reports about your child's online activity, including time spent and websites visited</li>
</ul><div><br></div><h2>Cox Security Suite Settings</h2><div>Cox Security Suite is compatible with Windows computers and Mac computers as well as Android and Apple devices.</div><div><br></div><div>To download Cox Security Suite for Windows:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>Your personalized McAfee <strong>My Account</strong> page displays. From the McAfee My Account page, click <strong>PC</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: If you are using a non-Microsoft browser, make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>On the Installer File pop-up window that displays, click <strong>Open</strong>.</li>
<li>Select either <strong>Complete Install</strong> or <strong>Custom Install</strong>, then click <strong>Next</strong>.<br>NOTE: Custom Install allows you to select specific features if you do not want to install all features.</li>
<li>A pop-up may display asking you to allow this program to make changes. Click <strong>Yes</strong> to allow these changes.</li>
<li>The download process begins. Once complete, your computer is protected.<br><br>
</li>
</ol><div>To download Cox Security Suite for Mac:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>From the McAfee <strong>My Account</strong> page, select <strong>Mac</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: Make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>Complete the following:<ol>
<li>Click <strong>Download</strong>.</li>
<li>Click <strong>Open</strong>.</li>
<li>Enter your Mac administrator Username and Password.</li>
<li>Enter the serial number provided.</li>
<li>Click <strong>Next</strong>.</li>
</ol>
</li>
<li>Once the download is complete, click <strong>Finish</strong>. A confirmation pop-up displays to install WebAdvisor.</li>
<li>Select the desired option to complete your installation.</li>
<li>Click <strong>Install</strong>. The WebAdvisor is downloaded and installation is complete.<br><br>
</li>
</ol><div>Begin by downloading and installing the software as described <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html">here</a>. Once the Cox Security Suite software is installed on your device, you’ll have access to these easy-to-use parental control tools.</div><div><br></div><div>To download Cox Security Suite for a smartphone/tablet:</div><div>
<br>It’s recommended to begin this process on a computer. Click <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html#download">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</div><div><br></div><ol>
<li>Sign in with your Cox Primary User ID and Password.</li>
<li>From the McAfee My Account page, click <strong>Mobile</strong> from the drop-down, then click <strong>Send Link</strong>.<br><br>
</li>
</ol><h3>Web &amp; Email Protection</h3><div>To change your firewall and anti-spam settings, follow these steps:</div><div><br></div><ol>
<li>Open the <strong>Cox Security Suite Plus Console</strong> by double-clicking the <strong>McAfee icon</strong> on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the <strong>Navigation</strong> tab to view features and navigate to <strong>Web &amp; email protection</strong>.</li>
<li>Click <strong>Firewall</strong> to toggle your firewall on or off or create new settings.</li>
<li>Click <strong>Anti-spam</strong> to toggle spam management on or off.</li>
</ol><div><br></div><h3>Parental Controls</h3><div>The Cox Security Suite offers basic parental controls for your PC.</div><div><br></div><ol>
<li>Open the Cox Security Suite Plus Console by double-clicking the McAfee icon on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the Navigation tab to view features and navigate to Parental Controls.</li>
<li>Next to <strong>Administrative Password</strong>, click <strong>Set</strong> to save a new password.</li>
<li>Click <strong>Edit</strong> next to <strong>Protect Your Family</strong> to customize your settings.</li>
<li>At the bottom of the page, you’ll see a <strong>Parental Controls Report</strong> that allows you to see whether your protected devices tried to view blocked content.</li>
</ol><div><br></div><h3>Privacy Settings for Mobile Devices</h3><div>Your Cox Security Suite also offers basic protection for Android and Apple phones and tablets.</div><div><br></div><ol>
<li>Log in to your <strong>McAfee Mobile Security</strong> center.</li>
<li>Click <strong>Privacy</strong>.</li>
<li>Tap the <strong>&gt;</strong> next to a profile to adjust settings.</li>
<li>Tap the box next to each app or website that is allowed for the profile.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Tap the circle next to the profiles name and tap <strong>Activate</strong>.</li>
</ol><div><br></div><h3>Lock Device</h3><div>To remotely lock your child’s device, follow these steps:<br><br>
</div><ol>
<li>Visit <a href="http://www.cox.com/securitysuite">www.cox.com/securitysuite</a> and click <strong>Access Security Suite Plus</strong>.</li>
<li>Once you are signed in, click on the tab that represents the device you’d like to lock.</li>
<li>Click <strong>Lock</strong>.</li>
<li>You can unlock the device by deselecting the <strong>Lock</strong> button.</li>
</ol><div><br></div><div>Cox Communications offers several parental control features, but it doesn't cover everything. If you are looking for an easy way to monitor your child or teen's online activity, check out the <a href="https://www.bark.us/">Bark app</a> for more information. Bark provides peace of mind to parents raising kids in a digital age.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Prime
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Prime Video is a video streaming service that is included free as part of your Amazon Prime membership. This allows members to watch thousands of movies and TV shows for free.</div><div><br></div><div>Amazon Prime Video is available on web browsers and has an app that can be downloaded on various streaming devices, including Roku, XBox One, Playstation 4, and Nintendo Wii U. It can also be accessed on smartphones and tablets.</div><div><br></div><h2>Amazon Prime Parental Control Settings</h2><h3>How to create an Amazon Video PIN</h3><div>To enable parental controls, Amazon Prime Video requires you to first create a PIN for your account. The PIN will serve to lock kids out from restricted content.</div><div><br></div><ol>
<li>Make sure you’re logged in to your Amazon account from a web browser.</li>
<li>In the top right corner, click <strong>Hello [your name] Account &amp; Lists</strong>.</li>
<li>When the drop down opens, click <strong>Your Account</strong>.</li>
<li>Scroll down a little bit and on the left-hand side, in the <strong>Digital Content and Devices</strong> box, click <strong>Video Settings</strong>.</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>At the top of the page, set your PIN and click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Rating categories</h3><div>Amazon Prime Video follows the same ratings guidelines as the Motion Picture Association of America and TV Parental Guidelines to determine the parental controls rating categories. Ratings are combined into levels with recommended audiences — General, Family, Teen, and Mature — to assist with setting viewing restrictions on devices.</div><div><br></div><h3>How to set viewing restrictions</h3><div>Viewing restrictions allow you to take your parental controls one step further so you can block playback of movies and TV shows based on their rating category. You can choose the ratings categories you want to restrict, and on which registered devices you want to apply the restrictions.</div><div><br></div><div>NOTE: Restrictions for Fire Devices and Xbox One must be set on the device, and cannot be controlled from your Amazon account.</div><div><br></div><ol>
<li>While on the <strong>Parental Controls</strong> screen, scroll down from where you set the PIN to set viewing restrictions.</li>
<li>Select the ratings categories you want to restrict.</li>
<li>Continue scrolling to select the devices to which you want to apply the restrictions.</li>
</ol><div><br></div><div>Once viewing restrictions are set, a <strong>lock</strong> symbol appears next to any titles with ratings in the restricted categories. If anyone tries to watch one of the titles, they will be required to enter the video PIN before playback begins.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you use AT&amp;T as your internet service provider, you have access to some great basic parental controls that can help you set digital ground rules for your children. You can make basic changes to your router from any connected device, keeping your family safe and secure.</div><div><br></div><h2>Setting Parental Controls With AT&amp;T</h2><div>AT&amp;T’s basic parental controls allow you to restrict chosen devices to pre-set websites and restrict the time during which a device has an internet connection. Per<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015462?make=ATT&amp;model=WirelessNetMF279&amp;gsi=vknAoFY"> AT&amp;T’s Wireless Internet support page</a>:</div><div><br></div><ol>
<li>From a device that is connected to your AT&amp;T network, go to<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Click <strong>Parental Controls</strong> and check the box next to the devices you wish to limit.</li>
<li>Click <strong>Apply</strong>.</li>
<li>Visit Permitted Websites and click <strong>Add New</strong> to add websites the device has permission to visit.</li>
<li>Visit <strong>Restricted Time Settings</strong> to set restricted times during which the device does not have access to the internet.</li>
</ol><div>&nbsp;</div><h2>Block a Device from Connecting to Wi-Fi</h2><div>Blocking devices from a Wi-Fi connection is a quick and easy way to “turn off the internet” and keep your kids from after-hours browsing.<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015465?make=ATT&amp;model=WirelessNetMF279&amp;gsi=GLNI97k"> Per AT&amp;T’s support page</a>:</div><div><br></div><ol>
<li>Visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a> and log in.</li>
<li>Click <strong>Connected Devices</strong> on the menu on the left-hand side of your screen.</li>
<li>On the <strong>Connected Devices</strong> page, check the box below <strong>Block Access</strong>.</li>
<li>Click <strong>Apply</strong> followed by <strong>OK</strong>.</li>
<li>You can unblock a device by clicking <strong>Unblock Access</strong> in the <strong>Blocked Wi-Fi Devices</strong> panel.<br><br>
</li>
</ol><h2>View and Track Data Usage by Device</h2><div>Not sure if your kids are using too much data? Now there’s an easy way to see who’s hogging all your bandwidth.</div><div><br></div><ol>
<li>From your connected device, visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Find and click <strong>Data Usage</strong> in the menu on the left-hand side of your screen.</li>
<li>On the <strong>Data Usage</strong> page, click <strong>Enable</strong> beneath the <strong>Data Usage Details</strong> panel.</li>
<li>Click <strong>Apply</strong>.</li>
<li>A new panel will appear, providing a breakdown of data usage by device.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Firefox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Mozilla Firefox is an internet browser available for your computer and mobile devices. It does not have any built-in parental control features. However, if you change the parental controls on the computer itself, these settings can apply to the Firefox browser. It’s also possible to use third-party browser add-ons, known as <a href="https://addons.mozilla.org/en-US/firefox/search/?q=parental+control&amp;cat=all">extensions</a>, to implement parental controls.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Fire is a tablet developed and supported by Amazon. Kids can use it to read Kindle ebooks, play games, watch movies, and use social media.&nbsp;</div><div><br></div><div>It’s equipped with one of the most comprehensive sets of parental controls on the market, and we’ll walk you through how to set them up.<br><br>
</div><h2>Parental Controls on Amazon Fire</h2><h3>Option 1: Basic parental controls</h3><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Tap the switch next to <strong>Parental Controls</strong>.</li>
<li>Enter a password and confirm your password.</li>
<li>Tap <strong>Finish</strong>.</li>
<li>After you turn on parental controls, a <strong>lock</strong> icon will appear at the top of the screen.<br><br>
</li>
</ol><div><strong>Basic parental controls allow you to restrict the following:</strong></div><ul>
<li>The Amazon Store</li>
<li>Web browsing</li>
<li>Email, Contacts, and Calendar apps</li>
<li>Social network sharing</li>
<li>The camera</li>
<li>Specific content types (for example, books or apps)</li>
</ul><div><br></div><div><strong>Basic parental controls allow you to password-protect the following:</strong></div><ul>
<li>Purchases from the Amazon stores on your device (like the Amazon Appstore)</li>
<li>Playing movies and TV shows from Prime Video</li>
<li>Connecting to Wi-Fi</li>
<li>Enabling location services</li>
</ul><div><br></div><div><strong>How to set a curfew and choose when your child can use their tablet:</strong></div><ul>
<li>Tap the switch next to <strong>Set a Curfew</strong> to turn this feature on.</li>
<li>Tap <strong>Curfew Schedule</strong>.</li>
<li>Choose the days and times that the child will not be able to access the device.</li>
<li>To unlock a device in curfew, enter your parental controls password.</li>
</ul><div><br></div><div><strong>How to monitor your child’s tablet use:</strong></div><ul>
<li>Tap the switch next to <strong>Monitor This Profile</strong> to monitor activity on how your child is using their Amazon Fire.</li>
<li>A monitored profile will show a <strong>parent and child</strong> icon at the top of the screen.</li>
<li>View the information by visiting <strong>Activity Center</strong> on the <strong>Your Devices</strong> tab of <strong>Manage Your Content and Devices.</strong>
</li>
<li>You’ll be able to see how much time your child has spent on various apps, which books they’ve read, and what content they’ve accessed.</li>
</ul><div><br></div><h3>Option 2: Purchasing parental controls through Amazon FreeTime Unlimited</h3><div>Amazon FreeTime Unlimited is a subscription service available for customers in the U.S., U.K., and Germany. It’s available on Fire, Android, iOS, Kindle, and compatible Echo devices, and one subscription works across all devices. It gives kids access to thousands of age-appropriate books, movies, TV shows, music, games, and educational apps for a small monthly fee. Parents can use it to create a personalized experience for their kids while striking the right balance between education and entertainment.</div><div><br></div><div>It has additional parental control options, such as limiting the type of content your child accesses until they’ve completed daily goals (i.e., math problems, reading) and shutting itself down at the designated curfew.</div><div><br></div><div><strong>How to subscribe to Amazon FreeTime Unlimited on an Amazon Fire:</strong></div><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Profiles &amp; Family Library</strong>.</li>
<li>Tap your child’s profile.</li>
<li>Tap <strong>Subscribe to Amazon FreeTime Unlimited</strong>.</li>
<li>Select a monthly subscription plan:<ol>
<li>
<strong>Single Child Plan ($4.99/month or $2.99/month for Prime members):</strong> If you have only one child registered to Amazon FreeTime, or if you want to provide access to Kindle FreeTime Unlimited to one, but not all, of the child profiles in your household</li>
<li>
<strong>Family Plan ($9.99/month or $6.99/month for Prime members, $119/year or $83/year for Prime members): </strong>If you want your subscription to cover up to four children in your household<br><br>
</li>
</ol>
</li>
</ol><div><strong>How to use Amazon FreeTime Unlimited’s parental controls:</strong></div><ol>
<li>Tap the <strong>FreeTime</strong> app.</li>
<li>Select the profile for your child.</li>
<li>Choose <strong>Set Daily Goals &amp; Time Limits</strong> and adjust the toggles to choose how long they can spend per day in specific apps (on the device overall).</li>
<li>Choose a <strong>Turn off by</strong> time to prevent them from using their tablet after bedtime.</li>
<li>Tap <strong>Manage your Child’s Content</strong> and then <strong>Smart Filters</strong> to set the age minimum and maximum for the type of content they’re allowed to see.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Amazon Fire, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor photos, videos, web browsing, and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Not Sure
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Home
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Home is a smart speaker that competes with the Amazon Echo and the Apple HomePod. You can use it to get news and weather forecasts, make purchases, listen to music, and more. If you want to make sure your children are using Google Home appropriately, these step-by-step directions will allow you to set up parental controls.<br><br>
</div><h2>Setting Parental Controls on Google Home Smart Speakers</h2><ol>
<li>Set up a <a href="https://families.google.com/familylink/"><strong>Google Family Link</strong></a> account. This allows you to view activity, manage apps, limit screen time, and lock devices. You can even use Family Link to see where your child is as long as they are carrying their device and location services are on. You must download the app on your smartphone.</li>
<li>Use the <strong>Family Link</strong> app to create a Google Account for your child, where you can control and monitor linked apps and devices.</li>
<li>Have each child nearby to provide voice samples to allow voice recognition of commands. This is necessary for individual permissions profiles. Expect to spend up to 10 minutes per child.</li>
<li>Block explicit music and video content from YouTube.<ol>
<li>Open the <strong>Google Home</strong> app.</li>
<li>Tap <strong>Menu</strong> in the top left corner.</li>
<li>Verify the Google Account listed is the one linked to Google Home. Switch accounts, if necessary, by clicking the triangle to the right of the account name.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Under <strong>Devices</strong>, tap the Home device you want to adjust.</li>
<li>Under <strong>YouTube Restricted Mode</strong>, block content by sliding the slider to the right.</li>
</ol>
</li>
<li>Block explicit content from <strong>Google Play Music</strong>.<ol>
<li>Open the <strong>Google Play Music</strong> website. You cannot access this setting from the Google Play Music app.</li>
<li>In the top left corner, click <strong>Settings</strong>.</li>
<li>In the <strong>General</strong> section, click the checkbox next to <strong>Block explicit songs in radio</strong>. This will not block Google Play Music premium users from playing specific explicit songs or albums.</li>
</ol>
</li>
</ol><div><br></div><div>Children are blocked from online purchasing automatically. External apps are blocked unless Google has vetted them and designated them as <strong>Apps for Families on Google Assistant</strong>. You can block third-party apps via Family Link.</div><div><br></div><div>Google Home has a personal results setting you can monitor, but you must choose to monitor all of the content — calendar, contacts list, and photos — or none of it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>