<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    KitKat – 4.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android KitKat</strong>, which is version 4.4 - 4.4.4. This is an older version of Android, as it was released October 31, 2013.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 4.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:&nbsp;</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.&nbsp;</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a><br>.</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S9
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S9 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S9 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S9 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.<br><br>
</div><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>From the Mobile section, tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Toggle the <strong>Limit mobile data usage</strong> switch on.</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set</strong>.</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>From the Mobile section, toggle the <strong>Alert me about data usage</strong> switch on.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Set Data </strong>warning to turn on.</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Sprint
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Sprint has a robust set of parental controls that will allow you to manage your child's phone usage, while still allowing them the safety and educational benefits of owning a smartphone.</div><div><br></div><h2>Accessing Parental Controls&nbsp;</h2><div>To access Sprint's parental controls, you'll first need to log in into your sprint account. If you do not yet have a login, you'll need to create one. Be sure to use your phone number and a safe password to ensure your child cannot access these settings without your permission. The password should be one that your child cannot easily guess. Avoid using their names, birthdays or the names of pets as your password.</div><div><br></div><div>Once you've logged into your Sprint account, here’s how to set up parental controls:</div><div><br></div><ol>
<li>Click on the <strong>My Sprint</strong> menu at the top of the screen.</li>
<li>Click on the <strong>Permissions</strong> tab.</li>
<li>A new screen will load that has a variety of different permission options.</li>
<li>Scroll to the bottom first and click the <strong>Permissions</strong> link. This allows you to set who can access and change the account settings.</li>
<li>Click on the number or numbers you'd like to block from making changes.</li>
<li>Scroll to the bottom of the screen and click the <strong>Save</strong> button to activate your preferences.</li>
</ol><div>&nbsp;</div><h2>Block Apps, Digital Media, and Third Party Charges&nbsp;</h2><div>You can block your child from purchasing apps and digital media through this parental control. While this is an effective parental control, it is important to note that setting this permission only blocks your child from billing these purchases to your Sprint bill. It does not prevent your child from purchasing apps and digital media using a credit card.&nbsp;</div><div><br></div><div>If you'd like to block purchases using a credit card or PayPal, you will need to set parental controls on the individual handset. Here’s how:</div><div><br></div><ol>
<li>In the Permissions tab, click the <strong>Block Apps, Digital Media, and Third-party charges</strong> link.&nbsp;</li>
<li>Click on the phone number that you'd like to block. A small check mark will appear next to the number.&nbsp;</li>
<li>Scroll to the bottom of the page and click the <strong>Save</strong> button.&nbsp;</li>
</ol><div>&nbsp;</div><h2>Blocking Pictures and Videos&nbsp;</h2><div>You can prevent your child from sending and receiving pictures and videos via text by setting the appropriate permissions in your Sprint account. This setting ensures your child cannot send photos and videos via text, but it does not prevent pictures of videos from being attached to emails. It is best to set this permission, but also actively check your child's email to ensure they are not utilizing this workaround.</div><div><br></div><ol>
<li>In the <strong>Permissions</strong> tab, click on the <strong>Block Pictures / Videos</strong> tab.</li>
<li>Scroll down until you locate your child's phone number, and click on it.</li>
<li>When the phone is actively blocked, a small green check mark will appear to let you know the number is currently barred from access.</li>
<li>Scroll down and click the <strong>Save</strong> button to activate the permission.</li>
</ol><div><br></div><h2>Sprint Family Locator&nbsp;</h2><div>Another option is to purchase additional monitoring services from your provider. Sprint offers the Sprint Family Locator service. With this service, you can enroll phones that are on your account into a monitoring service that will update the location of the phone in real-time. You must opt in for this service, and it is a paid add-on.</div><div><br></div><div>To add Sprint Family Locator:<br><br>
</div><ol>
<li>Click on the <strong>My Sprint</strong> tab and enter the <strong>Permissions</strong> tab.</li>
<li>Scroll down until you see the <strong>Things I can Manage</strong> subheading</li>
<li>Scroll down and click on the <strong>Use Sprint Family Locator</strong> link.</li>
<li>Opt into the service by following the prompts online.</li>
</ol><div><br></div><div>Please note that every phone that is being tracked will receive a notification that it is being monitored. Only the owner of the account or phone numbers that have permission to make changes on the account will be able to access the settings.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    WhatsApp
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>WhatsApp is a free messaging system currently owned by Facebook. It allows users to send unlimited text messages, voice messages, and video calls, as well as images, documents, and other media to other WhatsApp users around the world. Users can access the app through mobile devices and desktop computers — all they need is a cell phone number.&nbsp; Whatsapp is one of the most popular messaging apps in the world and is available internationally, with over a billion users worldwide.</div><div><br></div><div>Users must be 13 to use Whatsapp. Younger WhatsApp users prefer to use the application rather than their phone's native texting because it allows them more privacy and freedom, or so they believe. This is primarily because parents tend to be more familiar with basic texting than newer applications like WhatsApp.&nbsp;</div><div><br></div><div>WhatsApp is not considered to be a typical type of social media, since the platform is not public. Rather, it is considered "dark social" — social sharing that is not measured by web analytics platforms. This means that users cannot flag inappropriate messages to alert WhatsApp to the problem, though they may screenshot the message and share it with the company. The company cannot remove posts, though it can ban users.</div><div><br></div><h2>Privacy Controls for WhatsApp</h2><h3>How to block someone</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Blocked</strong>, and add who you’d like to block. Blocked contacts will no longer be able to call you or send your child messages.&nbsp;</li>
</ol><div><br></div><h3>How to turn off visible public public information</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Up top, you can edit the following four items and select who can see what on your child’s profile:<ol>
<li>
<strong>Last Seen:</strong> When your child was last using the app</li>
<li>
<strong>Profile Photo:</strong> Your child’s photo</li>
<li>
<strong>About:</strong> Your child’s mini bio</li>
<li>
<strong>Status:</strong> What they’re currently doing</li>
</ol>
</li>
</ol><div><br></div><h3>How to turn off Live Location</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Live Location</strong> and select the chats from which you’d like to remove.</li>
</ol><div><br></div><h3>How to report safety and security issues to WhatsApp</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Help</strong>.</li>
<li>Then tap <strong>Contact Us</strong> to send a message.&nbsp;</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On WhatsApp, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor WhatsApp messages for Android and Amazon device users. For iOS users <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor your child's messages and message attachments (if available). If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AOL
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Parental controls for AOL email accounts were discontinued Nov. 1, 2017.&nbsp; Existing secondary usernames or child accounts were <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">promoted to full, standalone accounts with no parental control features at all</a>. Because of this, Bark does not recommend using AOL email with children.</div><div><br></div><div>If you would like to monitor your child’s existing AOL email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.&nbsp;</div><div><br></div><div>If you would prefer to remove access to these unmonitored accounts entirely, instructions on how to delete an AOL account are presented below.</div><div><br></div><h2>How to Delete a Secondary AOL Account That Has Been Promoted to a Full Account</h2><ol>
<li>Access the AOL account deactivation page <a href="https://login.aol.com/?done=https%3A%2F%2Fapi.login.aol.com%2Foauth2%2Frequest_auth%3Fclient_id%3Ddj0yJmk9a0dMSTFNQTlieXAwJmQ9WVdrOU1teEVVMHQ1TjJFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD00OQ--%26scope%3Dgdpr-w%26redirect_uri%3Dhttps%253A%252F%252Faol.mydashboard.oath.com%252Fcallback%252Fuser%26response_type%3Dcode%26language%3Den-US%26state%3DeyJ1c2VyX3JldHVybl9wYXRoIjoiL2RlbGV0ZS1teS1hY2NvdW50IiwidXNlcl9oaW50IjoidW5kZWZpbmVkIiwibm9uY2UiOiJkY2JiNmMxMWE4NDA1MDY2MGVkZmI3ZTU2NjMyZmRkZCJ9%26src%3Dpd-aol%26.scrumb%3D0&amp;src=pd-aol&amp;crumb=3e6Fsy9JE9i&amp;redirect_uri=https%3A%2F%2Faol.mydashboard.oath.com%2Fcallback%2Fuser&amp;lang=en-US&amp;language=en-US">here</a>.</li>
<li>Read the information on terminating your account in full. You'll receive all the legal information on what AOL is responsible for in terms of data, and more information.</li>
<li>Follow the on-screen prompts confirming that you do indeed want to delete this account.</li>
</ol><div><br></div><div>To learn more about changes to accounts that were previously sub-usernames or child accounts prior to 2017, please read AOL's help page on this topic <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">here</a>.</div><div><br></div><h2>How to Download Data Before Deleting a Secondary AOL Account</h2><ol>
<li>If you would like to save data before deleting a standard account that was previously a child's account, visit the AOL Privacy Dashboard page <a href="https://policies.oath.com/us/en/oath/privacy/dashboard/index.html">here</a>.</li>
<li>Choose <strong>AOL email</strong> to view the data for this AOL service.</li>
<li>Scroll down and click <strong>Manage Your Data</strong>.</li>
<li>It will take time to prepare your data package. Insert an email address that you're currently using to receive the notification that your email account data are processed and ready to download.</li>
<li>Click <strong>Request Download</strong>.</li>
<li>You'll receive an email linking you to the final download of all the contents of your email account.</li>
</ol><div>
<br>For more important information on what to look for before closing an AOL email account, please review the AOL help page <a href="https://help.aol.com/articles/close-your-account">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In AOL email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Clash of Clans
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Clash of Clans is a strategic action video game set in a fantasy world where the player is the chief of their own village. Clans of up to 50 players can merge to work together while sharing a group chat. Clash of Clans was designed with teens in mind, but potential hazards include inappropriate language and conversations in chat rooms.</div><div><br></div><h2>Parental Controls</h2><div>Parental controls will need to be set on each device kids might use to play the game. Supercell, the company that owns Clash of Clans, works hard to maintain a safe and secure environment for players. The game doesn't have a private chat facility, and it displays regular warnings against sharing personal information.<br><br>
</div><div>If there are any issues, Clash of Clans contains prominent tools for players to report any offensive, insulting, or inappropriate behavior. It’s also possible for users to mute chats from any player whose messages they do not want to see. If users prefer to report any concerns by email, messages can be sent to parents@supercell.com.</div><div><br></div><h3>How to filter chats for profanity</h3><ul>
<li>Tap on the <strong>gear</strong> icon in the lower right-hand corner.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Make sure <strong>Filter Clan Chat</strong> is set to <strong>Off</strong>.</li>
</ul><div><br></div><h3>How to mute a specific user in chat</h3><ol>
<li>On the left hand side of the screen, swipe the <strong>&gt;</strong> icon to open the chat window.<ol><li>There is a general, global chat and a clan chat option of around 40 people, if your child has joined one. Some clans may be friends your child knows in real life, or it could be composed of strangers.</li></ol>
</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Mute</strong>. You will no longer see chats from this user.</li>
</ol><div><br></div><h3>How to report a specific user for inappropriate behavior in chat</h3><ol>
<li>On the left-hand side of the screen, swipe the <strong>&gt;</strong> icon.</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Report</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    EA/Origins
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>EA (Electronic Arts) is a video game developer that has created some of the most popular games available today, including Star Wars: Battlefront II, Battlefield, Madden, The Sims, and more. To complement their extensive library of games, EA built a gaming platform called <strong>EA Origin</strong>, which is downloadable on PC, Mac, and the Xbox and PlayStation marketplaces. Players can log in to EA Origin and access all of their EA games, play games without internet access (on PC and Mac only), and connect with friends — all in one place.</div><div><br></div><div>EA Origin also features an optional monthly PC gaming subscription called <strong>Origin Access</strong>. This subscription has a <strong>Basic</strong> package and a more expensive <strong>Premier</strong> package that grants access to over 150 games and the ability to play games before they’re released with <strong>Play First Trials</strong>.</div><div><br></div><div>While EA games have become a staple of the modern childhood experience, many games contain graphic content that may be unsuitable for your child. It’s important to use the available parental controls so your child isn’t exposed to content they can’t handle, whether it’s violent gameplay, mature imagery, or vulgar chatroom discussions.</div><div><br></div><h2>Setting Up a Primary Account</h2><div>In order to set up a child account, EA requires that you first create a profile for yourself. You can then create their child's profile as a sub-account.</div><div><br></div><ol>
<li>Start by navigating to <a href="http://www.origin.com/">www.origin.com</a>.</li>
<li>Click the <strong>Register</strong> button, which is below the orange sign in button.</li>
<li>Input your <strong>Country/Region</strong> and <strong>Date of Birth</strong>.</li>
<li>On the next screen, add your <strong>Email Address</strong> and create a <strong>Password</strong>.</li>
<li>Underneath the heading "<strong>People can find me by searching…</strong>", create a new <strong>Public ID </strong>(otherwise known as a "username"). To protect your anonymity, it’s best not to use your real first or last name.</li>
</ol><div><br></div><div>Now that you have created your main account, you'll need to download and install the EA Origin app to create your child's account. To do this:</div><div><br></div><ol>
<li>
<strong>Log out</strong> of your EA Origin account.</li>
<li>Navigate back to the <a href="http://www.origin.com/">Origin homepage</a>.</li>
<li>In the menu on the left side of the page, click the <a href="https://www.origin.com/usa/en-us/store/download"><strong>Download</strong></a> button.</li>
<li>Select either the<strong> Windows</strong> or<strong> Mac</strong> download button.</li>
</ol><div><br></div><h2>Setting Up a Child Account</h2><div>Once the EA Origin app is installed, you can begin creating your child's account:</div><div><br></div><ol>
<li>Click on the app to open the<strong> </strong>log-in window.</li>
<li>Select <strong>Create An Account</strong> at the top of the window.</li>
<li>Input the <strong>Country/Region</strong> and your child's <strong>Date of Birth</strong>.<ul><li>NOTE: It is <em>very</em> important that you input the correct age for your child to allow for the appropriate restrictions.</li></ul>
</li>
<li>Read and accept the Privacy &amp; Cookie Policy and the User Agreement, then click <strong>Next</strong>.</li>
<li>Enter your email address for your personal EA Account and choose a password in the top two fields.</li>
<li>Then create a Public ID for your child. Avoid using your child's real name.</li>
<li>Click <strong>Create Account</strong>.</li>
<li>A verification email will be sent to your inbox. Click the appropriate link to verify that you are the parent or guardian.<ul><li>The new child's account will use your personal password by default. Make sure to change the password before letting your child access the account:<ol>
<li>Navigate back to the <strong>EA Origin login screen</strong>.</li>
<li>Select the <strong>Forgot your password?</strong> link below the sign-in button.</li>
<li>Type in your <strong>child's Public ID</strong>.</li>
<li>You will receive an email to reset the password.</li>
</ol>
</li></ul>
</li>
</ol><div><br></div><h2>Child Account Restrictions</h2><h3>Multiplayer games</h3><div>It's worth noting that accounts for children under the age of 13 will not have access to many online multiplayer games, depending on the gaming console they have. If you want your child to be able to play any online multiplayer game on a PC, Mac, or PlayStation 3, the game will need to be purchased and played on your adult account, which is not recommended without supervision. Xbox One, Xbox 360, and PlayStation 4 consoles all allow customized parental controls using each console's built-in parental control settings.<br><br>
</div><h3>Marketplace</h3><div>Child accounts do not have access to the Origin Store, so your child will not be able to purchase games through their account. Games can be added manually by <a href="https://help.ea.com/en-us/help/origin/origin/origin-code-redemption-faq/">redeeming the Product Code</a> in your child's account.</div><div><br></div><h3>Social interaction</h3><div>At this time, EA does not allow social interaction on a child account. Adult accounts have the ability to add friends by searching a Public ID or email address.</div><div><br></div><h2>When Your Child Gets Older</h2><div>Once your child reaches a certain age, EA will <a href="https://help.ea.com/en-us/help/account/aging-up-an-origin-account-to-an-adult-account/">automatically notify your child</a> that they are allowed to change their child account to a full-access account. This age varies by country or region, but it is typically 13 years old.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you use AT&amp;T as your internet service provider, you have access to some great basic parental controls that can help you set digital ground rules for your children. You can make basic changes to your router from any connected device, keeping your family safe and secure.</div><div><br></div><h2>Setting Parental Controls With AT&amp;T</h2><div>AT&amp;T’s basic parental controls allow you to restrict chosen devices to pre-set websites and restrict the time during which a device has an internet connection. Per<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015462?make=ATT&amp;model=WirelessNetMF279&amp;gsi=vknAoFY"> AT&amp;T’s Wireless Internet support page</a>:</div><div><br></div><ol>
<li>From a device that is connected to your AT&amp;T network, go to<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Click <strong>Parental Controls</strong> and check the box next to the devices you wish to limit.</li>
<li>Click <strong>Apply</strong>.</li>
<li>Visit <strong>Permitted Websites</strong> and click <strong>Add New</strong> to add websites the device has permission to visit.</li>
<li>Visit <strong>Restricted Time Settings</strong> to set restricted times during which the device does not have access to the internet.</li>
</ol><div>&nbsp;</div><h2>Block a Device From Connecting to Wi-Fi</h2><div>Blocking devices from a Wi-Fi connection is a quick and easy way to “turn off the internet” and keep your kids from after-hours browsing.<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015465?make=ATT&amp;model=WirelessNetMF279&amp;gsi=GLNI97k"> Per AT&amp;T’s support page</a>:</div><div><br></div><ol>
<li>Visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a> and log in.</li>
<li>Click <strong>Connected Devices</strong> on the menu on the left-hand side of your screen.</li>
<li>On the Connected Devices page, check the box below <strong>Block Access</strong>.</li>
<li>Click <strong>Apply</strong> followed by <strong>OK</strong>.</li>
<li>You can unblock a device by clicking <strong>Unblock Access</strong> in the <strong>Blocked Wi-Fi Devices</strong> panel.<br><br>
</li>
</ol><h2>View and Track Data Usage by Device</h2><div>Not sure if your kids are using too much data? Now there’s an easy way to see who’s hogging all your bandwidth.</div><div><br></div><div>1.&nbsp; &nbsp; &nbsp; From your connected device, visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</div><div>2.&nbsp; &nbsp; &nbsp; Enter your login information and click <strong>Login</strong>.</div><div>3.&nbsp; &nbsp; &nbsp; Find and click <strong>Data Usage</strong> in the menu on the left-hand side of your screen.</div><div>4.&nbsp; &nbsp; &nbsp; On the <strong>Data Usage</strong> page, click <strong>Enable</strong> beneath the <strong>Data Usage Details</strong> panel.</div><div>5.&nbsp; &nbsp; &nbsp; Click <strong>Apply</strong>.</div><div>6.&nbsp; &nbsp; &nbsp; A new panel will appear, providing a breakdown of data usage by device.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire Stick
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Amazon Fire Stick plugs into your TV’s HDMI port and gives you access to streaming services, TV shows, movies, apps, music, photos, and games.<br><br>
</div><h2>Amazon Fire Stick Parental Control Settings</h2><h3>How to turn on parental controls</h3><div><br></div><ol>
<li>Select Settings from the Fire TV menu</li>
<li>Open Preferences</li>
<li>Select Parental Controls and press the ‘Select’ button on your remote to turn parental controls ON</li>
<li>Enter or set your PIN if prompted. (Use the ‘Menu’ button on your remote to change between sets of numbers</li>
<li>Select Next when you're done</li>
</ol><h3><br></h3><h3>How to manage parental controls</h3><div>After you set or enter your PIN, you can manage the following parental controls preferences:</div><ul>
<li>
<strong>Purchases</strong> - Require your PIN to authorize purchases from Amazon.&gt;</li>
<li>
<strong>App Launches</strong> - Require your PIN to open installed apps on your device. You can still browse Apps from the Fire TV menu, but will be prompted to enter your PIN before you can access any apps or games installed on your device.</li>
<li>
<strong>Prime Photos App</strong> - Require your PIN to open the Prime Photos app, which you can use to view your photos and personal videos from Amazon Drive on your Fire TV.</li>
<li>
<strong>Viewing Restrictions</strong> - Block playback of movies and TV shows, based on their ratings category.</li>
<li>
<strong>Explicit Filter for Amazon Music</strong> - Block playback of songs that contain explicit words and phrases. When the filter is switched on, songs that contain explicit lyrics aren't played. Instead of bleeping out or removing explicit lyrics within a song, the filter prevents playback of the song itself. To enable this setting:</li>
</ul><ol>
<li>Open the music app.</li>
<li>Tap the Settings icon.</li>
<li>Toggle explicit filter on or off.</li>
<li>Change your PIN - Change your Prime Video PIN directly on your Fire TV device.</li>
</ol><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.&nbsp;<br><br>
</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Spectrum
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Here are some tips for navigating parental controls with Spectrum internet services.</div><div><br></div><h2>Spectrum Parental Controls</h2><div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. For example, you have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com</li>
<li>Spectrum TV channel apps</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong>, and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for <strong>Preferences</strong> will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable <strong>Parental Controls</strong>. You might need to select the <strong>lock</strong> icon on the Parental Control window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block. You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your Parental Control and Browser Protection settings. If a website is added to the website exception list, it won't be blocked for any reason.<em><br></em><br>
</li>
</ol><h2>Spectrum’s Security Suite Parental Controls</h2><h3>Content blocker</h3><div>Restrict access to sites based on content, or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under Channel blocks, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/chromebook-11ba0ff273af8f115882dc93b70029ac9fa0f8eeee26a68a873e39a972e930ce.png">
            Chromebook
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chromebook
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Chromebooks are unique laptops that use the Chrome Operating System (OS). Essentially, the Chromebook is run by Google's Chrome browser, and nearly all of its functions are used while connected to the internet. While users are able to work offline for some functions, most of the apps and documents require internet access.</div><div><br></div><h2>Using Google Family Link to Monitor Your Child’s Chromebook</h2><div><br></div><div>Because Chromebooks operate solely on the Google Chrome browser, you will be accessing all of the controls via your family's Google Accounts. Each child will need a Google Family Link account.</div><div><br></div><ol>
<li>Make sure your Chromebook is updated to version 65 or higher of Chrome OS. <a href="https://support.google.com/chromebook/answer/177889">Click here</a> if you need help updating your system.</li>
<li>To create a Family Link account for your child, download the app for either <a href="https://itunes.apple.com/us/app/google-family-link/id1150085200&amp;ct=homepage-website-setup&amp;mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?hl=en&amp;id=com.google.android.apps.kids.familylink">Android</a>.</li>
<li>Follow the instructions on your screen to set up the account.</li>
</ol><div><br></div><h3>How to add a new user to Chromebook</h3><ol>
<li>Select <a href="https://support.google.com/chromebook/answer/1059242?hl=en"><strong>Add Person</strong></a> on the Chromebook's lock screen.</li>
<li>Sign in using your child's Family Link account information.</li>
<li>Next, you will be asked to sign in to your parent account in Family Link to grant access.</li>
<li>An on-screen prompt will list what your child can and cannot access.</li>
<li>Click <strong>Yes</strong> to allow your child access to the Chromebook.</li>
</ol><div><br></div><h3>What Family Link Monitors</h3><div>Children signed into their Google Accounts on a Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:<br><br>
</div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "try to block mature sites" has been turned on for your child in the Family Link settings, Chrome browsing will block most sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. However, your child can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this info won't be used to personalize ads for children under 13.</li>
</ul><div><br></div><h3>How to manage websites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that's right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.</li>
<li>
<strong>Only allow certain sites</strong>: Your child will only be able to visit the sites you allow.</li>
</ul>
</li>
<li>Tap <strong>Manage Sites</strong> to manually block or allow certain sites.</li>
</ol><div><br></div><h3>How to manage website permissions</h3><div>Parents can choose if their child is allowed to grant permissions to the websites they visit. Examples of permissions include allowing sites to track location, access the camera, or push notifications. To adjust this setting:</div><div><br></div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off.</li>
</ol><div><br></div><h3>How to monitor browsing history</h3><ol>
<li>On your child's Chromebook, open <strong>Chrome</strong>.</li>
<li>In the top right, select <strong>More &gt; History</strong>. This page shows your child's recent Chrome history.</li>
</ol><h3>
<br>How to clear history</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>In the <strong>History</strong> section, tap <strong>Clear history</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's Chromebook, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. <a href="http://bark.us/?s=barkomatic">Bark</a> can also monitor the saved photos and videos on Chromebook by downloading the <a href="http://bark.us/?s=barkomatic">Bark</a> for Chromebooks app from the Google Play Store. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>