<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 6
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Twitch
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Twitch allows kids and teens to watch other people play popular video games, as well as broadcast their own gameplay to a huge audience. You can watch Twitch streams on the web, or on game consoles like Xbox and PlayStation. Mobile Android and iOS devices support the Twitch app, as well.</div><div><br></div><div>The service draws in an impressive 100 million viewers every month and has an army of one million broadcasters that continues to grow every day. The most successful and popular streamers engage with their audience and provide entertaining commentary during gameplay. Some even offer expert gaming tips and tricks.</div><div><br></div><h2>Is Twitch Kid-Friendly?</h2><div><br></div><div>While Twitch doesn't have a built-in filter for kid-friendly streams, there are many channels deemed appropriate for all ages. Here are some options you can suggest to your younger children:</div><div><br></div><ul>
<li>
<a href="https://www.twitch.tv/iateyourpie">iateyourpie</a>: An energetic Super Mario streamer.</li>
<li>
<a href="https://www.twitch.tv/cohhcarnage">CohhCarnage</a>: A clean gaming channel that emphasizes clean content and clearly posts the rules for maintaining a friendly chat.</li>
<li>
<a href="https://www.twitch.tv/diamondminecart">TheDiamondMinecart</a>, <a href="https://www.twitch.tv/stampylonghead/profile/highlights">stampylonghead</a>, and <a href="https://www.twitch.tv/ihascupquake/profile/highlights">iHasCupquake</a> are all Minecraft streamers known for being appropriate for all audiences. (There's a very high chance your child loves Minecraft)!</li>
</ul><div><br></div><div>An important thing to remember is that just because a game has an age-appropriate rating for your child, it doesn't mean that the streamer playing that game is family-friendly. You may find a vulgar Mario Kart player just as readily as a super polite Call of Duty player. Twitch can be a mixed bag.&nbsp;</div><div><br></div><div>Every Twitch channel has a live chat room. This is appealing to kids and teens who appreciate the chance to speak directly to their favorite gamer, who could very well be their personal hero. Unfortunately, there are no universal chat filters to curb offensive or obscene language. Individual streamers do have the capability to ban hyperlinks and specific words from their chat, and many popular streamers use this feature to prevent spam and other offensive messaging.</div><div><br></div><h2>How Do I Know If a Channel Is Appropriate?</h2><div>The best way to determine if a particular channel is appropriate for your child is to watch the stream for 15 to 20 minutes on multiple different occasions. Try tuning in at different times, during the weekday and on weekends, to get a sense of whether the <a href="https://help.twitch.tv/customer/en/portal/articles/659011-chat-basics">chat</a> and atmosphere of the stream are fitting for your child.</div><div><br></div><div>To see who is in a channel's chat room, click the <strong>Viewer List</strong> icon at the bottom of the chat window. There, you'll see the channel's moderators, who you can easily contact if someone acts in an inappropriate manner. Alternatively, you can hide the chat area by navigating to the <strong>gear icon</strong> and selecting <strong>Hide Chat</strong>.</div><div><br></div><div>Twitch has very thorough and clear <a href="https://www.twitch.tv/p/legal/community-guidelines">community guidelines</a>. If you believe a channel has violated these guidelines, you can report it at any time by locating the <strong>gear icon</strong> under the video player and clicking <strong>Report</strong>.</div><div><br></div><h2>Privacy and Security on Twitch</h2><div>According to Twitch's community guidelines, no one under 13 years old should use the video streaming platform. The guidelines further recommend that teens between 13 and 18 only watch live streams under adult supervision. You need to enter a birth date to sign up, but that can be easily faked.</div><div><br></div><div>Streamers can opt to provide a warning that lets potential viewers know that the content of their channel is intended for mature audiences. If you see one of these warnings — and they're quite obvious — you should consider having your child try a different channel.</div><div><br></div><h3>How to disable messages from strangers</h3><div>In the world of Twitch, a direct message is called a Whisper. You can disable them.</div><div><br></div><ol>
<li>Click your child’s <strong>user name</strong> in the top-right corner of the screen.</li>
<li>From the menu that drops down, click <strong>Settings</strong>.</li>
<li>At the top of the page, click <strong>Security and Privacy</strong>.&nbsp;</li>
<li>Scroll down to the <strong>Privacy</strong> section.</li>
<li>Toggle <strong>Block Whispers from Strangers</strong> to <strong>On</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Yahoo!
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Yahoo! has ceased the creation of new Yahoo! Family Accounts, which were previously used to create email accounts for kids younger than 13. Because of this, Bark does not recommend using Yahoo! email with younger kids.</div><div><br></div><div>If you would like to monitor your 13+ child’s Yahoo! email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Yahoo! mail, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox 360
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Xbox 360 is a gaming console from Microsoft. It allows you to play video games, stream content from apps, surf the web, and chat with other players via Xbox Live. Setting parental controls is fairly simple, and can be done from the console itself or online. The controls aren’t as robust as those on the Xbox One, but they will still help you protect your child from inappropriate content.<br><br>
</div><h2>Setting Parental Controls on the Xbox 360</h2><div>On the Xbox 360, <a href="https://support.xbox.com/en-US/my-account/manage-gamertag-and-profile/xbox-live-pass-codes">you can control the following</a>:</div><div><br></div><ul>
<li>
<strong>Ratings and Content:</strong> These settings are where you restrict games and video content based on content rating. You can also choose whether or not to allow explicit or unrated content to be played on the console. You can also set exceptions for individual games outside of the rating restrictions you’ve set.</li>
<li>
<strong>Family Timer:</strong> This setting allows you to limit the time your console can be used either on a daily or weekly basis.</li>
<li>
<strong>Xbox Live Access:</strong> Block or allow access to Xbox Live from the console.</li>
<li>
<strong>Xbox Live Membership Creation:</strong> Block or allow the creation of new Xbox Live memberships from the console.</li>
<li>
<strong>Change Pass Code:</strong> Change your pass code.</li>
<li>
<strong>Reset to Default Settings:</strong> This allows you to reset the settings back to their original factory settings.</li>
</ul><div><br></div><h3>Setting controls on the Xbox 360 console</h3><ol>
<li>On your console, go to <strong>Settings</strong>. Then, choose <strong>Family</strong>.</li>
<li>Choose the gamertag for the child whose settings you want to edit.</li>
<li>Under <strong>Privacy and Online Settings</strong>, choose <strong>Change Settings</strong>.</li>
<li>Update the settings. Exit the screen to save.</li>
</ol><div><br></div><h3>Setting controls on Xbox Live through your computer</h3><ol>
<li>Sign into your Xbox account.</li>
<li>Click <strong>My Account</strong>.</li>
<li>Click <strong>Security, Family, &amp; Forums</strong>.</li>
<li>Click <strong>Xbox 360 Online Safety</strong>.</li>
<li>Choose the account you want to edit.</li>
<li>Choose <strong>Allowed</strong> or <strong>Blocked</strong> next to the areas you want to limit or allow access to.&nbsp;</li>
<li>Click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Changing your passcode</h3><div>The passcode is a PIN you can use to adjust content and controls. To change it, you must be on your console.<br><br>
</div><ol>
<li>Go to <strong>Settings</strong>, then <strong>Family</strong>.</li>
<li>Enter your pass code.</li>
<li>Choose <strong>Change Pass Code</strong>.</li>
<li>Choose <strong>Change Pass Code</strong> again.</li>
<li>Enter a new <strong>Pass Code</strong> twice.</li>
<li>Choose <strong>Done</strong>.</li>
<li>
<strong>Save</strong> and <strong>Exit</strong>.</li>
</ol><div><br></div><div>If you forget the pass code you set up for parental controls, you can reset it by answering the pass code question you set up with parental controls. You must be on your console for this.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>, then <strong>Family</strong>.</li>
<li>Choose a content setting to change.</li>
<li>Enter any pass code when prompted, even if it’s not the right one.</li>
<li>Once you’re notified the pass code is incorrect, choose <strong>Reset Pass Code</strong>.</li>
<li>Enter the answer to your Pass Code question and choose <strong>Done</strong>.</li>
</ol><div><br></div><div>If you can’t remember the answer to this question, you’ll need to contact support for more help.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    World of Warcraft
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>World of Warcraft (WoW) is the most popular massively multiplayer online role playing game (MMORPG) of all time. While the WoW craze has died down in recent years, it is still a popular place for millions of people to slip into their in-game avatars, gather, and play.</div><div><br></div><div>In WoW, players enter the world of Azeroth, a place filled with many races and creatures, but split into two near-constantly warring factions — the Alliance and the Horde. Players can choose to join either faction then help people all around the world of Azeroth for gold, gear and experience points to level up.</div><div><br></div><h2>Enabling Parental Controls in World of Warcraft</h2><div>This all seems fairly innocent, and it is. However, your children will be playing on servers filled with thousands of other people. To manufacturer Blizzard's credit, they have gone to great lengths to make sure their game was safe for all players and to help parents make sure their children aren't spending all their time in the world of Azeroth.</div><div><br></div><div>World of Warcraft is a PC-only game, and while there are other ways to enact parental controls on the PC, Blizzard has some of the most expansive parental controls of any game publisher.</div><div><br></div><div><strong>When you create a Parent Account with Blizzard, you’ll be able to:</strong></div><div><br></div><ul>
<li>Set play time limits and certain schedules</li>
<li>Enable or disable voice chat</li>
<li>Enable or disable live streaming of gameplay</li>
<li>Enable or disable in-game purchases</li>
<li>Enable or disable text chat and Real ID name reveal</li>
<li>Full play-time reports</li>
</ul><div><br></div><div>All of this can be very simply enabled on Blizzard's website from the parental control page <a href="https://us.battle.net/account/parental-controls/setup.html">here</a>.</div><div><br></div><h2>Things to Keep in Mind</h2><h3>To chat, or not to chat?</h3><div>While Blizzard has excellent parental controls, the reason that WoW has been enduringly popular is because it’s played with so many other people. Unlike other games, where the activities are short, some activities may require players to communicate with one another to explain more complex mechanics. This is where disabling chat might affect gameplay. However, for younger children, it may be best to keep chat disabled so they’re not exposed to uncensored strangers (many of whom are adults).<br><br>
</div><h3>Using Discord instead of WoW chat</h3><div>It is important to also remember that while Blizzard has good parental controls, there are ways to bypass them. For example, many guilds, instead of using in-game chat options, will use third-party programs such as Discord to text and voice chat. This makes it necessary to still keep an eye on who your children chat with even if WoW chat is disabled.<br><br>
</div><h3>Real-life guilds</h3><div>The best option for keeping your children safe while still allowing them to have fun may be instead to find an in-game community that is a good fit for them. In WoW, these communities are called guilds. Many guilds are run by other parents to create a safe community that exists specifically for younger children to give them a friendly and safe play environment.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Comcast, one of the largest cable and internet providers in the country, offers an excellent suite of parental controls through their new xFi Wi-Fi platform. Including a personalized homepage with all of the necessary activity insights, parents get useful tools like Device Pausing, Time Limits, and other advanced parental controls.<br><br>Comcast xFi is only compatible with wireless gateways that are provided by Comcast.</div><div><br></div><h2>How to Begin</h2><div>Open the Xfinity xFi app or navigate to <a href="http://www.xfinity.com/myxFi">www.xfinity.com/myxFi</a> and type in your username and password. You will then be directed to the Overview page that will show you default information about your gateway including other relevant user data, such as the recent activity of the most popular devices on your network, and your family members.</div><div><br></div><h2>Device List</h2><div>Click on the <strong>Device</strong> tab. You can see who is currently connected to your network, and you can manage family devices from this screen.</div><div><br></div><ul>
<li>
<strong>Active Devices</strong> are listed at the top of this screen with a green icon noting the connection.</li>
<li>
<strong>Inactive Devices</strong> are listed at the bottom of the screen and do not show a green icon.</li>
</ul><div><br></div><div>If this is your first time logging in, none of your devices will be customized and may appear as a long string of numbers and letters — also known as a MAC address — or it may be the device's default name (e.g. "Johns_MacBook_Air"). Personalizing the device names will allow easier access to family members and devices.</div><div><br></div><h2>Personalizing Devices</h2><div>If you have just connected a new device, or have yet to personalize any devices, there will be a prompt at the top of the Device screen that informs you of any devices waiting to be personalized.</div><div><br></div><ol>
<li>Click the <strong>Personalize</strong> button near the top of the page.</li>
<li>Click the device you want to personalize from the <strong>new devices list</strong>.</li>
<li>Here you will have the option to <strong>name your device</strong> and <strong>select a device category</strong>.<ul><li>If you are having trouble identifying the device, click on <strong>View More Device Info</strong> to see more details about the device.</li></ul>
</li>
<li>Select <strong>Continue</strong> and then <strong>Close</strong>.</li>
<li>Now that the device is personalized, you can assign it to a family member's profile.</li>
<li>Choose a family member from the list or click <strong>Create New</strong> to create a new profile.</li>
</ol><div><br></div><div>You can also create new profiles on the <strong>People</strong> menu.</div><div><br></div><h2>People</h2><div>Select <strong>People</strong> from the top menu. Here you can create new profiles, view the activity of specific family members, and manage guest profiles. In addition to the specific family member profiles, you will see these two unique profiles:</div><div><br></div><ul>
<li>
<strong>Household</strong> — This profile is a collection of devices that are used by multiple people, such as the living room TV or a printer.</li>
<li>
<strong>Guest</strong> — This profile displays all of the devices used by house guests.</li>
</ul><div><br></div><div>Neither of these profiles can be deleted and may be empty depending on your current setup.</div><div><br></div><h2>Device Pausing</h2><div>Pausing devices can be an excellent way to get everyone to the dinner table in a timely manner.</div><div><br></div><ol>
<li>To pause a device, click on a family member's name on the <strong>People</strong> page.</li>
<li>On the top right of the screen click <strong>Pause All Devices</strong>.</li>
</ol><div><br></div><div>Alternatively, you can pause one device at a time by going to the <strong>Devices</strong> page, selecting a device, and choosing <strong>Pause Device</strong>.</div><div><br></div><h2>Time Limits</h2><div>Follow these steps to begin setting time limits for your family:</div><div><br></div><ol>
<li>Navigate back to the <strong>People</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click <strong>Edit </strong>next to <strong>Bedtime Mode</strong>.</li>
<li>Here you can set time limits for both <strong>School Nights</strong> (Sun-Thurs) or <strong>Weekend Nights</strong> (Fri-Sat) separately. Select the checkbox for each section and adjust the sliders to change the time limits.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>Now your child will have official time limits for their devices, with unique bedtime modes depending on whether it is a school night or weekend night.</div><div><br></div><h2>Parental Controls</h2><div>You can control the type of content your child can access through the Parental Controls settings.</div><div><br></div><ol>
<li>Navigate yet again to the <strong>Overview</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click<strong> Edit </strong>next to<strong> Parental Controls</strong>.</li>
<li>Select the <strong>On</strong> dial.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>This parental control setting is not fully customizable, but will automatically reduce the risk of your child accessing explicit material online. The viewable material will be limited to content appropriate for all ages.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire Stick
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Amazon Fire Stick plugs into your TV’s HDMI port and gives you access to streaming services, TV shows, movies, apps, music, photos, and games.<br><br>
</div><h2>Amazon Fire Stick Parental Control Settings</h2><h3>How to turn on parental controls</h3><div><br></div><ol>
<li>Select Settings from the Fire TV menu</li>
<li>Open Preferences</li>
<li>Select Parental Controls and press the ‘Select’ button on your remote to turn parental controls ON</li>
<li>Enter or set your PIN if prompted. (Use the ‘Menu’ button on your remote to change between sets of numbers</li>
<li>Select Next when you're done</li>
</ol><h3><br></h3><h3>How to manage parental controls</h3><div>After you set or enter your PIN, you can manage the following parental controls preferences:</div><ul>
<li>
<strong>Purchases</strong> - Require your PIN to authorize purchases from Amazon.&gt;</li>
<li>
<strong>App Launches</strong> - Require your PIN to open installed apps on your device. You can still browse Apps from the Fire TV menu, but will be prompted to enter your PIN before you can access any apps or games installed on your device.</li>
<li>
<strong>Prime Photos App</strong> - Require your PIN to open the Prime Photos app, which you can use to view your photos and personal videos from Amazon Drive on your Fire TV.</li>
<li>
<strong>Viewing Restrictions</strong> - Block playback of movies and TV shows, based on their ratings category.</li>
<li>
<strong>Explicit Filter for Amazon Music</strong> - Block playback of songs that contain explicit words and phrases. When the filter is switched on, songs that contain explicit lyrics aren't played. Instead of bleeping out or removing explicit lyrics within a song, the filter prevents playback of the song itself. To enable this setting:</li>
</ul><ol>
<li>Open the music app.</li>
<li>Tap the Settings icon.</li>
<li>Toggle explicit filter on or off.</li>
<li>Change your PIN - Change your Prime Video PIN directly on your Fire TV device.</li>
</ol><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.&nbsp;<br><br>
</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options are available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content and access Google Fiber apps like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls — one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guides (indicated by a red prohibition sign, or a "no symbol"), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step-by-step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong><em>.</em>
</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    High Sierra
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Macs are a series of computers — desktops and laptops — manufactured by Apple, and they run with the OS X operating system. High Sierra version 10.13 was released in 2017. It was the most current version until Apple released OS X 10.14 (known as Mojave) in September 2018.<br><br>
</div><h2>Create a New User Profile on Your Mac</h2><ol>
<li>Log in to your administrator account.</li>
<li>Click the <strong>System Preferences</strong> icon in your <strong>Dock</strong>.</li>
<li>Click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes.</li>
<li>Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Select your child’s age (either 4+, 9+, or 12+).</li>
<li>Enter your child’s full name.</li>
<li>Enter an <strong>Account Name</strong>.</li>
<li>Enter a <strong>password</strong> for the user, and then enter it again to verify it.</li>
<li>Create a <strong>password hint</strong> in case the child forgets the password.</li>
<li>Click <strong>Create user</strong>.</li>
<li>Click the <strong>lock</strong> again to prevent further changes.</li>
</ol><div><br></div><h2>Set Parental Restrictions on Your Mac</h2><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock icon</strong> to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select a user, then begin to customize their restrictions:<ul>
<li>
<strong>Time:</strong> Set time limits for weekdays, weekends, and bedtime.</li>
<li>
<strong>Privacy:</strong> Allow your child to make changes related to privacy.</li>
<li>
<strong>Web</strong>: Limit access to websites, or allow unrestricted access.</li>
<li>
<strong>Apps:</strong><ul>
<li>Prevent your child from using the built-in camera.</li>
<li>Restrict them from joining multiplayer games in the Game Center.</li>
<li>Limit your child’s contact with other people through Mail.</li>
<li>Specify which apps your child can access.</li>
</ul>
</li>
<li>
<strong>Stores:</strong><ul>
<li>Disable access to the iTunes Store and the iBooks Store.</li>
<li>Limit a child’s access to music, movies, TV shows, apps, and books to only those with age-appropriate ratings.</li>
</ul>
</li>
<li>
<strong>Other:</strong><ul>
<li>Prevent your child from using Siri and Dictation.</li>
<li>Adjust printer and scanner settings.</li>
<li>Limit CD-burning and DVD-burning.</li>
<li>Hide profanities in the dictionary and other sources.</li>
<li>Prevent the Dock from being modified, and instead show your child a simplified, easy-to-use view of the Mac desktop.</li>
</ul>
</li>
</ul>
</li>
</ol><div><br></div><h2>Manage Parental Controls From Another Mac</h2><div>After you set restrictions for a child on one Mac, you can manage parental controls from a different Mac that’s on the same network. Here’s how:<br><br>
</div><div>On the Mac your child uses:</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.&nbsp;</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select <strong>Manage parental controls from another computer</strong>.<br><br>NOTE: If you don’t see this option, there may be a user selected on the left side of Parental Controls preferences. Command-click the selected user so there isn’t a user selected.</li>
</ol><div><br></div><div>On the Mac you want to use to manage your child’s parental controls settings (i.e. your own personal Mac):</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select the Mac your child uses.</li>
<li>Enter the administrator name and password for the Mac your child uses.</li>
<li>Select the user to be managed (your child).</li>
</ol><div><br></div><div>That’s it! You can now change your child’s parental controls settings and monitor their activity logs.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with their groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>