<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    TikTok
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>TikTok is a video sharing application that allows users to make and watch short music videos. The attraction to TikTok lies in its special effects filters, fun stickers, and the ability to share and collaborate with friends.</div><div><br></div><h2>Safety Concerns</h2><div>Like many social media platforms, users must be 13 or older to use TikTok. The app is rated for ages 12+, but it can still contain mild fantasy violence, suggestive themes, sexual content and nudity, drug use or references, and profanity or crude humor. Here are some other tips:</div><div><br></div><ul>
<li>At times, users may use inappropriate words as hashtags.</li>
<li>TikTok allows users to link their account with other social media profiles such as Instagram or YouTube, which allows the app access to contacts and other information.</li>
<li>TikTok collects information from users, including technical and behavioral information, location, shared social network information, messages, metadata, contacts, and more.</li>
<li>Songs may have explicit lyrics — many people use popular songs to create their own music videos, so exposure to unedited, inappropriate songs on TikTok can be a risk.</li>
<li>Be careful with in-app purchases, particularly coins that users share with others to "encourage creativity." Remember to toggle off "in-app purchases" in the Restrictions section.</li>
</ul><div><br></div><h2>Privacy Controls on TikTok/Musical.ly</h2><h3>How to set up a private account</h3><div>Even with a private account, profile information — including profile photos, usernames, and bios — will be visible to all users. Counsel your teen not to reveal personal information such as their age, address, or phone number in their profile.</div><div>
<br>You can make your TikTok account private so other users cannot see your videos unless they follow you and you approve them.</div><div><br></div><ol>
<li>Go to your profile page.</li>
<li>Tap on the top-right corner and select <strong>Privacy and Settings</strong>
</li>
<li>Select the <strong>Privacy and Safety</strong> option and toggle <strong>Private Account</strong> on or off.</li>
</ol><div><br></div><h3>How to manage comments on a global level</h3><ol>
<li>Go to <strong>Privacy and Safety</strong> settings.</li>
<li>Tap <strong>Who Can Send Me Comments</strong>.</li>
<li>Choose <strong>Everyone</strong>, <strong>Friends</strong> (mutual followers), or <strong>Off</strong>.</li>
</ol><div><br></div><h3>How to turn off comments for an individual video</h3><ol>
<li>Open the video for which you want to turn off comments.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Select <strong>Comments Off</strong>.</li>
</ol><h3>
<br>How to prevent people from creating duet videos with your child</h3><ol>
<li>Go to <strong>Privacy and Safety</strong> settings.</li>
<li>Tap <strong>Who Can Duet With Me</strong>.</li>
<li>Choose <strong>Everyone</strong>, <strong>Friends</strong> (mutual followers), or <strong>Off</strong>.</li>
</ol><div><br></div><h3>How to control direct messages</h3><ol>
<li>Go to <strong>Privacy and Safety</strong> settings.</li>
<li>Tap <strong>Who Can Send Messages to Me</strong>.</li>
<li>Choose accordingly.</li>
</ol><div><br></div><h3>How to block and/or report a user</h3><ol>
<li>From the offending user’s profile, tap the “<strong>…</strong>” in the upper-right corner.</li>
<li>Select <strong>Block this user</strong>. You can also <strong>Unblock</strong> or <strong>Report</strong> a user on the same menu.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On TikTok, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor TikTok chats for Android and Amazon device users. We're continually working to be able to monitor TikTok on iOS. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Gmail
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Gmail is a free email service developed by Google. Users can access Gmail on the web, tablets, and smartphones as well as with third-party programs that synchronize email content.&nbsp;</div><div><br></div><div>Email accounts may seem relatively harmless, but kids as young as five often have their own email address for their online activities. It is nearly impossible to create an online profile without an email address. That said, an unchecked email address is a potential access point for your child to correspond with people you do not know.</div><div><br></div><h2>For Kids Under 13</h2><div>For children under 13, Google Accounts will need to be created with an app called Family Link, which you can also use to supervise their Google Accounts.<br><br>
</div><h3>How to create a Google Account for children under 13</h3><ol>
<li>Download the <strong>Family Link</strong> app.</li>
<li>Open the <strong>Family Link</strong> app.</li>
<li>In the top right, tap <strong>Create </strong>or <strong>+</strong>.</li>
<li>Follow the instructions on screen to create your child’s account.</li>
<li>When you're done, a confirmation will show on the screen.<br><br>
</li>
</ol><h3>How Gmail accounts are different for kids under 13</h3><div>For the most part, Gmail will be the same for children as it is for adults. There are only a few Gmail features that aren't available to children under 13.<br><br>
</div><ul>
<li>
<strong>Ads:</strong> Google won't serve ads in Gmail or process Gmail messages for advertising purposes.</li>
<li>
<strong>Automatic forwarding:</strong> Children can't automatically forward emails to another email address.</li>
<li>
<strong>Gmail offline:</strong> If their device isn't connected to the internet, children can’t read, send, or search their Gmail emails.</li>
<li>
<strong>Google+:</strong> Children can't use any Google+ features available in Gmail.</li>
<li>
<strong>Labs:</strong> Children can’t turn on experimental Gmail features.</li>
<li>
<strong>Mail delegation:</strong> Children can't give someone else access to read, send, or delete their emails.&nbsp;</li>
<li>
<strong>Spam:</strong> If Gmail identifies an email as spam, it won't get delivered to your child's inbox or spam folder.</li>
</ul><div><br></div><h2>For Kids Over 13</h2><h3>How to create filters&nbsp;</h3><div>When setting up a Gmail account for a child, it is best to set up filters to ensure they do not receive unwanted emails. The filter setting limits who can contact your child via email. If you'd like to add more people to the filter, you can do so from the accounts settings.</div><div>&nbsp;</div><ol>
<li>Sign into your child's Gmail account.</li>
<li>Click on the <strong>gear icon</strong> in the top right corner.&nbsp;</li>
<li>Click <strong>Settings</strong>.</li>
<li>Click on the <strong>Filters and Blocked Addresses </strong>tab.</li>
<li>Click <strong>Create a New Filter </strong>and follow the prompts to create a custom filter.</li>
<li>Opt to have the emails that don't fit into the filter deleted, rather than sent to spam to ensure your child cannot access them.</li>
</ol><div><br></div><h3>How to check your child's email from your account</h3><div>As an added layer of protection, you can choose to receive and view your child's email on your account. Adding an account is not the same as email forwarding. The messages will remain in your child's inbox, but give you access to the messages via separate folders.&nbsp;</div><div><br></div><ol>
<li>Enter the <strong>Settings </strong>section of your own Gmail account using the<strong> gear icon</strong> at the top of the inbox.&nbsp;</li>
<li>Click on the <strong>Accounts and Import</strong> tab.&nbsp;</li>
<li>Click on <strong>Add Account</strong>.&nbsp;</li>
<li>Enter the email address and password that you would like to import.</li>
<li>The added account should be your child's email account.</li>
</ol><div><br></div><h3>How to block an email address from contacting your child</h3><ol>
<li>Open the offending email.&nbsp;</li>
<li>In the top right of the message, click <strong>More</strong>.</li>
<li>Then, click <strong>Block [sender]</strong>.</li>
<li>If you blocked someone by mistake, you can unblock them using these same steps.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Gmail, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments and gmail chats they send and receive. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    EA/Origins
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>EA (Electronic Arts) is a video game developer that has created some of the most popular games available today, including Star Wars: Battlefront II, Battlefield, Madden, The Sims, and more. To complement their extensive library of games, EA built a gaming platform called <strong>EA Origin</strong>, which is downloadable on PC, Mac, and the Xbox and PlayStation marketplaces. Players can log in to EA Origin and access all of their EA games, play games without internet access (on PC and Mac only), and connect with friends — all in one place.</div><div><br></div><div>EA Origin also features an optional monthly PC gaming subscription called <strong>Origin Access</strong>. This subscription has a <strong>Basic</strong> package and a more expensive <strong>Premier</strong> package that grants access to over 150 games and the ability to play games before they’re released with <strong>Play First Trials</strong>.</div><div><br></div><div>While EA games have become a staple of the modern childhood experience, many games contain graphic content that may be unsuitable for your child. It’s important to use the available parental controls so your child isn’t exposed to content they can’t handle, whether it’s violent gameplay, mature imagery, or vulgar chatroom discussions.</div><div><br></div><h2>Setting Up a Primary Account</h2><div>In order to set up a child account, EA requires that you first create a profile for yourself. You can then create their child's profile as a sub-account.</div><div><br></div><ol>
<li>Start by navigating to <a href="http://www.origin.com/">www.origin.com</a>.</li>
<li>Click the <strong>Register</strong> button, which is below the orange sign in button.</li>
<li>Input your <strong>Country/Region</strong> and <strong>Date of Birth</strong>.</li>
<li>On the next screen, add your <strong>Email Address</strong> and create a <strong>Password</strong>.</li>
<li>Underneath the heading "<strong>People can find me by searching…</strong>", create a new <strong>Public ID </strong>(otherwise known as a "username"). To protect your anonymity, it’s best not to use your real first or last name.</li>
</ol><div><br></div><div>Now that you have created your main account, you'll need to download and install the EA Origin app to create your child's account. To do this:</div><div><br></div><ol>
<li>
<strong>Log out</strong> of your EA Origin account.</li>
<li>Navigate back to the <a href="http://www.origin.com/">Origin homepage</a>.</li>
<li>In the menu on the left side of the page, click the <a href="https://www.origin.com/usa/en-us/store/download"><strong>Download</strong></a> button.</li>
<li>Select either the<strong> Windows</strong> or<strong> Mac</strong> download button.</li>
</ol><div><br></div><h2>Setting Up a Child Account</h2><div>Once the EA Origin app is installed, you can begin creating your child's account:</div><div><br></div><ol>
<li>Click on the app to open the<strong> </strong>log-in window.</li>
<li>Select <strong>Create An Account</strong> at the top of the window.</li>
<li>Input the <strong>Country/Region</strong> and your child's <strong>Date of Birth</strong>.<ul><li>NOTE: It is <em>very</em> important that you input the correct age for your child to allow for the appropriate restrictions.</li></ul>
</li>
<li>Read and accept the Privacy &amp; Cookie Policy and the User Agreement, then click <strong>Next</strong>.</li>
<li>Enter your email address for your personal EA Account and choose a password in the top two fields.</li>
<li>Then create a Public ID for your child. Avoid using your child's real name.</li>
<li>Click <strong>Create Account</strong>.</li>
<li>A verification email will be sent to your inbox. Click the appropriate link to verify that you are the parent or guardian.<ul><li>The new child's account will use your personal password by default. Make sure to change the password before letting your child access the account:<ol>
<li>Navigate back to the <strong>EA Origin login screen</strong>.</li>
<li>Select the <strong>Forgot your password?</strong> link below the sign-in button.</li>
<li>Type in your <strong>child's Public ID</strong>.</li>
<li>You will receive an email to reset the password.</li>
</ol>
</li></ul>
</li>
</ol><div><br></div><h2>Child Account Restrictions</h2><h3>Multiplayer games</h3><div>It's worth noting that accounts for children under the age of 13 will not have access to many online multiplayer games, depending on the gaming console they have. If you want your child to be able to play any online multiplayer game on a PC, Mac, or PlayStation 3, the game will need to be purchased and played on your adult account, which is not recommended without supervision. Xbox One, Xbox 360, and PlayStation 4 consoles all allow customized parental controls using each console's built-in parental control settings.<br><br>
</div><h3>Marketplace</h3><div>Child accounts do not have access to the Origin Store, so your child will not be able to purchase games through their account. Games can be added manually by <a href="https://help.ea.com/en-us/help/origin/origin/origin-code-redemption-faq/">redeeming the Product Code</a> in your child's account.</div><div><br></div><h3>Social interaction</h3><div>At this time, EA does not allow social interaction on a child account. Adult accounts have the ability to add friends by searching a Public ID or email address.</div><div><br></div><h2>When Your Child Gets Older</h2><div>Once your child reaches a certain age, EA will <a href="https://help.ea.com/en-us/help/account/aging-up-an-origin-account-to-an-adult-account/">automatically notify your child</a> that they are allowed to change their child account to a full-access account. This age varies by country or region, but it is typically 13 years old.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Call of Duty
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Call of Duty: Black Ops 4 is the latest major entry in the long-running Call of Duty series of multiplayer shooters. This game features a new addition: Blackout, the first major budget entry into the battle royale shooter sub-genre made popular by Fortnite and PUBG.</div><div><br></div><div>Call of Duty: Black Ops 4 is available on PC via Battle.net, PlayStation 4, and Xbox One. Unlike some popular games, such as Fortnite or Rocket League, there is no cross-platform play, so universal communications settings for Battle.net, PSN, and Xbox Live fully control the level of communication your child has with other players.<br><br>
</div><h2>Graphic content</h2><div>Call of Duty: Black Ops 4 is specifically targeted at mature audiences. It depicts gunshot wounds, dismemberment, and exposed viscera. The in-game dialogue regularly includes profanity. Some levels include elements such as mutilated corpses and drug paraphernalia. Parents are strongly cautioned to decide whether it is appropriate for their child to play this game.<br><br>
</div><h3>How to turn off graphic content</h3><ol>
<li>From the in-game menu, select <strong>Options</strong>.</li>
<li>Next, select <strong>Content Filter</strong>.</li>
<li>Set <strong>Graphic Content</strong> to <strong>Off</strong>&nbsp; to disable blood, gore, and adult language.</li>
</ol><div><br></div><h2>Chat Functionality</h2><div>There is no text communication in Call of Duty: Black Ops 4. Voice chat is handled through the overarching online service hosting the game (Battle.net, PlayStation Network, and Xbox Live). Unless players have voice communication turned off manually or are already engaged in a private party chat, they will have open lines with all players present in the game.</div><div><br></div><div>The Blackout mode defaults to squad chat if the player is not engaged in a solo game. However, whenever players are near an enemy who has died, the game opens their microphone to anyone near the downed player. Often, this leads to a few seconds of aggressive or offensive chatter for a few seconds. These voice opportunities can be disabled by system-level communications settings.</div><div><br></div><h2>How to Disable Public Voice Communications</h2><h3>For Xbox One users</h3><ol>
<li>Head over to <a href="https://account.xbox.com/en-US/settings">https://account.xbox.com/en-US/settings</a>. Log in with your Xbox Live account information, and select your child's profile.</li>
<li>Scroll down to <strong>Privacy and Online Safety</strong> and select it. A list of games appears.</li>
<li>Choose <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Scroll down to <strong>Others Can Communicate with Voice, Text, or Invites Settings</strong> and toggle the input field to <strong>Blocked</strong>. Now, all voice communication features will be disabled.<ol><li>&nbsp;System-level party chat will still be enabled with approved friends.</li></ol>
</li>
</ol><div><br></div><h3>For PlayStation 4 users</h3><ol>
<li>Select <strong>Settings</strong> on your PS4 dashboard.</li>
<li>Choose your child's profile and scroll down to <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Click <strong>Applications/Devices/Network Features</strong>.</li>
<li>Select <strong>Network Features</strong>.</li>
<li>In the <strong>Network Features</strong> area check the radio button next to <strong>Choose to Disable Communication With Other PSN Users On This Account</strong>.</li>
</ol><div><br></div><h3>For PC Battle.net users</h3><ol>
<li>Load up <strong>Call of Duty: Black Ops 4</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Sound</strong>.</li>
<li>Scroll down to <strong>In-Game Voice</strong> and toggle it to <strong>Disabled</strong>.</li>
<li>Players can also choose to mute individual players in-game in real time. To do so, press <strong>Tab</strong> to bring up the scoreboard.</li>
<li>Mouse over the offending player, and click their name.</li>
<li>Choose <strong>Mute</strong>. This player will remain muted in new multiplayer sessions, as well.</li>
</ol><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Spectrum
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. You will have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com&nbsp;</li>
<li>Spectrum TV channel apps.&nbsp;</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users:</div><div><br></div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong> and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users:<strong><br></strong><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for Preferences will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable parental controls. You might need to select the <strong>lock</strong> icon on the <strong>Parental Control</strong> window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block.</li>
</ol><div>NOTE: You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your <strong>Parental Control</strong> and <strong>Browser Protection</strong> settings. If a website is added to the website exception list, it won't be blocked for any reason.</div><div><br></div><h2>Parental Control Features</h2><div>Once in the Security Suite, you can turn on and adjust settings for the features detailed below.</div><div><br></div><h3>Content blocker</h3><div>Restrict access to sites based on content or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.&nbsp;</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.&nbsp;</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.&nbsp;</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under <strong>Channel blocks</strong>, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Netflix
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Netflix is one of the most popular online streaming services in the U.S., with more than 100 million subscribers. Its content includes movies, TV shows, documentaries, and more, and it runs the gamut from kid-friendly to adult-only. Netflix can be accessed via web browsers, smart TVs, tablets, smartphones, and even consoles such as Xbox One and Playstation 4.<br><br>
</div><h2>Parental Control Settings</h2><div>With Netflix’s parental restrictions, you can add profiles for everyone in your family — each with different parental control settings to limit what content they can access. It’s best to set up these changes from a computer.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Netflix.com. You’ll be greeted with a screen that says <strong>Who's watching?</strong>
</li>
<li>Click on the <strong>Add Profile</strong> icon to the far right.</li>
<li>Input your child's name and then click <strong>Continue</strong>.</li>
<li>On the <strong>Manage Profiles</strong> screen, you will be able to create additional parental controls on the account you just created. Click the <strong>pencil</strong> icon on the account.</li>
<li>Click on the dropdown labeled <strong>Allowed TV Shows and Movies</strong> and choose one of these four options:<ul>
<li>
<strong>For Little Kids only:</strong> This category features G-rated content suitable for younger children, including a variety of cartoons, nature documentaries, and silly kids’ movies and TV shows.</li>
<li>
<strong>For Older Kids and below:</strong> This category adds PG-rated movies and TV shows that include themes of violence — although no blood or gore is present.</li>
<li>
<strong>For Teens and below: </strong>This category adds PG-13 content that will not be suitable for younger children. Violence will be more graphic, and there will be mild explicit content.</li>
<li>
<strong>All Maturity levels: </strong>No restrictions. NC-17, NR, R, and UR content is available.</li>
</ul>
</li>
</ol><div><br></div><h3>How to create a parent control PIN</h3><div>Now that you have created the account for your child, you can create a Parental Control PIN that you can use to lock down specific content. This has been a long-awaited feature for Netflix, allowing parents to gain more advanced control over their child's accounts and block any unwanted material behind a PIN passcode.</div><div><br></div><ol>
<li>Log in to your Netflix account and select your profile.</li>
<li>Click on your icon on the top-right corner of the screen and select <strong>Account</strong> from the dropdown that appears.</li>
<li>In the <strong>Settings</strong> section below, click on the <strong>Parental Controls</strong> link. You will be asked to re-enter your password to continue to the next screen.</li>
<li>You will then be directed to the <strong>Parental Control PIN</strong> screen. Enter a PIN number of your choice.</li>
<li>In the <strong>Restrict by Maturity Level</strong> section, you can change the slider on the screen to block any of the four levels mentioned above. This will require the PIN number to be typed in before viewing any content above the chosen level.</li>
<li>In the <strong>Restrict Specific Titles</strong> section below, you can choose specific titles that require a PIN to watch, regardless of the maturity rating on the account.</li>
</ol><div><br></div><h3>How to view what your child has recently watched</h3><div>Netflix also allows you to view the recent streaming activity. This allows you to see the exact date and time content has been viewed on Netflix, as well as from where and on what device.</div><div><br></div><ol>
<li>Click on your icon in the top-right corner of the screen again and click on <strong>Account</strong>.</li>
<li>In the <strong>Settings</strong> section, select <strong>Recent Device Streaming Activity</strong>. Here you will see the most recently used devices with their locations.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options are available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content and access Google Fiber apps like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls — one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guides (indicated by a red prohibition sign, or a "no symbol"), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step-by-step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong><em>.</em>
</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows 10
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows 10 is the latest operating system available for PCs. It allows for seamless connection between PCs, Windows phones, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h2>Setting Parental Controls on Windows 10</h2><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Firefox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Mozilla Firefox is an internet browser available for your computer and mobile devices. It does not have any built-in parental control features. However, if you change the parental controls on the computer itself, these settings can apply to the Firefox browser. It’s also possible to use third-party browser add-ons, known as <a href="https://addons.mozilla.org/en-US/firefox/search/?q=parental+control&amp;cat=all">extensions</a>, to implement parental controls.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPad
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>