<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Lollipop – 5.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to<strong> Android Lollipop</strong>, which is version 5.0 - 5.1.1. This is an older version of Android, as it was released November 12, 2014.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 5.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:<em>&nbsp;</em>
</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings.</strong>
</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF.</strong>
</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy Note 10
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy Note 10 is part of Samsung's incredibly popular Galaxy series of smartphone devices. Like all smartphones that run on the Android operating system, the Galaxy Note 10 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).</div><div><br></div><div>Since the Galaxy Note 10 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div><br></div><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.</div><div><br></div><div>You can also set up Iris Scanner. <strong>Iris Scanner</strong> uses your eyes to unlock the device by pointing them at the iris scanner. To do this:</div><div><br></div><ol>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Biometrics</strong>.</li>
<li>Tap <strong>Iris Scanner.</strong>
</li>
</ol><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.&nbsp;</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.&nbsp;</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>In the mobile section, tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Toggle the Limit mobile data switch <strong>ON</strong>.</li>
<li>If prompted, tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>SET.</strong>
</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>In the mobile section, tap <strong>Alert me about data usage.</strong>
</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>SET.</strong>
</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon is one of the largest cell phone service providers in the U.S. Beyond smartphones, they also sell tablets, wearables, and other accessories. If Verizon is your provider, you’ll be glad to know they offer their own parental controls to help you keep your children safe online.</div><div><br></div><div>Verizon Family Safeguards &amp; Controls allow you to manage everything from phone activity and usage to age restrictions on content, and more. Most of the features are included free with your plan. Let’s take a look at what’s included, and what you’ll have to pay for.</div><div><br></div><ul>
<li>
<strong>Verizon Roadside Assistance: </strong>$3/month/line</li>
<li>
<strong>Verizon Smart Family:</strong> $4.99/month/account</li>
<li>
<strong>Block Calls &amp; Messages:</strong> Free</li>
<li>
<strong>Internet Spam Blocking:</strong> Free</li>
<li>
<strong>Verizon Support &amp; Protection:</strong> Free</li>
<li>
<strong>Family Locator: </strong>$9.99/month/account - included in Smart Family Premium</li>
<li>
<strong>Service Blocks:</strong> Free</li>
<li>
<strong>Total Equipment Coverage: </strong>Starts at $7/month/device</li>
<li>
<strong>Total Mobile Protection: </strong>Starts at $9/month/device</li>
<li>
<strong>Usage Alerts:</strong> Free</li>
</ul><div>
<br><br>
</div><h2>Verizon's Just Kids Plan</h2><div>The Just Kids Plan allows parents to manage screen time, filter content, track location and more. Additional features include:<br><br>
</div><ol>
<li>5GB monthly data</li>
<li>Unlimited talk/text to 20 parent-approved contacts</li>
<li>Safety mode to avoid data overages</li>
<li>Smart Family premium with parental controls at no extra cost&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Setting Parental Controls on Verizon</h2><div>Only the Account Owner or Account Manager can access the Usage Controls/Smart Family.</div><div><br></div><ol>
<li>Login into Verizon Smart Family using your <strong>My Verizon</strong> login credentials.</li>
<li>Select your desired Smart Family plan. Tap <strong>Next</strong>.</li>
<li>Select the lines you’d like to add to the Smart Family.</li>
<li>Name the lines you’re adding if you want. Then tap <strong>Sign up</strong>.</li>
</ol><div><br></div><h2>Pairing Your Child’s Devices</h2><h3>On Android</h3><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Tap <strong>Pause Internet</strong>, <strong>Add protection</strong>, or <strong>Content filters</strong>.</li>
<li>Tap <strong>Next</strong>.</li>
<li>Enter your child's age to get the appropriate protection level. Tap <strong>Next</strong>.</li>
<li>Select <strong>OK</strong>.</li>
<li>Block or customize each category according to what you believe is best for your child.</li>
<li>Tap <strong>Pair phone</strong>.</li>
<li>Tap <strong>Send</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Open your child’s device.</li>
<li>Open the text from the Parent app.</li>
<li>Tap <strong>Show Me How</strong>.</li>
<li>Watch the tutorial. Tap <strong>Got it</strong> to continue.</li>
<li>Scroll to <strong>Smart Family Companion</strong> and tap that option.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Toggle Smart Family Companion to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong> on your Parent device.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h3>On iPhone</h3><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Tap <strong>Pause Internet</strong>, <strong>Add protection</strong>, or <strong>Content filters</strong>.</li>
<li>Tap <strong>Next</strong>.</li>
<li>Enter your child's age to get the appropriate protection level. Tap <strong>Next</strong>.</li>
<li>Select <strong>OK</strong>.</li>
<li>Block or customize each category according to what you believe is best for your child.</li>
<li>Tap <strong>Pair phone</strong>.</li>
<li>Tap <strong>Send</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Open your child’s device.</li>
<li>Open the text from the Parent app.</li>
<li>Tap <strong>Show Me How</strong>.</li>
<li>Watch the tutorial. Tap <strong>Got it</strong> to continue.</li>
<li>Tap <strong>Install</strong>, then tap <strong>Trust.</strong>&nbsp;</li>
<li>Tap <strong>Done</strong>. Tap <strong>OK</strong>.</li>
<li>Tap <strong>OK</strong> on the Parent device.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Enabling Content Filters</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Content Filters</strong>.</li>
<li>Tap everything you want to block.</li>
<li>When you’re done, tap <strong>Save</strong>.</li>
<li>Tap <strong>Content Filters</strong> again, and scroll down to <strong>Websites</strong>.&nbsp;</li>
<li>Tap <strong>Trusted Websites</strong> to add websites to that list.</li>
<li>Tap <strong>Blocked Websites</strong> to add websites to that list.</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Time Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Time Restrictions</strong>.</li>
<li>Create time restrictions appropriate for your child.<ol>
<li>Add school or night hours by tapping <strong>School hours</strong> or <strong>night hours</strong> and adjusting the recommended restrictions.</li>
<li>Tap <strong>Save</strong> to put the restrictions in effect.</li>
<li>Add custom restrictions by tapping <strong>Add time restrictions</strong>. Choose times and days you want to go into effect. Tap <strong>Save</strong>.</li>
<li>To remove restrictions, select the restriction you want to remove, then tap Remove.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Data Target Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Data target</strong>.</li>
<li>Create data targets appropriate for your child.<ol>
<li>Enter the data target in gigabytes for the child.</li>
<li>If you want to be notified when your child reaches that target, tap <strong>Don’t block data, but alert me when the limit is reached</strong>.</li>
<li>Tap <strong>Save</strong> to put the limit into effect.</li>
<li>To remove restrictions, tap the data target for the family member, then tap <strong>Remove</strong>. Confirm removal by tapping remove again.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Purchase Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Purchase Limits</strong>.</li>
<li>Create a purchase limit based on what you feel is appropriate for your child.<ol>
<li>Enter the dollar amount to set the limit. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping it and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Text Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Text limit</strong>.</li>
<li>Create a text limit based on what you feel is appropriate for your child.&nbsp;<ol>
<li>Enter the maximum number of texts you’ll allow your child to send and receive in a month. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping the limit and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Setting Call Limits</h2><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Limits</strong>.</li>
<li>Tap <strong>Call limits</strong>.</li>
<li>Create a call limit based on what you feel is appropriate for your child.&nbsp;<ol>
<li>Enter the maximum number of minutes you’ll allow your child to use in a month. Tap <strong>Save</strong> to put it in effect.</li>
<li>Remove the limit by tapping the limit and tapping <strong>Remove</strong>.</li>
</ol>
</li>
<li>Repeat for any other children.</li>
</ol><div><br></div><h2>Location Alerts</h2><div>If you’ve opted for Smart Family Premium, family location features are included. You can add locations where your child often is, and get notified when they arrive at and leave those locations.</div><div><br></div><ol>
<li>Select the <strong>Child</strong> from the <strong>Family Picker</strong>.</li>
<li>Scroll down to <strong>Manage Controls</strong>.</li>
<li>Tap <strong>Location alerts</strong>.</li>
<li>Tap <strong>Places &amp; alerts</strong>.<ol>
<li>Tap <strong>Add a place</strong>.</li>
<li>Enter a name and address.</li>
<li>Tap either <strong>Arrival</strong> or <strong>Departure</strong> alert switches.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Repeat for any additional locations.</li>
<li>Remove alerts by selecting the Place Alert you want to remove, then tap <strong>Remove</strong>. Tap Remove again to confirm.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    GroupMe
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The GroupMe app is a messaging app owned by Microsoft. Users sign up with their Facebook, Microsoft/Skype, phone number, or email address, and are then able to send private or group messages to other users. It works across platforms; all you need is a device (iPhone, Android, computer, tablet) and Wi-Fi or data to get connected.</div><div><br></div><div>GroupMe is primarily a group chatting app, but there is also the option for direct messaging between individuals.</div><div><br></div><h2>Safety Concerns With GroupMe</h2><ol>
<li>
<strong>Location tracking:</strong> Users can opt in to a geo-tracking feature, which allows them to engage in conversations with strangers. Nearby GroupMe users can view the name and profile picture of people close by, and they can initiate messages with one another. This is a concern because it gives potential predators a direct way to communicate with kids.</li>
<li>
<strong>Inability to fully delete old messages:</strong> There is no option to delete old messages, so if a user posts something they later regret, there's no way to undo it. Messages may be “hidden,” but they don’t disappear entirely. This inability to undo an action may be concerning.</li>
<li>
<strong>Access to inappropriate GIFs and emojis:</strong> Users are able to see and use content that parents might find objectionable. There are sexually explicit images, GIFs, and video clips. Many of these also allow users to follow the source link, which could then lead to even more inappropriate content. GroupMe does not offer a way to filter out this content.</li>
<li>
<strong>Reports of bullying:</strong> Because GroupMe is set up for group use, it's easy to see how these groups can encourage the formation of cliques. There have been many reports of bullying within the app.</li>
</ol><div><br></div><h2>How to Block Someone&nbsp;</h2><div>You can block people from contacting you or adding you into any groups. You cannot delete GroupMe contacts.<br><br>1. In the main menu, select <strong>Contacts</strong>.<br> 2. Select the contact you want to block, then select <strong>Block</strong>.<br> 3. In the confirmation window, select <strong>Yes</strong> or <strong>Block</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On GroupMe, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors your child's group messages and private messages, including images and media associated with each. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iCloud
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>iCloud email is Apple's cloud-based email solution, and it integrates across all iOS devices. For families with iPhones, iPads and OSX computers in their household, iCloud email is a seamless way to easily set up and access email.</div><div><br></div><div>One downside of iCloud mail is that you cannot connect sub-accounts to a primary account and access their iCloud email messages. For parents to gain full access to their children's iCloud email, a shared account is required. Apple's approach involves limiting options on the child's device directly, rather than at the account level.</div><div><br></div><div>There are definitely some benefits to the shared account approach. This streamlines the process for keeping an eye on email contacts and any messages sent by your children. As long as your children have similarly limited access on their iOS and OSX devices, you can feel confident that there aren't any email activities they can engage in that you won't be able to access.</div><div><br></div><div>The other option is to connect accounts for children under 13 to a primary account. This allows the owner of the primary account to select which applications and services on their iOS or OSX device are open for usage. This allows parents to limit or disable iCloud email access, but it does not provide the ability to read messages remotely.</div><div><br></div><h2>Two-Factor Authentication for iCloud for iOS</h2><ol>
<li>Open the <strong>Mail</strong> app.</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap the primary account name.</li>
<li>Tap <strong>Turn On Two-Factor Authentication</strong>.</li>
<li>Add the phone number(s) where you would like to receive authentication codes.</li>
<li>Tap <strong>Next</strong> to test the process and receive your code.</li>
<li>Type in the code you receive to complete the process.</li>
</ol><div><br></div><h2>Connect Accounts for Users Under 13 to a Family Sharing iCloud Account for iOS (on Phones)</h2><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap your account name.</li>
<li>Select <strong>Family Sharing</strong>.</li>
<li>Select <strong>Add Family Member</strong>.</li>
<li>Tap <strong>Create a Child Account</strong>.</li>
<li>Follow the on-screen instructions (you'll need your child's birthday and a chosen permanent name for their iCloud account).</li>
<li>When these steps are complete, select <strong>Family Sharing</strong> again.</li>
<li>Select your child's account name to manage which applications or payments they can access.</li>
<li>Tap <strong>Mail</strong> to limit usable hours or prohibit usage entirely for their iCloud email account.</li>
</ol><div><br></div><div>For supplemental information surrounding how Under 13 iCloud accounts work on all platforms, please consult Apple's official page <a href="https://support.apple.com/en-us/HT201084">here</a>.</div><div><br></div><h2>Connect Accounts for Users Under 13 to a Family Sharing iCloud Account Through OSX (on Computers)</h2><ol>
<li>Click <strong>Apple Menu</strong>.</li>
<li>Go to <strong>System Preferences</strong>.</li>
<li>Click <strong>iCloud</strong>.</li>
<li>Select <strong>Manage Family</strong>.</li>
<li>Click the <strong>+</strong> icon to add a new account.</li>
<li>Select <strong>Create an Apple ID</strong> for a child.</li>
<li>Follow the on-screen prompts for information (you'll need your child's birthday as well as a permanent name for their personal account).</li>
<li>When these steps are complete, select <strong>Manage Family</strong> again.</li>
<li>Here, you'll find options for the same limitations as the iOS version.</li>
</ol><div><br></div><div>For a deeper dive into information on all of the aspects of iCloud, please take a moment to look over their official support page <a href="https://support.apple.com/icloud">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In iCloud email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Steam
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Steam is a free gaming platform available for download onto your computer. With it, you can buy and download video games — and there are millions to choose from. While many of them are appropriate for children, there are plenty that aren’t. Fortunately, parents can take control and decide what gets downloaded.</div><div><br></div><div>Any time a person sets up a new Steam account, that account automatically gets full access to everything: the Steam store, all purchased games, and the Steam Community discussions. To prevent children from purchasing or accessing inappropriate content on the Steam platform, there is a set of parental controls available known as Family View.</div><div><br></div><div>With Family View, access to the Steam Store, Library, Community, Friends content, and other features may be granted by the entry of a secret PIN.</div><div><br></div><h2>How to Set Parental Controls on Steam</h2><ol>
<li>Login to Steam with the account your child will use.</li>
<li>Click the <strong>Steam menu</strong> in the top, and open <strong>Settings</strong>.</li>
<li>Go to the <strong>Family</strong> tab that opens on the left side of the window.</li>
<li>Click <strong>Family View</strong> to start the wizard.</li>
<li>Follow the on-screen instructions through each step of the wizard. This allows you to choose the content and features you want the child to be able to access with their account.</li>
<li>Select and confirm your new PIN.</li>
</ol><div><br></div><div>It’s worth noting that even though there is a parental control system in place, Steam still leaves vetting the games and checking the ratings to parents. Games are rated by age, but may not provide enough detail about what is actually in the game for parents to make informed decisions. This means parents will have to rely on third-party sources such as <a href="https://www.commonsensemedia.org/">Common Sense Media</a> to learn more about titles before making decisions about games and restrictions.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    World of Warcraft
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>World of Warcraft (WoW) is the most popular massively multiplayer online role playing game (MMORPG) of all time. While the WoW craze has died down in recent years, it is still a popular place for millions of people to slip into their in-game avatars, gather, and play.</div><div><br></div><div>In WoW, players enter the world of Azeroth, a place filled with many races and creatures, but split into two near-constantly warring factions — the Alliance and the Horde. Players can choose to join either faction then help people all around the world of Azeroth for gold, gear and experience points to level up.</div><div><br></div><h2>Enabling Parental Controls in World of Warcraft</h2><div>This all seems fairly innocent, and it is. However, your children will be playing on servers filled with thousands of other people. To manufacturer Blizzard's credit, they have gone to great lengths to make sure their game was safe for all players and to help parents make sure their children aren't spending all their time in the world of Azeroth.</div><div><br></div><div>World of Warcraft is a PC-only game, and while there are other ways to enact parental controls on the PC, Blizzard has some of the most expansive parental controls of any game publisher.</div><div><br></div><div><strong>When you create a Parent Account with Blizzard, you’ll be able to:</strong></div><div><br></div><ul>
<li>Set play time limits and certain schedules</li>
<li>Enable or disable voice chat</li>
<li>Enable or disable live streaming of gameplay</li>
<li>Enable or disable in-game purchases</li>
<li>Enable or disable text chat and Real ID name reveal</li>
<li>Full play-time reports</li>
</ul><div><br></div><div>All of this can be very simply enabled on Blizzard's website from the parental control page <a href="https://us.battle.net/account/parental-controls/setup.html">here</a>.</div><div><br></div><h2>Things to Keep in Mind</h2><h3>To chat, or not to chat?</h3><div>While Blizzard has excellent parental controls, the reason that WoW has been enduringly popular is because it’s played with so many other people. Unlike other games, where the activities are short, some activities may require players to communicate with one another to explain more complex mechanics. This is where disabling chat might affect gameplay. However, for younger children, it may be best to keep chat disabled so they’re not exposed to uncensored strangers (many of whom are adults).<br><br>
</div><h3>Using Discord instead of WoW chat</h3><div>It is important to also remember that while Blizzard has good parental controls, there are ways to bypass them. For example, many guilds, instead of using in-game chat options, will use third-party programs such as Discord to text and voice chat. This makes it necessary to still keep an eye on who your children chat with even if WoW chat is disabled.<br><br>
</div><h3>Real-life guilds</h3><div>The best option for keeping your children safe while still allowing them to have fun may be instead to find an in-game community that is a good fit for them. In WoW, these communities are called guilds. Many guilds are run by other parents to create a safe community that exists specifically for younger children to give them a friendly and safe play environment.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Charter
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Charter Communications recently underwent a merger with Time Warner and Bright House Networks. They are now all the same company: Spectrum. What follows are the parental controls for Spectrum's internet and TV services.<br><br>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. You will have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com&nbsp;</li>
<li>Spectrum TV channel apps.&nbsp;</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users:</div><div><br></div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong> and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users:<strong><br></strong><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for Preferences will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable parental controls. You might need to select the <strong>lock</strong> icon on the <strong>Parental Control</strong> window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block.</li>
</ol><div>NOTE: You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your <strong>Parental Control</strong> and <strong>Browser Protection</strong> settings. If a website is added to the website exception list, it won't be blocked for any reason.</div><div><br></div><h2>Parental Control Features</h2><div>Once in the Security Suite, you can turn on and adjust settings for the features detailed below.</div><div><br></div><h3>Content blocker</h3><div>Restrict access to sites based on content or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.&nbsp;</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.&nbsp;</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.&nbsp;</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under <strong>Channel blocks</strong>, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire Stick
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Amazon Fire Stick plugs into your TV’s HDMI port and gives you access to streaming services, TV shows, movies, apps, music, photos, and games.<br><br>
</div><h2>Amazon Fire Stick Parental Control Settings</h2><h3>How to turn on parental controls</h3><div><br></div><ol>
<li>Select Settings from the Fire TV menu</li>
<li>Open Preferences</li>
<li>Select Parental Controls and press the ‘Select’ button on your remote to turn parental controls ON</li>
<li>Enter or set your PIN if prompted. (Use the ‘Menu’ button on your remote to change between sets of numbers</li>
<li>Select Next when you're done</li>
</ol><h3><br></h3><h3>How to manage parental controls</h3><div>After you set or enter your PIN, you can manage the following parental controls preferences:</div><ul>
<li>
<strong>Purchases</strong> - Require your PIN to authorize purchases from Amazon.&gt;</li>
<li>
<strong>App Launches</strong> - Require your PIN to open installed apps on your device. You can still browse Apps from the Fire TV menu, but will be prompted to enter your PIN before you can access any apps or games installed on your device.</li>
<li>
<strong>Prime Photos App</strong> - Require your PIN to open the Prime Photos app, which you can use to view your photos and personal videos from Amazon Drive on your Fire TV.</li>
<li>
<strong>Viewing Restrictions</strong> - Block playback of movies and TV shows, based on their ratings category.</li>
<li>
<strong>Explicit Filter for Amazon Music</strong> - Block playback of songs that contain explicit words and phrases. When the filter is switched on, songs that contain explicit lyrics aren't played. Instead of bleeping out or removing explicit lyrics within a song, the filter prevents playback of the song itself. To enable this setting:</li>
</ul><ol>
<li>Open the music app.</li>
<li>Tap the Settings icon.</li>
<li>Toggle explicit filter on or off.</li>
<li>Change your PIN - Change your Prime Video PIN directly on your Fire TV device.</li>
</ol><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.&nbsp;<br><br>
</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Dish
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>This guide will show DISH satellite internet users exactly how to use all available tools for parents.</div><div><br></div><h2>DISH Satellite Internet: Understanding the Technology</h2><div>Satellite internet with dishNET is ideal for basic web browsing, online shopping, social media, and email.&nbsp;</div><div><br></div><div>There is a data limit for users, so parents will want to know how to monitor data usage. Here are the steps:</div><div><br></div><ol>
<li>Go to <a href="http://mydish.com/"><strong>myDISH.com</strong></a> and select <strong>Create Online ID</strong>.</li>
<li>Identify yourself with either your 10-digit phone number or your 16-digit account number, and then follow instructions to verify your information.</li>
<li>Once logged in, select <strong>My Internet</strong> from the menu on the left.</li>
<li>View and manage the amount of data being used on your account. You can see what time of day the internet is being accessed the most, and you can view how much data is remaining.</li>
</ol><div><br></div><div>Other than viewing data usage, parents do not have more direct control over browsing habits with dishNET.</div><div><br></div><h2>How to Set Parental Controls With DISH TV</h2><h3>On the DISH TV receiver</h3><div>Each receiver box in the home must be set with individual controls. Parents are able to restrict access to programs with certain ratings, block adult channels, and restrict the ability to purchase content. Steps vary based on which specific box you have.</div><div><br></div><div>In general, you will log in via the <strong>Home</strong> button on your remote, and then select the <strong>Settings - Parental Controls</strong> option. Here, you can turn controls on or off, set your parental password, and choose individual controls to enable.</div><div><br></div><div>Here are detailed instructions for each type of DISH remote.</div><div><br></div><div>
<strong>40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>DISH also offers a TV Guardian feature. When enabled, the TV Guardian will block explicit language that is spoken on the audio or written in the closed captioning. A TV Guardian logo will appear on the bottom-right corner of your screen when something is blocked.</div><div><br></div><div>
<strong>TV Guardian on a 40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><div>
<strong>50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>
<strong>TV Guardian on a 50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><h2>With DISH Anywhere</h2><div>DISH Anywhere is a service that allows customers to access television programming via their mobile device or computer. Parental controls set on the receiver do not transfer to this service, so each device must have parental controls activated. Below is detailed information on how to change settings for each type of device: Phone, Tablet, Computer, Amazon Fire TV/Stick, and Android TV.</div><div><br></div><h3>For a phone</h3><div>First, you’ll need to download the DISH Anywhere app onto your phone. You’ll need to enter your DISH Online ID and password so be sure you have those handy.</div><div><br></div><div>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired four-digit passcode.</li>
<li>Re-enter your desired four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been created.</li>
<li>Select your desired security question.</li>
<li>Enter the answer to your selected security question.</li>
<li>&nbsp;Re-enter the answer to your selected security question.</li>
<li>Select <strong>OK</strong> to confirm your security question has been added.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your new four-digit passcode.</li>
<li>Re-enter your new four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been changed.<br><br>
</li>
</ol><div>To customize your settings:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>TV Ratings</strong> or <strong>Movie Ratings</strong> to set restrictions.</li>
<li>Select which ratings will require the parental control passcode to view.</li>
<li>Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a tablet</h3><div>First, you’ll need to download the DISH Anywhere app onto your tablet. Then enter your DISH Online ID and password. Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong>.</li>
<li>Swipe to and select your desired security question.</li>
<li>Enter your desired answer.</li>
<li>Re-enter your desired answer.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
<li>&nbsp;Select your desired parental control preferences.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your desired passcode, then re-enter to confirm.</li>
<li>Select <strong>OK</strong> to confirm the passcode was changed successfully.</li>
</ol><div><br></div><div>To customize your settings:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If necessary, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a computer</h3><div>Visit dishanywhere.com and log in with your mydish.com username and password. If you need to create a mydish.com account first, you’ll need to have the following information to identify your DISH account.<br><br>
</div><div>Either your:<br><br>
</div><ul>
<li>Phone #&nbsp;</li>
<li>Account #</li>
<li>10-Digit Receiver #</li>
</ul><div><br></div><div>AND provide one of the following to verify you are authorized to access the account.<br><br>
</div><ul>
<li>4-Digit Security Code&nbsp;</li>
<li>Last 4-Digits of Social Security #</li>
<li>Send Email to Address on File</li>
</ul><div><br></div><div>Once you’re in dishanywhere.com, you’ll need to create a passcode. To set up your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired <strong>Security Question</strong>.</li>
<li>Type the answer to the Security Question in the <strong>Answer</strong> and <strong>Confirm Answer</strong> fields.</li>
<li>Enter your desired four-digit passcode into the <strong>Passcode</strong> and <strong>Confirm Passcode</strong> fields.</li>
<li>Select <strong>Activate Parental Controls</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Type in your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your passcode into the <strong>Current Passcode</strong> field.</li>
<li>Enter your desired new passcode into the <strong>New Passcode</strong> and <strong>Confirm New Passcode</strong> fields.</li>
<li>Select <strong>Change Passcode</strong>.</li>
</ol><div><br></div><div>To customize your parental control settings:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select your desired parental control preferences.</li>
<li>Select <strong>Update Parental Controls</strong>.<br><br>
</li>
</ol><h3>For Amazon Fire TV/Stick and Android TV</h3><div>To set up the parental controls for DISH Anywhere on a smart TV, you’ll need to start by downloading the app (or if you’re lucky enough to be in a hotel room where the app is already installed). You will need your DISH online ID and password in order to log in.<br><br>
</div><div>Next, you need to create a passcode for your parental controls. Here’s how:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Select <strong>CREATE PASSCODE</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To change the passcode for your parental controls:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Enter your current passcode.</li>
<li>Select <strong>CHANGE PASSCODE</strong>.</li>
<li>Enter your new passcode.</li>
<li>Re-enter your new passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To customize your parental control settings for an Amazon Fire TV/Stick &amp; Android TV:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>Select <strong>Save Changes</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Safari
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Safari is the internet browser that comes with all Apple computers, and it possesses some built-in parental control features to help protect your children online. For these to work, you must first create a user profile for your child on the Apple device, then adjust the system settings to apply to Safari.</div><div><br></div><div>NOTE: These instructions apply to Mac computers using Sierra OS. Menu options may vary slightly, but generally the instructions should be similar for other Mac OS versions.<br><br>
</div><h2>How to Create a User Profile for Your Child on an Apple Computer</h2><ol>
<li>Log in to your administrator account on the device.</li>
<li>Click <strong>System Preferences</strong>.</li>
<li>Next, click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon in order to begin making changes. Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Choose the Age:<ol>
<li>4+</li>
<li>9+</li>
<li>12+</li>
<li>17+</li>
</ol>
</li>
<li>Add the full name of your child.</li>
<li>Next, enter an account name.</li>
<li>Enter a password.</li>
<li>Create a password hint in case your child forgets the password. (If it is forgotten, you can log in to your administrator account and reset the password).</li>
<li>Click <strong>Create user</strong>.</li>
<li>When finished, click the <strong>lock</strong> icon again to prevent further changes.</li>
</ol><div><br></div><h2>How to Set Parental Controls for Safari</h2><ol>
<li>Click <strong>System Preferences</strong>.&nbsp;</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes. Enter your password when prompted.</li>
<li>Select the user account whose parental controls you want to manage.</li>
<li>Click <strong>Enable Parental Controls</strong>.</li>
<li>Click <strong>Web</strong>. While you can use this interface to implement parental controls for the entire computer, since this focuses on the Safari browser, we’ll ignore the other tabs and options.</li>
<li>Choose one of the following options:<ul>
<li><strong>Allow unrestricted access to websites</strong></li>
<li>
<strong>Try to limit access to adult websites</strong>.<strong> </strong>You can click the <strong>Customize</strong> button to add a list of sites to always allow, and a list of sites to never allow.</li>
<li>
<strong>Allow access only to these websites</strong>.<strong> </strong>There are a number of websites in this list, including Bing, Google, Facebook, Twitter, and others. Click the <strong>+</strong> to add another site to the list. Click a site in the list and then the <strong>-</strong> button to remove a site from the list.</li>
</ul>
</li>
<li>When finished, click the <strong>lock</strong> icon to prevent additional changes.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Safari, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor web browsing for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    High Sierra
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Macs are a series of computers — desktops and laptops — manufactured by Apple, and they run with the OS X operating system. High Sierra version 10.13 was released in 2017. It was the most current version until Apple released OS X 10.14 (known as Mojave) in September 2018.<br><br>
</div><h2>Create a New User Profile on Your Mac</h2><ol>
<li>Log in to your administrator account.</li>
<li>Click the <strong>System Preferences</strong> icon in your <strong>Dock</strong>.</li>
<li>Click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes.</li>
<li>Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Select your child’s age (either 4+, 9+, or 12+).</li>
<li>Enter your child’s full name.</li>
<li>Enter an <strong>Account Name</strong>.</li>
<li>Enter a <strong>password</strong> for the user, and then enter it again to verify it.</li>
<li>Create a <strong>password hint</strong> in case the child forgets the password.</li>
<li>Click <strong>Create user</strong>.</li>
<li>Click the <strong>lock</strong> again to prevent further changes.</li>
</ol><div><br></div><h2>Set Parental Restrictions on Your Mac</h2><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock icon</strong> to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select a user, then begin to customize their restrictions:<ul>
<li>
<strong>Time:</strong> Set time limits for weekdays, weekends, and bedtime.</li>
<li>
<strong>Privacy:</strong> Allow your child to make changes related to privacy.</li>
<li>
<strong>Web</strong>: Limit access to websites, or allow unrestricted access.</li>
<li>
<strong>Apps:</strong><ul>
<li>Prevent your child from using the built-in camera.</li>
<li>Restrict them from joining multiplayer games in the Game Center.</li>
<li>Limit your child’s contact with other people through Mail.</li>
<li>Specify which apps your child can access.</li>
</ul>
</li>
<li>
<strong>Stores:</strong><ul>
<li>Disable access to the iTunes Store and the iBooks Store.</li>
<li>Limit a child’s access to music, movies, TV shows, apps, and books to only those with age-appropriate ratings.</li>
</ul>
</li>
<li>
<strong>Other:</strong><ul>
<li>Prevent your child from using Siri and Dictation.</li>
<li>Adjust printer and scanner settings.</li>
<li>Limit CD-burning and DVD-burning.</li>
<li>Hide profanities in the dictionary and other sources.</li>
<li>Prevent the Dock from being modified, and instead show your child a simplified, easy-to-use view of the Mac desktop.</li>
</ul>
</li>
</ul>
</li>
</ol><div><br></div><h2>Manage Parental Controls From Another Mac</h2><div>After you set restrictions for a child on one Mac, you can manage parental controls from a different Mac that’s on the same network. Here’s how:<br><br>
</div><div>On the Mac your child uses:</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.&nbsp;</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select <strong>Manage parental controls from another computer</strong>.<br><br>NOTE: If you don’t see this option, there may be a user selected on the left side of Parental Controls preferences. Command-click the selected user so there isn’t a user selected.</li>
</ol><div><br></div><div>On the Mac you want to use to manage your child’s parental controls settings (i.e. your own personal Mac):</div><div><br></div><ol>
<li>Go to the <strong>Apple menu</strong>.</li>
<li>Select <strong>System Preferences</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it.</li>
<li>Enter your administrator name and password (or use Touch ID if your Mac has a Touch Bar).</li>
<li>Select the Mac your child uses.</li>
<li>Enter the administrator name and password for the Mac your child uses.</li>
<li>Select the user to be managed (your child).</li>
</ol><div><br></div><div>That’s it! You can now change your child’s parental controls settings and monitor their activity logs.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with their groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>