<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Lollipop – 5.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to<strong> Android Lollipop</strong>, which is version 5.0 - 5.1.1. This is an older version of Android, as it was released November 12, 2014.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 5.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:<em>&nbsp;</em>
</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings.</strong>
</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF.</strong>
</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    One Plus
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The new OnePlus 6 released in the summer of 2018 was one of the most anticipated phones of the year. The OnePlus phones run a custom version of the Android operating system called Oxygen OS. While it doesn't look much different than the standard Android OS, it includes small tweaks and features that make it a unique phone operating system.<br><br>
</div><h2>How to Use App Locker</h2><div>One simple way to restrict your kids from viewing apps or content is to use the new App Locker feature in Oxygen OS. App Locker, as the name suggests, lets you block any apps that you don't want your kids to access by using a PIN number.</div><div><br></div><ol>
<li>Navigate to <strong>Settings</strong>.</li>
<li>Tap <strong>Security &amp; Fingerprint</strong>.</li>
<li>Tap <strong>App Locker</strong> and type in the PIN number for your account.</li>
<li>On the next screen, tap the <strong>lock icon</strong> to the right side of each app you want to lock.</li>
</ol><div><br></div><h2>How to Create a User Profile for Your Child</h2><div>Oxygen OS and Android allow you to create additional user profiles on your smartphone. You can create an account for your child on your personal phone, and then switch to that account when your child is using your phone.</div><div><br></div><div>Follow these steps to create an additional account. (And keep in mind that this solution requires your child to have their own email address, and therefore may not be useful for all families):</div><div><br></div><ol>
<li>Navigate to <strong>Settings</strong> &gt; <strong>Accounts</strong> and then tap <strong>Add Account</strong>.</li>
<li>Type your child's email address and password.</li>
<li>Choose a billing option. Here you can add credit for your child to use or simply choose the no-billing option.</li>
<li>Hit <strong>Continue</strong> and you are ready to go.</li>
</ol><div><br></div><div>Note that creating a separate account does not inherently create a safe space for your child. You will need to change the Google Play Store settings or even install a dedicated parental control app to lock down any features (read instructions below).</div><div><br></div><h2>How to Restrict the Google Play Store</h2><div>The Google Play Store is the central hub that allows you to download any app or game. Google allows you to restrict access for specific accounts, so make sure to log in to the child's account to change these settings.</div><div><br></div><ol>
<li>Open the <strong>Play Store</strong> app.</li>
<li>In the left corner, tap <strong>Menu</strong> and navigate to <strong>Settings</strong> &gt; <strong>Parental Controls</strong>.</li>
<li>Turn Parental Controls to <strong>On</strong>.</li>
<li>Create a PIN number to disallow any access to these parental control settings.</li>
<li>You can now change filters for Movies, Games, TV, and Apps. Select the highest maturity level that you want your child to access. You can also disable access to explicit books and music.</li>
</ol><div><br></div><h2>Google Family Link for Parents</h2><div>Built by Google, Family Link is a worthy addition to your parental control management strategy. This app includes full controls for your family, with specific settings for each child.</div><div><br></div><div><strong>Here are some noteworthy features:</strong></div><ul>
<li>Kids under 13 — Family Link allows you to create a controlled Google account for your kids under the age of 13.</li>
<li>App Installing — Whenever your child tries to install a new app, you will get a prompt asking you to approve the installation.</li>
<li>Location — See your child's location in real-time.</li>
</ul><div><br></div><div>Google Family Link is available for the OnePlus phone on the <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.kids.familylink">Google Play Store</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Sprint
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Sprint has a robust set of parental controls that will allow you to manage your child's phone usage, while still allowing them the safety and educational benefits of owning a smartphone.</div><div><br></div><h2>Accessing Parental Controls&nbsp;</h2><div>To access Sprint's parental controls, you'll first need to log in into your sprint account. If you do not yet have a login, you'll need to create one. Be sure to use your phone number and a safe password to ensure your child cannot access these settings without your permission. The password should be one that your child cannot easily guess. Avoid using their names, birthdays or the names of pets as your password.</div><div><br></div><div>Once you've logged into your Sprint account, here’s how to set up parental controls:</div><div><br></div><ol>
<li>Click on the <strong>My Sprint</strong> menu at the top of the screen.</li>
<li>Click on the <strong>Permissions</strong> tab.</li>
<li>A new screen will load that has a variety of different permission options.</li>
<li>Scroll to the bottom first and click the <strong>Permissions</strong> link. This allows you to set who can access and change the account settings.</li>
<li>Click on the number or numbers you'd like to block from making changes.</li>
<li>Scroll to the bottom of the screen and click the <strong>Save</strong> button to activate your preferences.</li>
</ol><div>&nbsp;</div><h2>Block Apps, Digital Media, and Third Party Charges&nbsp;</h2><div>You can block your child from purchasing apps and digital media through this parental control. While this is an effective parental control, it is important to note that setting this permission only blocks your child from billing these purchases to your Sprint bill. It does not prevent your child from purchasing apps and digital media using a credit card.&nbsp;</div><div><br></div><div>If you'd like to block purchases using a credit card or PayPal, you will need to set parental controls on the individual handset. Here’s how:</div><div><br></div><ol>
<li>In the Permissions tab, click the <strong>Block Apps, Digital Media, and Third-party charges</strong> link.&nbsp;</li>
<li>Click on the phone number that you'd like to block. A small check mark will appear next to the number.&nbsp;</li>
<li>Scroll to the bottom of the page and click the <strong>Save</strong> button.&nbsp;</li>
</ol><div>&nbsp;</div><h2>Blocking Pictures and Videos&nbsp;</h2><div>You can prevent your child from sending and receiving pictures and videos via text by setting the appropriate permissions in your Sprint account. This setting ensures your child cannot send photos and videos via text, but it does not prevent pictures of videos from being attached to emails. It is best to set this permission, but also actively check your child's email to ensure they are not utilizing this workaround.</div><div><br></div><ol>
<li>In the <strong>Permissions</strong> tab, click on the <strong>Block Pictures / Videos</strong> tab.</li>
<li>Scroll down until you locate your child's phone number, and click on it.</li>
<li>When the phone is actively blocked, a small green check mark will appear to let you know the number is currently barred from access.</li>
<li>Scroll down and click the <strong>Save</strong> button to activate the permission.</li>
</ol><div><br></div><h2>Sprint Family Locator&nbsp;</h2><div>Another option is to purchase additional monitoring services from your provider. Sprint offers the Sprint Family Locator service. With this service, you can enroll phones that are on your account into a monitoring service that will update the location of the phone in real-time. You must opt in for this service, and it is a paid add-on.</div><div><br></div><div>To add Sprint Family Locator:<br><br>
</div><ol>
<li>Click on the <strong>My Sprint</strong> tab and enter the <strong>Permissions</strong> tab.</li>
<li>Scroll down until you see the <strong>Things I can Manage</strong> subheading</li>
<li>Scroll down and click on the <strong>Use Sprint Family Locator</strong> link.</li>
<li>Opt into the service by following the prompts online.</li>
</ol><div><br></div><div>Please note that every phone that is being tracked will receive a notification that it is being monitored. Only the owner of the account or phone numbers that have permission to make changes on the account will be able to access the settings.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    ASKfm
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Founded in 2010, ASKfm is a global social networking site that allows users to ask and answer questions anonymously. On ASKfm, your child can post anonymous questions and receive replies in the form of text, photos, or videos from anyone in the world.</div><div><br></div><div>All posts are public, meaning that everyone can see them, regardless of whether they have the app or not. ASKfm currently has over 200 million registered users around the world.</div><div><br></div><h2>Concerns Surrounding ASKfm</h2><div>Because ASKfm is an anonymous social media platform, it has struggled with cyberbullying and issues with sexual content. In 2013, the app was linked to<a href="https://www.buzzfeednews.com/article/ryanhatesthis/a-ninth-teenager-since-last-september-has-committed-suicide"> several teen suicides</a>, and in a <a href="https://news.o2.co.uk/?press-release=children-reveal-riskiest-social-media-sites-new-net-aware-guide">2016 survey by NSPCC</a>, 88% of children surveyed reported seeing inappropriate content on the platform.</div><div><br></div><div>Safety concerns related to ASKfm include the following:</div><div><br></div><ul>
<li>While most questions are sincere and positive, not all are, and some users may send or request provocative photos.</li>
<li>Anonymity — which is supposed to allow users to ask and answer questions honestly — emboldens some users to post inappropriate content or engage in cyberbullying.</li>
<li>The Shoutout feature allows users communicate with users who are located geographically close to them, including total strangers who could arrange to meet up.</li>
<li>There is no way to keep ASKfm accounts private. Users cannot see who is following them, and everything they post is visible to all users.</li>
<li>ASKfm profiles can also be found on search engines like as Google Chrome. This includes background pictures as well as posts.</li>
</ul><div><br></div><h2>How to Keep Your Kids Safe on ASKfm</h2><ul>
<li>If you allow your child to use ASKfm, make sure that they are aware of the fully-public nature of the platform, as well as the other potential dangers involved with the application. And for good measure, ask them not to link their ASKfm account to their Facebook account.</li>
<li>Don’t let your child use their real first or last name as their username, or use a real photo as their profile picture.</li>
<li>Go to <strong>Settings</strong> &gt; <strong>Account</strong>, where you will find privacy options. Tap the buttons to:<ul>
<li>Change your child’s password</li>
<li>Deactivate their account</li>
<li>Allow others to share their posts</li>
<li>Allow others to subscribe to their activities</li>
<li>Allow their answers to be be shown on the Discover feed</li>
<li>Allow anonymous questions</li>
</ul>
</li>
<li>Hide incoming Shoutouts and see only direct questions by swiping the Shoutout symbol in the <strong>Incoming Questions</strong> section. Or opt out of Shoutouts altogether:<ul><li>Go to <strong>Settings</strong> &gt; <strong>Account</strong> &gt; toggle off <strong>Allow Shoutout questions</strong>.</li></ul>
</li>
<li>To block or report users for inappropriate content, click the three dots next to their question to open the menu. Tap <strong>Block</strong> or <strong>Report</strong>.</li>
<li>To delete answers your child has written, click the <strong>X</strong> next to the post.</li>
<li>To delete your child's ASKfm account and all the information associated with it:<ul><li>Contact ASKfm<a href="https://support.ask.fm/hc/en-us/articles/115008686388-How-do-I-cancel-my-ASKfm-account-"> through this form</a>, and it will take 30 days for the profile to be fully removed.</li></ul>
</li>
</ul><div><br></div><h2>In Conclusion</h2><div>Like most social media platforms, users must be at least <a href="https://support.ask.fm/hc/en-us/articles/115008827008-How-old-user-has-to-be-to-join-ASKfm-">13 years old</a> or older to sign up. If your child downloads the app when they are underaged, you can simply delete it. If they are older and have spoken to you about it, make sure that you communicate the risks and explain how your child can be protected from potentially dangerous content.</div><div><br></div><div>As technology grows increasingly complicated, the most important strategy you can take for protecting their children is to stay alert and keep open lines of communication so that children feel safe coming to you about their concerns.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Ask.Fm, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the questions/comments your child asks and the answers they receive, as well as, the questions/comments they are asked and the answers they post. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AOL
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Parental controls for AOL email accounts were discontinued Nov. 1, 2017.&nbsp; Existing secondary usernames or child accounts were <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">promoted to full, standalone accounts with no parental control features at all</a>. Because of this, Bark does not recommend using AOL email with children.</div><div><br></div><div>If you would like to monitor your child’s existing AOL email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.&nbsp;</div><div><br></div><div>If you would prefer to remove access to these unmonitored accounts entirely, instructions on how to delete an AOL account are presented below.</div><div><br></div><h2>How to Delete a Secondary AOL Account That Has Been Promoted to a Full Account</h2><ol>
<li>Access the AOL account deactivation page <a href="https://login.aol.com/?done=https%3A%2F%2Fapi.login.aol.com%2Foauth2%2Frequest_auth%3Fclient_id%3Ddj0yJmk9a0dMSTFNQTlieXAwJmQ9WVdrOU1teEVVMHQ1TjJFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD00OQ--%26scope%3Dgdpr-w%26redirect_uri%3Dhttps%253A%252F%252Faol.mydashboard.oath.com%252Fcallback%252Fuser%26response_type%3Dcode%26language%3Den-US%26state%3DeyJ1c2VyX3JldHVybl9wYXRoIjoiL2RlbGV0ZS1teS1hY2NvdW50IiwidXNlcl9oaW50IjoidW5kZWZpbmVkIiwibm9uY2UiOiJkY2JiNmMxMWE4NDA1MDY2MGVkZmI3ZTU2NjMyZmRkZCJ9%26src%3Dpd-aol%26.scrumb%3D0&amp;src=pd-aol&amp;crumb=3e6Fsy9JE9i&amp;redirect_uri=https%3A%2F%2Faol.mydashboard.oath.com%2Fcallback%2Fuser&amp;lang=en-US&amp;language=en-US">here</a>.</li>
<li>Read the information on terminating your account in full. You'll receive all the legal information on what AOL is responsible for in terms of data, and more information.</li>
<li>Follow the on-screen prompts confirming that you do indeed want to delete this account.</li>
</ol><div><br></div><div>To learn more about changes to accounts that were previously sub-usernames or child accounts prior to 2017, please read AOL's help page on this topic <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">here</a>.</div><div><br></div><h2>How to Download Data Before Deleting a Secondary AOL Account</h2><ol>
<li>If you would like to save data before deleting a standard account that was previously a child's account, visit the AOL Privacy Dashboard page <a href="https://policies.oath.com/us/en/oath/privacy/dashboard/index.html">here</a>.</li>
<li>Choose <strong>AOL email</strong> to view the data for this AOL service.</li>
<li>Scroll down and click <strong>Manage Your Data</strong>.</li>
<li>It will take time to prepare your data package. Insert an email address that you're currently using to receive the notification that your email account data are processed and ready to download.</li>
<li>Click <strong>Request Download</strong>.</li>
<li>You'll receive an email linking you to the final download of all the contents of your email account.</li>
</ol><div>
<br>For more important information on what to look for before closing an AOL email account, please review the AOL help page <a href="https://help.aol.com/articles/close-your-account">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In AOL email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox One
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>XBox One is the latest console from Microsoft. With it, you can play video games, stream content from apps, chat with other players via <a href="https://support.xbox.com/en-US/xbox-one/xbox-live/connecting-to-xbox-live">XBox Live</a>, surf the web, and even watch TV (if you have a cable box to connect it to).</div><div><br></div><div>Setting parental controls on the XBox One is a somewhat complex process, but it's worth it for the level of control you’ll have for each child in your family. If you allow your children to stream content from various apps such as Hulu while on the device, the parental controls on the gaming console will override any parental controls you have set up on the individual apps, in most cases.</div><div><br></div><h2>Screen Time Limits</h2><div>To set screen time limits for your child on Xbox One and Windows 10 devices, go to <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a> and sign in with your Microsoft account. Then:<br><br>
</div><ol>
<li>Find your child's name and select <strong>Screen time</strong>.</li>
<li>If you want to use the same schedule for all devices, switch <strong>Use one screen time schedule</strong> from <strong>Off</strong> to <strong>On</strong>. If you’d rather have separate schedules, scroll down and switch screen time on for PC and Xbox One individually.</li>
<li>Set how much time your child is allowed to spend with their devices each day, and when they can use them. If you want to give them the full amount of time you’ve scheduled, select <strong>Max</strong> <strong>scheduled</strong>. (Example: If you’ve allowed screen time from 8 am to 8 pm, they could use their devices that entire time).</li>
</ol><div>
<br>To give your kids a heads up on Xbox when their screen time is running out:<br><br>
</div><ol>
<li>Press the <strong>Xbox </strong>button on the controller.</li>
<li>Select <strong>System</strong> &gt; <strong>Settings </strong>&nbsp;&gt; <strong>Preferences</strong> &gt; <strong>Notifications</strong> &gt; <strong>Xbox Notifications </strong>&gt; <strong>System</strong> and make sure <strong>System notifications on</strong> is selected.</li>
</ol><div>
<br>Screen time counts down when a child is signed in, so if they’re not actively using their console, have them sign out.</div><div><br></div><h2>Age Limits for Accessing Content</h2><div>To ensure your kids have access to only family-friendly games, apps, TV shows, and movies on their Xbox One, you can choose from preset recommendations by age. To do this:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button to open the guide, and then go to <strong>System &gt; Settings &gt; Account &gt; Family settings</strong>.</li>
<li>Select <strong>Manage family members</strong>, and then select the child account you want to update.</li>
<li>Under <strong>Access to content</strong>, choose the desired age-level restriction. (By default, your child’s restrictions will be set to the age associated with their Microsoft account).</li>
</ol><div>
<br>When your child asks to use a blocked app or game that’s rated above their content restrictions, you can approve it by signing in with your passkey and selecting <strong>Always</strong> or <strong>Just this once</strong>.<br><br><br>
</div><h2>Customize Privacy Settings</h2><div>You can prevent your child from playing with strangers in the privacy settings. To ensure your child is only playing with people they know, or turn off voice chat and unprompted communication:<br><br>
</div><ol>
<li>Click <strong>Settings</strong>
</li>
<li>Click <strong>All Settings</strong>
</li>
<li>Click <strong>Account</strong>
</li>
<li>Click <strong>Family</strong>
</li>
<li>Customize your privacy settings&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Mute or Block Players</h2><div>If you don't want to hear or be contacted by specific players on Xbox One, you can mute them or block their communications with you. If you believe that the player has violated the Microsoft Services Agreement or Code of Conduct, you may also wish to <a href="https://enforcement.xbox.com/Home/HowTo#sub-topic2-0">file a complaint</a>.<br><br>
</div><h3>Mute another player</h3><div>If another player engages in abusive or inappropriate in-game or chat voice communications, you can mute that player. This prevents them from speaking to you in-game or in a chat session. To mute another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to mute. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player’s profile, select <strong>Mute</strong>.</li>
</ol><div>
<br>To unmute a player, follow the same steps to get to the player’s profile, and then select <strong>Unmute</strong>.<br><br>
</div><h3>Block another player</h3><div>Blocking another player prevents you from receiving that player’s messages, game invites, and party invites. It also prevents the player from seeing your online activity and removes them from your friends list, if they were on it. To block another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to block. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player's profile, select <strong>Report or Block</strong>, and then select <strong>Block</strong>.</li>
</ol><div>
<br>To unblock a player, follow the same steps to get to the player’s profile, and then select <strong>Unblock</strong>.<br><br>
</div><h3>Block another player's messages</h3><div>You can also block a player after receiving an offensive or inappropriate message. Here's how:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide, and then go to <strong>Communication </strong>&gt;<strong> Conversations</strong>.</li>
<li>Select the message from the player you want to block.</li>
<li>Select <strong>More </strong>&gt;<strong> View profile </strong>&gt;<strong> Report or block </strong>&gt;<strong> Block</strong>.</li>
</ol><div><br></div><h2>Copilot on XBox One</h2><div>Copilot links two controllers so you can use them as if they were one controller. The person who turns on Copilot for their controller is the pilot, and the pilot gets all achievements and gamerscore. To turn on Copilot:<br><br>
</div><ol>
<li>Connect a second controller to the Xbox for the copilot. The copilot can sign in or not — achievements and gamerscore don't go to this player.</li>
<li>Using the pilot's controller, press the <strong>Xbox</strong> button to open the guide, then select <strong>System</strong> &gt; <strong>Settings</strong> &gt; <strong>Ease of Access</strong> &gt; <strong>Controller</strong>.</li>
<li>Choose <strong>Copilot settings</strong>, then select <strong>Turn on Copilot</strong>.</li>
<li>Select the copilot controller.</li>
</ol><div>
<br>The controllers are now linked, and both controllers have full control. When you start a game, you can use either controller however you like.<br><br>To turn off Copilot, go back to the Copilot settings and select <strong>Turn off Copilot</strong>.<br><br>
</div><h2>Preventing Unauthorized Purchases</h2><div>To help prevent unauthorized purchases from your console, you can set it to ask for the password every time you buy something.<br><br>
</div><ul>
<li>Select <strong>System </strong>&gt; <strong>Settings</strong> &gt; <strong>Account</strong> &gt; <strong>Sign-in, security &amp; passkey</strong>. To help protect your account, you may be asked to enter your password.</li>
<li>Select <strong>Change my sign-in &amp; security preferences</strong>.</li>
<li>Scroll right and select <strong>Customize</strong>.</li>
<li>Scroll right and select <strong>Ask for my passkey to make purchases</strong>.</li>
<li>Select <strong>Passkey required</strong>.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Stardew Valley
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Stardew Valley is a farming simulation role-playing video game originally released in 2016, in which the player's character takes over their grandfather's farm in a place called Stardew Valley. The gameplay is colorful and generally peaceful, although the player can battle some monsters, like slimes, in the mines. It is currently rated <a href="http://www.esrb.org/ratings/Synopsis.aspx?Certificate=34835&amp;Title=Stardew+Valley">Everyone 10+</a>.</div><div>&nbsp;</div><div>Until this year, players could only play by themselves, which meant that it was a fairly safe game for children to play. But in 2018, a four-player cooperative option was added to the Windows version, with plans for adding a cooperative version to the other platforms soon.</div><div>&nbsp;</div><div>Stardew Valley is available on several platforms: computers or laptops running Microsoft Windows, OS X, or Linux, PlayStation 4, PlayStation Vita, Xbox One, and Nintendo Switch.<br><br>
</div><h2>Parental Controls</h2><div>Stardew Valley doesn't currently feature anything that resembles parental controls, but you can use the parental controls on the various platforms it operates on to monitor your child's gameplay.<br><br>
</div><h2>In-Game Chats</h2><div>In order to engage in the cooperative multiplayer, each player must purchase their own copy of Stardew Valley and already have it downloaded on their computer. One player sets up as a host and the other three join in. They work on one farm together and can chat in-game. In multiplayer mode, there is a chance that your child could communicate with adults. The chat cannot be disabled, unfortunately.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Dish
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>This guide will show DISH satellite internet users exactly how to use all available tools for parents. It assumes that you have already set up the relevant DISH accounts. Below you will find parental control settings across multiple DISH devices from multiple points of access, including:<br><br>
</div><ul>
<li>
<strong>DISH TV Receiver</strong> with 40.0 remote and 50.0/52.0/54.0 remote</li>
<li>
<strong>DISH Anywhere</strong> for phone, tablet, computer, Amazon Fire TV/Stick, and Android TV</li>
</ul><div><br></div><h2>Parental Controls on the DISH TV Receiver</h2><div>Each receiver box in the home must be set with individual controls. Parents are able to restrict access to programs with certain ratings, block adult channels, and restrict the ability to purchase content. Steps vary based on which specific box you have.</div><div><br></div><div>In general, you will log in via the <strong>Home</strong> button on your remote and then select the <strong>Settings - Parental Controls</strong> option. Here, you can turn controls on or off, set your parental password, and choose individual controls to enable.</div><div><br></div><div>Here are detailed instructions for each type of DISH remote:</div><div><br></div><h3>40.0 remote</h3><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired <strong>Parental Control</strong> preferences.</li>
</ol><div><br></div><div>DISH also offers a TV Guardian feature. When enabled, the TV Guardian will block specific language that is spoken on the audio or written in the closed captioning. A TV Guardian logo will appear on the bottom-right corner of your screen when something is blocked.</div><div><br></div><div>
<strong>To enable TV Guardian on a 40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired <strong>CC Mode Option</strong>.</li>
</ol><div><br></div><h3>50.0/52.0/54.0 remote</h3><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>
<strong>To enable TV Guardian on a 50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired <strong>CC Mode Option</strong>.</li>
</ol><div><br></div><h2>Parental Controls With DISH Anywhere</h2><div>DISH Anywhere is a service that allows customers to access television programming via their mobile device or computer. Parental controls set on the receiver do not transfer to this service, so each device must have parental controls activated. Below is detailed information on how to change settings for each type of device: Phone, Tablet, Computer, Amazon Fire TV/Stick, and Android TV.</div><div><br></div><h3>DISH Anywhere for a phone</h3><div>First, you’ll need to download the DISH Anywhere app onto your phone. You’ll need to enter your DISH Online ID and password so be sure you have those handy.</div><div><br></div><div>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired four-digit passcode.</li>
<li>Re-enter your desired four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been created.</li>
<li>Select your desired security question.</li>
<li>Enter the answer to your selected security question.</li>
<li>&nbsp;Re-enter the answer to your selected security question.</li>
<li>Select <strong>OK</strong> to confirm your security question has been added.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your new four-digit passcode.</li>
<li>Re-enter your new four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been changed.<br><br>
</li>
</ol><div>To customize your settings:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>TV Ratings</strong> or <strong>Movie Ratings</strong> to set restrictions.</li>
<li>Select which ratings will require the parental control passcode to view.</li>
<li>Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>DISH Anywhere for a tablet</h3><div>First, you’ll need to download the DISH Anywhere app onto your tablet. You’ll need to enter your DISH Online ID and password, so be sure to have those handy.<br><br>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong>.</li>
<li>Swipe to and select your desired security question.</li>
<li>Enter your desired answer.</li>
<li>Re-enter your desired answer.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
<li>&nbsp;Select your desired <strong>Parental Control</strong> preferences.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your desired passcode, then re-enter to confirm.</li>
<li>Select <strong>OK</strong> to confirm the passcode was changed successfully.</li>
</ol><div><br></div><div>To customize your settings:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If necessary, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>DISH Anywhere for a computer</h3><div>Go to<strong> </strong>dishanywhere.com and log in with your mydish.com username and password to create a parental controls passcode. To set up your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired Security Question.</li>
<li>Type the answer to the Security Question in the <strong>Answer</strong> and <strong>Confirm Answer</strong> fields.</li>
<li>Enter your desired four-digit passcode into the Passcode and Confirm Passcode fields.</li>
<li>Select <strong>Activate Parental Controls</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Type in your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your passcode into the <strong>Current Passcode</strong> field.</li>
<li>Enter your desired new passcode into the <strong>New Passcode</strong> and <strong>Confirm New Passcode</strong> fields.</li>
</ol><div><br></div><div>To customize your parental control settings:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select your desired Parental Control preferences.</li>
<li>Select <strong>Update Parental Controls</strong>.<br><br>
</li>
</ol><h3><strong>DISH Anywhere for Amazon Fire TV/Stick and Android TV</strong></h3><div>To set up the Parental controls for DISH Anywhere on a smart TV, you’ll need to start by downloading the app (or if you’re lucky enough to be in a hotel room where the app is already installed). You will need your DISH online ID and password in order to log in.<br><br>
</div><div>Next, you need to create a passcode for your parental controls. Here’s how:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Select <strong>CREATE PASSCODE</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To change the passcode for your parental controls:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Enter your current passcode.</li>
<li>Select <strong>CHANGE PASSCODE</strong>.</li>
<li>Enter your new passcode.</li>
<li>Re-enter your new passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To customize your parental control settings for a Amazon Fire TV/Stick &amp; Android TV:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>Select <strong>Save Changes</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Prime
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Prime Video is a video streaming service that is included free as part of your Amazon Prime membership. This allows members to watch thousands of movies and TV shows for free.</div><div><br></div><div>Amazon Prime Video is available on web browsers and has an app that can be downloaded on various streaming devices, including Roku, XBox One, Playstation 4, and Nintendo Wii U. It can also be accessed on smartphones and tablets.</div><div><br></div><h2>Amazon Prime Parental Control Settings</h2><h3>How to create an Amazon Video PIN</h3><div>To enable parental controls, Amazon Prime Video requires you to first create a PIN for your account. The PIN will serve to lock kids out from restricted content.</div><div><br></div><ol>
<li>Make sure you’re logged in to your Amazon account from a web browser.</li>
<li>In the top right corner, click <strong>Hello [your name] Account &amp; Lists</strong>.</li>
<li>When the drop down opens, click <strong>Your Account</strong>.</li>
<li>Scroll down a little bit and on the left-hand side, in the <strong>Digital Content and Devices</strong> box, click <strong>Video Settings</strong>.</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>At the top of the page, set your PIN and click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Rating categories</h3><div>Amazon Prime Video follows the same ratings guidelines as the Motion Picture Association of America and TV Parental Guidelines to determine the parental controls rating categories. Ratings are combined into levels with recommended audiences — General, Family, Teen, and Mature — to assist with setting viewing restrictions on devices.</div><div><br></div><h3>How to set viewing restrictions</h3><div>Viewing restrictions allow you to take your parental controls one step further so you can block playback of movies and TV shows based on their rating category. You can choose the ratings categories you want to restrict, and on which registered devices you want to apply the restrictions.</div><div><br></div><div>NOTE: Restrictions for Fire Devices and Xbox One must be set on the device, and cannot be controlled from your Amazon account.</div><div><br></div><ol>
<li>While on the <strong>Parental Controls</strong> screen, scroll down from where you set the PIN to set viewing restrictions.</li>
<li>Select the ratings categories you want to restrict.</li>
<li>Continue scrolling to select the devices to which you want to apply the restrictions.</li>
</ol><div><br></div><div>Once viewing restrictions are set, a <strong>lock</strong> symbol appears next to any titles with ratings in the restricted categories. If anyone tries to watch one of the titles, they will be required to enter the video PIN before playback begins.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Dish
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>This guide will show DISH satellite internet users exactly how to use all available tools for parents.</div><div><br></div><h2>DISH Satellite Internet: Understanding the Technology</h2><div>Satellite internet with dishNET is ideal for basic web browsing, online shopping, social media, and email.&nbsp;</div><div><br></div><div>There is a data limit for users, so parents will want to know how to monitor data usage. Here are the steps:</div><div><br></div><ol>
<li>Go to <a href="http://mydish.com/"><strong>myDISH.com</strong></a> and select <strong>Create Online ID</strong>.</li>
<li>Identify yourself with either your 10-digit phone number or your 16-digit account number, and then follow instructions to verify your information.</li>
<li>Once logged in, select <strong>My Internet</strong> from the menu on the left.</li>
<li>View and manage the amount of data being used on your account. You can see what time of day the internet is being accessed the most, and you can view how much data is remaining.</li>
</ol><div><br></div><div>Other than viewing data usage, parents do not have more direct control over browsing habits with dishNET.</div><div><br></div><h2>How to Set Parental Controls With DISH TV</h2><h3>On the DISH TV receiver</h3><div>Each receiver box in the home must be set with individual controls. Parents are able to restrict access to programs with certain ratings, block adult channels, and restrict the ability to purchase content. Steps vary based on which specific box you have.</div><div><br></div><div>In general, you will log in via the <strong>Home</strong> button on your remote, and then select the <strong>Settings - Parental Controls</strong> option. Here, you can turn controls on or off, set your parental password, and choose individual controls to enable.</div><div><br></div><div>Here are detailed instructions for each type of DISH remote.</div><div><br></div><div>
<strong>40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>DISH also offers a TV Guardian feature. When enabled, the TV Guardian will block explicit language that is spoken on the audio or written in the closed captioning. A TV Guardian logo will appear on the bottom-right corner of your screen when something is blocked.</div><div><br></div><div>
<strong>TV Guardian on a 40.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>MENU</strong> button.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><div>
<strong>50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired parental control preferences.</li>
</ol><div><br></div><div>
<strong>TV Guardian on a 50.0/52.0/54.0 remote:<br></strong><br>
</div><ol>
<li>Press the <strong>HOME</strong> button twice.</li>
<li>Select <strong>Apps</strong>.</li>
<li>Select <strong>TV Guardian</strong>.</li>
<li>Select <strong>TV GUARDIAN FILTER</strong> level.</li>
<li>If desired, select <strong>Additional Sub-Filters</strong>.</li>
<li>If desired, select <strong>Edit</strong> in the <strong>CC MODE</strong> box.</li>
<li>Select your desired CC Mode option.</li>
</ol><div><br></div><h2>With DISH Anywhere</h2><div>DISH Anywhere is a service that allows customers to access television programming via their mobile device or computer. Parental controls set on the receiver do not transfer to this service, so each device must have parental controls activated. Below is detailed information on how to change settings for each type of device: Phone, Tablet, Computer, Amazon Fire TV/Stick, and Android TV.</div><div><br></div><h3>For a phone</h3><div>First, you’ll need to download the DISH Anywhere app onto your phone. You’ll need to enter your DISH Online ID and password so be sure you have those handy.</div><div><br></div><div>Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired four-digit passcode.</li>
<li>Re-enter your desired four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been created.</li>
<li>Select your desired security question.</li>
<li>Enter the answer to your selected security question.</li>
<li>&nbsp;Re-enter the answer to your selected security question.</li>
<li>Select <strong>OK</strong> to confirm your security question has been added.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your new four-digit passcode.</li>
<li>Re-enter your new four-digit passcode.</li>
<li>Select <strong>OK</strong> to confirm your passcode has been changed.<br><br>
</li>
</ol><div>To customize your settings:<br><br>
</div><ol>
<li>Select <strong>More</strong>.</li>
<li>Select <strong>Settings</strong>.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your current four-digit passcode.</li>
<li>Select <strong>TV Ratings</strong> or <strong>Movie Ratings</strong> to set restrictions.</li>
<li>Select which ratings will require the parental control passcode to view.</li>
<li>Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a tablet</h3><div>First, you’ll need to download the DISH Anywhere app onto your tablet. Then enter your DISH Online ID and password. Next, you’ll need to create a passcode. The settings and the passcode can be different from what is set on your DISH receiver.<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Create Passcode</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong>.</li>
<li>Swipe to and select your desired security question.</li>
<li>Enter your desired answer.</li>
<li>Re-enter your desired answer.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
<li>&nbsp;Select your desired parental control preferences.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode in the future:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Enter your passcode.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your desired passcode, then re-enter to confirm.</li>
<li>Select <strong>OK</strong> to confirm the passcode was changed successfully.</li>
</ol><div><br></div><div>To customize your settings:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If necessary, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>&nbsp;Select <strong>Save</strong>.</li>
</ol><div><br></div><h3>For a computer</h3><div>Visit dishanywhere.com and log in with your mydish.com username and password. If you need to create a mydish.com account first, you’ll need to have the following information to identify your DISH account.<br><br>
</div><div>Either your:<br><br>
</div><ul>
<li>Phone #&nbsp;</li>
<li>Account #</li>
<li>10-Digit Receiver #</li>
</ul><div><br></div><div>AND provide one of the following to verify you are authorized to access the account.<br><br>
</div><ul>
<li>4-Digit Security Code&nbsp;</li>
<li>Last 4-Digits of Social Security #</li>
<li>Send Email to Address on File</li>
</ul><div><br></div><div>Once you’re in dishanywhere.com, you’ll need to create a passcode. To set up your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Select your desired <strong>Security Question</strong>.</li>
<li>Type the answer to the Security Question in the <strong>Answer</strong> and <strong>Confirm Answer</strong> fields.</li>
<li>Enter your desired four-digit passcode into the <strong>Passcode</strong> and <strong>Confirm Passcode</strong> fields.</li>
<li>Select <strong>Activate Parental Controls</strong>.</li>
</ol><div><br></div><div>If you need to change your passcode:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>Type in your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select <strong>Change Passcode</strong>.</li>
<li>Enter your passcode into the <strong>Current Passcode</strong> field.</li>
<li>Enter your desired new passcode into the <strong>New Passcode</strong> and <strong>Confirm New Passcode</strong> fields.</li>
<li>Select <strong>Change Passcode</strong>.</li>
</ol><div><br></div><div>To customize your parental control settings:<br><br>
</div><ol>
<li>Hover over the current profile.</li>
<li>Select <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode and select <strong>Submit Passcode</strong>.</li>
<li>Select your desired parental control preferences.</li>
<li>Select <strong>Update Parental Controls</strong>.<br><br>
</li>
</ol><h3>For Amazon Fire TV/Stick and Android TV</h3><div>To set up the parental controls for DISH Anywhere on a smart TV, you’ll need to start by downloading the app (or if you’re lucky enough to be in a hotel room where the app is already installed). You will need your DISH online ID and password in order to log in.<br><br>
</div><div>Next, you need to create a passcode for your parental controls. Here’s how:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Select <strong>CREATE PASSCODE</strong>.</li>
<li>Enter your desired passcode.</li>
<li>Re-enter your desired passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To change the passcode for your parental controls:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>Enter your current passcode.</li>
<li>Select <strong>CHANGE PASSCODE</strong>.</li>
<li>Enter your new passcode.</li>
<li>Re-enter your new passcode.</li>
<li>Select <strong>OK</strong> to confirm the new passcode was successfully created.</li>
</ol><div><br></div><div>To customize your parental control settings for an Amazon Fire TV/Stick &amp; Android TV:<br><br>
</div><ol>
<li>Select the <strong>SETTINGS</strong> icon.</li>
<li>Highlight <strong>Parental Controls</strong>.</li>
<li>If applicable, enter your passcode.</li>
<li>Select your desired settings.</li>
<li>Select <strong>Save Changes</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Fire is a tablet developed and supported by Amazon. Kids can use it to read Kindle ebooks, play games, watch movies, and use social media.&nbsp;</div><div><br></div><div>It’s equipped with one of the most comprehensive sets of parental controls on the market, and we’ll walk you through how to set them up.<br><br>
</div><h2>Parental Controls on Amazon Fire</h2><h3>Option 1: Basic parental controls</h3><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Tap the switch next to <strong>Parental Controls</strong>.</li>
<li>Enter a password and confirm your password.</li>
<li>Tap <strong>Finish</strong>.</li>
<li>After you turn on parental controls, a <strong>lock</strong> icon will appear at the top of the screen.<br><br>
</li>
</ol><div><strong>Basic parental controls allow you to restrict the following:</strong></div><ul>
<li>The Amazon Store</li>
<li>Web browsing</li>
<li>Email, Contacts, and Calendar apps</li>
<li>Social network sharing</li>
<li>The camera</li>
<li>Specific content types (for example, books or apps)</li>
</ul><div><br></div><div><strong>Basic parental controls allow you to password-protect the following:</strong></div><ul>
<li>Purchases from the Amazon stores on your device (like the Amazon Appstore)</li>
<li>Playing movies and TV shows from Prime Video</li>
<li>Connecting to Wi-Fi</li>
<li>Enabling location services</li>
</ul><div><br></div><div><strong>How to set a curfew and choose when your child can use their tablet:</strong></div><ul>
<li>Tap the switch next to <strong>Set a Curfew</strong> to turn this feature on.</li>
<li>Tap <strong>Curfew Schedule</strong>.</li>
<li>Choose the days and times that the child will not be able to access the device.</li>
<li>To unlock a device in curfew, enter your parental controls password.</li>
</ul><div><br></div><div><strong>How to monitor your child’s tablet use:</strong></div><ul>
<li>Tap the switch next to <strong>Monitor This Profile</strong> to monitor activity on how your child is using their Amazon Fire.</li>
<li>A monitored profile will show a <strong>parent and child</strong> icon at the top of the screen.</li>
<li>View the information by visiting <strong>Activity Center</strong> on the <strong>Your Devices</strong> tab of <strong>Manage Your Content and Devices.</strong>
</li>
<li>You’ll be able to see how much time your child has spent on various apps, which books they’ve read, and what content they’ve accessed.</li>
</ul><div><br></div><h3>Option 2: Purchasing parental controls through Amazon FreeTime Unlimited</h3><div>Amazon FreeTime Unlimited is a subscription service available for customers in the U.S., U.K., and Germany. It’s available on Fire, Android, iOS, Kindle, and compatible Echo devices, and one subscription works across all devices. It gives kids access to thousands of age-appropriate books, movies, TV shows, music, games, and educational apps for a small monthly fee. Parents can use it to create a personalized experience for their kids while striking the right balance between education and entertainment.</div><div><br></div><div>It has additional parental control options, such as limiting the type of content your child accesses until they’ve completed daily goals (i.e., math problems, reading) and shutting itself down at the designated curfew.</div><div><br></div><div><strong>How to subscribe to Amazon FreeTime Unlimited on an Amazon Fire:</strong></div><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Profiles &amp; Family Library</strong>.</li>
<li>Tap your child’s profile.</li>
<li>Tap <strong>Subscribe to Amazon FreeTime Unlimited</strong>.</li>
<li>Select a monthly subscription plan:<ol>
<li>
<strong>Single Child Plan ($4.99/month or $2.99/month for Prime members):</strong> If you have only one child registered to Amazon FreeTime, or if you want to provide access to Kindle FreeTime Unlimited to one, but not all, of the child profiles in your household</li>
<li>
<strong>Family Plan ($9.99/month or $6.99/month for Prime members, $119/year or $83/year for Prime members): </strong>If you want your subscription to cover up to four children in your household<br><br>
</li>
</ol>
</li>
</ol><div><strong>How to use Amazon FreeTime Unlimited’s parental controls:</strong></div><ol>
<li>Tap the <strong>FreeTime</strong> app.</li>
<li>Select the profile for your child.</li>
<li>Choose <strong>Set Daily Goals &amp; Time Limits</strong> and adjust the toggles to choose how long they can spend per day in specific apps (on the device overall).</li>
<li>Choose a <strong>Turn off by</strong> time to prevent them from using their tablet after bedtime.</li>
<li>Tap <strong>Manage your Child’s Content</strong> and then <strong>Smart Filters</strong> to set the age minimum and maximum for the type of content they’re allowed to see.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Amazon Fire, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor photos, videos, web browsing, and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Not Sure
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>