<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 6S
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Snapchat
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Snapchat is a massively popular multimedia messaging app. Available on iOS and Android, Snapchat is so much more than a quirky camera — it's an instant connection to the entire world.&nbsp;</div><div><br></div><div>Users can take pictures using countless fun filters and record short video snippets. The original appeal of the app was its disappearing media. Pictures and videos sent to friends would only display for a few seconds and then vanish. The app has undergone many updates since its introduction, and it is now possible to save media received from friends.<br><br>
</div><h2>Understanding the Lingo</h2><div>Snapchat has its own <a href="https://www.pocket-lint.com/apps/news/snapchat/131313-what-is-snapchat-how-does-it-work-and-what-is-it-used-for">dictionary</a> of app-specific lingo that can read like a foreign language to parents. Here are a few of the most important terms to know:</div><div><br></div><ul>
<li>
<strong>Snap</strong>: This is the colloquial term for a photo or video taken or sent on the app.&nbsp;</li>
<li>
<strong>Story:</strong> When you link several snaps together back-to-back, it creates a story. Stories are publicly visible for 24 hours, after which they disappear. (With recent updates, though, you can save these stories to the private storage area called "Memories").</li>
<li>
<strong>Snapcode:</strong> A scannable code that can be used to quickly add friends to a Snapchat profile.</li>
<li>
<strong>Snapstreak: </strong>This term refers to the length of time that two people have snapped each other consistently for consecutive days.&nbsp;</li>
<li>
<strong>Geofilter</strong>: Like filters, you can use a geofilter to decorate snaps and share your location (popular at large, public events).</li>
<li>
<strong>Snap Map:</strong> With this feature, you can share your location and look around a map to see where other people are located.</li>
</ul><div><br></div><h2>Privacy Settings</h2><div>Since it's so easy to add friends to the Snapchat app, your child can accumulate a lot of strangers on their friends list. Depending on their user settings, the app can collect a ton of data about their habits and share it with third parties.</div><div><br></div><div>It's particularly hard for parents to monitor their children's activity on Snapchat, as there's no feed to scroll through (unlike Facebook or Instagram). So, instead, focus on implementing strong privacy settings. Together with your child, go into the app's settings menu and look for the "<strong>Who Can</strong>" options. Here, you can control several different privacy functions.</div><div><br></div><h3>How to access the privacy settings</h3><ol>
<li>Access the settings by tapping your child’s icon in the top left of any screen.</li>
<li>Click the red <strong>Gear</strong> icon in the top right corner.</li>
<li>Look for the <strong>Contact Me</strong> option under the <strong>Who Can</strong> heading in your settings.</li>
<li>Choose between:<ol>
<li>Contact Me</li>
<li>Send Me Notifications</li>
<li>View My Story</li>
<li>See My location</li>
<li>Save Me in Quick Add</li>
</ol>
</li>
<li>Select the parameters appropriate for your child.&nbsp;</li>
</ol><div><br></div><h3>How to block someone</h3><div>If someone is harassing your child or is a stranger trying to communicate with them, the best action is to block the user.</div><div><br></div><ol>
<li>Navigate to the <strong>Friends</strong> page by tapping the <strong>chat bubble</strong> on the bottom of any screen.</li>
<li>Next, at the top of the screen, tap the <strong>person icon</strong> with a <strong>plus sign</strong> next to it.</li>
<li>Here you'll see a list of users that have added your child. You can tap on each name to pull up a list of options — including <strong>Ignore</strong> and <strong>Block</strong>.</li>
<li>If you just want to delete someone’s attempt to add your child, tap <strong>Ignore</strong>.</li>
<li>But if you never want that user to be able to contact your child again, tap <strong>Block</strong>.</li>
</ol><div><br></div><h2>The Discover Section</h2><div>Discover contains media content created by celebrities, entertainment outlets, and random strangers. While many of these content providers are legitimate, you can't truly predict what might pop up. Alcohol ads, offensive language, or nudity could pop up just as easily as the <em>New York Times.</em> Content is typically promotional in nature and is frequently mature in subject matter.<br><br><br>
</div><h3>How to unsubscribe from content on 'Discover'</h3><ol>
<li>Open Snapchat</li>
<li>Swipe left</li>
<li>Underneath the ‘Friends’ section, find ‘Subscriptions’</li>
<li>Click the arrow next to ‘Subscriptions’</li>
<li>Find the outlet you wish to unsubscribe from</li>
<li>In the right hand corner, find the ribbon icon</li>
<li>Tap and hold down on the ribbon icon</li>
<li>A menu will appear</li>
<li>Toggle ‘Subscribe’ off</li>
</ol><h3><br></h3><h3>How to hide content on 'Discover'</h3><ol>
<li>Open Snapchat</li>
<li>Swipe left</li>
<li>Underneath the ‘Subscriptions’ section, find ‘For You’</li>
<li>Tap and hold the content you wish to hide</li>
<li>A menu will appear</li>
<li>Tap ‘Hide [Name]’</li>
</ol><div>
<br><br>
</div><h2>Snapchat Stories</h2><div>A story is a photo or video that you submit to be available for just 24 hours on your account. Many users will add to their story multiple times a day. After Snapchat popularized the format, <a href="https://www.commonsensemedia.org/website-reviews/facebook">Facebook</a> and <a href="https://www.commonsensemedia.org/app-reviews/instagram">Instagram</a> offered story-creation tools, too.&nbsp;</div><div><br></div><div>Stories appear as circles, and when you tap them, they autoplay the pictures or videos the user collected. You can create personal stories that your friends can view for a 24-hour period.</div><div><br></div><div>Or, if you think your Snap is particularly interesting or newsworthy, you can send it to Our Story. Our Stories are like mini-documentaries of events, holidays, game championships, or other things happening in the world on a particular day. Snaps are curated and compiled by the company. While it's cool to have your story added to Our Story, it's also very public, so kids should think carefully before submitting one.</div><div><br></div><h2>Location Sharing</h2><div>When reading through the list of Snapchat terms, one thing that may stick out is the prevalence of location sharing. This is a major concern for many parents, as allowing anyone to see your child's whereabouts at any given moment is a bit frightening, to say the least. Here's how you can disable the <a href="http://time.com/money/4876766/snapchat-snap-map-turn-off/">Snap Map</a> feature:</div><div><br></div><ol>
<li>On your child's phone, open the map from the Snapchat home screen by pinching your fingers in toward the middle of the screen (from the corners inward).</li>
<li>Tap the <strong>Settings</strong> icon in the upper-right corner of the screen.</li>
<li>Select <strong>Ghost Mode</strong> to hide your child's location.</li>
</ol><div><br></div><div>To completely turn off location sharing, go to the main settings menu on your child's phone and change Snapchat's permissions. Note that this will prevent them from using certain geography-based filters.</div><div><br></div><h2>General Snapchat Safety Tips</h2><div>Despite the app touting the concept of <a href="https://www.commonsensemedia.org/blog/parents-ultimate-guide-to-snapchat">disappearing photos</a>, it's important to talk to your child about the permanence of anything they share on social apps. Anyone who receives a photo can take a screenshot of the image, ensuring it lives forever. (The app will send a notification to the sender if a photo is captured). It's crucial that your child understands that nothing they put online is temporary. Many teens have found themselves in uncomfortable situations by sharing embarrassing photos.</div><div><br></div><div>If your child signed up for Snapchat with their correct birth date, they should not see adult content, as Snapchat filters content for underage users. Often though, children will put an older birthdate to circumvent this built-in limiter.&nbsp; Most kids use Snapchat to be expressive and goofy and stay in touch with friends (maybe a bit too much!) There is some mature content, but Snapchat is generally appropriate for those ages 16 and older.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Snapchat, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor Snapchat private messages (chat) on Android and Amazon devices. On iPhone and iPad,&nbsp; <a href="http://bark.us/?s=barkomatic">Bark</a> monitors Stories. Snapchat doesn't allow external access to private messages, so we cannot monitor direct messages on iOS devices (and neither can any other monitoring service). We're continually working to be able to monitor Snapchat on iOS. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If your family subscribes to Xfinity Comcast, you will have access to the Xfinity Comcast email service. Your Xfinity email address is associated with the primary account holder and is created when you sign up for services. You will be able to create new email addresses from your account settings.<br><br>Although Xfinity Comcast's email provider doesn't technically have parental controls, there are ways to help keep your child safer while emailing.&nbsp;<br><br>
</div><h2>Using Xfinity Connect to Manage Email Accounts</h2><div>Xfinity Connect is a downloadable app that extends your Comcast services onto mobile devices (Apple and Android), allowing you to access your @comcast.net email address. This app is where the parental restrictions live.</div><div><br></div><h2>How to Change Your Child’s Display Name</h2><div>Create your child’s email account from the main Xfinity dashboard. If this is your child's first email handle, you'll most likely monitor who they exchange emails with and when. However, changing your child's display name is still a good idea to protect his or her identity online. The display name is the name that populates in the "From" field of a sent email. Using a nickname or a pseudonym is a great way of keeping your child's name from falling into the hands of spammers. Here's how to change your display name in Xfinity Connect:</div><div><br></div><ol>
<li>From your Xfinity Connect dashboard, select <strong>Preferences</strong>.</li>
<li>From the <strong>Preferences </strong>page, click<strong> Email</strong>.</li>
<li>On the <strong>Email Preferences</strong> page, you'll see a form labelled <strong>Your name on emails will be</strong>. Fill it in accordingly.</li>
</ol><div>&nbsp;</div><h2>How to Set Spam Filters</h2><ol>
<li>From your Xfinity dashboard, click the <strong>gear</strong> icon and navigate to <strong>Advanced Settings</strong>.</li>
<li>Click <strong>Enable spam filtering</strong>.</li>
<li>If you want a record of potential spam entering your child's inbox you can choose to check the <strong>Save a copy of emails marked as spam</strong> box. Otherwise, they’ll be deleted before even reaching the inbox.</li>
</ol><div><br></div><h2>How to Set an Email Safe List</h2><div>Your Comcast email account also gives you the option to set up a highly limited inbox that only allows emails from specific email addresses. This safe list allows you to control who your child emails — any messages from addresses not included on the safe list will not be delivered.</div><div><br></div><ol>
<li>Click the <strong>gear</strong> icon to navigate to<strong> Settings</strong>.</li>
<li>Click <strong>Advanced Settings</strong>.</li>
<li>Navigate to <strong>Email Safe List </strong>and input the addresses your child may receive mail from.</li>
</ol><div><br></div><h2>How to Set Incoming Email Restrictions</h2><div>Comcast's email service also includes an advanced feature that allows you to create multiple email filters. Though this is a more complicated process, it is a robust system that gives the user the power to sort through incoming email. To create a filter you will dictate the conditions that trigger the filter and the resulting action.</div><div><br></div><ol>
<li>From the<strong> Settings</strong> page, click <strong>Filter rules </strong>followed by <strong>Add new rule</strong>.</li>
<li>Add your <strong>Rule name</strong> into the provided field.</li>
<li>Click <strong>Add condition</strong> and follow the prompts (<a href="https://www.xfinity.com/support/articles/spam-filters-and-email-blocking-new-experience">more details here</a>).</li>
<li>Choose your <strong>Action</strong>.</li>
</ol><div>5. Click <strong>Save</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Xfinity/Comcast email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox 360
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Xbox 360 is a gaming console from Microsoft. It allows you to play video games, stream content from apps, surf the web, and chat with other players via Xbox Live. Setting parental controls is fairly simple, and can be done from the console itself or online. The controls aren’t as robust as those on the Xbox One, but they will still help you protect your child from inappropriate content.<br><br>
</div><h2>Setting Parental Controls on the Xbox 360</h2><div>On the Xbox 360, <a href="https://support.xbox.com/en-US/my-account/manage-gamertag-and-profile/xbox-live-pass-codes">you can control the following</a>:</div><div><br></div><ul>
<li>
<strong>Ratings and Content:</strong> These settings are where you restrict games and video content based on content rating. You can also choose whether or not to allow explicit or unrated content to be played on the console. You can also set exceptions for individual games outside of the rating restrictions you’ve set.</li>
<li>
<strong>Family Timer:</strong> This setting allows you to limit the time your console can be used either on a daily or weekly basis.</li>
<li>
<strong>Xbox Live Access:</strong> Block or allow access to Xbox Live from the console.</li>
<li>
<strong>Xbox Live Membership Creation:</strong> Block or allow the creation of new Xbox Live memberships from the console.</li>
<li>
<strong>Change Pass Code:</strong> Change your pass code.</li>
<li>
<strong>Reset to Default Settings:</strong> This allows you to reset the settings back to their original factory settings.</li>
</ul><div><br></div><h3>Setting controls on the Xbox 360 console</h3><ol>
<li>On your console, go to <strong>Settings</strong>. Then, choose <strong>Family</strong>.</li>
<li>Choose the gamertag for the child whose settings you want to edit.</li>
<li>Under <strong>Privacy and Online Settings</strong>, choose <strong>Change Settings</strong>.</li>
<li>Update the settings. Exit the screen to save.</li>
</ol><div><br></div><h3>Setting controls on Xbox Live through your computer</h3><ol>
<li>Sign into your Xbox account.</li>
<li>Click <strong>My Account</strong>.</li>
<li>Click <strong>Security, Family, &amp; Forums</strong>.</li>
<li>Click <strong>Xbox 360 Online Safety</strong>.</li>
<li>Choose the account you want to edit.</li>
<li>Choose <strong>Allowed</strong> or <strong>Blocked</strong> next to the areas you want to limit or allow access to.&nbsp;</li>
<li>Click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Changing your passcode</h3><div>The passcode is a PIN you can use to adjust content and controls. To change it, you must be on your console.<br><br>
</div><ol>
<li>Go to <strong>Settings</strong>, then <strong>Family</strong>.</li>
<li>Enter your pass code.</li>
<li>Choose <strong>Change Pass Code</strong>.</li>
<li>Choose <strong>Change Pass Code</strong> again.</li>
<li>Enter a new <strong>Pass Code</strong> twice.</li>
<li>Choose <strong>Done</strong>.</li>
<li>
<strong>Save</strong> and <strong>Exit</strong>.</li>
</ol><div><br></div><div>If you forget the pass code you set up for parental controls, you can reset it by answering the pass code question you set up with parental controls. You must be on your console for this.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>, then <strong>Family</strong>.</li>
<li>Choose a content setting to change.</li>
<li>Enter any pass code when prompted, even if it’s not the right one.</li>
<li>Once you’re notified the pass code is incorrect, choose <strong>Reset Pass Code</strong>.</li>
<li>Enter the answer to your Pass Code question and choose <strong>Done</strong>.</li>
</ol><div><br></div><div>If you can’t remember the answer to this question, you’ll need to contact support for more help.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Five Nights at Freddy’s
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Five Nights at Freddy's is a horror video game that uses jump scares and tension tactics rather than violence and bloodshed. The game is too intense for younger children, particularly given its sensations of being trapped and defenseless.</div><div><br></div><div>It features a slew of freaky animatronic characters, whose appearances and demeanors are enough to make your skin crawl. Even teens should know what they're getting into before playing Five Nights at Freddy's. If your child is easily spooked by lifelike dolls, they may want to steer clear of this title.&nbsp;</div><div><br></div><h2>Is Five Nights at Freddy's Really That Scary?</h2><div>In Five Nights at Freddy's, you play the role of a new night security guard at Freddy Fazbear's Pizza. Your mission is to keep a watchful eye on the pizza shop's animatronic characters, who tend to wander at night. Should they find you first, you're a goner. Every move you make drains your energy reserves. If you try to run, the room goes black and you're completely defenseless.</div><div><br></div><h2>Keeping Kids Safe on Five Nights at Freddy's</h2><div>Five Nights at Freddy's is rated PG-13 for disturbing/violent content, some language, and horror. Though parents can block access to titles of a certain rating on their children's devices, the game itself does not have any in-game parental controls or limiters. There is no chat functionality.</div><div><br></div><div>If you’re concerned about your child, do not let them play it or download it. You can control this by setting parental controls on devices (PC, iOS, Android) that limit your child's access to download or access specific content.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Comcast, one of the largest cable and internet providers in the country, offers an excellent suite of parental controls through their new xFi Wi-Fi platform. Including a personalized homepage with all of the necessary activity insights, parents get useful tools like Device Pausing, Time Limits, and other advanced parental controls.<br><br>Comcast xFi is only compatible with wireless gateways that are provided by Comcast.</div><div><br></div><h2>How to Begin</h2><div>Open the Xfinity xFi app or navigate to <a href="http://www.xfinity.com/myxFi">www.xfinity.com/myxFi</a> and type in your username and password. You will then be directed to the Overview page that will show you default information about your gateway including other relevant user data, such as the recent activity of the most popular devices on your network, and your family members.</div><div><br></div><h2>Device List</h2><div>Click on the <strong>Device</strong> tab. You can see who is currently connected to your network, and you can manage family devices from this screen.</div><div><br></div><ul>
<li>
<strong>Active Devices</strong> are listed at the top of this screen with a green icon noting the connection.</li>
<li>
<strong>Inactive Devices</strong> are listed at the bottom of the screen and do not show a green icon.</li>
</ul><div><br></div><div>If this is your first time logging in, none of your devices will be customized and may appear as a long string of numbers and letters — also known as a MAC address — or it may be the device's default name (e.g. "Johns_MacBook_Air"). Personalizing the device names will allow easier access to family members and devices.</div><div><br></div><h2>Personalizing Devices</h2><div>If you have just connected a new device, or have yet to personalize any devices, there will be a prompt at the top of the Device screen that informs you of any devices waiting to be personalized.</div><div><br></div><ol>
<li>Click the <strong>Personalize</strong> button near the top of the page.</li>
<li>Click the device you want to personalize from the <strong>new devices list</strong>.</li>
<li>Here you will have the option to <strong>name your device</strong> and <strong>select a device category</strong>.<ul><li>If you are having trouble identifying the device, click on <strong>View More Device Info</strong> to see more details about the device.</li></ul>
</li>
<li>Select <strong>Continue</strong> and then <strong>Close</strong>.</li>
<li>Now that the device is personalized, you can assign it to a family member's profile.</li>
<li>Choose a family member from the list or click <strong>Create New</strong> to create a new profile.</li>
</ol><div><br></div><div>You can also create new profiles on the <strong>People</strong> menu.</div><div><br></div><h2>People</h2><div>Select <strong>People</strong> from the top menu. Here you can create new profiles, view the activity of specific family members, and manage guest profiles. In addition to the specific family member profiles, you will see these two unique profiles:</div><div><br></div><ul>
<li>
<strong>Household</strong> — This profile is a collection of devices that are used by multiple people, such as the living room TV or a printer.</li>
<li>
<strong>Guest</strong> — This profile displays all of the devices used by house guests.</li>
</ul><div><br></div><div>Neither of these profiles can be deleted and may be empty depending on your current setup.</div><div><br></div><h2>Device Pausing</h2><div>Pausing devices can be an excellent way to get everyone to the dinner table in a timely manner.</div><div><br></div><ol>
<li>To pause a device, click on a family member's name on the <strong>People</strong> page.</li>
<li>On the top right of the screen click <strong>Pause All Devices</strong>.</li>
</ol><div><br></div><div>Alternatively, you can pause one device at a time by going to the <strong>Devices</strong> page, selecting a device, and choosing <strong>Pause Device</strong>.</div><div><br></div><h2>Time Limits</h2><div>Follow these steps to begin setting time limits for your family:</div><div><br></div><ol>
<li>Navigate back to the <strong>People</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click <strong>Edit </strong>next to <strong>Bedtime Mode</strong>.</li>
<li>Here you can set time limits for both <strong>School Nights</strong> (Sun-Thurs) or <strong>Weekend Nights</strong> (Fri-Sat) separately. Select the checkbox for each section and adjust the sliders to change the time limits.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>Now your child will have official time limits for their devices, with unique bedtime modes depending on whether it is a school night or weekend night.</div><div><br></div><h2>Parental Controls</h2><div>You can control the type of content your child can access through the Parental Controls settings.</div><div><br></div><ol>
<li>Navigate yet again to the <strong>Overview</strong> page and click on a family member.&nbsp;</li>
<li>Underneath the <strong>Recent Activity</strong> section, click<strong> Edit </strong>next to<strong> Parental Controls</strong>.</li>
<li>Select the <strong>On</strong> dial.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>This parental control setting is not fully customizable, but will automatically reduce the risk of your child accessing explicit material online. The viewable material will be limited to content appropriate for all ages.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Comcast, one of the largest cable and internet providers in the country, offers an excellent suite of parental controls through their new xFi Wi-Fi platform. Including a personalized homepage with all of the necessary activity insights, parents get useful tools like Device Pausing, Time Limits, and other advanced parental controls.</div><div><br></div><h2>How to Begin</h2><div>Open the Xfinity xFi app or navigate to <a href="http://www.xfinity.com/myxFi">www.xfinity.com/myxFi</a> and type in your username and password. You will then be directed to the Overview page that will show you default information about your gateway.</div><div><br></div><h2>Device List</h2><div>Click on the <strong>Device</strong> tab. You can see who is currently connected to your network, and you can manage family devices from this screen.</div><div><br></div><ul>
<li>
<strong>Active Devices</strong> are listed at the top of this screen with a green icon noting the connection.</li>
<li>
<strong>Inactive Devices</strong> are listed at the bottom of the screen and do not show a green icon.</li>
</ul><div><br></div><div>If this is your first time logging in, none of your devices will be customized and may appear as a long string of numbers and letters — also known as a MAC address — or it may be the device's default name (e.g. "Johns_MacBook_Air"). Personalizing the device names will allow easier access to family members and devices.</div><div><br></div><h2>Personalizing Devices</h2><div>If you have just connected a new device, or have yet to personalize any devices, there will be a prompt at the top of the Device screen that informs you of any devices waiting to be personalized.</div><div><br></div><ol>
<li>Click the <strong>Personalize</strong> button near the top of the page.</li>
<li>Click the device you want to personalize from the <strong>new devices list</strong>.</li>
<li>Here you will have the option to <strong>name your device</strong> and <strong>select a device category</strong>.<ul><li>If you are having trouble identifying the device, click on <strong>View More Device Info</strong> to see more details about the device.</li></ul>
</li>
<li>Select <strong>Continue</strong> and then <strong>Close</strong>.</li>
<li>Now that the device is personalized, you can assign it to a family member's profile.</li>
<li>Choose a family member from the list or click <strong>Create New</strong> to create a new profile.</li>
</ol><div><br></div><div>You can also create new profiles on the <strong>People</strong> menu.</div><div><br></div><h2>People</h2><div>Select <strong>People</strong> from the top menu. Here you can create new profiles, view the activity of specific family members, and manage guest profiles. In addition to the specific family member profiles, you will see these two unique profiles:</div><div><br></div><ul>
<li>
<strong>Household</strong> — This profile is a collection of devices that are used by multiple people, such as the living room TV or a printer.</li>
<li>
<strong>Guest</strong> — This profile displays all of the devices used by house guests.</li>
</ul><div><br></div><div>Neither of these profiles can be deleted and may be empty depending on your current setup.</div><div><br></div><h2>Device Pausing</h2><div>Pausing devices can be an excellent way to get everyone to the dinner table in a timely manner.</div><div><br></div><ol>
<li>To pause a device, click on a family member from the <strong>People</strong> page.</li>
<li>On the top right of the screen click <strong>Pause All Devices</strong>.</li>
</ol><div><br></div><div>Alternatively, you can pause one device at a time by going to the <strong>Devices</strong> page, selecting a device, and choosing <strong>Pause Device</strong>.&nbsp;</div><div><br></div><h2>Time Limits</h2><div>Follow these steps to begin setting time limits for your family:</div><div><br></div><ol>
<li>Navigate back to the <strong>People</strong> page and click on a family member.</li>
<li>Underneath the <strong>Recent Activity</strong> section, click <strong>Edit </strong>next to <strong>Bedtime Mode</strong>.</li>
<li>Here you can set time limits for both <strong>School Nights</strong> (Sun-Thurs) or <strong>Weekend Nights</strong> (Fri-Sat) separately. Select the checkbox for each section and adjust the sliders to change the time limits.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>Now your child will have official time limits for their devices, with unique bedtime modes depending on if it is a school night or weekend night.</div><div><br></div><h2>Parental Controls</h2><div>You can control the type of content your child can access through the Parental Controls settings.</div><div><br></div><ol>
<li>Navigate to the <strong>Overview</strong> page and click on a family member.</li>
<li>Underneath the <strong>Recent Activity</strong> section, click<strong> Edit </strong>next to<strong> Parental Controls</strong>.</li>
<li>Select the <strong>On</strong> dial.</li>
<li>Click <strong>Apply Changes</strong> to save your settings.</li>
</ol><div><br></div><div>This parental control setting is not fully customizable, but it will automatically reduce the risk of your child accessing explicit material online. The viewable material will be limited to content appropriate for all ages.</div><div><br></div><div>Comcast xFi is only compatible with wireless gateways that are provided by Comcast.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/chromebook-11ba0ff273af8f115882dc93b70029ac9fa0f8eeee26a68a873e39a972e930ce.png">
            Chromebook
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chromebook
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Chromebooks are unique laptops that use the Chrome Operating System (OS). Essentially, the Chromebook is run by Google's Chrome browser, and nearly all of its functions are used while connected to the internet. While users are able to work offline for some functions, most of the apps and documents require internet access.</div><div><br></div><h2>Using Google Family Link to Monitor Your Child’s Chromebook</h2><div><br></div><div>Because Chromebooks operate solely on the Google Chrome browser, you will be accessing all of the controls via your family's Google Accounts. Each child will need a Google Family Link account.</div><div><br></div><ol>
<li>Make sure your Chromebook is updated to version 65 or higher of Chrome OS. <a href="https://support.google.com/chromebook/answer/177889">Click here</a> if you need help updating your system.</li>
<li>To create a Family Link account for your child, download the app for either <a href="https://itunes.apple.com/us/app/google-family-link/id1150085200&amp;ct=homepage-website-setup&amp;mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?hl=en&amp;id=com.google.android.apps.kids.familylink">Android</a>.</li>
<li>Follow the instructions on your screen to set up the account.</li>
</ol><div><br></div><h3>How to add a new user to Chromebook</h3><ol>
<li>Select <a href="https://support.google.com/chromebook/answer/1059242?hl=en"><strong>Add Person</strong></a> on the Chromebook's lock screen.</li>
<li>Sign in using your child's Family Link account information.</li>
<li>Next, you will be asked to sign in to your parent account in Family Link to grant access.</li>
<li>An on-screen prompt will list what your child can and cannot access.</li>
<li>Click <strong>Yes</strong> to allow your child access to the Chromebook.</li>
</ol><div><br></div><h3>What Family Link Monitors</h3><div>Children signed into their Google Accounts on a Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:<br><br>
</div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "try to block mature sites" has been turned on for your child in the Family Link settings, Chrome browsing will block most sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. However, your child can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this info won't be used to personalize ads for children under 13.</li>
</ul><div><br></div><h3>How to manage websites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that's right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.</li>
<li>
<strong>Only allow certain sites</strong>: Your child will only be able to visit the sites you allow.</li>
</ul>
</li>
<li>Tap <strong>Manage Sites</strong> to manually block or allow certain sites.</li>
</ol><div><br></div><h3>How to manage website permissions</h3><div>Parents can choose if their child is allowed to grant permissions to the websites they visit. Examples of permissions include allowing sites to track location, access the camera, or push notifications. To adjust this setting:</div><div><br></div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off.</li>
</ol><div><br></div><h3>How to monitor browsing history</h3><ol>
<li>On your child's Chromebook, open <strong>Chrome</strong>.</li>
<li>In the top right, select <strong>More &gt; History</strong>. This page shows your child's recent Chrome history.</li>
</ol><h3>
<br>How to clear history</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>In the <strong>History</strong> section, tap <strong>Clear history</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's Chromebook, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. <a href="http://bark.us/?s=barkomatic">Bark</a> can also monitor the saved photos and videos on Chromebook by downloading the <a href="http://bark.us/?s=barkomatic">Bark</a> for Chromebooks app from the Google Play Store. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Firefox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Mozilla Firefox is an internet browser available for your computer and mobile devices. It does not have any built-in parental control features. However, if you change the parental controls on the computer itself, these settings can apply to the Firefox browser. It’s also possible to use third-party browser add-ons, known as <a href="https://addons.mozilla.org/en-US/firefox/search/?q=parental+control&amp;cat=all">extensions</a>, to implement parental controls.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Galaxy Tab
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Samsung Galaxy Tab series is a line of tablets that uses the Android operating system. These tablets are portable, have Wi-Fi capability, and come with a variety of other features — including easy-to-use parental controls in their Kids Mode app.<br><br>
</div><h2>The Kids Mode Parental Control App</h2><div>The Samsung Galaxy Tab products are best managed with the Kids Mode app, which provides children with age-appropriate content while allowing parents to restrict access to apps and stored media content on the device. The Kids Mode app is only available on newer generations (Samsung Galaxy Tab 3 and higher). Please install the latest Android operating system update beforehand to make sure Kids Mode runs smoothly.</div><div><br></div><div>Since the Kids Mode app can be toggled on and off, you need to begin by setting up a user profile for your child on the device.</div><div><br></div><h3>Create a user profile for your child on a Samsung Galaxy Tab</h3><div>&nbsp;</div><ol>
<li>Go to the tablet’s <strong>Home</strong> screen.</li>
<li>Tap on the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Users</strong>.</li>
<li>Tap <strong>Add user or profile</strong>.</li>
<li>Tap <strong>Choose restricted profile</strong>.</li>
<li>Create a password.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><div>Once you’ve set up a user profile for your child, you can download the Kids Mode app.<br><br>
</div><h3>Download Kids Mode</h3><ol>
<li>If Kids Mode is not already on your device, open the <strong>Google Play Store</strong>.</li>
<li>Search <strong>Samsung Kids Mode</strong> to pull up the Kids Mode app, created by Samsung Electronics Co. Ltd.</li>
<li>Tap <strong>Install</strong>.</li>
</ol><div><br></div><h3>Set up Kids Mode</h3><ol>
<li>From the <strong>Home</strong> screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Enter a new four-digit PIN.&nbsp;</li>
<li>Enter your child’s name and birthday for their Kids Mode profile.</li>
<li>Tap <strong>Accept</strong> on the disclaimer.</li>
<li>Tap <strong>Skip</strong> to add apps to Kids Mode later, or <strong>Next</strong> to do it now.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><h3>Add apps using Kids Mode</h3><div>Which apps are your child allowed to use on their Samsung Galaxy Tab? That’s up to you! Decide which apps are permitted when Kids Zone is activated — you can add up 30.</div><div>&nbsp;</div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.</li>
<li>Tap <strong>Applications</strong>.</li>
<li>Tap the <strong>Add</strong> icon in the upper right-hand corner.</li>
<li>If a disclaimer appears, tap <strong>Accept</strong> to agree and continue.</li>
<li>Select the apps you’re allowing your child to use by touching the box. A green checkmark will appear on each selected app.</li>
<li>Tap <strong>Done</strong> when you’re finished.</li>
</ol><div>&nbsp;</div><div>Even without allowing access to additional apps, children using Kids Mode will automatically have access to the following apps:<br><br>
</div><ul>
<li>Kids Drawing</li>
<li>Kids Music</li>
<li>Kids Media</li>
<li>Kids Voice Recorder</li>
<li>Kids Camera</li>
<li>Kids Photo Gallery</li>
<li>Kids Store (they can view and save apps, but only parents can choose to purchase or download an app)</li>
</ul><div><br></div><h3>Create time restrictions using Kids Mode</h3><div>How long should your child be allowed to use their Samsung Galaxy Tab? You can control exactly how long they can use the device in a single day.&nbsp;</div><div><br></div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.&nbsp;</li>
<li>Select <strong>Daily playtime limit</strong>.</li>
<li>You can choose to leave it on <strong>No time limit</strong>, or you can click <strong>Time limit</strong> (default is 30 minutes per day) and tap the <strong>Settings</strong> icon to personalize the time limit in five-minute intervals (0-180 minutes).</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Home
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Home is a smart speaker that competes with the Amazon Echo and the Apple HomePod. You can use it to get news and weather forecasts, make purchases, listen to music, and more. If you want to make sure your children are using Google Home appropriately, these step-by-step directions will allow you to set up parental controls.<br><br>
</div><h2>Setting Parental Controls on Google Home Smart Speakers</h2><ol>
<li>Set up a <a href="https://families.google.com/familylink/"><strong>Google Family Link</strong></a> account. This allows you to view activity, manage apps, limit screen time, and lock devices. You can even use Family Link to see where your child is as long as they are carrying their device and location services are on. You must download the app on your smartphone.</li>
<li>Use the <strong>Family Link</strong> app to create a Google Account for your child, where you can control and monitor linked apps and devices.</li>
<li>Have each child nearby to provide voice samples to allow voice recognition of commands. This is necessary for individual permissions profiles. Expect to spend up to 10 minutes per child.</li>
<li>Block explicit music and video content from YouTube.<ol>
<li>Open the <strong>Google Home</strong> app.</li>
<li>Tap <strong>Menu</strong> in the top left corner.</li>
<li>Verify the Google Account listed is the one linked to Google Home. Switch accounts, if necessary, by clicking the triangle to the right of the account name.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Under <strong>Devices</strong>, tap the Home device you want to adjust.</li>
<li>Under <strong>YouTube Restricted Mode</strong>, block content by sliding the slider to the right.</li>
</ol>
</li>
<li>Block explicit content from <strong>Google Play Music</strong>.<ol>
<li>Open the <strong>Google Play Music</strong> website. You cannot access this setting from the Google Play Music app.</li>
<li>In the top left corner, click <strong>Settings</strong>.</li>
<li>In the <strong>General</strong> section, click the checkbox next to <strong>Block explicit songs in radio</strong>. This will not block Google Play Music premium users from playing specific explicit songs or albums.</li>
</ol>
</li>
</ol><div><br></div><div>Children are blocked from online purchasing automatically. External apps are blocked unless Google has vetted them and designated them as <strong>Apps for Families on Google Assistant</strong>. You can block third-party apps via Family Link.</div><div><br></div><div>Google Home has a personal results setting you can monitor, but you must choose to monitor all of the content — calendar, contacts list, and photos — or none of it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>