<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 5c
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The iPhone 5c does not support the latest version of Apple’s operating system (iOS 12). The most up-to-date version of iOS that the iPhone 5c supports is <strong>iOS 10</strong>.&nbsp;</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>How to turn on restrictions in iOS 10</h2><ol>
<li>Tap <strong>Settings</strong>
</li>
<li>Tap <strong>General</strong>
</li>
<li>Tap <strong>Restrictions</strong>
</li>
<li>Tap <strong>Enable Restrictions</strong> and create a passcode</li>
</ol><div><br></div><h3>Content &amp; Privacy Restrictions</h3><div>You can restrict a wide variety of apps and features on the iPhone 5c including:<br><br>
</div><div>
<em>Apps and features<br></em><br>
</div><ul>
<li>iTunes Store</li>
<li>Apple Music Connect</li>
<li>iBooks Store</li>
<li>In-App Purchases</li>
<li>Siri</li>
<li>Safari</li>
<li>Camera</li>
<li>FaceTime</li>
<li>AirDrop</li>
<li>CarPlay</li>
<li>Installing apps</li>
<li>Deleting apps</li>
<li>Multiplayer games in Game Center</li>
<li>Adding Game Center friends</li>
</ul><div><br></div><div>
<em>Content<br></em><br>
</div><ul>
<li>TV shows</li>
<li>Books</li>
<li>Apps</li>
<li>Websites</li>
<li>Siri</li>
<li>Ratings</li>
<li>Music, Podcasts, News and iTunes</li>
<li>Movies</li>
</ul><div><br></div><div>
<em>Changes to privacy settings<br></em><br>
</div><ul>
<li>Photos</li>
<li>Share My Location</li>
<li>Bluetooth sharing</li>
<li>Location Services</li>
<li>Contacts&gt;</li>
<li>Calendars</li>
<li>Reminders</li>
<li>Microphone</li>
<li>Facebook</li>
<li>Advertising</li>
<li>Twitter</li>
</ul><div><br></div><div>
<em>Changes to settings and accounts<br></em><br>
</div><ul>
<li>Background App Refresh</li>
<li>Volume limit</li>
<li>Media Library</li>
<li>Screen recording</li>
<li>Cellular Data Use</li>
<li>Accounts (you have the option to prevent changes to Mail, Contacts, Calendars, iCloud, Twitter, Facebook, Vimeo, Flickr, iTunes, App Store, iMessage, and FaceTime)</li>
</ul><div><br></div><div><br></div><h2>Create your Family Sharing account</h2><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.<br><br>
</div><ol>
<li>Tap <strong>Settings</strong>
</li>
<li>Tap <strong>iCloud</strong>
</li>
<li>Tap <strong>Get Started</strong>
</li>
<li>You will then be prompted with onscreen instructions to set up family members</li>
</ol><div><br></div><div>
<em>Invite people to join your family<br></em><br>
</div><ol>
<li>Tap <strong>Settings</strong>
</li>
<li>Tap <strong>iCloud</strong>
</li>
<li>Tap <strong>Family</strong>
</li>
<li>Tap <strong>Add Family Member</strong>
</li>
<li>Enter your family member's name or email address and follow the onscreen instructions.</li>
</ol><div><br></div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.</div><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Reddit
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Also known as "the front-page of the internet," Reddit is a popular online forum that features a vast amount of content for users to read, contribute to, and share with other people. It functions much like a message board. Reddit is routinely in the top ten most popular websites in the U.S., and it has has grown significantly since its humble beginnings in 2005.</div><div><br></div><div>The forum is organized by user-created boards known as "subreddits" that can be about nearly any topic imaginable. A subreddit is preceded by the characters "r/" in the url. For example, "r/planes" would be a subreddit on the general topic of planes. Similarly, a subreddit entitled "r/stocks" would be all about the stock market.</div><div><br></div><h2>Pros</h2><div>Reddit really is just a large database of knowledge. While some of that "knowledge" is certainly random photos and memes, there are plenty of subreddits that are all about learning specific topics, such as "r/guitarlessons" or "r/woodworking". These can be excellent channels for beginners to learn new hobbies or share their knowledge with others.<br><br>
</div><h2>Cons</h2><div>As you can imagine, a website with such an open-ended platform could be worrisome for younger visitors. Because Reddit is such a popular destination, there are scores of NSFW (not safe for work) threads available on the site. Although not immediately visible, it is there. Thankfully, there are ways to protect your child from viewing any explicit content.</div><div><br></div><h2>How to Keep Your Child Safe on Reddit</h2><h3>How to create an account</h3><div>Create your child's Reddit account yourself and sign up with your own email address. This allows you to keep tabs on what your child is looking at, and even change settings or block usage if it ever becomes necessary. Without access to your email address, your child will not be able to change the password. While this is a great first step, there are a few account settings you will need to change to make the browsing experience more kid-friendly.</div><div><br></div><div>Note: You can use Reddit without logging in it all. It’s possible to log out at any time once you’ve logged in to escape any restrictions put in pace.<br><br>
</div><h3>How to secure your child’s Reddit account</h3><ol>
<li>Click on your child’s account username at the top-right corner of the screen.</li>
<li>Select <strong>User Settings</strong> from the dropdown menu.</li>
<li>Tap the <strong>Profile</strong> menu button.</li>
<li>Scroll down until you see the <strong>Advanced</strong> section. Uncheck both <strong>Content Visibility</strong> and <strong>Active in communities visibility</strong>, which will help keep your child more anonymous online. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and select the <strong>Privacy &amp; Security</strong> menu button.</li>
<li>In the top section labeled <strong>User Privacy</strong>, uncheck <strong>Search engine indexing</strong>. This prevents any search engine from displaying your child's profile in search results.</li>
<li>Scroll down until you see the <strong>Messaging Privacy</strong> section. Click on the dropdown next to the <strong>Who can message you</strong> setting and change it from <strong>Everyone</strong> to <strong>Whitelisted</strong>. Now you can customize the users who can message your child's account; for example, a neighborhood friend. Keep in mind that administrators and moderators of subreddits that your child is following will always be able to send them private messages. So it is important to decide carefully what subreddits your child can follow. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and click on the <strong>Feed Settings</strong> menu button.</li>
<li>At the very top of the list is the <strong>Content Preferences</strong> section. Verify that <strong>Adult Content</strong> is disabled (it should be disabled by default but it doesn't hurt to double-check). It may also be a good idea to disable <strong>Autoplay media</strong> immediately below the Adult Content setting, which stops videos and .gifs from playing automatically. Click <strong>Save</strong> at the bottom of the screen.</li>
</ol><div><br></div><h3>Report hateful speech or bullying.</h3><div>If your child comes across any hateful speech or bullying, help them report any offending users.</div><div><br></div><ol>
<li>For offensive posts: click the “<strong>...</strong>” at the bottom of the post and select <strong>Report</strong> from the dropdown that appears. Then select a reason for the report and click <strong>Submit</strong>.</li>
<li>For offensive comments, click on the <strong>Report</strong> button immediately below the comment. Then select a reason for the report and click <strong>Submit</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Reddit, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors your child's submissions, comments, and private messages. This includes replies to their comments, which come in as private messages. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If your family subscribes to Xfinity Comcast, you will have access to the Xfinity Comcast email service. Your Xfinity email address is associated with the primary account holder and is created when you sign up for services. You will be able to create new email addresses from your account settings.<br><br>Although Xfinity Comcast's email provider doesn't technically have parental controls, there are ways to help keep your child safer while emailing.&nbsp;<br><br>
</div><h2>Using Xfinity Connect to Manage Email Accounts</h2><div>Xfinity Connect is a downloadable app that extends your Comcast services onto mobile devices (Apple and Android), allowing you to access your @comcast.net email address. This app is where the parental restrictions live.</div><div><br></div><h2>How to Change Your Child’s Display Name</h2><div>Create your child’s email account from the main Xfinity dashboard. If this is your child's first email handle, you'll most likely monitor who they exchange emails with and when. However, changing your child's display name is still a good idea to protect his or her identity online. The display name is the name that populates in the "From" field of a sent email. Using a nickname or a pseudonym is a great way of keeping your child's name from falling into the hands of spammers. Here's how to change your display name in Xfinity Connect:</div><div><br></div><ol>
<li>From your Xfinity Connect dashboard, select <strong>Preferences</strong>.</li>
<li>From the <strong>Preferences </strong>page, click<strong> Email</strong>.</li>
<li>On the <strong>Email Preferences</strong> page, you'll see a form labelled <strong>Your name on emails will be</strong>. Fill it in accordingly.</li>
</ol><div>&nbsp;</div><h2>How to Set Spam Filters</h2><ol>
<li>From your Xfinity dashboard, click the <strong>gear</strong> icon and navigate to <strong>Advanced Settings</strong>.</li>
<li>Click <strong>Enable spam filtering</strong>.</li>
<li>If you want a record of potential spam entering your child's inbox you can choose to check the <strong>Save a copy of emails marked as spam</strong> box. Otherwise, they’ll be deleted before even reaching the inbox.</li>
</ol><div><br></div><h2>How to Set an Email Safe List</h2><div>Your Comcast email account also gives you the option to set up a highly limited inbox that only allows emails from specific email addresses. This safe list allows you to control who your child emails — any messages from addresses not included on the safe list will not be delivered.</div><div><br></div><ol>
<li>Click the <strong>gear</strong> icon to navigate to<strong> Settings</strong>.</li>
<li>Click <strong>Advanced Settings</strong>.</li>
<li>Navigate to <strong>Email Safe List </strong>and input the addresses your child may receive mail from.</li>
</ol><div><br></div><h2>How to Set Incoming Email Restrictions</h2><div>Comcast's email service also includes an advanced feature that allows you to create multiple email filters. Though this is a more complicated process, it is a robust system that gives the user the power to sort through incoming email. To create a filter you will dictate the conditions that trigger the filter and the resulting action.</div><div><br></div><ol>
<li>From the<strong> Settings</strong> page, click <strong>Filter rules </strong>followed by <strong>Add new rule</strong>.</li>
<li>Add your <strong>Rule name</strong> into the provided field.</li>
<li>Click <strong>Add condition</strong> and follow the prompts (<a href="https://www.xfinity.com/support/articles/spam-filters-and-email-blocking-new-experience">more details here</a>).</li>
<li>Choose your <strong>Action</strong>.</li>
</ol><div>5. Click <strong>Save</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Xfinity/Comcast email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox One
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>XBox One is the latest console from Microsoft. With it, you can play video games, stream content from apps, chat with other players via <a href="https://support.xbox.com/en-US/xbox-one/xbox-live/connecting-to-xbox-live">XBox Live</a>, surf the web, and even watch TV (if you have a cable box to connect it to).</div><div><br></div><div>Setting parental controls on the XBox One is a somewhat complex process, but it's worth it for the level of control you’ll have for each child in your family. If you allow your children to stream content from various apps such as Hulu while on the device, the parental controls on the gaming console will override any parental controls you have set up on the individual apps, in most cases.</div><div><br></div><h2>Screen Time Limits</h2><div>To set screen time limits for your child on Xbox One and Windows 10 devices, go to <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a> and sign in with your Microsoft account. Then:<br><br>
</div><ol>
<li>Find your child's name and select <strong>Screen time</strong>.</li>
<li>If you want to use the same schedule for all devices, switch <strong>Use one screen time schedule</strong> from <strong>Off</strong> to <strong>On</strong>. If you’d rather have separate schedules, scroll down and switch screen time on for PC and Xbox One individually.</li>
<li>Set how much time your child is allowed to spend with their devices each day, and when they can use them. If you want to give them the full amount of time you’ve scheduled, select <strong>Max</strong> <strong>scheduled</strong>. (Example: If you’ve allowed screen time from 8 am to 8 pm, they could use their devices that entire time).</li>
</ol><div>
<br>To give your kids a heads up on Xbox when their screen time is running out:<br><br>
</div><ol>
<li>Press the <strong>Xbox </strong>button on the controller.</li>
<li>Select <strong>System</strong> &gt; <strong>Settings </strong>&nbsp;&gt; <strong>Preferences</strong> &gt; <strong>Notifications</strong> &gt; <strong>Xbox Notifications </strong>&gt; <strong>System</strong> and make sure <strong>System notifications on</strong> is selected.</li>
</ol><div>
<br>Screen time counts down when a child is signed in, so if they’re not actively using their console, have them sign out.</div><div><br></div><h2>Age Limits for Accessing Content</h2><div>To ensure your kids have access to only family-friendly games, apps, TV shows, and movies on their Xbox One, you can choose from preset recommendations by age. To do this:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button to open the guide, and then go to <strong>System &gt; Settings &gt; Account &gt; Family settings</strong>.</li>
<li>Select <strong>Manage family members</strong>, and then select the child account you want to update.</li>
<li>Under <strong>Access to content</strong>, choose the desired age-level restriction. (By default, your child’s restrictions will be set to the age associated with their Microsoft account).</li>
</ol><div>
<br>When your child asks to use a blocked app or game that’s rated above their content restrictions, you can approve it by signing in with your passkey and selecting <strong>Always</strong> or <strong>Just this once</strong>.<br><br><br>
</div><h2>Customize Privacy Settings</h2><div>You can prevent your child from playing with strangers in the privacy settings. To ensure your child is only playing with people they know, or turn off voice chat and unprompted communication:<br><br>
</div><ol>
<li>Click <strong>Settings</strong>
</li>
<li>Click <strong>All Settings</strong>
</li>
<li>Click <strong>Account</strong>
</li>
<li>Click <strong>Family</strong>
</li>
<li>Customize your privacy settings&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Mute or Block Players</h2><div>If you don't want to hear or be contacted by specific players on Xbox One, you can mute them or block their communications with you. If you believe that the player has violated the Microsoft Services Agreement or Code of Conduct, you may also wish to <a href="https://enforcement.xbox.com/Home/HowTo#sub-topic2-0">file a complaint</a>.<br><br>
</div><h3>Mute another player</h3><div>If another player engages in abusive or inappropriate in-game or chat voice communications, you can mute that player. This prevents them from speaking to you in-game or in a chat session. To mute another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to mute. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player’s profile, select <strong>Mute</strong>.</li>
</ol><div>
<br>To unmute a player, follow the same steps to get to the player’s profile, and then select <strong>Unmute</strong>.<br><br>
</div><h3>Block another player</h3><div>Blocking another player prevents you from receiving that player’s messages, game invites, and party invites. It also prevents the player from seeing your online activity and removes them from your friends list, if they were on it. To block another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to block. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player's profile, select <strong>Report or Block</strong>, and then select <strong>Block</strong>.</li>
</ol><div>
<br>To unblock a player, follow the same steps to get to the player’s profile, and then select <strong>Unblock</strong>.<br><br>
</div><h3>Block another player's messages</h3><div>You can also block a player after receiving an offensive or inappropriate message. Here's how:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide, and then go to <strong>Communication </strong>&gt;<strong> Conversations</strong>.</li>
<li>Select the message from the player you want to block.</li>
<li>Select <strong>More </strong>&gt;<strong> View profile </strong>&gt;<strong> Report or block </strong>&gt;<strong> Block</strong>.</li>
</ol><div><br></div><h2>Copilot on XBox One</h2><div>Copilot links two controllers so you can use them as if they were one controller. The person who turns on Copilot for their controller is the pilot, and the pilot gets all achievements and gamerscore. To turn on Copilot:<br><br>
</div><ol>
<li>Connect a second controller to the Xbox for the copilot. The copilot can sign in or not — achievements and gamerscore don't go to this player.</li>
<li>Using the pilot's controller, press the <strong>Xbox</strong> button to open the guide, then select <strong>System</strong> &gt; <strong>Settings</strong> &gt; <strong>Ease of Access</strong> &gt; <strong>Controller</strong>.</li>
<li>Choose <strong>Copilot settings</strong>, then select <strong>Turn on Copilot</strong>.</li>
<li>Select the copilot controller.</li>
</ol><div>
<br>The controllers are now linked, and both controllers have full control. When you start a game, you can use either controller however you like.<br><br>To turn off Copilot, go back to the Copilot settings and select <strong>Turn off Copilot</strong>.<br><br>
</div><h2>Preventing Unauthorized Purchases</h2><div>To help prevent unauthorized purchases from your console, you can set it to ask for the password every time you buy something.<br><br>
</div><ul>
<li>Select <strong>System </strong>&gt; <strong>Settings</strong> &gt; <strong>Account</strong> &gt; <strong>Sign-in, security &amp; passkey</strong>. To help protect your account, you may be asked to enter your password.</li>
<li>Select <strong>Change my sign-in &amp; security preferences</strong>.</li>
<li>Scroll right and select <strong>Customize</strong>.</li>
<li>Scroll right and select <strong>Ask for my passkey to make purchases</strong>.</li>
<li>Select <strong>Passkey required</strong>.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Mario Kart 8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Mario Kart 8 Deluxe is the most expansive Mario Kart game to date, with more content and tracks than any other version. For the uninitiated, the long-running multiplayer racing series is a lighthearted game with whimsical tracks, recognizable Nintendo characters, and silly items that serve to boost, buff, or weaponize karts so that simply driving the fastest isn't enough to win.</div><div><br></div><div>A remaster of Mario Kart 8 for the Wii U, Mario Kart 8 Deluxe has many of the same features, but with reams of new characters and tracks added to the mix. It includes 4-player, split-screen multiplayer, as well as online races for up to 12 players. There is also a Battle Mode, where players race around a labyrinth, launching shells and leveraging environmental hazards to try to be the last kart standing.<br><br>
</div><h2>A Game for Everyone</h2><div>Mario Kart 8 Deluxe targets all ages. On-screen violence is limited to the most minor cartoon violence, with no blood animations or any other violence beyond characters being comically flattened or bumped before recovering completely. While each track takes players to a completely different locale of the Nintendo universe, the game pulls only from Nintendo's all-ages affairs.</div><div><br></div><div>While the series is most notable for its raucous multiplayer experience, with Mario Kart 8 Deluxe, the online multiplayer feature has become something of a phenomenon. Your child may be interested in seeing what the fuss is about, and see how they stack up against the masses online. Thankfully, Mario Kart online — along with most of Nintendo's offerings — is designed with young users in mind.<br><br>
</div><h2>Mario Kart 8 Online</h2><div>All Nintendo Switch Online games are structured so that, by default, they do not have any voice chat through the console itself. Instead, it requires a separate Nintendo Switch Online smartphone app to route voice through, and even then your child can only chat with certified friends who have been manually added to the account.</div><div><br></div><div>You still may want to limit the ability to use Nintendo Switch Online communications features if there are individuals your child might add to their friends list that you prefer them not to engage with through voice communications.<br><br>
</div><h2>Managing Mario Kart 8 Communications</h2><div>Here are step-by-step instructions for managing communication on Mario Kart 8 Deluxe, via Nintendo Switch Online:</div><div>&nbsp;</div><ol>
<li>Open the Nintendo Switch Online app for iOS or Android and choose <strong>Settings</strong>.</li>
<li>Select the child whose account you'd like to manage.</li>
<li>Tap <strong>Restriction Level</strong>.</li>
<li>To limit any communication features in any Nintendo Switch game, tap <strong>Communicating With Others</strong> &gt; <strong>Disabled</strong>.</li>
<li>To turn off automatic social media posting, tap <strong>Posting to Social Media</strong> &gt; <strong>Restricted</strong>.</li>
</ol><div><br></div><div>With these two communications features disabled, your child will be free to race against their friends with no risk of the outside world encroaching on their fun!<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content, and the ability to access Google Fiber apps, like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls: one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guide (indicated by a red prohibition sign, or a "no" symbol), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step by step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong>.</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Netflix
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Netflix is one of the most popular online streaming services in the U.S., with more than 100 million subscribers. Its content includes movies, TV shows, documentaries, and more, and it runs the gamut from kid-friendly to adult-only. Netflix can be accessed via web browsers, smart TVs, tablets, smartphones, and even consoles such as Xbox One and Playstation 4.<br><br>
</div><h2>Parental Control Settings</h2><div>With Netflix’s parental restrictions, you can add profiles for everyone in your family — each with different parental control settings to limit what content they can access. It’s best to set up these changes from a computer.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Netflix.com. You’ll be greeted with a screen that says <strong>Who's watching?</strong>
</li>
<li>Click on the <strong>Add Profile</strong> icon to the far right.</li>
<li>Input your child's name and then click <strong>Continue</strong>.</li>
<li>On the <strong>Manage Profiles</strong> screen, you will be able to create additional parental controls on the account you just created. Click the <strong>pencil</strong> icon on the account.</li>
<li>Click on the dropdown labeled <strong>Allowed TV Shows and Movies</strong> and choose one of these four options:<ul>
<li>
<strong>For Little Kids only:</strong> This category features G-rated content suitable for younger children, including a variety of cartoons, nature documentaries, and silly kids’ movies and TV shows.</li>
<li>
<strong>For Older Kids and below:</strong> This category adds PG-rated movies and TV shows that include themes of violence — although no blood or gore is present.</li>
<li>
<strong>For Teens and below: </strong>This category adds PG-13 content that will not be suitable for younger children. Violence will be more graphic, and there will be mild explicit content.</li>
<li>
<strong>All Maturity levels: </strong>No restrictions. NC-17, NR, R, and UR content is available.</li>
</ul>
</li>
</ol><div><br></div><h3>How to create a parent control PIN</h3><div>Now that you have created the account for your child, you can create a Parental Control PIN that you can use to lock down specific content. This has been a long-awaited feature for Netflix, allowing parents to gain more advanced control over their child's accounts and block any unwanted material behind a PIN passcode.</div><div><br></div><ol>
<li>Log in to your Netflix account and select your profile.</li>
<li>Click on your icon on the top-right corner of the screen and select <strong>Account</strong> from the dropdown that appears.</li>
<li>In the <strong>Settings</strong> section below, click on the <strong>Parental Controls</strong> link. You will be asked to re-enter your password to continue to the next screen.</li>
<li>You will then be directed to the <strong>Parental Control PIN</strong> screen. Enter a PIN number of your choice.</li>
<li>In the <strong>Restrict by Maturity Level</strong> section, you can change the slider on the screen to block any of the four levels mentioned above. This will require the PIN number to be typed in before viewing any content above the chosen level.</li>
<li>In the <strong>Restrict Specific Titles</strong> section below, you can choose specific titles that require a PIN to watch, regardless of the maturity rating on the account.</li>
</ol><div><br></div><h3>How to view what your child has recently watched</h3><div>Netflix also allows you to view the recent streaming activity. This allows you to see the exact date and time content has been viewed on Netflix, as well as from where and on what device.</div><div><br></div><ol>
<li>Click on your icon in the top-right corner of the screen again and click on <strong>Account</strong>.</li>
<li>In the <strong>Settings</strong> section, select <strong>Recent Device Streaming Activity</strong>. Here you will see the most recently used devices with their locations.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options are available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content and access Google Fiber apps like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls — one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guides (indicated by a red prohibition sign, or a "no symbol"), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step-by-step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong><em>.</em>
</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/chromebook-11ba0ff273af8f115882dc93b70029ac9fa0f8eeee26a68a873e39a972e930ce.png">
            Chromebook
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chromebook
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Chromebooks are unique laptops that use the Chrome Operating System (OS). Essentially, the Chromebook is run by Google's Chrome browser, and nearly all of its functions are used while connected to the internet. While users are able to work offline for some functions, most of the apps and documents require internet access.</div><div><br></div><h2>Using Google Family Link to Monitor Your Child’s Chromebook</h2><div><br></div><div>Because Chromebooks operate solely on the Google Chrome browser, you will be accessing all of the controls via your family's Google Accounts. Each child will need a Google Family Link account.</div><div><br></div><ol>
<li>Make sure your Chromebook is updated to version 65 or higher of Chrome OS. <a href="https://support.google.com/chromebook/answer/177889">Click here</a> if you need help updating your system.</li>
<li>To create a Family Link account for your child, download the app for either <a href="https://itunes.apple.com/us/app/google-family-link/id1150085200&amp;ct=homepage-website-setup&amp;mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?hl=en&amp;id=com.google.android.apps.kids.familylink">Android</a>.</li>
<li>Follow the instructions on your screen to set up the account.</li>
</ol><div><br></div><h3>How to add a new user to Chromebook</h3><ol>
<li>Select <a href="https://support.google.com/chromebook/answer/1059242?hl=en"><strong>Add Person</strong></a> on the Chromebook's lock screen.</li>
<li>Sign in using your child's Family Link account information.</li>
<li>Next, you will be asked to sign in to your parent account in Family Link to grant access.</li>
<li>An on-screen prompt will list what your child can and cannot access.</li>
<li>Click <strong>Yes</strong> to allow your child access to the Chromebook.</li>
</ol><div><br></div><h3>What Family Link Monitors</h3><div>Children signed into their Google Accounts on a Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:<br><br>
</div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "try to block mature sites" has been turned on for your child in the Family Link settings, Chrome browsing will block most sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. However, your child can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this info won't be used to personalize ads for children under 13.</li>
</ul><div><br></div><h3>How to manage websites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that's right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.</li>
<li>
<strong>Only allow certain sites</strong>: Your child will only be able to visit the sites you allow.</li>
</ul>
</li>
<li>Tap <strong>Manage Sites</strong> to manually block or allow certain sites.</li>
</ol><div><br></div><h3>How to manage website permissions</h3><div>Parents can choose if their child is allowed to grant permissions to the websites they visit. Examples of permissions include allowing sites to track location, access the camera, or push notifications. To adjust this setting:</div><div><br></div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off.</li>
</ol><div><br></div><h3>How to monitor browsing history</h3><ol>
<li>On your child's Chromebook, open <strong>Chrome</strong>.</li>
<li>In the top right, select <strong>More &gt; History</strong>. This page shows your child's recent Chrome history.</li>
</ol><h3>
<br>How to clear history</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>In the <strong>History</strong> section, tap <strong>Clear history</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's Chromebook, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. <a href="http://bark.us/?s=barkomatic">Bark</a> can also monitor the saved photos and videos on Chromebook by downloading the <a href="http://bark.us/?s=barkomatic">Bark</a> for Chromebooks app from the Google Play Store. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPad
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Home
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Home is a smart speaker that competes with the Amazon Echo and the Apple HomePod. You can use it to get news and weather forecasts, make purchases, listen to music, and more. If you want to make sure your children are using Google Home appropriately, these step-by-step directions will allow you to set up parental controls.<br><br>
</div><h2>Setting Parental Controls on Google Home Smart Speakers</h2><ol>
<li>Set up a <a href="https://families.google.com/familylink/"><strong>Google Family Link</strong></a> account. This allows you to view activity, manage apps, limit screen time, and lock devices. You can even use Family Link to see where your child is as long as they are carrying their device and location services are on. You must download the app on your smartphone.</li>
<li>Use the <strong>Family Link</strong> app to create a Google Account for your child, where you can control and monitor linked apps and devices.</li>
<li>Have each child nearby to provide voice samples to allow voice recognition of commands. This is necessary for individual permissions profiles. Expect to spend up to 10 minutes per child.</li>
<li>Block explicit music and video content from YouTube.<ol>
<li>Open the <strong>Google Home</strong> app.</li>
<li>Tap <strong>Menu</strong> in the top left corner.</li>
<li>Verify the Google Account listed is the one linked to Google Home. Switch accounts, if necessary, by clicking the triangle to the right of the account name.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Under <strong>Devices</strong>, tap the Home device you want to adjust.</li>
<li>Under <strong>YouTube Restricted Mode</strong>, block content by sliding the slider to the right.</li>
</ol>
</li>
<li>Block explicit content from <strong>Google Play Music</strong>.<ol>
<li>Open the <strong>Google Play Music</strong> website. You cannot access this setting from the Google Play Music app.</li>
<li>In the top left corner, click <strong>Settings</strong>.</li>
<li>In the <strong>General</strong> section, click the checkbox next to <strong>Block explicit songs in radio</strong>. This will not block Google Play Music premium users from playing specific explicit songs or albums.</li>
</ol>
</li>
</ol><div><br></div><div>Children are blocked from online purchasing automatically. External apps are blocked unless Google has vetted them and designated them as <strong>Apps for Families on Google Assistant</strong>. You can block third-party apps via Family Link.</div><div><br></div><div>Google Home has a personal results setting you can monitor, but you must choose to monitor all of the content — calendar, contacts list, and photos — or none of it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>