<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Lollipop – 5.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to<strong> Android Lollipop</strong>, which is version 5.0 - 5.1.1. This is an older version of Android, as it was released November 12, 2014.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 5.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:<em>&nbsp;</em>
</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings.</strong>
</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF.</strong>
</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    One Plus
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The new OnePlus 6 released in the summer of 2018 was one of the most anticipated phones of the year. The OnePlus phones run a custom version of the Android operating system called Oxygen OS. While it doesn't look much different than the standard Android OS, it includes small tweaks and features that make it a unique phone operating system.<br><br>
</div><h2>How to Use App Locker</h2><div>One simple way to restrict your kids from viewing apps or content is to use the new App Locker feature in Oxygen OS. App Locker, as the name suggests, lets you block any apps that you don't want your kids to access by using a PIN number.</div><div><br></div><ol>
<li>Navigate to <strong>Settings</strong>.</li>
<li>Tap <strong>Security &amp; Fingerprint</strong>.</li>
<li>Tap <strong>App Locker</strong> and type in the PIN number for your account.</li>
<li>On the next screen, tap the <strong>lock icon</strong> to the right side of each app you want to lock.</li>
</ol><div><br></div><h2>How to Create a User Profile for Your Child</h2><div>Oxygen OS and Android allow you to create additional user profiles on your smartphone. You can create an account for your child on your personal phone, and then switch to that account when your child is using your phone.</div><div><br></div><div>Follow these steps to create an additional account. (And keep in mind that this solution requires your child to have their own email address, and therefore may not be useful for all families):</div><div><br></div><ol>
<li>Navigate to <strong>Settings</strong> &gt; <strong>Accounts</strong> and then tap <strong>Add Account</strong>.</li>
<li>Type your child's email address and password.</li>
<li>Choose a billing option. Here you can add credit for your child to use or simply choose the no-billing option.</li>
<li>Hit <strong>Continue</strong> and you are ready to go.</li>
</ol><div><br></div><div>Note that creating a separate account does not inherently create a safe space for your child. You will need to change the Google Play Store settings or even install a dedicated parental control app to lock down any features (read instructions below).</div><div><br></div><h2>How to Restrict the Google Play Store</h2><div>The Google Play Store is the central hub that allows you to download any app or game. Google allows you to restrict access for specific accounts, so make sure to log in to the child's account to change these settings.</div><div><br></div><ol>
<li>Open the <strong>Play Store</strong> app.</li>
<li>In the left corner, tap <strong>Menu</strong> and navigate to <strong>Settings</strong> &gt; <strong>Parental Controls</strong>.</li>
<li>Turn Parental Controls to <strong>On</strong>.</li>
<li>Create a PIN number to disallow any access to these parental control settings.</li>
<li>You can now change filters for Movies, Games, TV, and Apps. Select the highest maturity level that you want your child to access. You can also disable access to explicit books and music.</li>
</ol><div><br></div><h2>Google Family Link for Parents</h2><div>Built by Google, Family Link is a worthy addition to your parental control management strategy. This app includes full controls for your family, with specific settings for each child.</div><div><br></div><div><strong>Here are some noteworthy features:</strong></div><ul>
<li>Kids under 13 — Family Link allows you to create a controlled Google account for your kids under the age of 13.</li>
<li>App Installing — Whenever your child tries to install a new app, you will get a prompt asking you to approve the installation.</li>
<li>Location — See your child's location in real-time.</li>
</ul><div><br></div><div>Google Family Link is available for the OnePlus phone on the <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.kids.familylink">Google Play Store</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fi
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Project Fi is a unique cell phone service provider that gives customers exact controls on their monthly spending. Rather than being surprised by overage charges, or having to sign up for plans based around much larger amounts of data than you actually use, Google Fi plans give hard data caps starting at 1GB per month.</div><div><br></div><div>The tech trick behind Project Fi that allows for this level of flexibility is in seamlessly switching between Wi-Fi and over-the-air networks. Because Project Fi only supports a handful of approved phones with custom ROMs, Google gains a level of control over how Project Fi devices manage their data in ways that most carriers can't. For users, they won't need to pay attention to whether their phone automatically latched onto the data from an approved Google Wi-Fi source, or if they've swapped to using an over-the-air connection for their calls.<br><br>
</div><div>This works nicely for carriers, who subcontract their towers out to Google yet receive much less direct bandwidth due to these phones using Wi-Fi whenever possible. And it's equally beneficial for customers, who can choose to stay with low-cost monthly plans since they'll use less data overall than on a conventional smartphone.</div><div><br></div><div>Users, as of 2018, pay $10 per GB of data as well as a base $20 a month fee. Additional users added to the same account cost $15 a month each. After the chosen data cap is used, users do not lose data access but are limited to heavily throttled speeds. This means simple apps like text-only email and navigation apps will still work as intended, while things like streaming video will be heavily hampered.</div><div><br></div><h2>Is Google Fi Appropriate for Family Usage?</h2><div>One major drawback to Project Fi in the past was the lack of any network-level parental controls. Users could manage data through their Google Fi app to allow or disallow data on each line, but beyond that, limitations need to be handled on an app-by-app basis. As of 2018, however, Project Fi is fully integrated with Family Link.</div><div><br></div><div>Family Link is an all-encompassing app that allows parents to fully control everything from which apps their children are allowed to use, what times they can't activate their phone's screen, and much more.</div><div><br></div><h2>How to Obtain and Set Up Family Link for Project Fi</h2><ol>
<li>On the primary account, go to the <strong>Google Play Store</strong> app.</li>
<li>Search for "Google Family Link." Double check that the listed developer is "Google" to avoid downloading a similarly-named app.</li>
<li>
<strong>Launch</strong> the Family Link app.</li>
<li>Log in with your Google account, or whichever account you intend to be the primary administrator for Family Link.</li>
<li>Follow the on-screen guide for adding each child's Google account, linking them to the primary account. Each linked account will also have to download the Family Link app to their phones and login with their individual accounts for these features to activate.</li>
</ol><div><br></div><h2>How to Use Family Link</h2><ol>
<li>After following the steps above, launch the Family Link app on the primary administrator's smartphone.</li>
<li>Choose the account you would like to monitor or manage.</li>
<li>Tap <strong>Activity</strong> to see usage information. Scroll through the data to see which apps were used and for how long, how often the screen was on, and more. Tap any of these to set limits on screen, data, or app usage.</li>
<li>To see the GPS location of the phone, tap <strong>Location</strong>.</li>
<li>Choose <strong>Apps</strong> to see which apps your child has downloaded. If their account is restricted to seek approval from the primary account before downloading, you'll see a list of requested downloads to individually approve or deny. Tap an app for additional options; usually, you'll just see whether to enable or disable in-app purchases for this specific app.</li>
<li>Tap <strong>Recommended Apps</strong> to see a list of curated suggestions for apps known to be safe and appropriate for children. You can queue these to be automatically downloaded to your child's phone.</li>
</ol><div><br></div><h2>How to Manage Project Fi Data Usage</h2><ol>
<li>Go to the Project Fi website at <a href="https://fi.google.com/">https://fi.google.com/</a>
</li>
<li>Log in with the primary account holder's Google account.</li>
<li>Select <strong>Account</strong>.</li>
<li>Choose <strong>Manage Plan</strong>.</li>
<li>Click <strong>Add a Person</strong>.</li>
<li>In the input field that pops up here, put in the Google account names for each child or other user you'd like to share your Project Fi account with.</li>
<li>Each invited user will receive an email link that lets them opt in to your Project Fi account. Have them click the link and follow the on-screen instructions.</li>
</ol><div><br></div><h2>How to Turn On Data Alerts for Project Fi</h2><ol>
<li>Open the <strong>Project Fi</strong> app on the primary account holder's smartphone.</li>
<li>Tap <strong>Account Settings</strong>.</li>
<li>Choose <strong>Alerts</strong>.</li>
<li>There is a list of notification levels; choose the one appropriate for your family based on how frequently you'd like to see warnings for how much data is being used.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Twitch
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Twitch allows kids and teens to watch other people play popular video games, as well as broadcast their own gameplay to a huge audience. You can watch Twitch streams on the web, or on game consoles like Xbox and PlayStation. Mobile Android and iOS devices support the Twitch app, as well.</div><div><br></div><div>The service draws in an impressive 100 million viewers every month and has an army of one million broadcasters that continues to grow every day. The most successful and popular streamers engage with their audience and provide entertaining commentary during gameplay. Some even offer expert gaming tips and tricks.</div><div><br></div><h2>Is Twitch Kid-Friendly?</h2><div><br></div><div>While Twitch doesn't have a built-in filter for kid-friendly streams, there are many channels deemed appropriate for all ages. Here are some options you can suggest to your younger children:</div><div><br></div><ul>
<li>
<a href="https://www.twitch.tv/iateyourpie">iateyourpie</a>: An energetic Super Mario streamer.</li>
<li>
<a href="https://www.twitch.tv/cohhcarnage">CohhCarnage</a>: A clean gaming channel that emphasizes clean content and clearly posts the rules for maintaining a friendly chat.</li>
<li>
<a href="https://www.twitch.tv/diamondminecart">TheDiamondMinecart</a>, <a href="https://www.twitch.tv/stampylonghead/profile/highlights">stampylonghead</a>, and <a href="https://www.twitch.tv/ihascupquake/profile/highlights">iHasCupquake</a> are all Minecraft streamers known for being appropriate for all audiences. (There's a very high chance your child loves Minecraft)!</li>
</ul><div><br></div><div>An important thing to remember is that just because a game has an age-appropriate rating for your child, it doesn't mean that the streamer playing that game is family-friendly. You may find a vulgar Mario Kart player just as readily as a super polite Call of Duty player. Twitch can be a mixed bag.&nbsp;</div><div><br></div><div>Every Twitch channel has a live chat room. This is appealing to kids and teens who appreciate the chance to speak directly to their favorite gamer, who could very well be their personal hero. Unfortunately, there are no universal chat filters to curb offensive or obscene language. Individual streamers do have the capability to ban hyperlinks and specific words from their chat, and many popular streamers use this feature to prevent spam and other offensive messaging.</div><div><br></div><h2>How Do I Know If a Channel Is Appropriate?</h2><div>The best way to determine if a particular channel is appropriate for your child is to watch the stream for 15 to 20 minutes on multiple different occasions. Try tuning in at different times, during the weekday and on weekends, to get a sense of whether the <a href="https://help.twitch.tv/customer/en/portal/articles/659011-chat-basics">chat</a> and atmosphere of the stream are fitting for your child.</div><div><br></div><div>To see who is in a channel's chat room, click the <strong>Viewer List</strong> icon at the bottom of the chat window. There, you'll see the channel's moderators, who you can easily contact if someone acts in an inappropriate manner. Alternatively, you can hide the chat area by navigating to the <strong>gear icon</strong> and selecting <strong>Hide Chat</strong>.</div><div><br></div><div>Twitch has very thorough and clear <a href="https://www.twitch.tv/p/legal/community-guidelines">community guidelines</a>. If you believe a channel has violated these guidelines, you can report it at any time by locating the <strong>gear icon</strong> under the video player and clicking <strong>Report</strong>.</div><div><br></div><h2>Privacy and Security on Twitch</h2><div>According to Twitch's community guidelines, no one under 13 years old should use the video streaming platform. The guidelines further recommend that teens between 13 and 18 only watch live streams under adult supervision. You need to enter a birth date to sign up, but that can be easily faked.</div><div><br></div><div>Streamers can opt to provide a warning that lets potential viewers know that the content of their channel is intended for mature audiences. If you see one of these warnings — and they're quite obvious — you should consider having your child try a different channel.</div><div><br></div><h3>How to disable messages from strangers</h3><div>In the world of Twitch, a direct message is called a Whisper. You can disable them.</div><div><br></div><ol>
<li>Click your child’s <strong>user name</strong> in the top-right corner of the screen.</li>
<li>From the menu that drops down, click <strong>Settings</strong>.</li>
<li>At the top of the page, click <strong>Security and Privacy</strong>.&nbsp;</li>
<li>Scroll down to the <strong>Privacy</strong> section.</li>
<li>Toggle <strong>Block Whispers from Strangers</strong> to <strong>On</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Outlook / Hotmail
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Many people are confused about the email services provided by Microsoft, particularly Hotmail and Outlook. This is because of a series of rebranding efforts beginning around 2012, during which time Hotmail was phased out in favor of the more robust Outlook email client.</div><div><br></div><div>Hotmail users at the time were allowed to retain their @hotmail.com accounts, but new users must create an @outlook.com account. Each is still used by millions of people, and although they have different extensions, they are in fact the same email service — <strong>Outlook.com</strong>, formerly known as Hotmail.</div><div><br></div><div>
<strong>Outlook Mail</strong> is the name of the web app for viewing Outlook.com, and the desktop email client is called <strong>Microsoft Outlook</strong>, which can be used for @outlook.com addresses as well as others. The two of them are the built-in email platforms for <strong>Microsoft 365</strong>.<br><br>
</div><h2>Parental Controls in Outlook</h2><div>It’s important to note that there are no parental control settings offered by Outlook per se. But you can implement controls over all Microsoft properties — including email services — by creating a “family” through the Microsoft online platform. Setting up a child account in this way activates a number of features that are compliant with the Children’s Online Privacy Protection Act (COPPA).</div><div><br></div><div>This article is written under of the assumption that you have already done this. To learn how to set up a family account for Microsoft 365, <a href="https://support.microsoft.com/en-us/help/12413/microsoft-account-what-is-family-group">click here</a>.</div><div><br></div><div>These controls will only work if your child is using a Microsoft Windows device (Internet Explorer, Windows Phone, Windows PC, Xbox), or an Android device that is also running Microsoft Launcher. If you wish to implement these controls on other devices and platforms, unfortunately you will be unable to do so.<br><br>
</div><h3>Inside your family account</h3><div>Log into your account at <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a>. Under each child you have added to your family account, you’ll see a variety of customizable settings, including: Activity, Screen Time, Content Restrictions, Spending, and Find on Map.</div><div><br></div><ul>
<li>
<strong>Activity:</strong> The Activity tab shows you exactly what your child is doing when logged in to their Microsoft account. See what apps and games your child is using, what sites they are visiting, what they’re searching for online, and how much screen time they’re spending.</li>
<li>
<strong>Screen Time:</strong> The Screen Time tab allows you to set screen time limits for all of your Microsoft devices for each individual child.</li>
<li>
<strong>Content Restrictions:</strong> The Content Restrictions tab is where you’ll find all the ways to control your child’s activity through their Microsoft account. Toggle <strong>on</strong> or <strong>off</strong> your child’s ability to make purchases online, manage what apps/games they are able to interact with, and manage what websites they are and are not able to visit.</li>
</ul><div><br></div><div>Since these controls only work through Microsoft Internet Explorer, each child’s profile will automatically have other web browsers (Mozilla Firefox, Google Chrome, etc.) blacklisted so they are unable to avoid the controls that you have set.</div><div><br></div><ul>
<li>
<strong>Spending:</strong> Microsoft allows users to make purchases through their accounts. Under the Spending tab, users can add money to their account for use online.</li>
<li>
<strong>Find Your Child:</strong> Using this tab, easily locate your child’s registered Microsoft devices in the event they are lost or stolen.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Outlook, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox One
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>XBox One is the latest console from Microsoft. With it, you can play video games, stream content from apps, chat with other players via <a href="https://support.xbox.com/en-US/xbox-one/xbox-live/connecting-to-xbox-live">XBox Live</a>, surf the web, and even watch TV (if you have a cable box to connect it to).</div><div><br></div><div>Setting parental controls on the XBox One is a somewhat complex process, but it's worth it for the level of control you’ll have for each child in your family. If you allow your children to stream content from various apps such as Hulu while on the device, the parental controls on the gaming console will override any parental controls you have set up on the individual apps, in most cases.</div><div><br></div><h2>Screen Time Limits</h2><div>To set screen time limits for your child on Xbox One and Windows 10 devices, go to <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a> and sign in with your Microsoft account. Then:<br><br>
</div><ol>
<li>Find your child's name and select <strong>Screen time</strong>.</li>
<li>If you want to use the same schedule for all devices, switch <strong>Use one screen time schedule</strong> from <strong>Off</strong> to <strong>On</strong>. If you’d rather have separate schedules, scroll down and switch screen time on for PC and Xbox One individually.</li>
<li>Set how much time your child is allowed to spend with their devices each day, and when they can use them. If you want to give them the full amount of time you’ve scheduled, select <strong>Max</strong> <strong>scheduled</strong>. (Example: If you’ve allowed screen time from 8 am to 8 pm, they could use their devices that entire time).</li>
</ol><div>
<br>To give your kids a heads up on Xbox when their screen time is running out:<br><br>
</div><ol>
<li>Press the <strong>Xbox </strong>button on the controller.</li>
<li>Select <strong>System</strong> &gt; <strong>Settings </strong>&nbsp;&gt; <strong>Preferences</strong> &gt; <strong>Notifications</strong> &gt; <strong>Xbox Notifications </strong>&gt; <strong>System</strong> and make sure <strong>System notifications on</strong> is selected.</li>
</ol><div>
<br>Screen time counts down when a child is signed in, so if they’re not actively using their console, have them sign out.</div><div><br></div><h2>Age Limits for Accessing Content</h2><div>To ensure your kids have access to only family-friendly games, apps, TV shows, and movies on their Xbox One, you can choose from preset recommendations by age. To do this:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button to open the guide, and then go to <strong>System &gt; Settings &gt; Account &gt; Family settings</strong>.</li>
<li>Select <strong>Manage family members</strong>, and then select the child account you want to update.</li>
<li>Under <strong>Access to content</strong>, choose the desired age-level restriction. (By default, your child’s restrictions will be set to the age associated with their Microsoft account).</li>
</ol><div>
<br>When your child asks to use a blocked app or game that’s rated above their content restrictions, you can approve it by signing in with your passkey and selecting <strong>Always</strong> or <strong>Just this once</strong>.<br><br><br>
</div><h2>Customize Privacy Settings</h2><div>You can prevent your child from playing with strangers in the privacy settings. To ensure your child is only playing with people they know, or turn off voice chat and unprompted communication:<br><br>
</div><ol>
<li>Click <strong>Settings</strong>
</li>
<li>Click <strong>All Settings</strong>
</li>
<li>Click <strong>Account</strong>
</li>
<li>Click <strong>Family</strong>
</li>
<li>Customize your privacy settings&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Mute or Block Players</h2><div>If you don't want to hear or be contacted by specific players on Xbox One, you can mute them or block their communications with you. If you believe that the player has violated the Microsoft Services Agreement or Code of Conduct, you may also wish to <a href="https://enforcement.xbox.com/Home/HowTo#sub-topic2-0">file a complaint</a>.<br><br>
</div><h3>Mute another player</h3><div>If another player engages in abusive or inappropriate in-game or chat voice communications, you can mute that player. This prevents them from speaking to you in-game or in a chat session. To mute another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to mute. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player’s profile, select <strong>Mute</strong>.</li>
</ol><div>
<br>To unmute a player, follow the same steps to get to the player’s profile, and then select <strong>Unmute</strong>.<br><br>
</div><h3>Block another player</h3><div>Blocking another player prevents you from receiving that player’s messages, game invites, and party invites. It also prevents the player from seeing your online activity and removes them from your friends list, if they were on it. To block another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to block. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player's profile, select <strong>Report or Block</strong>, and then select <strong>Block</strong>.</li>
</ol><div>
<br>To unblock a player, follow the same steps to get to the player’s profile, and then select <strong>Unblock</strong>.<br><br>
</div><h3>Block another player's messages</h3><div>You can also block a player after receiving an offensive or inappropriate message. Here's how:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide, and then go to <strong>Communication </strong>&gt;<strong> Conversations</strong>.</li>
<li>Select the message from the player you want to block.</li>
<li>Select <strong>More </strong>&gt;<strong> View profile </strong>&gt;<strong> Report or block </strong>&gt;<strong> Block</strong>.</li>
</ol><div><br></div><h2>Copilot on XBox One</h2><div>Copilot links two controllers so you can use them as if they were one controller. The person who turns on Copilot for their controller is the pilot, and the pilot gets all achievements and gamerscore. To turn on Copilot:<br><br>
</div><ol>
<li>Connect a second controller to the Xbox for the copilot. The copilot can sign in or not — achievements and gamerscore don't go to this player.</li>
<li>Using the pilot's controller, press the <strong>Xbox</strong> button to open the guide, then select <strong>System</strong> &gt; <strong>Settings</strong> &gt; <strong>Ease of Access</strong> &gt; <strong>Controller</strong>.</li>
<li>Choose <strong>Copilot settings</strong>, then select <strong>Turn on Copilot</strong>.</li>
<li>Select the copilot controller.</li>
</ol><div>
<br>The controllers are now linked, and both controllers have full control. When you start a game, you can use either controller however you like.<br><br>To turn off Copilot, go back to the Copilot settings and select <strong>Turn off Copilot</strong>.<br><br>
</div><h2>Preventing Unauthorized Purchases</h2><div>To help prevent unauthorized purchases from your console, you can set it to ask for the password every time you buy something.<br><br>
</div><ul>
<li>Select <strong>System </strong>&gt; <strong>Settings</strong> &gt; <strong>Account</strong> &gt; <strong>Sign-in, security &amp; passkey</strong>. To help protect your account, you may be asked to enter your password.</li>
<li>Select <strong>Change my sign-in &amp; security preferences</strong>.</li>
<li>Scroll right and select <strong>Customize</strong>.</li>
<li>Scroll right and select <strong>Ask for my passkey to make purchases</strong>.</li>
<li>Select <strong>Passkey required</strong>.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Clash of Clans
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Clash of Clans is a strategic action video game set in a fantasy world where the player is the chief of their own village. Clans of up to 50 players can merge to work together while sharing a group chat. Clash of Clans was designed with teens in mind, but potential hazards include inappropriate language and conversations in chat rooms.</div><div><br></div><h2>Parental Controls</h2><div>Parental controls will need to be set on each device kids might use to play the game. Supercell, the company that owns Clash of Clans, works hard to maintain a safe and secure environment for players. The game doesn't have a private chat facility, and it displays regular warnings against sharing personal information.<br><br>
</div><div>If there are any issues, Clash of Clans contains prominent tools for players to report any offensive, insulting, or inappropriate behavior. It’s also possible for users to mute chats from any player whose messages they do not want to see. If users prefer to report any concerns by email, messages can be sent to parents@supercell.com.</div><div><br></div><h3>How to filter chats for profanity</h3><ul>
<li>Tap on the <strong>gear</strong> icon in the lower right-hand corner.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Make sure <strong>Filter Clan Chat</strong> is set to <strong>Off</strong>.</li>
</ul><div><br></div><h3>How to mute a specific user in chat</h3><ol>
<li>On the left hand side of the screen, swipe the <strong>&gt;</strong> icon to open the chat window.<ol><li>There is a general, global chat and a clan chat option of around 40 people, if your child has joined one. Some clans may be friends your child knows in real life, or it could be composed of strangers.</li></ol>
</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Mute</strong>. You will no longer see chats from this user.</li>
</ol><div><br></div><h3>How to report a specific user for inappropriate behavior in chat</h3><ol>
<li>On the left-hand side of the screen, swipe the <strong>&gt;</strong> icon.</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Report</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you use AT&amp;T as your internet service provider, you have access to some great basic parental controls that can help you set digital ground rules for your children. You can make basic changes to your router from any connected device, keeping your family safe and secure.</div><div><br></div><h2>Setting Parental Controls With AT&amp;T</h2><div>AT&amp;T’s basic parental controls allow you to restrict chosen devices to pre-set websites and restrict the time during which a device has an internet connection. Per<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015462?make=ATT&amp;model=WirelessNetMF279&amp;gsi=vknAoFY"> AT&amp;T’s Wireless Internet support page</a>:</div><div><br></div><ol>
<li>From a device that is connected to your AT&amp;T network, go to<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Click <strong>Parental Controls</strong> and check the box next to the devices you wish to limit.</li>
<li>Click <strong>Apply</strong>.</li>
<li>Visit <strong>Permitted Websites</strong> and click <strong>Add New</strong> to add websites the device has permission to visit.</li>
<li>Visit <strong>Restricted Time Settings</strong> to set restricted times during which the device does not have access to the internet.</li>
</ol><div>&nbsp;</div><h2>Block a Device From Connecting to Wi-Fi</h2><div>Blocking devices from a Wi-Fi connection is a quick and easy way to “turn off the internet” and keep your kids from after-hours browsing.<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015465?make=ATT&amp;model=WirelessNetMF279&amp;gsi=GLNI97k"> Per AT&amp;T’s support page</a>:</div><div><br></div><ol>
<li>Visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a> and log in.</li>
<li>Click <strong>Connected Devices</strong> on the menu on the left-hand side of your screen.</li>
<li>On the Connected Devices page, check the box below <strong>Block Access</strong>.</li>
<li>Click <strong>Apply</strong> followed by <strong>OK</strong>.</li>
<li>You can unblock a device by clicking <strong>Unblock Access</strong> in the <strong>Blocked Wi-Fi Devices</strong> panel.<br><br>
</li>
</ol><h2>View and Track Data Usage by Device</h2><div>Not sure if your kids are using too much data? Now there’s an easy way to see who’s hogging all your bandwidth.</div><div><br></div><div>1.&nbsp; &nbsp; &nbsp; From your connected device, visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</div><div>2.&nbsp; &nbsp; &nbsp; Enter your login information and click <strong>Login</strong>.</div><div>3.&nbsp; &nbsp; &nbsp; Find and click <strong>Data Usage</strong> in the menu on the left-hand side of your screen.</div><div>4.&nbsp; &nbsp; &nbsp; On the <strong>Data Usage</strong> page, click <strong>Enable</strong> beneath the <strong>Data Usage Details</strong> panel.</div><div>5.&nbsp; &nbsp; &nbsp; Click <strong>Apply</strong>.</div><div>6.&nbsp; &nbsp; &nbsp; A new panel will appear, providing a breakdown of data usage by device.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire Stick
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Amazon Fire Stick plugs into your TV’s HDMI port and gives you access to streaming services, TV shows, movies, apps, music, photos, and games.<br><br>
</div><h2>Amazon Fire Stick Parental Control Settings</h2><h3>How to turn on parental controls</h3><div><br></div><ol>
<li>Select Settings from the Fire TV menu</li>
<li>Open Preferences</li>
<li>Select Parental Controls and press the ‘Select’ button on your remote to turn parental controls ON</li>
<li>Enter or set your PIN if prompted. (Use the ‘Menu’ button on your remote to change between sets of numbers</li>
<li>Select Next when you're done</li>
</ol><h3><br></h3><h3>How to manage parental controls</h3><div>After you set or enter your PIN, you can manage the following parental controls preferences:</div><ul>
<li>
<strong>Purchases</strong> - Require your PIN to authorize purchases from Amazon.&gt;</li>
<li>
<strong>App Launches</strong> - Require your PIN to open installed apps on your device. You can still browse Apps from the Fire TV menu, but will be prompted to enter your PIN before you can access any apps or games installed on your device.</li>
<li>
<strong>Prime Photos App</strong> - Require your PIN to open the Prime Photos app, which you can use to view your photos and personal videos from Amazon Drive on your Fire TV.</li>
<li>
<strong>Viewing Restrictions</strong> - Block playback of movies and TV shows, based on their ratings category.</li>
<li>
<strong>Explicit Filter for Amazon Music</strong> - Block playback of songs that contain explicit words and phrases. When the filter is switched on, songs that contain explicit lyrics aren't played. Instead of bleeping out or removing explicit lyrics within a song, the filter prevents playback of the song itself. To enable this setting:</li>
</ul><ol>
<li>Open the music app.</li>
<li>Tap the Settings icon.</li>
<li>Toggle explicit filter on or off.</li>
<li>Change your PIN - Change your Prime Video PIN directly on your Fire TV device.</li>
</ol><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.&nbsp;<br><br>
</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you use AT&amp;T as your internet service provider, you have access to some great basic parental controls that can help you set digital ground rules for your children. You can make basic changes to your router from any connected device, keeping your family safe and secure.</div><div><br></div><h2>Setting Parental Controls With AT&amp;T</h2><div>AT&amp;T’s basic parental controls allow you to restrict chosen devices to pre-set websites and restrict the time during which a device has an internet connection. Per<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015462?make=ATT&amp;model=WirelessNetMF279&amp;gsi=vknAoFY"> AT&amp;T’s Wireless Internet support page</a>:</div><div><br></div><ol>
<li>From a device that is connected to your AT&amp;T network, go to<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Click <strong>Parental Controls</strong> and check the box next to the devices you wish to limit.</li>
<li>Click <strong>Apply</strong>.</li>
<li>Visit Permitted Websites and click <strong>Add New</strong> to add websites the device has permission to visit.</li>
<li>Visit <strong>Restricted Time Settings</strong> to set restricted times during which the device does not have access to the internet.</li>
</ol><div>&nbsp;</div><h2>Block a Device from Connecting to Wi-Fi</h2><div>Blocking devices from a Wi-Fi connection is a quick and easy way to “turn off the internet” and keep your kids from after-hours browsing.<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015465?make=ATT&amp;model=WirelessNetMF279&amp;gsi=GLNI97k"> Per AT&amp;T’s support page</a>:</div><div><br></div><ol>
<li>Visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a> and log in.</li>
<li>Click <strong>Connected Devices</strong> on the menu on the left-hand side of your screen.</li>
<li>On the <strong>Connected Devices</strong> page, check the box below <strong>Block Access</strong>.</li>
<li>Click <strong>Apply</strong> followed by <strong>OK</strong>.</li>
<li>You can unblock a device by clicking <strong>Unblock Access</strong> in the <strong>Blocked Wi-Fi Devices</strong> panel.<br><br>
</li>
</ol><h2>View and Track Data Usage by Device</h2><div>Not sure if your kids are using too much data? Now there’s an easy way to see who’s hogging all your bandwidth.</div><div><br></div><ol>
<li>From your connected device, visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Find and click <strong>Data Usage</strong> in the menu on the left-hand side of your screen.</li>
<li>On the <strong>Data Usage</strong> page, click <strong>Enable</strong> beneath the <strong>Data Usage Details</strong> panel.</li>
<li>Click <strong>Apply</strong>.</li>
<li>A new panel will appear, providing a breakdown of data usage by device.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/chromebook-11ba0ff273af8f115882dc93b70029ac9fa0f8eeee26a68a873e39a972e930ce.png">
            Chromebook
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chromebook
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Chromebooks are unique laptops that use the Chrome Operating System (OS). Essentially, the Chromebook is run by Google's Chrome browser, and nearly all of its functions are used while connected to the internet. While users are able to work offline for some functions, most of the apps and documents require internet access.</div><div><br></div><h2>Using Google Family Link to Monitor Your Child’s Chromebook</h2><div><br></div><div>Because Chromebooks operate solely on the Google Chrome browser, you will be accessing all of the controls via your family's Google Accounts. Each child will need a Google Family Link account.</div><div><br></div><ol>
<li>Make sure your Chromebook is updated to version 65 or higher of Chrome OS. <a href="https://support.google.com/chromebook/answer/177889">Click here</a> if you need help updating your system.</li>
<li>To create a Family Link account for your child, download the app for either <a href="https://itunes.apple.com/us/app/google-family-link/id1150085200&amp;ct=homepage-website-setup&amp;mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?hl=en&amp;id=com.google.android.apps.kids.familylink">Android</a>.</li>
<li>Follow the instructions on your screen to set up the account.</li>
</ol><div><br></div><h3>How to add a new user to Chromebook</h3><ol>
<li>Select <a href="https://support.google.com/chromebook/answer/1059242?hl=en"><strong>Add Person</strong></a> on the Chromebook's lock screen.</li>
<li>Sign in using your child's Family Link account information.</li>
<li>Next, you will be asked to sign in to your parent account in Family Link to grant access.</li>
<li>An on-screen prompt will list what your child can and cannot access.</li>
<li>Click <strong>Yes</strong> to allow your child access to the Chromebook.</li>
</ol><div><br></div><h3>What Family Link Monitors</h3><div>Children signed into their Google Accounts on a Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:<br><br>
</div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "try to block mature sites" has been turned on for your child in the Family Link settings, Chrome browsing will block most sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. However, your child can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this info won't be used to personalize ads for children under 13.</li>
</ul><div><br></div><h3>How to manage websites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that's right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.</li>
<li>
<strong>Only allow certain sites</strong>: Your child will only be able to visit the sites you allow.</li>
</ul>
</li>
<li>Tap <strong>Manage Sites</strong> to manually block or allow certain sites.</li>
</ol><div><br></div><h3>How to manage website permissions</h3><div>Parents can choose if their child is allowed to grant permissions to the websites they visit. Examples of permissions include allowing sites to track location, access the camera, or push notifications. To adjust this setting:</div><div><br></div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off.</li>
</ol><div><br></div><h3>How to monitor browsing history</h3><ol>
<li>On your child's Chromebook, open <strong>Chrome</strong>.</li>
<li>In the top right, select <strong>More &gt; History</strong>. This page shows your child's recent Chrome history.</li>
</ol><h3>
<br>How to clear history</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>In the <strong>History</strong> section, tap <strong>Clear history</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's Chromebook, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. <a href="http://bark.us/?s=barkomatic">Bark</a> can also monitor the saved photos and videos on Chromebook by downloading the <a href="http://bark.us/?s=barkomatic">Bark</a> for Chromebooks app from the Google Play Store. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Home
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Home is a smart speaker that competes with the Amazon Echo and the Apple HomePod. You can use it to get news and weather forecasts, make purchases, listen to music, and more. If you want to make sure your children are using Google Home appropriately, these step-by-step directions will allow you to set up parental controls.<br><br>
</div><h2>Setting Parental Controls on Google Home Smart Speakers</h2><ol>
<li>Set up a <a href="https://families.google.com/familylink/"><strong>Google Family Link</strong></a> account. This allows you to view activity, manage apps, limit screen time, and lock devices. You can even use Family Link to see where your child is as long as they are carrying their device and location services are on. You must download the app on your smartphone.</li>
<li>Use the <strong>Family Link</strong> app to create a Google Account for your child, where you can control and monitor linked apps and devices.</li>
<li>Have each child nearby to provide voice samples to allow voice recognition of commands. This is necessary for individual permissions profiles. Expect to spend up to 10 minutes per child.</li>
<li>Block explicit music and video content from YouTube.<ol>
<li>Open the <strong>Google Home</strong> app.</li>
<li>Tap <strong>Menu</strong> in the top left corner.</li>
<li>Verify the Google Account listed is the one linked to Google Home. Switch accounts, if necessary, by clicking the triangle to the right of the account name.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Under <strong>Devices</strong>, tap the Home device you want to adjust.</li>
<li>Under <strong>YouTube Restricted Mode</strong>, block content by sliding the slider to the right.</li>
</ol>
</li>
<li>Block explicit content from <strong>Google Play Music</strong>.<ol>
<li>Open the <strong>Google Play Music</strong> website. You cannot access this setting from the Google Play Music app.</li>
<li>In the top left corner, click <strong>Settings</strong>.</li>
<li>In the <strong>General</strong> section, click the checkbox next to <strong>Block explicit songs in radio</strong>. This will not block Google Play Music premium users from playing specific explicit songs or albums.</li>
</ol>
</li>
</ol><div><br></div><div>Children are blocked from online purchasing automatically. External apps are blocked unless Google has vetted them and designated them as <strong>Apps for Families on Google Assistant</strong>. You can block third-party apps via Family Link.</div><div><br></div><div>Google Home has a personal results setting you can monitor, but you must choose to monitor all of the content — calendar, contacts list, and photos — or none of it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>