<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S8 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S8 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S8 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div><br></div><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.</div><div><br></div><div>You can also set up Face Recognition, Intelligent Scan, Fingerprint Scanner, and Iris Scanner. To do this:</div><div><br></div><ol>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Biometrics</strong>.</li>
<li>Tap either <strong>A) Fingerprint</strong>, <strong>B) Face Recognition</strong>, <strong>C) Intelligent Scan</strong>, or <strong>D) Iris Scanner</strong>
</li>
</ol><div><br></div><div>What's the Difference Between Fingerprint, Face Recognition, Intelligent Scan, and Iris Scanner?<br><br>
</div><ul>
<li>
<strong>Fingerprint</strong> scan uses your fingerprint to unlock the device.</li>
<li>
<strong>Face Recognition</strong> uses your face to unlock the device.</li>
<li>
<strong>Iris Scanner</strong> uses your eyes to unlock the device by pointing them at the iris scanner.</li>
<li>
<strong>Intelligent Scan</strong> uses both your face and your eyes to unlock the device.</li>
</ul><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>Tap<strong> Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap the status switch beside <strong>Data Limit.</strong>
</li>
<li>Tap <strong>Data Limit.</strong>
</li>
<li>Enter a data usage limit.</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Data Warning</strong>.</li>
<li>Enter the data usage level at which you will receive a warning.</li>
<li>Tap Set.</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Pie - 9.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android Pie</strong>, which is version 9.0. This is the latest version of Android, released in August 2018.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 8.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Tap one of the following options <strong>A) Pattern B) PIn C) Password.</strong>
</li>
</ol><div>
<br>What's the difference?</div><ul>
<li>Pattern lock uses a pattern via connecting-the-dots.</li>
<li>Pin uses 4-16 digits.</li>
<li>Password uses a combination of letters and numbers.</li>
</ul><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the Google Play Store menu again.</li>
<li>Tap <strong>My Apps &amp; Games.</strong>
</li>
<li>Tap Installed.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases </strong>to prevent in-app purchases.</li>
</ol><div>
<br><em>REMINDER: Not all apps have age ratings, so make sure to talk to your child about the types of content you allow.<br></em><br>
</div><h3>Preventing in-app purchases</h3><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h3>Create a restricted profile</h3><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>System.</strong>
</li>
<li>Tap <strong>Advanced.</strong>
</li>
<li>Tap <strong>Multiple Users.</strong>
</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Set Up Now.</strong>
</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limited data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to off.</li>
<li>If prompted, tap TURN OFF to confirm.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set.</strong>
</li>
</ol><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>From the Mobile section, toggle the <strong>Alert me about data usage</strong> switch on.</li>
<li>If prompted, tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Set Data warning </strong>to turn on.</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set.</strong>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a><br><br>.</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fi
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Project Fi is a unique cell phone service provider that gives customers exact controls on their monthly spending. Rather than being surprised by overage charges, or having to sign up for plans based around much larger amounts of data than you actually use, Google Fi plans give hard data caps starting at 1GB per month.</div><div><br></div><div>The tech trick behind Project Fi that allows for this level of flexibility is in seamlessly switching between Wi-Fi and over-the-air networks. Because Project Fi only supports a handful of approved phones with custom ROMs, Google gains a level of control over how Project Fi devices manage their data in ways that most carriers can't. For users, they won't need to pay attention to whether their phone automatically latched onto the data from an approved Google Wi-Fi source, or if they've swapped to using an over-the-air connection for their calls.<br><br>
</div><div>This works nicely for carriers, who subcontract their towers out to Google yet receive much less direct bandwidth due to these phones using Wi-Fi whenever possible. And it's equally beneficial for customers, who can choose to stay with low-cost monthly plans since they'll use less data overall than on a conventional smartphone.</div><div><br></div><div>Users, as of 2018, pay $10 per GB of data as well as a base $20 a month fee. Additional users added to the same account cost $15 a month each. After the chosen data cap is used, users do not lose data access but are limited to heavily throttled speeds. This means simple apps like text-only email and navigation apps will still work as intended, while things like streaming video will be heavily hampered.</div><div><br></div><h2>Is Google Fi Appropriate for Family Usage?</h2><div>One major drawback to Project Fi in the past was the lack of any network-level parental controls. Users could manage data through their Google Fi app to allow or disallow data on each line, but beyond that, limitations need to be handled on an app-by-app basis. As of 2018, however, Project Fi is fully integrated with Family Link.</div><div><br></div><div>Family Link is an all-encompassing app that allows parents to fully control everything from which apps their children are allowed to use, what times they can't activate their phone's screen, and much more.</div><div><br></div><h2>How to Obtain and Set Up Family Link for Project Fi</h2><ol>
<li>On the primary account, go to the <strong>Google Play Store</strong> app.</li>
<li>Search for "Google Family Link." Double check that the listed developer is "Google" to avoid downloading a similarly-named app.</li>
<li>
<strong>Launch</strong> the Family Link app.</li>
<li>Log in with your Google account, or whichever account you intend to be the primary administrator for Family Link.</li>
<li>Follow the on-screen guide for adding each child's Google account, linking them to the primary account. Each linked account will also have to download the Family Link app to their phones and login with their individual accounts for these features to activate.</li>
</ol><div><br></div><h2>How to Use Family Link</h2><ol>
<li>After following the steps above, launch the Family Link app on the primary administrator's smartphone.</li>
<li>Choose the account you would like to monitor or manage.</li>
<li>Tap <strong>Activity</strong> to see usage information. Scroll through the data to see which apps were used and for how long, how often the screen was on, and more. Tap any of these to set limits on screen, data, or app usage.</li>
<li>To see the GPS location of the phone, tap <strong>Location</strong>.</li>
<li>Choose <strong>Apps</strong> to see which apps your child has downloaded. If their account is restricted to seek approval from the primary account before downloading, you'll see a list of requested downloads to individually approve or deny. Tap an app for additional options; usually, you'll just see whether to enable or disable in-app purchases for this specific app.</li>
<li>Tap <strong>Recommended Apps</strong> to see a list of curated suggestions for apps known to be safe and appropriate for children. You can queue these to be automatically downloaded to your child's phone.</li>
</ol><div><br></div><h2>How to Manage Project Fi Data Usage</h2><ol>
<li>Go to the Project Fi website at <a href="https://fi.google.com/">https://fi.google.com/</a>
</li>
<li>Log in with the primary account holder's Google account.</li>
<li>Select <strong>Account</strong>.</li>
<li>Choose <strong>Manage Plan</strong>.</li>
<li>Click <strong>Add a Person</strong>.</li>
<li>In the input field that pops up here, put in the Google account names for each child or other user you'd like to share your Project Fi account with.</li>
<li>Each invited user will receive an email link that lets them opt in to your Project Fi account. Have them click the link and follow the on-screen instructions.</li>
</ol><div><br></div><h2>How to Turn On Data Alerts for Project Fi</h2><ol>
<li>Open the <strong>Project Fi</strong> app on the primary account holder's smartphone.</li>
<li>Tap <strong>Account Settings</strong>.</li>
<li>Choose <strong>Alerts</strong>.</li>
<li>There is a list of notification levels; choose the one appropriate for your family based on how frequently you'd like to see warnings for how much data is being used.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Facebook
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <h2>Privacy and Security on Facebook</h2><div>Facebook is one of the most popular social media platforms in the world, although its usage is decreasing among your kid’s generation. Even so, Facebook paved the way for the rest of the social media landscape — they even invented the ‘Like’ button! The platform allows you to create profiles and build networks of friends and interests, and you stay up-to-date with your favorite people and topics by “following” them.</div><div><br></div><div>The platform is highly functional: You can post content, upload photos, chat with friends, share files, and more. But people often abuse these features, and kids often fall victim to cyberbullying, stalking, and grooming. Facebook can also quickly become a breeding ground for toxic content that can contribute to anxiety and depression, so it’s important that you know how to manage the safety features available on the platform.<br><br>
</div><h2>Privacy and Security Features</h2><div>According to the Terms of Service, no child under the age of 13 can make their own Facebook account. (This does not apply to the new Messenger Kids app, which operates separately from the main Facebook product). As such, there are no built-in parental controls available through Facebook. Instead, you’ll need to adjust your child’s General Account Settings to make sure their profile is as protected as possible.<br><br>
</div><h2>General Account Settings</h2><div>Walk your child through the General Account Settings to help protect them from the worst of what can happen on Facebook. Here’s how:</div><div><br></div><ol>
<li>Log in to your child’s Facebook account.</li>
<li>Tap the small arrow in the upper right hand corner, and select <strong>Settings</strong>. A column of <strong>Privacy and Security</strong> options will appear. We’ve included the most important ones for you to navigate below.<ol>
<li>
<strong>General: </strong>Allows you to change your child’s contact information, direct notifications to your own inbox, and deactivate the account if necessary.</li>
<li>
<strong>Security and Login:</strong> Allows you to change your child’s password, set up two-factor authentication, and authorize devices that don’t require passwords to log in to the account.</li>
<li>
<strong>Your Facebook Information: </strong>Allows you to view, download, and delete your child’s personal information from Facebook.</li>
<li>
<strong>Privacy:</strong> Allows you to determine whether your child’s profile is “Public,” available only to Friends, or even a customized selection. You can manage who can see their account activity, can send them friend requests, and use their personal information to find and contact them. You can also prevent your child’s profile from appearing in search engine results.</li>
<li>
<strong>Timeline and Tagging:</strong> Allows you to adjust whether other people can tag your child in photos or posts of their own, as well as reviewing posts they’re tagged before it appears on their timeline.</li>
<li>
<strong>Blocking: </strong>Allows you to block someone from viewing your child’s posts or send messages or event invites. You can also block entire pages.</li>
<li>
<strong>Face Recognition:</strong> Allows you to set whether or not you want Facebook to be able to recognize you in photos and videos.</li>
<li>
<strong>Public Posts:</strong> Allows you to regulate access to your child’s public posts, including who can follow them and who can like or comment.</li>
</ol>
</li>
</ol><div><br></div><h2>Controlling the News Feed</h2><div>You can also spot-check your kid’s Facebook activity by scrolling through their News Feed. The News Feed is like the front page of their online social lives, complete with status updates from friends, news coverage, sports highlights, sarcastic memes, and more.</div><div><br></div><div>It is also the point of access for much of the concerning content on Facebook. Adjusting the General Account Settings can go a long way in filtering inappropriate content, but some things will slip through the cracks. To review and block content on on a case-by-case basis, take the following steps:</div><div><br></div><ol>
<li>Tap the <strong>triple-dot</strong> icon located at the top-right corner of the post.</li>
<li>A drop-down menu will give you the options to:<ol>
<li>Hide the post from the Feed</li>
<li>Snooze the source for 30 days</li>
<li>Unfollow the source</li>
<li>Give feedback on the post</li>
</ol>
</li>
</ol><div><br></div><div>In the wake of the 2016 election and a growing concern about the influence of fake news, bots, and trolls, Facebook has taken measures to help you know more about where certain kinds of content are coming from. Here’s how you can vet content that appears suspicious or is overtly political in nature:</div><div><br></div><ol>
<li>Tap the <strong>More information</strong> icon in the bottom-right corner of the post’s cover photo. If you hover the mouse over it, the text will read, “Show more information about this link.”</li>
<li>A pop-up window called “About This Website” will appear. It contains a brief summary of what the organization does, how long they’ve been active on Facebook, when the link was first shared, other content from this source, and more.</li>
<li>If you don’t trust the source, use the tools outlined above to report, unfollow, or block them.</li>
</ol><div><br></div><h2>Protecting from Potential Harm</h2><div>Each of the features outlined above provide you with ways to protect your kids from unwanted online communications. Adjust them at any time, especially when you suspect your child is experiencing cyberbullying, depression, or worse.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Facebook, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors what is posted on your child's wall. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div><br></div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AOL
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Parental controls for AOL email accounts were discontinued Nov. 1, 2017.&nbsp; Existing secondary usernames or child accounts were <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">promoted to full, standalone accounts with no parental control features at all</a>. Because of this, Bark does not recommend using AOL email with children.</div><div><br></div><div>If you would like to monitor your child’s existing AOL email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.&nbsp;</div><div><br></div><div>If you would prefer to remove access to these unmonitored accounts entirely, instructions on how to delete an AOL account are presented below.</div><div><br></div><h2>How to Delete a Secondary AOL Account That Has Been Promoted to a Full Account</h2><ol>
<li>Access the AOL account deactivation page <a href="https://login.aol.com/?done=https%3A%2F%2Fapi.login.aol.com%2Foauth2%2Frequest_auth%3Fclient_id%3Ddj0yJmk9a0dMSTFNQTlieXAwJmQ9WVdrOU1teEVVMHQ1TjJFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD00OQ--%26scope%3Dgdpr-w%26redirect_uri%3Dhttps%253A%252F%252Faol.mydashboard.oath.com%252Fcallback%252Fuser%26response_type%3Dcode%26language%3Den-US%26state%3DeyJ1c2VyX3JldHVybl9wYXRoIjoiL2RlbGV0ZS1teS1hY2NvdW50IiwidXNlcl9oaW50IjoidW5kZWZpbmVkIiwibm9uY2UiOiJkY2JiNmMxMWE4NDA1MDY2MGVkZmI3ZTU2NjMyZmRkZCJ9%26src%3Dpd-aol%26.scrumb%3D0&amp;src=pd-aol&amp;crumb=3e6Fsy9JE9i&amp;redirect_uri=https%3A%2F%2Faol.mydashboard.oath.com%2Fcallback%2Fuser&amp;lang=en-US&amp;language=en-US">here</a>.</li>
<li>Read the information on terminating your account in full. You'll receive all the legal information on what AOL is responsible for in terms of data, and more information.</li>
<li>Follow the on-screen prompts confirming that you do indeed want to delete this account.</li>
</ol><div><br></div><div>To learn more about changes to accounts that were previously sub-usernames or child accounts prior to 2017, please read AOL's help page on this topic <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">here</a>.</div><div><br></div><h2>How to Download Data Before Deleting a Secondary AOL Account</h2><ol>
<li>If you would like to save data before deleting a standard account that was previously a child's account, visit the AOL Privacy Dashboard page <a href="https://policies.oath.com/us/en/oath/privacy/dashboard/index.html">here</a>.</li>
<li>Choose <strong>AOL email</strong> to view the data for this AOL service.</li>
<li>Scroll down and click <strong>Manage Your Data</strong>.</li>
<li>It will take time to prepare your data package. Insert an email address that you're currently using to receive the notification that your email account data are processed and ready to download.</li>
<li>Click <strong>Request Download</strong>.</li>
<li>You'll receive an email linking you to the final download of all the contents of your email account.</li>
</ol><div>
<br>For more important information on what to look for before closing an AOL email account, please review the AOL help page <a href="https://help.aol.com/articles/close-your-account">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In AOL email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Clash of Clans
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Clash of Clans is a strategic action video game set in a fantasy world where the player is the chief of their own village. Clans of up to 50 players can merge to work together while sharing a group chat. Clash of Clans was designed with teens in mind, but potential hazards include inappropriate language and conversations in chat rooms.</div><div><br></div><h2>Parental Controls</h2><div>Parental controls will need to be set on each device kids might use to play the game. Supercell, the company that owns Clash of Clans, works hard to maintain a safe and secure environment for players. The game doesn't have a private chat facility, and it displays regular warnings against sharing personal information.<br><br>
</div><div>If there are any issues, Clash of Clans contains prominent tools for players to report any offensive, insulting, or inappropriate behavior. It’s also possible for users to mute chats from any player whose messages they do not want to see. If users prefer to report any concerns by email, messages can be sent to parents@supercell.com.</div><div><br></div><h3>How to filter chats for profanity</h3><ul>
<li>Tap on the <strong>gear</strong> icon in the lower right-hand corner.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Make sure <strong>Filter Clan Chat</strong> is set to <strong>Off</strong>.</li>
</ul><div><br></div><h3>How to mute a specific user in chat</h3><ol>
<li>On the left hand side of the screen, swipe the <strong>&gt;</strong> icon to open the chat window.<ol><li>There is a general, global chat and a clan chat option of around 40 people, if your child has joined one. Some clans may be friends your child knows in real life, or it could be composed of strangers.</li></ol>
</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Mute</strong>. You will no longer see chats from this user.</li>
</ol><div><br></div><h3>How to report a specific user for inappropriate behavior in chat</h3><ol>
<li>On the left-hand side of the screen, swipe the <strong>&gt;</strong> icon.</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Report</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Steam
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Steam is a free gaming platform available for download onto your computer. With it, you can buy and download video games — and there are millions to choose from. While many of them are appropriate for children, there are plenty that aren’t. Fortunately, parents can take control and decide what gets downloaded.</div><div><br></div><div>Any time a person sets up a new Steam account, that account automatically gets full access to everything: the Steam store, all purchased games, and the Steam Community discussions. To prevent children from purchasing or accessing inappropriate content on the Steam platform, there is a set of parental controls available known as Family View.</div><div><br></div><div>With Family View, access to the Steam Store, Library, Community, Friends content, and other features may be granted by the entry of a secret PIN.</div><div><br></div><h2>How to Set Parental Controls on Steam</h2><ol>
<li>Login to Steam with the account your child will use.</li>
<li>Click the <strong>Steam menu</strong> in the top, and open <strong>Settings</strong>.</li>
<li>Go to the <strong>Family</strong> tab that opens on the left side of the window.</li>
<li>Click <strong>Family View</strong> to start the wizard.</li>
<li>Follow the on-screen instructions through each step of the wizard. This allows you to choose the content and features you want the child to be able to access with their account.</li>
<li>Select and confirm your new PIN.</li>
</ol><div><br></div><div>It’s worth noting that even though there is a parental control system in place, Steam still leaves vetting the games and checking the ratings to parents. Games are rated by age, but may not provide enough detail about what is actually in the game for parents to make informed decisions. This means parents will have to rely on third-party sources such as <a href="https://www.commonsensemedia.org/">Common Sense Media</a> to learn more about titles before making decisions about games and restrictions.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Spectrum
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. You will have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com&nbsp;</li>
<li>Spectrum TV channel apps.&nbsp;</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users:</div><div><br></div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong> and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users:<strong><br></strong><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for Preferences will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable parental controls. You might need to select the <strong>lock</strong> icon on the <strong>Parental Control</strong> window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block.</li>
</ol><div>NOTE: You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your <strong>Parental Control</strong> and <strong>Browser Protection</strong> settings. If a website is added to the website exception list, it won't be blocked for any reason.</div><div><br></div><h2>Parental Control Features</h2><div>Once in the Security Suite, you can turn on and adjust settings for the features detailed below.</div><div><br></div><h3>Content blocker</h3><div>Restrict access to sites based on content or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.&nbsp;</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.&nbsp;</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.&nbsp;</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under <strong>Channel blocks</strong>, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire Stick
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Amazon Fire Stick plugs into your TV’s HDMI port and gives you access to streaming services, TV shows, movies, apps, music, photos, and games.<br><br>
</div><h2>Amazon Fire Stick Parental Control Settings</h2><h3>How to turn on parental controls</h3><div><br></div><ol>
<li>Select Settings from the Fire TV menu</li>
<li>Open Preferences</li>
<li>Select Parental Controls and press the ‘Select’ button on your remote to turn parental controls ON</li>
<li>Enter or set your PIN if prompted. (Use the ‘Menu’ button on your remote to change between sets of numbers</li>
<li>Select Next when you're done</li>
</ol><h3><br></h3><h3>How to manage parental controls</h3><div>After you set or enter your PIN, you can manage the following parental controls preferences:</div><ul>
<li>
<strong>Purchases</strong> - Require your PIN to authorize purchases from Amazon.&gt;</li>
<li>
<strong>App Launches</strong> - Require your PIN to open installed apps on your device. You can still browse Apps from the Fire TV menu, but will be prompted to enter your PIN before you can access any apps or games installed on your device.</li>
<li>
<strong>Prime Photos App</strong> - Require your PIN to open the Prime Photos app, which you can use to view your photos and personal videos from Amazon Drive on your Fire TV.</li>
<li>
<strong>Viewing Restrictions</strong> - Block playback of movies and TV shows, based on their ratings category.</li>
<li>
<strong>Explicit Filter for Amazon Music</strong> - Block playback of songs that contain explicit words and phrases. When the filter is switched on, songs that contain explicit lyrics aren't played. Instead of bleeping out or removing explicit lyrics within a song, the filter prevents playback of the song itself. To enable this setting:</li>
</ul><ol>
<li>Open the music app.</li>
<li>Tap the Settings icon.</li>
<li>Toggle explicit filter on or off.</li>
<li>Change your PIN - Change your Prime Video PIN directly on your Fire TV device.</li>
</ol><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.&nbsp;<br><br>
</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Spectrum
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Here are some tips for navigating parental controls with Spectrum internet services.</div><div><br></div><h2>Spectrum Parental Controls</h2><div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. For example, you have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com</li>
<li>Spectrum TV channel apps</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong>, and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for <strong>Preferences</strong> will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable <strong>Parental Controls</strong>. You might need to select the <strong>lock</strong> icon on the Parental Control window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block. You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your Parental Control and Browser Protection settings. If a website is added to the website exception list, it won't be blocked for any reason.<em><br></em><br>
</li>
</ol><h2>Spectrum’s Security Suite Parental Controls</h2><h3>Content blocker</h3><div>Restrict access to sites based on content, or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under Channel blocks, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Safari
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Safari is the internet browser that comes with all Apple computers, and it possesses some built-in parental control features to help protect your children online. For these to work, you must first create a user profile for your child on the Apple device, then adjust the system settings to apply to Safari.</div><div><br></div><div>NOTE: These instructions apply to Mac computers using Sierra OS. Menu options may vary slightly, but generally the instructions should be similar for other Mac OS versions.<br><br>
</div><h2>How to Create a User Profile for Your Child on an Apple Computer</h2><ol>
<li>Log in to your administrator account on the device.</li>
<li>Click <strong>System Preferences</strong>.</li>
<li>Next, click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon in order to begin making changes. Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Choose the Age:<ol>
<li>4+</li>
<li>9+</li>
<li>12+</li>
<li>17+</li>
</ol>
</li>
<li>Add the full name of your child.</li>
<li>Next, enter an account name.</li>
<li>Enter a password.</li>
<li>Create a password hint in case your child forgets the password. (If it is forgotten, you can log in to your administrator account and reset the password).</li>
<li>Click <strong>Create user</strong>.</li>
<li>When finished, click the <strong>lock</strong> icon again to prevent further changes.</li>
</ol><div><br></div><h2>How to Set Parental Controls for Safari</h2><ol>
<li>Click <strong>System Preferences</strong>.&nbsp;</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes. Enter your password when prompted.</li>
<li>Select the user account whose parental controls you want to manage.</li>
<li>Click <strong>Enable Parental Controls</strong>.</li>
<li>Click <strong>Web</strong>. While you can use this interface to implement parental controls for the entire computer, since this focuses on the Safari browser, we’ll ignore the other tabs and options.</li>
<li>Choose one of the following options:<ul>
<li><strong>Allow unrestricted access to websites</strong></li>
<li>
<strong>Try to limit access to adult websites</strong>.<strong> </strong>You can click the <strong>Customize</strong> button to add a list of sites to always allow, and a list of sites to never allow.</li>
<li>
<strong>Allow access only to these websites</strong>.<strong> </strong>There are a number of websites in this list, including Bing, Google, Facebook, Twitter, and others. Click the <strong>+</strong> to add another site to the list. Click a site in the list and then the <strong>-</strong> button to remove a site from the list.</li>
</ul>
</li>
<li>When finished, click the <strong>lock</strong> icon to prevent additional changes.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Safari, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor web browsing for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Not Sure
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>