<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Pie - 9.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android Pie</strong>, which is version 9.0. This is the latest version of Android, released in August 2018.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 8.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Tap one of the following options <strong>A) Pattern B) PIn C) Password.</strong>
</li>
</ol><div>
<br>What's the difference?</div><ul>
<li>Pattern lock uses a pattern via connecting-the-dots.</li>
<li>Pin uses 4-16 digits.</li>
<li>Password uses a combination of letters and numbers.</li>
</ul><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the Google Play Store menu again.</li>
<li>Tap <strong>My Apps &amp; Games.</strong>
</li>
<li>Tap Installed.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases </strong>to prevent in-app purchases.</li>
</ol><div>
<br><em>REMINDER: Not all apps have age ratings, so make sure to talk to your child about the types of content you allow.<br></em><br>
</div><h3>Preventing in-app purchases</h3><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the menu.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h3>Create a restricted profile</h3><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>System.</strong>
</li>
<li>Tap <strong>Advanced.</strong>
</li>
<li>Tap <strong>Multiple Users.</strong>
</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Set Up Now.</strong>
</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limited data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to off.</li>
<li>If prompted, tap TURN OFF to confirm.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set.</strong>
</li>
</ol><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>From the Mobile section, toggle the <strong>Alert me about data usage</strong> switch on.</li>
<li>If prompted, tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Set Data warning </strong>to turn on.</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set.</strong>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a><br><br>.</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Pixel 3
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Both the Google Pixel 3 and the Google Pixel 3 XL are fantastic smartphone options for children. They are fast, easy-to-use, and have larger screens so children can view videos and educational material better.</div><div><br></div><div>While smartphones can make great entertainment companions for children, there are also dangers that come with having a smartphone. Children can be subjected to mature content unwittingly, and some children may attempt to download adult applications and videos. Luckily, the Android development system does have some built-in restrictions. Of course, these restrictions aren't overarching parental controls, so some parents choose to download third-party apps to assist them in setting up a more child-friendly device.</div><div><br></div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>The first step towards protecting your child is to set up a passcode on their device. This will ensure that their information doesn't get stolen in the case of phone theft.</div><div><br></div><ol>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Security and Location</strong>.</li>
<li>In the Device section, tap <strong>Screen Lock</strong>.</li>
<li>Tap either <strong>A) Pattern</strong>, <strong>B) Pin</strong>, or <strong>C) Password</strong>.</li>
</ol><div><br></div><div>What's the Difference Between Pattern, Pin, and Password?</div><ul>
<li>
<strong>Pattern</strong> lock uses a pattern via connecting-the-dots.</li>
<li>
<strong>Pin</strong> uses a 4-16 digits</li>
<li>
<strong>Password</strong> uses a combination of numbers and l</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONFIRM</strong>.</div><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and Wi-Fi</h3><div>Disallowing your child from using mobile data or Wi-Fi will prevent them from accessing the internet at any time or place.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Network and Internet</strong>.</li>
<li>Toggle WiFi <strong>Off</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Networks and Internet</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle Mobile Data <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Only Use WiFi</h3><div>By turning off mobile data, you are ensuring that your child can only use their Pixel 3/Pixel 3 XL in an area with an open Wi-Fi signal (home, school, etc.)</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Networks and Internet</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle Mobile Data <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Limit Mobile Data</h3><div>If you're on a plan that does not have unlimited data, it may be a good idea to limit the amount of data that your child consumes on their device. It could save you from charges related to overages.</div><div><br></div><ul>
<li>From the Home screen, touch and swipe up to display all apps.</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Network and Internet</strong>.</li>
<li>Tap <strong>Data Usage.</strong>
</li>
<li>Tap <strong>App data usage.</strong>
</li>
<li>Tap the <strong>Gear icon.</strong>
</li>
<li>Tap <strong>Set data limit</strong> to enable on switch.</li>
<li>Tap <strong>OK</strong> when presented with the Limiting Data Usage screen.</li>
<li>Tap <strong>Data limit</strong>.</li>
<li>Enter the preferred <strong>data usage limit.</strong>
</li>
<li>Tap <strong>SET.</strong>
</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>While the Android operating system doesn't have parental controls for devices, it does have parental controls built into the Google Play Store. Here's how to set these up, which will block your child from viewing and downloading mature content on the Play Store.</div><div><br></div><ol>
<li>Open the <strong>Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    T-Mobile
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you’re a T-Mobile customer and want to set up parental controls, it’s important to note that you must be the Primary Account Holder to add Family Allowances to your account. For T-Mobile One customers with two or more lines, this service is included free. If not, you may be required to pay a monthly fee for the service.</div><div><br></div><div>By default, the Parent Line is the Primary Account Holder, but after you add Family Allowances, you can designate a Parent Line. Both the Parent Line and Primary Account Holder can manage allowances for all lines on the account. Your children’s lines (“managed lines”) can view their individual allowances, but they cannot make changes to the settings.</div><div><br></div><h2>P<strong>arental Control Settings With T-Mobile</strong>
</h2><ul>
<li>Set the number of allowed “Whenever Minutes.”</li>
<li>Set the number of text messages the line can send and receive during a billing cycle.</li>
<li>Set a current allowance if you want to specify an amount of money your child is allowed to spend on any downloads.&nbsp;<ul><li>Note: Billing purchases to your T-Mobile account are blocked while Family Allowances is active, though you can still use a credit card or prepaid card for purchases from the Google Play Store or the iPhone App Store</li></ul>
</li>
<li>Schedule the allowed or blocked time when your children are allowed to use their devices during the pre-defined time periods.<ul>
<li>Set time limits.</li>
<li>Set BedTime.</li>
</ul>
</li>
<li>Set the Allowed and Not Allowed Numbers. Each line can have a maximum of 10 numbers for each list. 411, 611, and 911 do not count toward that maximum.</li>
<li>&nbsp;The child’s line can always send and receive calls and messages to and from any Always Allowed numbers, even after allowances are reached, or during blocked times.</li>
<li>Always Allowed numbers will always allow calls and messages from these specific numbers, regardless of restrictions or allowance limitations. Remember to add the voicemail retrieval number to this list so your child can always check their voicemail.</li>
<li>Never Allowed numbers will always block calls and messages from any number on that list.<br><br>
</li>
</ul><div>You can manage these settings for all the lines on the account.<br><br>
</div><h2><strong>Parental Controls With Family Allowances</strong></h2><div>You can also manage Family Allowances from within the T-Mobile app on your device with these instructions:</div><div><br></div><ol>
<li>Open your T-Mobile App and log in as either the parent or Primary Account Holder.</li>
<li>Select <strong>Profile</strong>.</li>
<li>Click <strong>Family Controls</strong> on the left.</li>
<li>In <strong>Family Allowances</strong>, which is only an option if you’re subscribed to the service, tap <strong>Manage</strong>.</li>
<li>Select the name or the line to view current settings.</li>
<li>Set or change allowances for the selected line.</li>
<li>Tap <strong>Save</strong> on the top right of the page.</li>
</ol><div><br></div><div>Remember, Family Allowance settings don’t work on Wi-Fi or with Wi-Fi calling.</div><div><br></div><h2><strong>Control Screen Time With FamilyMode</strong></h2><div>FamilyMode is an optional T-Mobile service, available for $10/month. The system allows parents to control children’s internet access on smartphones and tablets wherever they are. The Home Base device also allows parents more control over the range of devices in their home.</div><div><br></div><div>Once you’ve added the FamilyMode service to your account, you’ll need the FamilyMode app installed on your phone. You might also consider getting the Home Base device, which offers additional control over other devices in your home.. After installing the app on your phone, connect to the Home Base using either an ethernet cable or by pairing it over your home Wi-Fi network.</div><div><br></div><h3>To set up FamilyMode</h3><ol>
<li>Open the <strong>FamilyMode</strong> app. Press <strong>Get Started</strong>.</li>
<li>Agree to the User Agreement.</li>
<li>Choose <strong>Set up parent app</strong>. Log in with your T-Mobile ID.</li>
<li>Create profiles for each family member.</li>
</ol><div><br></div><h3>Add a new family member</h3><ol>
<li>Tapping the <strong>Menu</strong> icon in the top left of the home screen in the FamilyMode app.</li>
<li>Tap <strong>Add Profile</strong>.</li>
<li>Enter the family member’s name and add an optional photo.</li>
<li>Set filter levels.<ol>
<li>
<strong>High:</strong> Works for children between the ages of 6 and 12. Educational and kid-safe experiences are available by default.</li>
<li>
<strong>Medium:</strong> Designed for teens 13-17. Most options are available. Any platforms, sites, or apps that are 18+ are blocked, and inappropriate categories are filtered and invisible.</li>
<li>
<strong>Low:</strong> Appropriate for 18+. This provides access to most all platforms, categories, and apps, but explicit and mature content is filtered by default.</li>
<li>
<strong>None:</strong> This is for profiles you want FamilyMode to ignore. This is also the option to choose if you just want to be able to set BedTimes for the profile. Time limits, filtering, and usage are not available for platforms with this filter level.</li>
</ol>
</li>
</ol><div><br></div><h3>To add another parent</h3><ol>
<li>Download the FamilyMode app to the parent’s device.&nbsp;</li>
<li>Open the app.</li>
<li>Tap <strong>Get Started</strong> on the welcome screen.</li>
<li>Agree to the user agreement.</li>
<li>Tap <strong>Set up Parent app</strong>.</li>
<li>Tap <strong>Continue</strong> at the T-Mobile Primary Account Holder screen.</li>
<li>Log in with the T-Mobile Primary Account Holder’s information.</li>
<li>Tap <strong>Menu</strong>.</li>
<li>Tap <strong>Add Profile</strong>.</li>
<li>Enter Parent’s name and photo.</li>
<li>Set the filter settings on the device. Tap <strong>Save</strong>.</li>
<li>Enable or disable BedTime. Tap <strong>Save</strong>.</li>
<li>Select the other parent’s device to add it to their profile. Tap <strong>Done</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Reddit
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Also known as "the front-page of the internet," Reddit is a popular online forum that features a vast amount of content for users to read, contribute to, and share with other people. It functions much like a message board. Reddit is routinely in the top ten most popular websites in the U.S., and it has has grown significantly since its humble beginnings in 2005.</div><div><br></div><div>The forum is organized by user-created boards known as "subreddits" that can be about nearly any topic imaginable. A subreddit is preceded by the characters "r/" in the url. For example, "r/planes" would be a subreddit on the general topic of planes. Similarly, a subreddit entitled "r/stocks" would be all about the stock market.</div><div><br></div><h2>Pros</h2><div>Reddit really is just a large database of knowledge. While some of that "knowledge" is certainly random photos and memes, there are plenty of subreddits that are all about learning specific topics, such as "r/guitarlessons" or "r/woodworking". These can be excellent channels for beginners to learn new hobbies or share their knowledge with others.<br><br>
</div><h2>Cons</h2><div>As you can imagine, a website with such an open-ended platform could be worrisome for younger visitors. Because Reddit is such a popular destination, there are scores of NSFW (not safe for work) threads available on the site. Although not immediately visible, it is there. Thankfully, there are ways to protect your child from viewing any explicit content.</div><div><br></div><h2>How to Keep Your Child Safe on Reddit</h2><h3>How to create an account</h3><div>Create your child's Reddit account yourself and sign up with your own email address. This allows you to keep tabs on what your child is looking at, and even change settings or block usage if it ever becomes necessary. Without access to your email address, your child will not be able to change the password. While this is a great first step, there are a few account settings you will need to change to make the browsing experience more kid-friendly.</div><div><br></div><div>Note: You can use Reddit without logging in it all. It’s possible to log out at any time once you’ve logged in to escape any restrictions put in pace.<br><br>
</div><h3>How to secure your child’s Reddit account</h3><ol>
<li>Click on your child’s account username at the top-right corner of the screen.</li>
<li>Select <strong>User Settings</strong> from the dropdown menu.</li>
<li>Tap the <strong>Profile</strong> menu button.</li>
<li>Scroll down until you see the <strong>Advanced</strong> section. Uncheck both <strong>Content Visibility</strong> and <strong>Active in communities visibility</strong>, which will help keep your child more anonymous online. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and select the <strong>Privacy &amp; Security</strong> menu button.</li>
<li>In the top section labeled <strong>User Privacy</strong>, uncheck <strong>Search engine indexing</strong>. This prevents any search engine from displaying your child's profile in search results.</li>
<li>Scroll down until you see the <strong>Messaging Privacy</strong> section. Click on the dropdown next to the <strong>Who can message you</strong> setting and change it from <strong>Everyone</strong> to <strong>Whitelisted</strong>. Now you can customize the users who can message your child's account; for example, a neighborhood friend. Keep in mind that administrators and moderators of subreddits that your child is following will always be able to send them private messages. So it is important to decide carefully what subreddits your child can follow. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and click on the <strong>Feed Settings</strong> menu button.</li>
<li>At the very top of the list is the <strong>Content Preferences</strong> section. Verify that <strong>Adult Content</strong> is disabled (it should be disabled by default but it doesn't hurt to double-check). It may also be a good idea to disable <strong>Autoplay media</strong> immediately below the Adult Content setting, which stops videos and .gifs from playing automatically. Click <strong>Save</strong> at the bottom of the screen.</li>
</ol><div><br></div><h3>Report hateful speech or bullying.</h3><div>If your child comes across any hateful speech or bullying, help them report any offending users.</div><div><br></div><ol>
<li>For offensive posts: click the “<strong>...</strong>” at the bottom of the post and select <strong>Report</strong> from the dropdown that appears. Then select a reason for the report and click <strong>Submit</strong>.</li>
<li>For offensive comments, click on the <strong>Report</strong> button immediately below the comment. Then select a reason for the report and click <strong>Submit</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Reddit, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors your child's submissions, comments, and private messages. This includes replies to their comments, which come in as private messages. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Gmail
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Gmail is a free email service developed by Google. Users can access Gmail on the web, tablets, and smartphones as well as with third-party programs that synchronize email content.&nbsp;</div><div><br></div><div>Email accounts may seem relatively harmless, but kids as young as five often have their own email address for their online activities. It is nearly impossible to create an online profile without an email address. That said, an unchecked email address is a potential access point for your child to correspond with people you do not know.</div><div><br></div><h2>For Kids Under 13</h2><div>For children under 13, Google Accounts will need to be created with an app called Family Link, which you can also use to supervise their Google Accounts.<br><br>
</div><h3>How to create a Google Account for children under 13</h3><ol>
<li>Download the <strong>Family Link</strong> app.</li>
<li>Open the <strong>Family Link</strong> app.</li>
<li>In the top right, tap <strong>Create </strong>or <strong>+</strong>.</li>
<li>Follow the instructions on screen to create your child’s account.</li>
<li>When you're done, a confirmation will show on the screen.<br><br>
</li>
</ol><h3>How Gmail accounts are different for kids under 13</h3><div>For the most part, Gmail will be the same for children as it is for adults. There are only a few Gmail features that aren't available to children under 13.<br><br>
</div><ul>
<li>
<strong>Ads:</strong> Google won't serve ads in Gmail or process Gmail messages for advertising purposes.</li>
<li>
<strong>Automatic forwarding:</strong> Children can't automatically forward emails to another email address.</li>
<li>
<strong>Gmail offline:</strong> If their device isn't connected to the internet, children can’t read, send, or search their Gmail emails.</li>
<li>
<strong>Google+:</strong> Children can't use any Google+ features available in Gmail.</li>
<li>
<strong>Labs:</strong> Children can’t turn on experimental Gmail features.</li>
<li>
<strong>Mail delegation:</strong> Children can't give someone else access to read, send, or delete their emails.&nbsp;</li>
<li>
<strong>Spam:</strong> If Gmail identifies an email as spam, it won't get delivered to your child's inbox or spam folder.</li>
</ul><div><br></div><h2>For Kids Over 13</h2><h3>How to create filters&nbsp;</h3><div>When setting up a Gmail account for a child, it is best to set up filters to ensure they do not receive unwanted emails. The filter setting limits who can contact your child via email. If you'd like to add more people to the filter, you can do so from the accounts settings.</div><div>&nbsp;</div><ol>
<li>Sign into your child's Gmail account.</li>
<li>Click on the <strong>gear icon</strong> in the top right corner.&nbsp;</li>
<li>Click <strong>Settings</strong>.</li>
<li>Click on the <strong>Filters and Blocked Addresses </strong>tab.</li>
<li>Click <strong>Create a New Filter </strong>and follow the prompts to create a custom filter.</li>
<li>Opt to have the emails that don't fit into the filter deleted, rather than sent to spam to ensure your child cannot access them.</li>
</ol><div><br></div><h3>How to check your child's email from your account</h3><div>As an added layer of protection, you can choose to receive and view your child's email on your account. Adding an account is not the same as email forwarding. The messages will remain in your child's inbox, but give you access to the messages via separate folders.&nbsp;</div><div><br></div><ol>
<li>Enter the <strong>Settings </strong>section of your own Gmail account using the<strong> gear icon</strong> at the top of the inbox.&nbsp;</li>
<li>Click on the <strong>Accounts and Import</strong> tab.&nbsp;</li>
<li>Click on <strong>Add Account</strong>.&nbsp;</li>
<li>Enter the email address and password that you would like to import.</li>
<li>The added account should be your child's email account.</li>
</ol><div><br></div><h3>How to block an email address from contacting your child</h3><ol>
<li>Open the offending email.&nbsp;</li>
<li>In the top right of the message, click <strong>More</strong>.</li>
<li>Then, click <strong>Block [sender]</strong>.</li>
<li>If you blocked someone by mistake, you can unblock them using these same steps.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Gmail, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments and gmail chats they send and receive. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    PS4
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Sony Playstation 4 (PS4) encompasses more than just video gaming — users can stream music, movies, and TV, as well as browse the web. Because of this, the PS4 can create potentially harmful situations for children, so it’s important to monitor and restrict access to inappropriate content.</div><div><br></div><h2>Sony's Video Game Rating System</h2><div>All PS4 video games hold ratings based on the criteria and judgment of the Entertainment Software Rating Board (ESRB). The most common of these ratings include "E" for games appropriate for everyone, "T" for content acceptable for most teenagers, and "M" for content deemed appropriate only for mature players.</div><div><br></div><div>It is important to remember that the ESRB rating system provides only a general idea of a video game's content. While this can help parents determine what games are appropriate for their children, parents are greatly encouraged to research and review games before purchasing to determine the content they'd like their children to access.</div><div><br></div><div>A simple breakdown of how to use ESRB ratings in conjunction with Sony's parental controls (which use numbers 1-11) include:</div><div><br></div><ul>
<li>Level 0: ESRB RP - RATING PENDING</li>
<li>Level 2: ESRB EC - EARLY CHILDHOOD</li>
<li>Level 3: ESRB E - EVERYONE</li>
<li>Level 4: ESRB E10+ - EVERYONE 10+</li>
<li>Level 5: ESRB T - TEEN</li>
<li>Level 9: ESRB M - MATURE</li>
<li>Level 10: ESRB AO - ADULTS ONLY</li>
</ul><div><br></div><h2>Setting Up PlayStation 4 Parental Controls</h2><div>Sony provides parental control options to help ensure the safety and security of children. Before establishing other parental controls, Sony recommends that you set a system restriction passcode. This allows you to alter and adjust your settings later and prevents others from accessing and changing the restrictions you put in place.<br><br>
</div><h3>How to set a system restriction passcode</h3><ol>
<li>Access the PlayStation's main <strong>Settings</strong> menu, then select <strong>Parental Controls/Family Management.&nbsp;</strong>
</li>
<li>Navigate to <strong>PS4 System Restrictions</strong>. Before setting a custom passcode, you'll need to enter the default code <strong>("0000")</strong>.&nbsp;</li>
<li>Choose a passcode that is simple for you to remember.</li>
</ol><div><br></div><div>After setting up your own system restriction passcode, you'll be able to set up other parental controls on your console, including by each individual user if you have multiple children.<br><br>
</div><h3>How to implement parental controls on PS4</h3><ol>
<li>From the PlayStation's main <strong>Settings</strong> menu, select the <strong>Parental Controls/Family Management</strong> menu.</li>
<li>Select the child account you'd like to manage. We recommend that you create an individual account for each PlayStation user to allow for multiple control options; an older child can access games and other content acceptable for older users, while younger children in the same household can only access content appropriate for younger children.</li>
<li>Choose from the following what you’d like to restrict:</li>
</ol><ul>
<li>
<strong>Restrict games by age level:</strong> Using the system explained above, prevent access to certain games and applications based on Sony's rating system (1-11).</li>
<li>
<strong>Restrict Blu-rays and DVDs:</strong> Restrict the use of Blu-ray discs or DVDs.</li>
<li>
<strong>Restrict internet access: </strong>Through the PlayStation 4's default settings, access to the internet browser can be completely disabled for all websites.</li>
<li>
<strong>Restrict communication with other players:</strong> Setting this parental control prevents communications from other PlayStation players. Chat, messages, friend requests, and game invites will not be received by restricted accounts.</li>
<li>
<strong>Age filtering for PlayStation store content:</strong> Hide games and game features based on your child's age.</li>
<li>
<strong>Restrict use of internet browser:</strong> You can completely disable the PS4’'s Internet Browser from launching.</li>
</ul><div><br></div><h3>How to disable guest profile creation</h3><div>Disabling the creation of guest profiles or additional profiles is important, because this is a popular workaround for kids who want to bypass the set parental controls. Here's how to prevent that:<br><br>
</div><ol>
<li>On your PS4 system, log in as the family manager and navigate to <strong>Settings</strong>.</li>
<li>Next, select <strong>Parental Controls/Family Management</strong>. Then, select <strong>PS4 System Restrictions</strong>.</li>
<li>You'll need to enter the system restriction passcode. If you haven't set this yet, the default is <strong>0000</strong>.</li>
<li>Select <strong>New User Creation and Guest Login</strong> and select <strong>Not Allowed</strong>.</li>
<li>Sony recommends selecting <strong>Change System Restriction Passcode </strong>and changing it to a memorable 4-digit code to prevent other users from gaining access to the parental controls.</li>
<li>When you're done, your changes will be saved automatically.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    PUBG
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>PlayerUnknown’s Battlegrounds, better known by the acronym PUBG, is a large-scale multiplayer military shooter. This involve teams of one to four players competing to be the last ones standing. There are no re-spawns, so just one death leaves players sitting on the sidelines waiting for their friends or, once their team is eliminated, queuing for the next game.</div><div><br></div><div>In contrast to the accessible Fortnite, PUBG is a more realistic and violent experience. The game is currently available on PC, Xbox One, Android, and iOS. The developer, PUBG Corporation, confirmed that a PS4 version is coming soon, and other platforms are being evaluated.</div><div><br></div><h2>Is PUBG appropriate for children?&nbsp;</h2><div>PUBG is explicitly targeted at a mature audience. While it does not have over-the-top, gratuitous violence, the art style is realistic.</div><div><br></div><h3>Mature content</h3><div>Children are at risk of being exposed to offensive or violent content from other players. At the start of each game, all 100 players spawn into smaller areas together while waiting to begin. Often, at least a few players use this time to abuse the proximity chat feature to say offensive things to a captive audience.</div><div><br></div><h3>Communication with strangers</h3><div>PUBG features text chat (for iOS and Android versions only), live, in-game team voice chat, and proximity voice chat. Proximity voice is a feature that allows any of the 100 players in the game to hear each other speak in real time as long as they are close to each other in the game world. If your child is playing PUBG with friends on Xbox Live or Steam, the best communication option is to use the built-in voice chat features that come with those services while disabling proximity voice features that open up the possibility of hearing from strangers.</div><div><br></div><div>There is an in-game reporting system for individual players. While most notable bans are related to cheating, PUBG Corporation recommends reporting players that cross the line with regards to profanity or threats.</div><div><br></div><h2>In-Game Safety Settings&nbsp;</h2><div>For PC, iOS, and Android players, in-game settings and report systems can be used to create an appropriate environment for children. For Xbox One owners, the standard Xbox Live privacy features apply.</div><div><br></div><div>Text can be important for communication in PUBG, but the amount of profanity and other offensive content produced by some players is inappropriate for children. Turning on the profanity filter in the settings is recommended for parents who are satisfied with simple word censoring.</div><div><br></div><h2>How to Turn Off Voice Chat</h2><h3>For PC, iOS, or Android Users&nbsp;</h3><ol>
<li>Click the <strong>gear</strong> icon with the word <strong>Settings</strong> next to it.</li>
<li>Choose <strong>Sound</strong>.</li>
<li>Under the <strong>Voice Chat Mode</strong> heading, choose <strong>Mute</strong>.</li>
<li>Under <strong>Voice Chat Channel</strong>, choose <strong>None</strong>.</li>
<li>If you want to allow party chat but not proximity voice, under <strong>Voice Chat Channel</strong> instead of None, choose <strong>Party</strong>.</li>
<li>For iOS and Android users, the profanity filter is on at all times, with no ability to disable it. There is no option to turn off chat. There is no text chat in the other versions of the game.</li>
</ol><div><br></div><h3>For Xbox One Users&nbsp;</h3><ol>
<li>Visit <a href="https://account.xbox.com/en-US/settings">https://account.xbox.com/en-US/settings</a>. Log in with the Xbox Live username and password your child uses.</li>
<li>Click <strong>Privacy and Online Safety</strong>. Each game has a different array of settings. Choose <strong>PlayerUnknown’s Battleground</strong>.</li>
<li>Look for <strong>Others Can Communicate with Voice, Text, or Invites Settings</strong> and choose <strong>Blocked</strong>. This disables voice and text communications for PUBG on the account.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Spectrum
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. You will have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com&nbsp;</li>
<li>Spectrum TV channel apps.&nbsp;</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users:</div><div><br></div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong> and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users:<strong><br></strong><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for Preferences will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable parental controls. You might need to select the <strong>lock</strong> icon on the <strong>Parental Control</strong> window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block.</li>
</ol><div>NOTE: You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your <strong>Parental Control</strong> and <strong>Browser Protection</strong> settings. If a website is added to the website exception list, it won't be blocked for any reason.</div><div><br></div><h2>Parental Control Features</h2><div>Once in the Security Suite, you can turn on and adjust settings for the features detailed below.</div><div><br></div><h3>Content blocker</h3><div>Restrict access to sites based on content or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.&nbsp;</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.&nbsp;</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.&nbsp;</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under <strong>Channel blocks</strong>, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Spectrum
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Here are some tips for navigating parental controls with Spectrum internet services.</div><div><br></div><h2>Spectrum Parental Controls</h2><div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. For example, you have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com</li>
<li>Spectrum TV channel apps</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong>, and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for <strong>Preferences</strong> will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable <strong>Parental Controls</strong>. You might need to select the <strong>lock</strong> icon on the Parental Control window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block. You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your Parental Control and Browser Protection settings. If a website is added to the website exception list, it won't be blocked for any reason.<em><br></em><br>
</li>
</ol><h2>Spectrum’s Security Suite Parental Controls</h2><h3>Content blocker</h3><div>Restrict access to sites based on content, or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under Channel blocks, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows Vista
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows Vista is an older Windows operating system used on PCs and tablets. It was made available to the general public in January 2007 and received its final update in Service Pack 2, which was released in May 2009. Even though it’s no longer updated, parents can still set restrictions.<br><br>
</div><h2>Setting Up Parental Restrictions</h2><h3>How to create a user account for your child</h3><ol>
<li>Open the <strong>Control Panel</strong>.</li>
<li>Select <strong>User Accounts</strong> and <strong>Family Safety</strong>.</li>
<li>Click <strong>Add or Remove User Accounts</strong> to set up your child’s user account.<ol><li>Make sure this account is a non-administrator. Otherwise, your child has access to the area where parental controls are set.</li></ol>
</li>
</ol><div><br></div><h3>How to access parental controls for your child’s account</h3><ol>
<li>Click <strong>Set up Parental Controls for Any User</strong> to start the process.</li>
<li>Click the user account you want to set controls for from the list.</li>
<li>Enable parental controls by clicking <strong>On, Enforce current settings</strong>.</li>
<li>If you want to get a report of the child’s user activity, then click <strong>On, Collect information about computer usage</strong>. This way, you’ll be able to see all the websites your child looks at, the files they downloaded, when they logged on, the programs they used, and more.</li>
<li>Use the <strong>Windows Vista Web Filter</strong> to control your child’s internet experience.<ol>
<li>Choose the content you wish to block or allow.</li>
<li>Choose to allow or block file downloads.</li>
</ol>
</li>
<li>Use the <strong>Time limits</strong> section to control the times your child can use the computer.</li>
<li>Use the <strong>Games</strong> section to control the games your child can play.<ol>
<li>Choose the rating, or mix and match content.</li>
<li>Choose the games rating provider.</li>
<li>Block specific games, if you wish.</li>
</ol>
</li>
<li>Allow or block use of specific programs.</li>
<li>Click <strong>OK</strong> when finished.</li>
<li>Repeat for any additional children.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Safari
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Safari is the internet browser that comes with all Apple computers, and it possesses some built-in parental control features to help protect your children online. For these to work, you must first create a user profile for your child on the Apple device, then adjust the system settings to apply to Safari.</div><div><br></div><div>NOTE: These instructions apply to Mac computers using Sierra OS. Menu options may vary slightly, but generally the instructions should be similar for other Mac OS versions.<br><br>
</div><h2>How to Create a User Profile for Your Child on an Apple Computer</h2><ol>
<li>Log in to your administrator account on the device.</li>
<li>Click <strong>System Preferences</strong>.</li>
<li>Next, click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon in order to begin making changes. Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Choose the Age:<ol>
<li>4+</li>
<li>9+</li>
<li>12+</li>
<li>17+</li>
</ol>
</li>
<li>Add the full name of your child.</li>
<li>Next, enter an account name.</li>
<li>Enter a password.</li>
<li>Create a password hint in case your child forgets the password. (If it is forgotten, you can log in to your administrator account and reset the password).</li>
<li>Click <strong>Create user</strong>.</li>
<li>When finished, click the <strong>lock</strong> icon again to prevent further changes.</li>
</ol><div><br></div><h2>How to Set Parental Controls for Safari</h2><ol>
<li>Click <strong>System Preferences</strong>.&nbsp;</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes. Enter your password when prompted.</li>
<li>Select the user account whose parental controls you want to manage.</li>
<li>Click <strong>Enable Parental Controls</strong>.</li>
<li>Click <strong>Web</strong>. While you can use this interface to implement parental controls for the entire computer, since this focuses on the Safari browser, we’ll ignore the other tabs and options.</li>
<li>Choose one of the following options:<ul>
<li><strong>Allow unrestricted access to websites</strong></li>
<li>
<strong>Try to limit access to adult websites</strong>.<strong> </strong>You can click the <strong>Customize</strong> button to add a list of sites to always allow, and a list of sites to never allow.</li>
<li>
<strong>Allow access only to these websites</strong>.<strong> </strong>There are a number of websites in this list, including Bing, Google, Facebook, Twitter, and others. Click the <strong>+</strong> to add another site to the list. Click a site in the list and then the <strong>-</strong> button to remove a site from the list.</li>
</ul>
</li>
<li>When finished, click the <strong>lock</strong> icon to prevent additional changes.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Safari, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor web browsing for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Galaxy Tab
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Samsung Galaxy Tab series is a line of tablets that uses the Android operating system. These tablets are portable, have Wi-Fi capability, and come with a variety of other features — including easy-to-use parental controls in their Kids Mode app.<br><br>
</div><h2>The Kids Mode Parental Control App</h2><div>The Samsung Galaxy Tab products are best managed with the Kids Mode app, which provides children with age-appropriate content while allowing parents to restrict access to apps and stored media content on the device. The Kids Mode app is only available on newer generations (Samsung Galaxy Tab 3 and higher). Please install the latest Android operating system update beforehand to make sure Kids Mode runs smoothly.</div><div><br></div><div>Since the Kids Mode app can be toggled on and off, you need to begin by setting up a user profile for your child on the device.</div><div><br></div><h3>Create a user profile for your child on a Samsung Galaxy Tab</h3><div>&nbsp;</div><ol>
<li>Go to the tablet’s <strong>Home</strong> screen.</li>
<li>Tap on the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Users</strong>.</li>
<li>Tap <strong>Add user or profile</strong>.</li>
<li>Tap <strong>Choose restricted profile</strong>.</li>
<li>Create a password.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><div>Once you’ve set up a user profile for your child, you can download the Kids Mode app.<br><br>
</div><h3>Download Kids Mode</h3><ol>
<li>If Kids Mode is not already on your device, open the <strong>Google Play Store</strong>.</li>
<li>Search <strong>Samsung Kids Mode</strong> to pull up the Kids Mode app, created by Samsung Electronics Co. Ltd.</li>
<li>Tap <strong>Install</strong>.</li>
</ol><div><br></div><h3>Set up Kids Mode</h3><ol>
<li>From the <strong>Home</strong> screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Enter a new four-digit PIN.&nbsp;</li>
<li>Enter your child’s name and birthday for their Kids Mode profile.</li>
<li>Tap <strong>Accept</strong> on the disclaimer.</li>
<li>Tap <strong>Skip</strong> to add apps to Kids Mode later, or <strong>Next</strong> to do it now.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><h3>Add apps using Kids Mode</h3><div>Which apps are your child allowed to use on their Samsung Galaxy Tab? That’s up to you! Decide which apps are permitted when Kids Zone is activated — you can add up 30.</div><div>&nbsp;</div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.</li>
<li>Tap <strong>Applications</strong>.</li>
<li>Tap the <strong>Add</strong> icon in the upper right-hand corner.</li>
<li>If a disclaimer appears, tap <strong>Accept</strong> to agree and continue.</li>
<li>Select the apps you’re allowing your child to use by touching the box. A green checkmark will appear on each selected app.</li>
<li>Tap <strong>Done</strong> when you’re finished.</li>
</ol><div>&nbsp;</div><div>Even without allowing access to additional apps, children using Kids Mode will automatically have access to the following apps:<br><br>
</div><ul>
<li>Kids Drawing</li>
<li>Kids Music</li>
<li>Kids Media</li>
<li>Kids Voice Recorder</li>
<li>Kids Camera</li>
<li>Kids Photo Gallery</li>
<li>Kids Store (they can view and save apps, but only parents can choose to purchase or download an app)</li>
</ul><div><br></div><h3>Create time restrictions using Kids Mode</h3><div>How long should your child be allowed to use their Samsung Galaxy Tab? You can control exactly how long they can use the device in a single day.&nbsp;</div><div><br></div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.&nbsp;</li>
<li>Select <strong>Daily playtime limit</strong>.</li>
<li>You can choose to leave it on <strong>No time limit</strong>, or you can click <strong>Time limit</strong> (default is 30 minutes per day) and tap the <strong>Settings</strong> icon to personalize the time limit in five-minute intervals (0-180 minutes).</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>