<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    KitKat – 4.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android KitKat</strong>, which is version 4.4 - 4.4.4. This is an older version of Android, as it was released October 31, 2013.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 4.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:&nbsp;</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.&nbsp;</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a><br>.</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S9
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S9 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S9 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S9 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.<br><br>
</div><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>From the Mobile section, tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Toggle the <strong>Limit mobile data usage</strong> switch on.</li>
<li>If prompted, tap <strong>OK </strong>to confirm.</li>
<li>Tap <strong>Data limit.</strong>
</li>
<li>Enter the desired level.</li>
<li>Tap <strong>Set</strong>.</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>From the Mobile section, toggle the <strong>Alert me about data usage</strong> switch on.</li>
<li>Tap <strong>Billing cycle and data warning.</strong>
</li>
<li>Tap <strong>Set Data </strong>warning to turn on.</li>
<li>Tap <strong>Data warning.</strong>
</li>
<li>Enter the desired level</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fi
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Project Fi is a unique cell phone service provider that gives customers exact controls on their monthly spending. Rather than being surprised by overage charges, or having to sign up for plans based around much larger amounts of data than you actually use, Google Fi plans give hard data caps starting at 1GB per month.</div><div><br></div><div>The tech trick behind Project Fi that allows for this level of flexibility is in seamlessly switching between Wi-Fi and over-the-air networks. Because Project Fi only supports a handful of approved phones with custom ROMs, Google gains a level of control over how Project Fi devices manage their data in ways that most carriers can't. For users, they won't need to pay attention to whether their phone automatically latched onto the data from an approved Google Wi-Fi source, or if they've swapped to using an over-the-air connection for their calls.<br><br>
</div><div>This works nicely for carriers, who subcontract their towers out to Google yet receive much less direct bandwidth due to these phones using Wi-Fi whenever possible. And it's equally beneficial for customers, who can choose to stay with low-cost monthly plans since they'll use less data overall than on a conventional smartphone.</div><div><br></div><div>Users, as of 2018, pay $10 per GB of data as well as a base $20 a month fee. Additional users added to the same account cost $15 a month each. After the chosen data cap is used, users do not lose data access but are limited to heavily throttled speeds. This means simple apps like text-only email and navigation apps will still work as intended, while things like streaming video will be heavily hampered.</div><div><br></div><h2>Is Google Fi Appropriate for Family Usage?</h2><div>One major drawback to Project Fi in the past was the lack of any network-level parental controls. Users could manage data through their Google Fi app to allow or disallow data on each line, but beyond that, limitations need to be handled on an app-by-app basis. As of 2018, however, Project Fi is fully integrated with Family Link.</div><div><br></div><div>Family Link is an all-encompassing app that allows parents to fully control everything from which apps their children are allowed to use, what times they can't activate their phone's screen, and much more.</div><div><br></div><h2>How to Obtain and Set Up Family Link for Project Fi</h2><ol>
<li>On the primary account, go to the <strong>Google Play Store</strong> app.</li>
<li>Search for "Google Family Link." Double check that the listed developer is "Google" to avoid downloading a similarly-named app.</li>
<li>
<strong>Launch</strong> the Family Link app.</li>
<li>Log in with your Google account, or whichever account you intend to be the primary administrator for Family Link.</li>
<li>Follow the on-screen guide for adding each child's Google account, linking them to the primary account. Each linked account will also have to download the Family Link app to their phones and login with their individual accounts for these features to activate.</li>
</ol><div><br></div><h2>How to Use Family Link</h2><ol>
<li>After following the steps above, launch the Family Link app on the primary administrator's smartphone.</li>
<li>Choose the account you would like to monitor or manage.</li>
<li>Tap <strong>Activity</strong> to see usage information. Scroll through the data to see which apps were used and for how long, how often the screen was on, and more. Tap any of these to set limits on screen, data, or app usage.</li>
<li>To see the GPS location of the phone, tap <strong>Location</strong>.</li>
<li>Choose <strong>Apps</strong> to see which apps your child has downloaded. If their account is restricted to seek approval from the primary account before downloading, you'll see a list of requested downloads to individually approve or deny. Tap an app for additional options; usually, you'll just see whether to enable or disable in-app purchases for this specific app.</li>
<li>Tap <strong>Recommended Apps</strong> to see a list of curated suggestions for apps known to be safe and appropriate for children. You can queue these to be automatically downloaded to your child's phone.</li>
</ol><div><br></div><h2>How to Manage Project Fi Data Usage</h2><ol>
<li>Go to the Project Fi website at <a href="https://fi.google.com/">https://fi.google.com/</a>
</li>
<li>Log in with the primary account holder's Google account.</li>
<li>Select <strong>Account</strong>.</li>
<li>Choose <strong>Manage Plan</strong>.</li>
<li>Click <strong>Add a Person</strong>.</li>
<li>In the input field that pops up here, put in the Google account names for each child or other user you'd like to share your Project Fi account with.</li>
<li>Each invited user will receive an email link that lets them opt in to your Project Fi account. Have them click the link and follow the on-screen instructions.</li>
</ol><div><br></div><h2>How to Turn On Data Alerts for Project Fi</h2><ol>
<li>Open the <strong>Project Fi</strong> app on the primary account holder's smartphone.</li>
<li>Tap <strong>Account Settings</strong>.</li>
<li>Choose <strong>Alerts</strong>.</li>
<li>There is a list of notification levels; choose the one appropriate for your family based on how frequently you'd like to see warnings for how much data is being used.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    YouTube
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>YouTube is the second-most popular website in the world, with over 400 hours of content uploaded every minute. On average, teens spend more time watching YouTube than any other video platform, including TV, Netflix, and movies. It’s the go-to place for videos for nearly everyone in the world — and for this reason, there is the potential for exposure to risky or inappropriate content for kids.<br><br>
</div><h2>General Things to Remember</h2><ul>
<li>&nbsp;If a user is signed out of their account, YouTube will automatically block all content that requires age verification.</li>
<li>&nbsp;Kids can access YouTube in several different ways, including browsers, the app itself, smart TVs, Kindles, and iPads.</li>
<li>&nbsp;Kids can also create a fake profile that states that they’re older, allowing them to watch YouTube with no restrictions.</li>
<li>&nbsp;A YouTube proxy is a tool that hides a user’s IP address, allowing them to bypass internet censorship and watch YouTube videos, including those that are blocked in their region. Kids may also use virtual private networks (VPNs) for the same reason.<br><br>
</li>
</ul><h2>YouTube Kids</h2><div>Developed with younger children in mind, YouTube Kids is a separate app with limited functionality. It doesn’t grant unlimited access to the wider YouTube network. It’s also able to be entirely controlled by parents.<br><br>
</div><div>With YouTube Kids, parents decide:<br><br>
</div><ul>
<li>The content level setting<ul>
<li>
<strong>Younger:</strong> Kids and 8 under</li>
<li>
<strong>Older:</strong> Kids 8 to 12</li>
</ul>
</li>
<li>Whether a child can use the search function in the app</li>
</ul><div><br></div><h2>Setting Up YouTube for Kids Under 13</h2><div>Many parents will pull up YouTube Kids on their own personal devices while logged into their Google/YouTube accounts. You can also use YouTube Kids without signing in at all. But for kids under 13 who have their own devices and will be using YouTube Kids, it’s best to create a Google Account for them. This should take about 15 minutes.<br><br>For managing kids under 13, Google has an app called Family Link that helps parents to set it up on both Android and iOS. Here's how to set it up:</div><div><br></div><div>1. Open the <strong>Family Link app</strong>. If you don’t have the Family Link app, visit the Family Link setup page to get started.</div><div>2. In the top right, tap “<strong>Create + </strong>.”</div><div>3. Follow the instructions on screen to create the account.</div><div>4. When you’re done, a confirmation will show on the screen.&nbsp;<br><br>
</div><h3>How to change settings on YouTube Kids</h3><div>You can adjust the YouTube Kids content settings as your kids mature. Here’s how:<br><br>
</div><div>1. On your device, open the <strong>Family Link</strong> app.</div><div>2. Select your child.</div><div>3. On the <strong>Settings</strong> card, select <strong>Manage settings</strong>.</div><div>4. Tap <strong>More</strong>, then select <strong>YouTube Kids</strong>.</div><div>5. Choose your child’s settings:<br><br>
</div><div>• <strong>Content level:</strong> Choose the content level that’s right for your child — whether older or younger.</div><div>•<strong> Search</strong>: Turn Search on or off.<br><br>
</div><div>You can also use the Family Link app to manage your child’s activity settings, including their YouTube search and watch histories.<br><br>
</div><h3>How to allow only approved content on YouTube Kids</h3><div>With this setting, your child will only be able to watch videos, channels, and collections that you’ve handpicked. Nothing is left to chance by the algorithm.<br><br>
</div><div>1. Tap the <strong>Lock</strong> icon in the bottom corner of any page within in the app.</div><div>2. Complete the multiplication problem, or read and enter the numbers that appear. You may also enter your custom passcode.</div><div>3. Tap <strong>Settings</strong>.</div><div>4. Choose your child’s profile and enter your parent account password to modify settings.</div><div>5. Select <strong>Approved content only</strong> to enable.</div><div>6. Review the information in the <strong>Getting Started </strong>pop-up.</div><div>7. Tap <strong>Start</strong>.</div><div>8. Tap the icon on any collection, channel, or video to approve content you’d like to make available to your child.</div><div>9. Tap <strong>Done</strong> in the red box at the bottom of the screen to exit.<br><br>
</div><h2>Teens and YouTube</h2><div>Once your child turns 13, they will be presented with two options: manage their own Google account, or continue to have a parent manage it.<br><br>
</div><div>Teens can choose to stop this supervision at any time. Unfortunately, it gets harder to directly control what teenagers do on YouTube because of the company’s Terms of Service. At this point, we recommend having open, honest, and frequent conversations regarding content and how to navigate the online world — as well as what the potential dangers are.<br><br>
</div><h3>Using Restricted Mode</h3><div>Restricted Mode works on the browser or device level, so you must turn it on for each browser you use. If your browser supports multiple profiles, you must enable it for each. Restricted mode will limit videos with drugs, alcohol, sexual situations, violence, and more.<br><br>
</div><h3>How to turning Restricted Mode on or off</h3><div>1. Go to the <strong>Account</strong> icon.</div><div>2. Tap <strong>Restricted Mode</strong>.</div><div>3. In the dialogue box that appears, toggle restricted mode to <strong>On</strong> or <strong>Off</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On YouTube, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the videos your child posts, comments made to those videos, and new videos posted to your child's user and channel subscriptions. <a href="http://bark.us/?s=barkomatic">Bark</a> can also monitor YouTube views and searches only on connected Android or Amazon devices (and even on incognito mode!). If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Clash of Clans
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Clash of Clans is a strategic action video game set in a fantasy world where the player is the chief of their own village. Clans of up to 50 players can merge to work together while sharing a group chat. Clash of Clans was designed with teens in mind, but potential hazards include inappropriate language and conversations in chat rooms.</div><div><br></div><h2>Parental Controls</h2><div>Parental controls will need to be set on each device kids might use to play the game. Supercell, the company that owns Clash of Clans, works hard to maintain a safe and secure environment for players. The game doesn't have a private chat facility, and it displays regular warnings against sharing personal information.<br><br>
</div><div>If there are any issues, Clash of Clans contains prominent tools for players to report any offensive, insulting, or inappropriate behavior. It’s also possible for users to mute chats from any player whose messages they do not want to see. If users prefer to report any concerns by email, messages can be sent to parents@supercell.com.</div><div><br></div><h3>How to filter chats for profanity</h3><ul>
<li>Tap on the <strong>gear</strong> icon in the lower right-hand corner.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Make sure <strong>Filter Clan Chat</strong> is set to <strong>Off</strong>.</li>
</ul><div><br></div><h3>How to mute a specific user in chat</h3><ol>
<li>On the left hand side of the screen, swipe the <strong>&gt;</strong> icon to open the chat window.<ol><li>There is a general, global chat and a clan chat option of around 40 people, if your child has joined one. Some clans may be friends your child knows in real life, or it could be composed of strangers.</li></ol>
</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Mute</strong>. You will no longer see chats from this user.</li>
</ol><div><br></div><h3>How to report a specific user for inappropriate behavior in chat</h3><ol>
<li>On the left-hand side of the screen, swipe the <strong>&gt;</strong> icon.</li>
<li>Tap on the offending user’s name.</li>
<li>Tap <strong>Report</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    EA/Origins
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>EA (Electronic Arts) is a video game developer that has created some of the most popular games available today, including Star Wars: Battlefront II, Battlefield, Madden, The Sims, and more. To complement their extensive library of games, EA built a gaming platform called <strong>EA Origin</strong>, which is downloadable on PC, Mac, and the Xbox and PlayStation marketplaces. Players can log in to EA Origin and access all of their EA games, play games without internet access (on PC and Mac only), and connect with friends — all in one place.</div><div><br></div><div>EA Origin also features an optional monthly PC gaming subscription called <strong>Origin Access</strong>. This subscription has a <strong>Basic</strong> package and a more expensive <strong>Premier</strong> package that grants access to over 150 games and the ability to play games before they’re released with <strong>Play First Trials</strong>.</div><div><br></div><div>While EA games have become a staple of the modern childhood experience, many games contain graphic content that may be unsuitable for your child. It’s important to use the available parental controls so your child isn’t exposed to content they can’t handle, whether it’s violent gameplay, mature imagery, or vulgar chatroom discussions.</div><div><br></div><h2>Setting Up a Primary Account</h2><div>In order to set up a child account, EA requires that you first create a profile for yourself. You can then create their child's profile as a sub-account.</div><div><br></div><ol>
<li>Start by navigating to <a href="http://www.origin.com/">www.origin.com</a>.</li>
<li>Click the <strong>Register</strong> button, which is below the orange sign in button.</li>
<li>Input your <strong>Country/Region</strong> and <strong>Date of Birth</strong>.</li>
<li>On the next screen, add your <strong>Email Address</strong> and create a <strong>Password</strong>.</li>
<li>Underneath the heading "<strong>People can find me by searching…</strong>", create a new <strong>Public ID </strong>(otherwise known as a "username"). To protect your anonymity, it’s best not to use your real first or last name.</li>
</ol><div><br></div><div>Now that you have created your main account, you'll need to download and install the EA Origin app to create your child's account. To do this:</div><div><br></div><ol>
<li>
<strong>Log out</strong> of your EA Origin account.</li>
<li>Navigate back to the <a href="http://www.origin.com/">Origin homepage</a>.</li>
<li>In the menu on the left side of the page, click the <a href="https://www.origin.com/usa/en-us/store/download"><strong>Download</strong></a> button.</li>
<li>Select either the<strong> Windows</strong> or<strong> Mac</strong> download button.</li>
</ol><div><br></div><h2>Setting Up a Child Account</h2><div>Once the EA Origin app is installed, you can begin creating your child's account:</div><div><br></div><ol>
<li>Click on the app to open the<strong> </strong>log-in window.</li>
<li>Select <strong>Create An Account</strong> at the top of the window.</li>
<li>Input the <strong>Country/Region</strong> and your child's <strong>Date of Birth</strong>.<ul><li>NOTE: It is <em>very</em> important that you input the correct age for your child to allow for the appropriate restrictions.</li></ul>
</li>
<li>Read and accept the Privacy &amp; Cookie Policy and the User Agreement, then click <strong>Next</strong>.</li>
<li>Enter your email address for your personal EA Account and choose a password in the top two fields.</li>
<li>Then create a Public ID for your child. Avoid using your child's real name.</li>
<li>Click <strong>Create Account</strong>.</li>
<li>A verification email will be sent to your inbox. Click the appropriate link to verify that you are the parent or guardian.<ul><li>The new child's account will use your personal password by default. Make sure to change the password before letting your child access the account:<ol>
<li>Navigate back to the <strong>EA Origin login screen</strong>.</li>
<li>Select the <strong>Forgot your password?</strong> link below the sign-in button.</li>
<li>Type in your <strong>child's Public ID</strong>.</li>
<li>You will receive an email to reset the password.</li>
</ol>
</li></ul>
</li>
</ol><div><br></div><h2>Child Account Restrictions</h2><h3>Multiplayer games</h3><div>It's worth noting that accounts for children under the age of 13 will not have access to many online multiplayer games, depending on the gaming console they have. If you want your child to be able to play any online multiplayer game on a PC, Mac, or PlayStation 3, the game will need to be purchased and played on your adult account, which is not recommended without supervision. Xbox One, Xbox 360, and PlayStation 4 consoles all allow customized parental controls using each console's built-in parental control settings.<br><br>
</div><h3>Marketplace</h3><div>Child accounts do not have access to the Origin Store, so your child will not be able to purchase games through their account. Games can be added manually by <a href="https://help.ea.com/en-us/help/origin/origin/origin-code-redemption-faq/">redeeming the Product Code</a> in your child's account.</div><div><br></div><h3>Social interaction</h3><div>At this time, EA does not allow social interaction on a child account. Adult accounts have the ability to add friends by searching a Public ID or email address.</div><div><br></div><h2>When Your Child Gets Older</h2><div>Once your child reaches a certain age, EA will <a href="https://help.ea.com/en-us/help/account/aging-up-an-origin-account-to-an-adult-account/">automatically notify your child</a> that they are allowed to change their child account to a full-access account. This age varies by country or region, but it is typically 13 years old.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Cox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Cox Communications offers several features to help parents keep an eye on their kids' internet activity. Here is a complete guide to the best parental controls for Cox Communications customers.</div><div><br></div><h2>Controls for Internet Access</h2><div>Parental control features are free for Cox High-Speed Internet customers as part of your Cox Security Suite Powered by McAfee®. Parental controls allow you to customize safety features based on your child's age and your family values.</div><div><br></div><div>Cox Security Suite allows customers to do the following:</div><div><br></div><ul>
<li>Control children's time spent online</li>
<li>Restrict access to age-appropriate websites only</li>
<li>Give older children some freedom by blocking access to categories of websites, like sites dealing with gambling, dating, or alcohol</li>
<li>Block specific websites for older children, allowing access to most of the internet</li>
<li>Receive daily email reports about your child's online activity, including time spent and websites visited</li>
</ul><div><br></div><h2>Cox Security Suite Settings</h2><div>Cox Security Suite is compatible with Windows computers and Mac computers as well as Android and Apple devices.</div><div><br></div><div>To download Cox Security Suite for Windows:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>Your personalized McAfee <strong>My Account</strong> page displays. From the McAfee My Account page, click <strong>PC</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: If you are using a non-Microsoft browser, make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>On the Installer File pop-up window that displays, click <strong>Open</strong>.</li>
<li>Select either <strong>Complete Install</strong> or <strong>Custom Install</strong>, then click <strong>Next</strong>.<br>NOTE: Custom Install allows you to select specific features if you do not want to install all features.</li>
<li>A pop-up may display asking you to allow this program to make changes. Click <strong>Yes</strong> to allow these changes.</li>
<li>The download process begins. Once complete, your computer is protected.<br><br>
</li>
</ol><div>To download Cox Security Suite for Mac:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>From the McAfee <strong>My Account</strong> page, select <strong>Mac</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: Make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>Complete the following:<ol>
<li>Click <strong>Download</strong>.</li>
<li>Click <strong>Open</strong>.</li>
<li>Enter your Mac administrator Username and Password.</li>
<li>Enter the serial number provided.</li>
<li>Click <strong>Next</strong>.</li>
</ol>
</li>
<li>Once the download is complete, click <strong>Finish</strong>. A confirmation pop-up displays to install WebAdvisor.</li>
<li>Select the desired option to complete your installation.</li>
<li>Click <strong>Install</strong>. The WebAdvisor is downloaded and installation is complete.<br><br>
</li>
</ol><div>Begin by downloading and installing the software as described <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html">here</a>. Once the Cox Security Suite software is installed on your device, you’ll have access to these easy-to-use parental control tools.</div><div><br></div><div>To download Cox Security Suite for a smartphone/tablet:</div><div>
<br>It’s recommended to begin this process on a computer. Click <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html#download">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</div><div><br></div><ol>
<li>Sign in with your Cox Primary User ID and Password.</li>
<li>From the McAfee My Account page, click <strong>Mobile</strong> from the drop-down, then click <strong>Send Link</strong>.<br><br>
</li>
</ol><h3>Web &amp; Email Protection</h3><div>To change your firewall and anti-spam settings, follow these steps:</div><div><br></div><ol>
<li>Open the <strong>Cox Security Suite Plus Console</strong> by double-clicking the <strong>McAfee icon</strong> on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the <strong>Navigation</strong> tab to view features and navigate to <strong>Web &amp; email protection</strong>.</li>
<li>Click <strong>Firewall</strong> to toggle your firewall on or off or create new settings.</li>
<li>Click <strong>Anti-spam</strong> to toggle spam management on or off.</li>
</ol><div><br></div><h3>Parental Controls</h3><div>The Cox Security Suite offers basic parental controls for your PC.</div><div><br></div><ol>
<li>Open the Cox Security Suite Plus Console by double-clicking the McAfee icon on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the Navigation tab to view features and navigate to Parental Controls.</li>
<li>Next to <strong>Administrative Password</strong>, click <strong>Set</strong> to save a new password.</li>
<li>Click <strong>Edit</strong> next to <strong>Protect Your Family</strong> to customize your settings.</li>
<li>At the bottom of the page, you’ll see a <strong>Parental Controls Report</strong> that allows you to see whether your protected devices tried to view blocked content.</li>
</ol><div><br></div><h3>Privacy Settings for Mobile Devices</h3><div>Your Cox Security Suite also offers basic protection for Android and Apple phones and tablets.</div><div><br></div><ol>
<li>Log in to your <strong>McAfee Mobile Security</strong> center.</li>
<li>Click <strong>Privacy</strong>.</li>
<li>Tap the <strong>&gt;</strong> next to a profile to adjust settings.</li>
<li>Tap the box next to each app or website that is allowed for the profile.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Tap the circle next to the profiles name and tap <strong>Activate</strong>.</li>
</ol><div><br></div><h3>Lock Device</h3><div>To remotely lock your child’s device, follow these steps:<br><br>
</div><ol>
<li>Visit <a href="http://www.cox.com/securitysuite">www.cox.com/securitysuite</a> and click <strong>Access Security Suite Plus</strong>.</li>
<li>Once you are signed in, click on the tab that represents the device you’d like to lock.</li>
<li>Click <strong>Lock</strong>.</li>
<li>You can unlock the device by deselecting the <strong>Lock</strong> button.</li>
</ol><div><br></div><div>Cox Communications offers several parental control features, but it doesn't cover everything. If you are looking for an easy way to monitor your child or teen's online activity, check out the <a href="https://www.bark.us/">Bark app</a> for more information. Bark provides peace of mind to parents raising kids in a digital age.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire Stick
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Amazon Fire Stick plugs into your TV’s HDMI port and gives you access to streaming services, TV shows, movies, apps, music, photos, and games.<br><br>
</div><h2>Amazon Fire Stick Parental Control Settings</h2><h3>How to turn on parental controls</h3><div><br></div><ol>
<li>Select Settings from the Fire TV menu</li>
<li>Open Preferences</li>
<li>Select Parental Controls and press the ‘Select’ button on your remote to turn parental controls ON</li>
<li>Enter or set your PIN if prompted. (Use the ‘Menu’ button on your remote to change between sets of numbers</li>
<li>Select Next when you're done</li>
</ol><h3><br></h3><h3>How to manage parental controls</h3><div>After you set or enter your PIN, you can manage the following parental controls preferences:</div><ul>
<li>
<strong>Purchases</strong> - Require your PIN to authorize purchases from Amazon.&gt;</li>
<li>
<strong>App Launches</strong> - Require your PIN to open installed apps on your device. You can still browse Apps from the Fire TV menu, but will be prompted to enter your PIN before you can access any apps or games installed on your device.</li>
<li>
<strong>Prime Photos App</strong> - Require your PIN to open the Prime Photos app, which you can use to view your photos and personal videos from Amazon Drive on your Fire TV.</li>
<li>
<strong>Viewing Restrictions</strong> - Block playback of movies and TV shows, based on their ratings category.</li>
<li>
<strong>Explicit Filter for Amazon Music</strong> - Block playback of songs that contain explicit words and phrases. When the filter is switched on, songs that contain explicit lyrics aren't played. Instead of bleeping out or removing explicit lyrics within a song, the filter prevents playback of the song itself. To enable this setting:</li>
</ul><ol>
<li>Open the music app.</li>
<li>Tap the Settings icon.</li>
<li>Toggle explicit filter on or off.</li>
<li>Change your PIN - Change your Prime Video PIN directly on your Fire TV device.</li>
</ol><h2><br></h2><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic">Bark</a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.<br><br>
</div><div>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic">free, one-week trial</a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic">learn more</a>.&nbsp;<br><br>
</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Cox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Cox Communications offers several features to help parents keep an eye on their kids' internet activity. Here is a complete guide to the best parental controls for Cox Communications customers.</div><div><br></div><h2>Controls for Internet Access</h2><div>Parental control features are free for Cox High-Speed Internet customers as part of your Cox Security Suite Powered by McAfee®. Parental controls allow you to customize safety features based on your child's age and your family values.</div><div><br></div><div>Cox Security Suite allows customers to do the following:</div><div><br></div><ul>
<li>Control children's time spent online.</li>
<li>Restrict access to age-appropriate websites only.</li>
<li>Give older children some freedom by blocking access to categories of websites, like sites dealing with gambling, dating, or alcohol.</li>
<li>Block specific websites for older children, allowing access to most of the internet.</li>
<li>Receive daily email reports about your child's online activity, including time spent and websites visited.</li>
</ul><div><br></div><h2>Cox Security Suite Settings</h2><div>Cox Security Suite is compatible with Windows computers and Mac computers, as well as Android and Apple devices.</div><div><br></div><h3>Download Cox Security Suite for Windows</h3><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a"><strong>here</strong></a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>Your personalized <strong>McAfee My Account</strong> page displays. Click <strong>PC</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: If you are using a non-Microsoft browser, make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>On the <strong>Installer File</strong> pop-up window that displays, click <strong>Open</strong>.</li>
<li>Select either <strong>Complete Install</strong> or <strong>Custom Install</strong>, then click <strong>Next</strong>.<br>NOTE: Custom Install allows you to select specific features if you do not want to install all features.</li>
<li>A pop-up may display asking you to allow this program to make changes. Click <strong>Yes</strong> to allow these changes.</li>
<li>The download process begins. Once complete, your computer is protected.<br><br>
</li>
</ol><h3>Download Cox Security Suite for Mac</h3><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a"><strong>here</strong></a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>From the <strong>McAfee My Account</strong> page, select <strong>Mac</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: Make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>Complete the following:<ol>
<li>Click <strong>Download</strong>.</li>
<li>Click <strong>Open</strong>.</li>
<li>Enter your Mac administrator username and password.</li>
<li>Enter the serial number provided.</li>
<li>Click <strong>Next</strong>. Software installation begins.</li>
</ol>
</li>
<li>Once the download is complete, click <strong>Finish</strong>. A confirmation pop-up displays to install <strong>WebAdvisor</strong>.</li>
<li>Select the desired option to complete your installation.</li>
<li>Click <strong>Install</strong>. The WebAdvisor is downloaded and installation is complete.<br><br>
</li>
</ol><div>Begin by downloading and installing the software as described <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html"><strong>here</strong></a>. Once the Cox Security Suite software is installed on your device, you’ll have access to its easy-to-use parental control tools.</div><div><br></div><h3>Download Cox Security Suite for a smartphone/tablet</h3><div>It’s recommended to begin this process on a computer. Click <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html#download"><strong>here</strong></a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</div><div><br></div><ol>
<li>Sign in with your Cox Primary User ID and Password.</li>
<li>From the <strong>McAfee My Account</strong> page, click <strong>Mobile</strong> from the drop-down, then click <strong>Send Link</strong>.</li>
</ol><div><br></div><h2>Web &amp; Email Protection</h2><div>To change your firewall and anti-spam settings follow these steps:</div><div><br></div><ol>
<li>Open the Cox Security Suite Plus Console by double-clicking the McAfee icon on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the <strong>Navigation</strong> tab to view features and navigate to <strong>Web &amp; email protection</strong>.</li>
<li>Click <strong>Firewall</strong> to toggle your firewall on or off or create new settings.</li>
<li>Click <strong>Anti-spam</strong> to toggle spam management on or off.</li>
</ol><div><br></div><h2>Parental Controls</h2><div>The Cox Security Suite offers basic parental controls for your PC:</div><div><br></div><ol>
<li>Open the <strong>Cox Security Suite Plus Console</strong> by double-clicking the <strong>McAfee</strong> icon on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Ma</strong>c in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the <strong>Navigation</strong> tab to view features and navigate to <strong>Parental Controls</strong>.</li>
<li>Next to <strong>Administrative Password</strong>, click <strong>Set</strong> to save a new password.</li>
<li>Click <strong>Edit</strong> next to <strong>Protect Your Family</strong> to customize your settings.</li>
<li>At the bottom of the page, you’ll see a <strong>Parental Controls Report</strong> that allows you to see whether your protected devices tried to view blocked content.</li>
</ol><div><br></div><h2>Privacy Settings for Mobile Devices</h2><div>Your Cox Security Suite also offers basic protection for Android and Apple phones and tablets.</div><div><br></div><ol>
<li>Log in to your <strong>McAfee Mobile Security</strong> center.</li>
<li>Click <strong>Privacy</strong>.</li>
<li>Tap the <strong>&gt;</strong> next to a profile to adjust settings.</li>
<li>Tap the box next to each app or website that is allowed for the profile.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Tap the circle next to the profiles name and tap <strong>Activate</strong>.</li>
</ol><div><br></div><h2>Lock Device</h2><div>To remotely lock your child’s device, follow these steps:<br><br>
</div><ol>
<li>Visit <a href="http://www.cox.com/securitysuite">www.cox.com/securitysuite</a> and click <strong>Access Security Suite Plus</strong>.</li>
<li>Once you are signed in, click on the tab that represents the device you’d like to lock.</li>
<li>Click <strong>Lock</strong>.</li>
<li>You can unlock the device by deselecting the <strong>Lock</strong> button.</li>
</ol><div><br></div><div>Cox Communications offers several parental control features, but it doesn't cover everything. If you are looking for an easy way to monitor your child or teen's online activity, check out the <a href="https://www.bark.us/">Bark app</a> for more information. Bark provides peace of mind to parents raising kids in a digital age.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows Vista
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows Vista is an older Windows operating system used on PCs and tablets. It was made available to the general public in January 2007 and received its final update in Service Pack 2, which was released in May 2009. Even though it’s no longer updated, parents can still set restrictions.<br><br>
</div><h2>Setting Up Parental Restrictions</h2><h3>How to create a user account for your child</h3><ol>
<li>Open the <strong>Control Panel</strong>.</li>
<li>Select <strong>User Accounts</strong> and <strong>Family Safety</strong>.</li>
<li>Click <strong>Add or Remove User Accounts</strong> to set up your child’s user account.<ol><li>Make sure this account is a non-administrator. Otherwise, your child has access to the area where parental controls are set.</li></ol>
</li>
</ol><div><br></div><h3>How to access parental controls for your child’s account</h3><ol>
<li>Click <strong>Set up Parental Controls for Any User</strong> to start the process.</li>
<li>Click the user account you want to set controls for from the list.</li>
<li>Enable parental controls by clicking <strong>On, Enforce current settings</strong>.</li>
<li>If you want to get a report of the child’s user activity, then click <strong>On, Collect information about computer usage</strong>. This way, you’ll be able to see all the websites your child looks at, the files they downloaded, when they logged on, the programs they used, and more.</li>
<li>Use the <strong>Windows Vista Web Filter</strong> to control your child’s internet experience.<ol>
<li>Choose the content you wish to block or allow.</li>
<li>Choose to allow or block file downloads.</li>
</ol>
</li>
<li>Use the <strong>Time limits</strong> section to control the times your child can use the computer.</li>
<li>Use the <strong>Games</strong> section to control the games your child can play.<ol>
<li>Choose the rating, or mix and match content.</li>
<li>Choose the games rating provider.</li>
<li>Block specific games, if you wish.</li>
</ol>
</li>
<li>Allow or block use of specific programs.</li>
<li>Click <strong>OK</strong> when finished.</li>
<li>Repeat for any additional children.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Safari
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Safari is the internet browser that comes with all Apple computers, and it possesses some built-in parental control features to help protect your children online. For these to work, you must first create a user profile for your child on the Apple device, then adjust the system settings to apply to Safari.</div><div><br></div><div>NOTE: These instructions apply to Mac computers using Sierra OS. Menu options may vary slightly, but generally the instructions should be similar for other Mac OS versions.<br><br>
</div><h2>How to Create a User Profile for Your Child on an Apple Computer</h2><ol>
<li>Log in to your administrator account on the device.</li>
<li>Click <strong>System Preferences</strong>.</li>
<li>Next, click <strong>Users and Groups</strong>.</li>
<li>Click the <strong>lock</strong> icon in order to begin making changes. Enter your password when prompted.</li>
<li>Click the <strong>+</strong> button below the list of users to add a new user.</li>
<li>In the <strong>New Account</strong> drop-down menu, choose <strong>Managed with Parental Control</strong>.</li>
<li>Choose the Age:<ol>
<li>4+</li>
<li>9+</li>
<li>12+</li>
<li>17+</li>
</ol>
</li>
<li>Add the full name of your child.</li>
<li>Next, enter an account name.</li>
<li>Enter a password.</li>
<li>Create a password hint in case your child forgets the password. (If it is forgotten, you can log in to your administrator account and reset the password).</li>
<li>Click <strong>Create user</strong>.</li>
<li>When finished, click the <strong>lock</strong> icon again to prevent further changes.</li>
</ol><div><br></div><h2>How to Set Parental Controls for Safari</h2><ol>
<li>Click <strong>System Preferences</strong>.&nbsp;</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock</strong> icon to make changes. Enter your password when prompted.</li>
<li>Select the user account whose parental controls you want to manage.</li>
<li>Click <strong>Enable Parental Controls</strong>.</li>
<li>Click <strong>Web</strong>. While you can use this interface to implement parental controls for the entire computer, since this focuses on the Safari browser, we’ll ignore the other tabs and options.</li>
<li>Choose one of the following options:<ul>
<li><strong>Allow unrestricted access to websites</strong></li>
<li>
<strong>Try to limit access to adult websites</strong>.<strong> </strong>You can click the <strong>Customize</strong> button to add a list of sites to always allow, and a list of sites to never allow.</li>
<li>
<strong>Allow access only to these websites</strong>.<strong> </strong>There are a number of websites in this list, including Bing, Google, Facebook, Twitter, and others. Click the <strong>+</strong> to add another site to the list. Click a site in the list and then the <strong>-</strong> button to remove a site from the list.</li>
</ul>
</li>
<li>When finished, click the <strong>lock</strong> icon to prevent additional changes.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Safari, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor web browsing for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Microsoft Surface
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Microsoft Surface can be thought of almost like a hybrid between a laptop and a tablet. The Surface line consists of a number of touchscreen-enabled devices that boast of long battery life, and some of their models are collapsible for maximum portability.</div><div><br></div><div>No matter which Microsoft Surface product you own, it will run on a Microsoft operating system. In order to set up parental controls, you’ll simply need to follow the steps for that particular operating system. To find out which version of Windows your PC is running:</div><div><br></div><ol>
<li>Press the <strong>Windows logo key</strong> + <strong>R</strong>
</li>
<li>Type <strong>winver</strong>, which is short for “Windows version.”</li>
<li>Select <strong>OK</strong>. A dialogue box will appear with all the information you need.</li>
</ol><div><br></div><div>If you already know which operating system you’re running, you can see which specific update you’re on by following the instructions <a href="https://support.microsoft.com/en-us/help/13443/windows-which-operating-system">here</a>.</div><div><br></div><div>Once you know which operating system your device is running, you can set up the parental controls. We always recommend that you run the latest software, so we’ve included the parental control settings for Microsoft 10 below.</div><div><br></div><h2>Setting Parental Controls on Windows 10</h2><div>Windows 10 is the latest operating system available for PCs. It allows for a seamless connection between PCs, Windows phones, Surface devices, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>