<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone SE
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a><br>.</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Discord
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Discord is a free voice, video, and text chatting app for teens and adults ages 13 and up. It was created to bring people people together who love gaming. Users playing the same game will often set up Discord groups to communicate during live gameplay.</div><div><br></div><div>Teens can access Discord via their computer, web browser, or mobile phone. Once there, they can join a chat they’ve been invited to or they can create private servers and invite their friends to play and discuss games by voice, text, or video. They can also message each other individually or in group chats with up to ten other friends.<br><br>
</div><h2>How to Block Unwanted Communications</h2><ol>
<li>From User Settings, tap <strong>Privacy &amp; Safety</strong>.</li>
<li>Turn off the <strong>Allow direct messages from server members</strong> option.</li>
<li>In this same menu, under <strong>Who can add you as a friend</strong>, deselect <strong>Everyone</strong> and <strong>Server members</strong>.</li>
</ol><div><br></div><h2>How to Block Inappropriate Content</h2><div>Discord has the ability to set an explicit content filter that will automatically detect and delete images and uploads containing explicit and inappropriate content.<br><br>
</div><ol>
<li>From <strong>User Settings</strong>, tap <strong>Privacy &amp; Safety</strong>&nbsp;</li>
<li>Check the <strong>Keep Me Safe</strong> box. This will filter out explicit content so that it’s never seen.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Gmail
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Gmail is a free email service developed by Google. Users can access Gmail on the web, tablets, and smartphones as well as with third-party programs that synchronize email content.&nbsp;</div><div><br></div><div>Email accounts may seem relatively harmless, but kids as young as five often have their own email address for their online activities. It is nearly impossible to create an online profile without an email address. That said, an unchecked email address is a potential access point for your child to correspond with people you do not know.</div><div><br></div><h2>For Kids Under 13</h2><div>For children under 13, Google Accounts will need to be created with an app called Family Link, which you can also use to supervise their Google Accounts.<br><br>
</div><h3>How to create a Google Account for children under 13</h3><ol>
<li>Download the <strong>Family Link</strong> app.</li>
<li>Open the <strong>Family Link</strong> app.</li>
<li>In the top right, tap <strong>Create </strong>or <strong>+</strong>.</li>
<li>Follow the instructions on screen to create your child’s account.</li>
<li>When you're done, a confirmation will show on the screen.<br><br>
</li>
</ol><h3>How Gmail accounts are different for kids under 13</h3><div>For the most part, Gmail will be the same for children as it is for adults. There are only a few Gmail features that aren't available to children under 13.<br><br>
</div><ul>
<li>
<strong>Ads:</strong> Google won't serve ads in Gmail or process Gmail messages for advertising purposes.</li>
<li>
<strong>Automatic forwarding:</strong> Children can't automatically forward emails to another email address.</li>
<li>
<strong>Gmail offline:</strong> If their device isn't connected to the internet, children can’t read, send, or search their Gmail emails.</li>
<li>
<strong>Google+:</strong> Children can't use any Google+ features available in Gmail.</li>
<li>
<strong>Labs:</strong> Children can’t turn on experimental Gmail features.</li>
<li>
<strong>Mail delegation:</strong> Children can't give someone else access to read, send, or delete their emails.&nbsp;</li>
<li>
<strong>Spam:</strong> If Gmail identifies an email as spam, it won't get delivered to your child's inbox or spam folder.</li>
</ul><div><br></div><h2>For Kids Over 13</h2><h3>How to create filters&nbsp;</h3><div>When setting up a Gmail account for a child, it is best to set up filters to ensure they do not receive unwanted emails. The filter setting limits who can contact your child via email. If you'd like to add more people to the filter, you can do so from the accounts settings.</div><div>&nbsp;</div><ol>
<li>Sign into your child's Gmail account.</li>
<li>Click on the <strong>gear icon</strong> in the top right corner.&nbsp;</li>
<li>Click <strong>Settings</strong>.</li>
<li>Click on the <strong>Filters and Blocked Addresses </strong>tab.</li>
<li>Click <strong>Create a New Filter </strong>and follow the prompts to create a custom filter.</li>
<li>Opt to have the emails that don't fit into the filter deleted, rather than sent to spam to ensure your child cannot access them.</li>
</ol><div><br></div><h3>How to check your child's email from your account</h3><div>As an added layer of protection, you can choose to receive and view your child's email on your account. Adding an account is not the same as email forwarding. The messages will remain in your child's inbox, but give you access to the messages via separate folders.&nbsp;</div><div><br></div><ol>
<li>Enter the <strong>Settings </strong>section of your own Gmail account using the<strong> gear icon</strong> at the top of the inbox.&nbsp;</li>
<li>Click on the <strong>Accounts and Import</strong> tab.&nbsp;</li>
<li>Click on <strong>Add Account</strong>.&nbsp;</li>
<li>Enter the email address and password that you would like to import.</li>
<li>The added account should be your child's email account.</li>
</ol><div><br></div><h3>How to block an email address from contacting your child</h3><ol>
<li>Open the offending email.&nbsp;</li>
<li>In the top right of the message, click <strong>More</strong>.</li>
<li>Then, click <strong>Block [sender]</strong>.</li>
<li>If you blocked someone by mistake, you can unblock them using these same steps.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Gmail, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments and gmail chats they send and receive. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    EA/Origins
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>EA (Electronic Arts) is a video game developer that has created some of the most popular games available today, including Star Wars: Battlefront II, Battlefield, Madden, The Sims, and more. To complement their extensive library of games, EA built a gaming platform called <strong>EA Origin</strong>, which is downloadable on PC, Mac, and the Xbox and PlayStation marketplaces. Players can log in to EA Origin and access all of their EA games, play games without internet access (on PC and Mac only), and connect with friends — all in one place.</div><div><br></div><div>EA Origin also features an optional monthly PC gaming subscription called <strong>Origin Access</strong>. This subscription has a <strong>Basic</strong> package and a more expensive <strong>Premier</strong> package that grants access to over 150 games and the ability to play games before they’re released with <strong>Play First Trials</strong>.</div><div><br></div><div>While EA games have become a staple of the modern childhood experience, many games contain graphic content that may be unsuitable for your child. It’s important to use the available parental controls so your child isn’t exposed to content they can’t handle, whether it’s violent gameplay, mature imagery, or vulgar chatroom discussions.</div><div><br></div><h2>Setting Up a Primary Account</h2><div>In order to set up a child account, EA requires that you first create a profile for yourself. You can then create their child's profile as a sub-account.</div><div><br></div><ol>
<li>Start by navigating to <a href="http://www.origin.com/">www.origin.com</a>.</li>
<li>Click the <strong>Register</strong> button, which is below the orange sign in button.</li>
<li>Input your <strong>Country/Region</strong> and <strong>Date of Birth</strong>.</li>
<li>On the next screen, add your <strong>Email Address</strong> and create a <strong>Password</strong>.</li>
<li>Underneath the heading "<strong>People can find me by searching…</strong>", create a new <strong>Public ID </strong>(otherwise known as a "username"). To protect your anonymity, it’s best not to use your real first or last name.</li>
</ol><div><br></div><div>Now that you have created your main account, you'll need to download and install the EA Origin app to create your child's account. To do this:</div><div><br></div><ol>
<li>
<strong>Log out</strong> of your EA Origin account.</li>
<li>Navigate back to the <a href="http://www.origin.com/">Origin homepage</a>.</li>
<li>In the menu on the left side of the page, click the <a href="https://www.origin.com/usa/en-us/store/download"><strong>Download</strong></a> button.</li>
<li>Select either the<strong> Windows</strong> or<strong> Mac</strong> download button.</li>
</ol><div><br></div><h2>Setting Up a Child Account</h2><div>Once the EA Origin app is installed, you can begin creating your child's account:</div><div><br></div><ol>
<li>Click on the app to open the<strong> </strong>log-in window.</li>
<li>Select <strong>Create An Account</strong> at the top of the window.</li>
<li>Input the <strong>Country/Region</strong> and your child's <strong>Date of Birth</strong>.<ul><li>NOTE: It is <em>very</em> important that you input the correct age for your child to allow for the appropriate restrictions.</li></ul>
</li>
<li>Read and accept the Privacy &amp; Cookie Policy and the User Agreement, then click <strong>Next</strong>.</li>
<li>Enter your email address for your personal EA Account and choose a password in the top two fields.</li>
<li>Then create a Public ID for your child. Avoid using your child's real name.</li>
<li>Click <strong>Create Account</strong>.</li>
<li>A verification email will be sent to your inbox. Click the appropriate link to verify that you are the parent or guardian.<ul><li>The new child's account will use your personal password by default. Make sure to change the password before letting your child access the account:<ol>
<li>Navigate back to the <strong>EA Origin login screen</strong>.</li>
<li>Select the <strong>Forgot your password?</strong> link below the sign-in button.</li>
<li>Type in your <strong>child's Public ID</strong>.</li>
<li>You will receive an email to reset the password.</li>
</ol>
</li></ul>
</li>
</ol><div><br></div><h2>Child Account Restrictions</h2><h3>Multiplayer games</h3><div>It's worth noting that accounts for children under the age of 13 will not have access to many online multiplayer games, depending on the gaming console they have. If you want your child to be able to play any online multiplayer game on a PC, Mac, or PlayStation 3, the game will need to be purchased and played on your adult account, which is not recommended without supervision. Xbox One, Xbox 360, and PlayStation 4 consoles all allow customized parental controls using each console's built-in parental control settings.<br><br>
</div><h3>Marketplace</h3><div>Child accounts do not have access to the Origin Store, so your child will not be able to purchase games through their account. Games can be added manually by <a href="https://help.ea.com/en-us/help/origin/origin/origin-code-redemption-faq/">redeeming the Product Code</a> in your child's account.</div><div><br></div><h3>Social interaction</h3><div>At this time, EA does not allow social interaction on a child account. Adult accounts have the ability to add friends by searching a Public ID or email address.</div><div><br></div><h2>When Your Child Gets Older</h2><div>Once your child reaches a certain age, EA will <a href="https://help.ea.com/en-us/help/account/aging-up-an-origin-account-to-an-adult-account/">automatically notify your child</a> that they are allowed to change their child account to a full-access account. This age varies by country or region, but it is typically 13 years old.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Five Nights at Freddy’s
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Five Nights at Freddy's is a horror video game that uses jump scares and tension tactics rather than violence and bloodshed. The game is too intense for younger children, particularly given its sensations of being trapped and defenseless.</div><div><br></div><div>It features a slew of freaky animatronic characters, whose appearances and demeanors are enough to make your skin crawl. Even teens should know what they're getting into before playing Five Nights at Freddy's. If your child is easily spooked by lifelike dolls, they may want to steer clear of this title.&nbsp;</div><div><br></div><h2>Is Five Nights at Freddy's Really That Scary?</h2><div>In Five Nights at Freddy's, you play the role of a new night security guard at Freddy Fazbear's Pizza. Your mission is to keep a watchful eye on the pizza shop's animatronic characters, who tend to wander at night. Should they find you first, you're a goner. Every move you make drains your energy reserves. If you try to run, the room goes black and you're completely defenseless.</div><div><br></div><h2>Keeping Kids Safe on Five Nights at Freddy's</h2><div>Five Nights at Freddy's is rated PG-13 for disturbing/violent content, some language, and horror. Though parents can block access to titles of a certain rating on their children's devices, the game itself does not have any in-game parental controls or limiters. There is no chat functionality.</div><div><br></div><div>If you’re concerned about your child, do not let them play it or download it. You can control this by setting parental controls on devices (PC, iOS, Android) that limit your child's access to download or access specific content.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content, and the ability to access Google Fiber apps, like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls: one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guide (indicated by a red prohibition sign, or a "no" symbol), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step by step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong>.</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options are available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content and access Google Fiber apps like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls — one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guides (indicated by a red prohibition sign, or a "no symbol"), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step-by-step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong><em>.</em>
</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/chromebook-11ba0ff273af8f115882dc93b70029ac9fa0f8eeee26a68a873e39a972e930ce.png">
            Chromebook
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chromebook
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Chromebooks are unique laptops that use the Chrome Operating System (OS). Essentially, the Chromebook is run by Google's Chrome browser, and nearly all of its functions are used while connected to the internet. While users are able to work offline for some functions, most of the apps and documents require internet access.</div><div><br></div><h2>Using Google Family Link to Monitor Your Child’s Chromebook</h2><div><br></div><div>Because Chromebooks operate solely on the Google Chrome browser, you will be accessing all of the controls via your family's Google Accounts. Each child will need a Google Family Link account.</div><div><br></div><ol>
<li>Make sure your Chromebook is updated to version 65 or higher of Chrome OS. <a href="https://support.google.com/chromebook/answer/177889">Click here</a> if you need help updating your system.</li>
<li>To create a Family Link account for your child, download the app for either <a href="https://itunes.apple.com/us/app/google-family-link/id1150085200&amp;ct=homepage-website-setup&amp;mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?hl=en&amp;id=com.google.android.apps.kids.familylink">Android</a>.</li>
<li>Follow the instructions on your screen to set up the account.</li>
</ol><div><br></div><h3>How to add a new user to Chromebook</h3><ol>
<li>Select <a href="https://support.google.com/chromebook/answer/1059242?hl=en"><strong>Add Person</strong></a> on the Chromebook's lock screen.</li>
<li>Sign in using your child's Family Link account information.</li>
<li>Next, you will be asked to sign in to your parent account in Family Link to grant access.</li>
<li>An on-screen prompt will list what your child can and cannot access.</li>
<li>Click <strong>Yes</strong> to allow your child access to the Chromebook.</li>
</ol><div><br></div><h3>What Family Link Monitors</h3><div>Children signed into their Google Accounts on a Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:<br><br>
</div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "try to block mature sites" has been turned on for your child in the Family Link settings, Chrome browsing will block most sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. However, your child can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this info won't be used to personalize ads for children under 13.</li>
</ul><div><br></div><h3>How to manage websites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that's right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.</li>
<li>
<strong>Only allow certain sites</strong>: Your child will only be able to visit the sites you allow.</li>
</ul>
</li>
<li>Tap <strong>Manage Sites</strong> to manually block or allow certain sites.</li>
</ol><div><br></div><h3>How to manage website permissions</h3><div>Parents can choose if their child is allowed to grant permissions to the websites they visit. Examples of permissions include allowing sites to track location, access the camera, or push notifications. To adjust this setting:</div><div><br></div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off.</li>
</ol><div><br></div><h3>How to monitor browsing history</h3><ol>
<li>On your child's Chromebook, open <strong>Chrome</strong>.</li>
<li>In the top right, select <strong>More &gt; History</strong>. This page shows your child's recent Chrome history.</li>
</ol><h3>
<br>How to clear history</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> &gt; <strong>Filters on Google Chrome</strong> &gt; <strong>Chrome dashboard</strong>.</li>
<li>In the <strong>History</strong> section, tap <strong>Clear history</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's Chromebook, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. <a href="http://bark.us/?s=barkomatic">Bark</a> can also monitor the saved photos and videos on Chromebook by downloading the <a href="http://bark.us/?s=barkomatic">Bark</a> for Chromebooks app from the Google Play Store. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Galaxy Tab
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Samsung Galaxy Tab series is a line of tablets that uses the Android operating system. These tablets are portable, have Wi-Fi capability, and come with a variety of other features — including easy-to-use parental controls in their Kids Mode app.<br><br>
</div><h2>The Kids Mode Parental Control App</h2><div>The Samsung Galaxy Tab products are best managed with the Kids Mode app, which provides children with age-appropriate content while allowing parents to restrict access to apps and stored media content on the device. The Kids Mode app is only available on newer generations (Samsung Galaxy Tab 3 and higher). Please install the latest Android operating system update beforehand to make sure Kids Mode runs smoothly.</div><div><br></div><div>Since the Kids Mode app can be toggled on and off, you need to begin by setting up a user profile for your child on the device.</div><div><br></div><h3>Create a user profile for your child on a Samsung Galaxy Tab</h3><div>&nbsp;</div><ol>
<li>Go to the tablet’s <strong>Home</strong> screen.</li>
<li>Tap on the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Users</strong>.</li>
<li>Tap <strong>Add user or profile</strong>.</li>
<li>Tap <strong>Choose restricted profile</strong>.</li>
<li>Create a password.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><div>Once you’ve set up a user profile for your child, you can download the Kids Mode app.<br><br>
</div><h3>Download Kids Mode</h3><ol>
<li>If Kids Mode is not already on your device, open the <strong>Google Play Store</strong>.</li>
<li>Search <strong>Samsung Kids Mode</strong> to pull up the Kids Mode app, created by Samsung Electronics Co. Ltd.</li>
<li>Tap <strong>Install</strong>.</li>
</ol><div><br></div><h3>Set up Kids Mode</h3><ol>
<li>From the <strong>Home</strong> screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Enter a new four-digit PIN.&nbsp;</li>
<li>Enter your child’s name and birthday for their Kids Mode profile.</li>
<li>Tap <strong>Accept</strong> on the disclaimer.</li>
<li>Tap <strong>Skip</strong> to add apps to Kids Mode later, or <strong>Next</strong> to do it now.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><h3>Add apps using Kids Mode</h3><div>Which apps are your child allowed to use on their Samsung Galaxy Tab? That’s up to you! Decide which apps are permitted when Kids Zone is activated — you can add up 30.</div><div>&nbsp;</div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.</li>
<li>Tap <strong>Applications</strong>.</li>
<li>Tap the <strong>Add</strong> icon in the upper right-hand corner.</li>
<li>If a disclaimer appears, tap <strong>Accept</strong> to agree and continue.</li>
<li>Select the apps you’re allowing your child to use by touching the box. A green checkmark will appear on each selected app.</li>
<li>Tap <strong>Done</strong> when you’re finished.</li>
</ol><div>&nbsp;</div><div>Even without allowing access to additional apps, children using Kids Mode will automatically have access to the following apps:<br><br>
</div><ul>
<li>Kids Drawing</li>
<li>Kids Music</li>
<li>Kids Media</li>
<li>Kids Voice Recorder</li>
<li>Kids Camera</li>
<li>Kids Photo Gallery</li>
<li>Kids Store (they can view and save apps, but only parents can choose to purchase or download an app)</li>
</ul><div><br></div><h3>Create time restrictions using Kids Mode</h3><div>How long should your child be allowed to use their Samsung Galaxy Tab? You can control exactly how long they can use the device in a single day.&nbsp;</div><div><br></div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.&nbsp;</li>
<li>Select <strong>Daily playtime limit</strong>.</li>
<li>You can choose to leave it on <strong>No time limit</strong>, or you can click <strong>Time limit</strong> (default is 30 minutes per day) and tap the <strong>Settings</strong> icon to personalize the time limit in five-minute intervals (0-180 minutes).</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Home
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Home is a smart speaker that competes with the Amazon Echo and the Apple HomePod. You can use it to get news and weather forecasts, make purchases, listen to music, and more. If you want to make sure your children are using Google Home appropriately, these step-by-step directions will allow you to set up parental controls.<br><br>
</div><h2>Setting Parental Controls on Google Home Smart Speakers</h2><ol>
<li>Set up a <a href="https://families.google.com/familylink/"><strong>Google Family Link</strong></a> account. This allows you to view activity, manage apps, limit screen time, and lock devices. You can even use Family Link to see where your child is as long as they are carrying their device and location services are on. You must download the app on your smartphone.</li>
<li>Use the <strong>Family Link</strong> app to create a Google Account for your child, where you can control and monitor linked apps and devices.</li>
<li>Have each child nearby to provide voice samples to allow voice recognition of commands. This is necessary for individual permissions profiles. Expect to spend up to 10 minutes per child.</li>
<li>Block explicit music and video content from YouTube.<ol>
<li>Open the <strong>Google Home</strong> app.</li>
<li>Tap <strong>Menu</strong> in the top left corner.</li>
<li>Verify the Google Account listed is the one linked to Google Home. Switch accounts, if necessary, by clicking the triangle to the right of the account name.</li>
<li>Tap <strong>More Settings</strong>.</li>
<li>Under <strong>Devices</strong>, tap the Home device you want to adjust.</li>
<li>Under <strong>YouTube Restricted Mode</strong>, block content by sliding the slider to the right.</li>
</ol>
</li>
<li>Block explicit content from <strong>Google Play Music</strong>.<ol>
<li>Open the <strong>Google Play Music</strong> website. You cannot access this setting from the Google Play Music app.</li>
<li>In the top left corner, click <strong>Settings</strong>.</li>
<li>In the <strong>General</strong> section, click the checkbox next to <strong>Block explicit songs in radio</strong>. This will not block Google Play Music premium users from playing specific explicit songs or albums.</li>
</ol>
</li>
</ol><div><br></div><div>Children are blocked from online purchasing automatically. External apps are blocked unless Google has vetted them and designated them as <strong>Apps for Families on Google Assistant</strong>. You can block third-party apps via Family Link.</div><div><br></div><div>Google Home has a personal results setting you can monitor, but you must choose to monitor all of the content — calendar, contacts list, and photos — or none of it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>