<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 6
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Reddit
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Also known as "the front-page of the internet," Reddit is a popular online forum that features a vast amount of content for users to read, contribute to, and share with other people. It functions much like a message board. Reddit is routinely in the top ten most popular websites in the U.S., and it has has grown significantly since its humble beginnings in 2005.</div><div><br></div><div>The forum is organized by user-created boards known as "subreddits" that can be about nearly any topic imaginable. A subreddit is preceded by the characters "r/" in the url. For example, "r/planes" would be a subreddit on the general topic of planes. Similarly, a subreddit entitled "r/stocks" would be all about the stock market.</div><div><br></div><h2>Pros</h2><div>Reddit really is just a large database of knowledge. While some of that "knowledge" is certainly random photos and memes, there are plenty of subreddits that are all about learning specific topics, such as "r/guitarlessons" or "r/woodworking". These can be excellent channels for beginners to learn new hobbies or share their knowledge with others.<br><br>
</div><h2>Cons</h2><div>As you can imagine, a website with such an open-ended platform could be worrisome for younger visitors. Because Reddit is such a popular destination, there are scores of NSFW (not safe for work) threads available on the site. Although not immediately visible, it is there. Thankfully, there are ways to protect your child from viewing any explicit content.</div><div><br></div><h2>How to Keep Your Child Safe on Reddit</h2><h3>How to create an account</h3><div>Create your child's Reddit account yourself and sign up with your own email address. This allows you to keep tabs on what your child is looking at, and even change settings or block usage if it ever becomes necessary. Without access to your email address, your child will not be able to change the password. While this is a great first step, there are a few account settings you will need to change to make the browsing experience more kid-friendly.</div><div><br></div><div>Note: You can use Reddit without logging in it all. It’s possible to log out at any time once you’ve logged in to escape any restrictions put in pace.<br><br>
</div><h3>How to secure your child’s Reddit account</h3><ol>
<li>Click on your child’s account username at the top-right corner of the screen.</li>
<li>Select <strong>User Settings</strong> from the dropdown menu.</li>
<li>Tap the <strong>Profile</strong> menu button.</li>
<li>Scroll down until you see the <strong>Advanced</strong> section. Uncheck both <strong>Content Visibility</strong> and <strong>Active in communities visibility</strong>, which will help keep your child more anonymous online. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and select the <strong>Privacy &amp; Security</strong> menu button.</li>
<li>In the top section labeled <strong>User Privacy</strong>, uncheck <strong>Search engine indexing</strong>. This prevents any search engine from displaying your child's profile in search results.</li>
<li>Scroll down until you see the <strong>Messaging Privacy</strong> section. Click on the dropdown next to the <strong>Who can message you</strong> setting and change it from <strong>Everyone</strong> to <strong>Whitelisted</strong>. Now you can customize the users who can message your child's account; for example, a neighborhood friend. Keep in mind that administrators and moderators of subreddits that your child is following will always be able to send them private messages. So it is important to decide carefully what subreddits your child can follow. Click <strong>Save</strong> at the bottom of the screen.</li>
<li>Next, scroll back up and click on the <strong>Feed Settings</strong> menu button.</li>
<li>At the very top of the list is the <strong>Content Preferences</strong> section. Verify that <strong>Adult Content</strong> is disabled (it should be disabled by default but it doesn't hurt to double-check). It may also be a good idea to disable <strong>Autoplay media</strong> immediately below the Adult Content setting, which stops videos and .gifs from playing automatically. Click <strong>Save</strong> at the bottom of the screen.</li>
</ol><div><br></div><h3>Report hateful speech or bullying.</h3><div>If your child comes across any hateful speech or bullying, help them report any offending users.</div><div><br></div><ol>
<li>For offensive posts: click the “<strong>...</strong>” at the bottom of the post and select <strong>Report</strong> from the dropdown that appears. Then select a reason for the report and click <strong>Submit</strong>.</li>
<li>For offensive comments, click on the <strong>Report</strong> button immediately below the comment. Then select a reason for the report and click <strong>Submit</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Reddit, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors your child's submissions, comments, and private messages. This includes replies to their comments, which come in as private messages. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AOL
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Parental controls for AOL email accounts were discontinued Nov. 1, 2017.&nbsp; Existing secondary usernames or child accounts were <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">promoted to full, standalone accounts with no parental control features at all</a>. Because of this, Bark does not recommend using AOL email with children.</div><div><br></div><div>If you would like to monitor your child’s existing AOL email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.&nbsp;</div><div><br></div><div>If you would prefer to remove access to these unmonitored accounts entirely, instructions on how to delete an AOL account are presented below.</div><div><br></div><h2>How to Delete a Secondary AOL Account That Has Been Promoted to a Full Account</h2><ol>
<li>Access the AOL account deactivation page <a href="https://login.aol.com/?done=https%3A%2F%2Fapi.login.aol.com%2Foauth2%2Frequest_auth%3Fclient_id%3Ddj0yJmk9a0dMSTFNQTlieXAwJmQ9WVdrOU1teEVVMHQ1TjJFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD00OQ--%26scope%3Dgdpr-w%26redirect_uri%3Dhttps%253A%252F%252Faol.mydashboard.oath.com%252Fcallback%252Fuser%26response_type%3Dcode%26language%3Den-US%26state%3DeyJ1c2VyX3JldHVybl9wYXRoIjoiL2RlbGV0ZS1teS1hY2NvdW50IiwidXNlcl9oaW50IjoidW5kZWZpbmVkIiwibm9uY2UiOiJkY2JiNmMxMWE4NDA1MDY2MGVkZmI3ZTU2NjMyZmRkZCJ9%26src%3Dpd-aol%26.scrumb%3D0&amp;src=pd-aol&amp;crumb=3e6Fsy9JE9i&amp;redirect_uri=https%3A%2F%2Faol.mydashboard.oath.com%2Fcallback%2Fuser&amp;lang=en-US&amp;language=en-US">here</a>.</li>
<li>Read the information on terminating your account in full. You'll receive all the legal information on what AOL is responsible for in terms of data, and more information.</li>
<li>Follow the on-screen prompts confirming that you do indeed want to delete this account.</li>
</ol><div><br></div><div>To learn more about changes to accounts that were previously sub-usernames or child accounts prior to 2017, please read AOL's help page on this topic <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">here</a>.</div><div><br></div><h2>How to Download Data Before Deleting a Secondary AOL Account</h2><ol>
<li>If you would like to save data before deleting a standard account that was previously a child's account, visit the AOL Privacy Dashboard page <a href="https://policies.oath.com/us/en/oath/privacy/dashboard/index.html">here</a>.</li>
<li>Choose <strong>AOL email</strong> to view the data for this AOL service.</li>
<li>Scroll down and click <strong>Manage Your Data</strong>.</li>
<li>It will take time to prepare your data package. Insert an email address that you're currently using to receive the notification that your email account data are processed and ready to download.</li>
<li>Click <strong>Request Download</strong>.</li>
<li>You'll receive an email linking you to the final download of all the contents of your email account.</li>
</ol><div>
<br>For more important information on what to look for before closing an AOL email account, please review the AOL help page <a href="https://help.aol.com/articles/close-your-account">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In AOL email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Fortnite
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Fortnite<em> </em>is a brilliant mashup of creative building and third-person shooting action. Fortnite is available on PlayStation 4 and Xbox One, as well as Windows and Mac. The popular multiplayer version of the game, Battle Royale,<em> </em>has taken the world by storm, with about 80 million people currently enjoy the action-packed adventure.</div><div><br></div><div>An internet connection is required to play the game, and when your child plays Fortnite, they can instantly connect with people around the globe. The game is rated “T for Teen” due to some violence (gunfire, explosions, swords, etc.)</div><div><br></div><div>Fortnite is a very social game, as kids can play against their friends or players from across the world. YouTube and Twitch gamers have contributed to the game's popularity by streaming their gameplay and amusing antics. The most popular gaming mode, Battle Royale, also happens to be free (with in-app purchases available).</div><div><br></div><h2>Is Fortnite Appropriate for Children?</h2><div>To some parents, the absence of blood in Fortnite makes the game less of a concern than other shooting games. However, the online chat element does open the door to inappropriate language and contact from strangers. Games with chat features generally aren't recommended for those under age 13, but with parental controls, Fortnite can serve as a great alternative to other, more brutal first-person shooter games.</div><div><br></div><h3>Fortnite and Twitch</h3><div>Many kids aren't just playing the game — they're watching others play it on Twitch. Twitch is a platform that video game enthusiasts use to livestream themselves playing games like Fortnite. Livestreaming is, by nature, a bit unpredictable. There's no editing for language or mature content. If your child is using the Twitch platform to watch gamers play Fortnite, be aware of the lack of censorship they'll encounter.</div><div><br></div><h2>Fortnite Parental Controls</h2><div>Both the gaming console and PC versions of <em>Fortnite </em>offer live, unmoderated chat capabilities. Players can opt to use voice chat or type text to the screen. This, unfortunately, exposes kids to the whims of strangers and the high likelihood of obscene language, with people talking into microphones in real time during the game.<br><br>
</div><h3>How to turn off the voice chat option in the Fortnite</h3><ol>
<li>Navigate to the top right corner of the main page.</li>
<li>Select the <strong>...</strong>&nbsp; icon.</li>
<li>Select then the <strong>gear</strong> icon.</li>
<li>Go to the <strong>Audio</strong> tab at the top of your screen.</li>
<li>Adjust voice chat and other audio features.</li>
</ol><div><br></div><h2>How to report another user</h2><div>If you or your child feel that another player has acted inappropriately, you can select <strong>Report Player</strong> at the bottom right of the screen at any time.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox One
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>XBox One is the latest console from Microsoft. With it, you can play video games, stream content from apps, chat with other players via <a href="https://support.xbox.com/en-US/xbox-one/xbox-live/connecting-to-xbox-live">XBox Live</a>, surf the web, and even watch TV (if you have a cable box to connect it to).</div><div><br></div><div>Setting parental controls on the XBox One is a somewhat complex process, but it's worth it for the level of control you’ll have for each child in your family. If you allow your children to stream content from various apps such as Hulu while on the device, the parental controls on the gaming console will override any parental controls you have set up on the individual apps, in most cases.</div><div><br></div><h2>Screen Time Limits</h2><div>To set screen time limits for your child on Xbox One and Windows 10 devices, go to <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a> and sign in with your Microsoft account. Then:<br><br>
</div><ol>
<li>Find your child's name and select <strong>Screen time</strong>.</li>
<li>If you want to use the same schedule for all devices, switch <strong>Use one screen time schedule</strong> from <strong>Off</strong> to <strong>On</strong>. If you’d rather have separate schedules, scroll down and switch screen time on for PC and Xbox One individually.</li>
<li>Set how much time your child is allowed to spend with their devices each day, and when they can use them. If you want to give them the full amount of time you’ve scheduled, select <strong>Max</strong> <strong>scheduled</strong>. (Example: If you’ve allowed screen time from 8 am to 8 pm, they could use their devices that entire time).</li>
</ol><div>
<br>To give your kids a heads up on Xbox when their screen time is running out:<br><br>
</div><ol>
<li>Press the <strong>Xbox </strong>button on the controller.</li>
<li>Select <strong>System</strong> &gt; <strong>Settings </strong>&nbsp;&gt; <strong>Preferences</strong> &gt; <strong>Notifications</strong> &gt; <strong>Xbox Notifications </strong>&gt; <strong>System</strong> and make sure <strong>System notifications on</strong> is selected.</li>
</ol><div>
<br>Screen time counts down when a child is signed in, so if they’re not actively using their console, have them sign out.</div><div><br></div><h2>Age Limits for Accessing Content</h2><div>To ensure your kids have access to only family-friendly games, apps, TV shows, and movies on their Xbox One, you can choose from preset recommendations by age. To do this:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button to open the guide, and then go to <strong>System &gt; Settings &gt; Account &gt; Family settings</strong>.</li>
<li>Select <strong>Manage family members</strong>, and then select the child account you want to update.</li>
<li>Under <strong>Access to content</strong>, choose the desired age-level restriction. (By default, your child’s restrictions will be set to the age associated with their Microsoft account).</li>
</ol><div>
<br>When your child asks to use a blocked app or game that’s rated above their content restrictions, you can approve it by signing in with your passkey and selecting <strong>Always</strong> or <strong>Just this once</strong>.<br><br><br>
</div><h2>Customize Privacy Settings</h2><div>You can prevent your child from playing with strangers in the privacy settings. To ensure your child is only playing with people they know, or turn off voice chat and unprompted communication:<br><br>
</div><ol>
<li>Click <strong>Settings</strong>
</li>
<li>Click <strong>All Settings</strong>
</li>
<li>Click <strong>Account</strong>
</li>
<li>Click <strong>Family</strong>
</li>
<li>Customize your privacy settings&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Mute or Block Players</h2><div>If you don't want to hear or be contacted by specific players on Xbox One, you can mute them or block their communications with you. If you believe that the player has violated the Microsoft Services Agreement or Code of Conduct, you may also wish to <a href="https://enforcement.xbox.com/Home/HowTo#sub-topic2-0">file a complaint</a>.<br><br>
</div><h3>Mute another player</h3><div>If another player engages in abusive or inappropriate in-game or chat voice communications, you can mute that player. This prevents them from speaking to you in-game or in a chat session. To mute another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to mute. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player’s profile, select <strong>Mute</strong>.</li>
</ol><div>
<br>To unmute a player, follow the same steps to get to the player’s profile, and then select <strong>Unmute</strong>.<br><br>
</div><h3>Block another player</h3><div>Blocking another player prevents you from receiving that player’s messages, game invites, and party invites. It also prevents the player from seeing your online activity and removes them from your friends list, if they were on it. To block another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to block. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player's profile, select <strong>Report or Block</strong>, and then select <strong>Block</strong>.</li>
</ol><div>
<br>To unblock a player, follow the same steps to get to the player’s profile, and then select <strong>Unblock</strong>.<br><br>
</div><h3>Block another player's messages</h3><div>You can also block a player after receiving an offensive or inappropriate message. Here's how:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide, and then go to <strong>Communication </strong>&gt;<strong> Conversations</strong>.</li>
<li>Select the message from the player you want to block.</li>
<li>Select <strong>More </strong>&gt;<strong> View profile </strong>&gt;<strong> Report or block </strong>&gt;<strong> Block</strong>.</li>
</ol><div><br></div><h2>Copilot on XBox One</h2><div>Copilot links two controllers so you can use them as if they were one controller. The person who turns on Copilot for their controller is the pilot, and the pilot gets all achievements and gamerscore. To turn on Copilot:<br><br>
</div><ol>
<li>Connect a second controller to the Xbox for the copilot. The copilot can sign in or not — achievements and gamerscore don't go to this player.</li>
<li>Using the pilot's controller, press the <strong>Xbox</strong> button to open the guide, then select <strong>System</strong> &gt; <strong>Settings</strong> &gt; <strong>Ease of Access</strong> &gt; <strong>Controller</strong>.</li>
<li>Choose <strong>Copilot settings</strong>, then select <strong>Turn on Copilot</strong>.</li>
<li>Select the copilot controller.</li>
</ol><div>
<br>The controllers are now linked, and both controllers have full control. When you start a game, you can use either controller however you like.<br><br>To turn off Copilot, go back to the Copilot settings and select <strong>Turn off Copilot</strong>.<br><br>
</div><h2>Preventing Unauthorized Purchases</h2><div>To help prevent unauthorized purchases from your console, you can set it to ask for the password every time you buy something.<br><br>
</div><ul>
<li>Select <strong>System </strong>&gt; <strong>Settings</strong> &gt; <strong>Account</strong> &gt; <strong>Sign-in, security &amp; passkey</strong>. To help protect your account, you may be asked to enter your password.</li>
<li>Select <strong>Change my sign-in &amp; security preferences</strong>.</li>
<li>Scroll right and select <strong>Customize</strong>.</li>
<li>Scroll right and select <strong>Ask for my passkey to make purchases</strong>.</li>
<li>Select <strong>Passkey required</strong>.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Charter
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Charter Communications recently underwent a merger with Time Warner and Bright House Networks. They are now all the same company: Spectrum. What follows are the parental controls for Spectrum's internet and TV services.<br><br>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. You will have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com&nbsp;</li>
<li>Spectrum TV channel apps.&nbsp;</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users:</div><div><br></div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong> and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users:<strong><br></strong><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for Preferences will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable parental controls. You might need to select the <strong>lock</strong> icon on the <strong>Parental Control</strong> window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block.</li>
</ol><div>NOTE: You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your <strong>Parental Control</strong> and <strong>Browser Protection</strong> settings. If a website is added to the website exception list, it won't be blocked for any reason.</div><div><br></div><h2>Parental Control Features</h2><div>Once in the Security Suite, you can turn on and adjust settings for the features detailed below.</div><div><br></div><h3>Content blocker</h3><div>Restrict access to sites based on content or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.&nbsp;</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.&nbsp;</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.&nbsp;</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under <strong>Channel blocks</strong>, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Prime
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Prime Video is a video streaming service that is included free as part of your Amazon Prime membership. This allows members to watch thousands of movies and TV shows for free.</div><div><br></div><div>Amazon Prime Video is available on web browsers and has an app that can be downloaded on various streaming devices, including Roku, XBox One, Playstation 4, and Nintendo Wii U. It can also be accessed on smartphones and tablets.</div><div><br></div><h2>Amazon Prime Parental Control Settings</h2><h3>How to create an Amazon Video PIN</h3><div>To enable parental controls, Amazon Prime Video requires you to first create a PIN for your account. The PIN will serve to lock kids out from restricted content.</div><div><br></div><ol>
<li>Make sure you’re logged in to your Amazon account from a web browser.</li>
<li>In the top right corner, click <strong>Hello [your name] Account &amp; Lists</strong>.</li>
<li>When the drop down opens, click <strong>Your Account</strong>.</li>
<li>Scroll down a little bit and on the left-hand side, in the <strong>Digital Content and Devices</strong> box, click <strong>Video Settings</strong>.</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>At the top of the page, set your PIN and click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Rating categories</h3><div>Amazon Prime Video follows the same ratings guidelines as the Motion Picture Association of America and TV Parental Guidelines to determine the parental controls rating categories. Ratings are combined into levels with recommended audiences — General, Family, Teen, and Mature — to assist with setting viewing restrictions on devices.</div><div><br></div><h3>How to set viewing restrictions</h3><div>Viewing restrictions allow you to take your parental controls one step further so you can block playback of movies and TV shows based on their rating category. You can choose the ratings categories you want to restrict, and on which registered devices you want to apply the restrictions.</div><div><br></div><div>NOTE: Restrictions for Fire Devices and Xbox One must be set on the device, and cannot be controlled from your Amazon account.</div><div><br></div><ol>
<li>While on the <strong>Parental Controls</strong> screen, scroll down from where you set the PIN to set viewing restrictions.</li>
<li>Select the ratings categories you want to restrict.</li>
<li>Continue scrolling to select the devices to which you want to apply the restrictions.</li>
</ol><div><br></div><div>Once viewing restrictions are set, a <strong>lock</strong> symbol appears next to any titles with ratings in the restricted categories. If anyone tries to watch one of the titles, they will be required to enter the video PIN before playback begins.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Charter
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Charter Communications recently underwent a merger with Time Warner and Bright House Networks. They are now all the same company: Spectrum. What follows are the parental controls for Spectrum's internet and TV services.</div><div><br></div><h2>Spectrum Parental Controls</h2><div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. For example, you have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com</li>
<li>Spectrum TV channel apps</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong>, and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for <strong>Preferences</strong> will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable <strong>Parental Controls</strong>. You might need to select the <strong>lock</strong> icon on the Parental Control window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block. You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your Parental Control and Browser Protection settings. If a website is added to the website exception list, it won't be blocked for any reason.<em><br></em><br>
</li>
</ol><h2>Spectrum’s Security Suite Parental Controls</h2><h3>Content blocker</h3><div>Restrict access to sites based on content, or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under Channel blocks, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows 10
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows 10 is the latest operating system available for PCs. It allows for seamless connection between PCs, Windows phones, and Xbox One gaming consoles. All your parental controls for Windows 10 are found in Microsoft Family, where you’ll also handle parental controls for your other Microsoft devices.<br><br>
</div><h2>Setting Parental Controls on Windows 10</h2><h3>How to add child accounts to your family</h3><div>First, you’ll add a Family user account to your computer. There you’ll indicate that the account is for a child under your supervision, and then you’ll setup all content and usage restrictions through Microsoft Family. Both you and your child will need a <a href="https://signup.live.com/">Microsoft Account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the <strong>Windows Settings</strong> menu and choose <strong>Account</strong>s.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your <strong>Windows Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now, you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. The three most important areas are:<ol>
<li>Web Browsing</li>
<li>Apps, Games, &amp; Media</li>
<li>Screen Time</li>
</ol>
</li>
<li>In the <strong>Web Browsing</strong> section, you’ll find Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites. Note that these controls only work on Internet Explorer and Microsoft Edge — Microsoft parental controls block access to other browsers by default. If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
<li>In the <strong>Apps, Games, &amp; Media</strong> section, you’ll be able to block inappropriate apps and games. Microsoft already blocks kids from mature movies and games. These settings will apply to all Windows 10 PCs and Mobile devices, Windows Phone 8, and Xbox One.<ol><li>Here you can set what content the child can buy, download, and stream, based on their age. Microsoft defaults it to the child’s current age, but you can adjust it to whatever you think is best.</li></ol>
</li>
<li>Finally, you can set screen time limits and schedules for each day of the week. You can set limits from 0 to 12 hours in half-hour increments. The default access schedule is from 7a.m. to 10p.m. each day.<ol><li>If your child needs to use any Windows device outside the screen time limits you set, they have the option to request additional time. You’ll receive an email where you can either approve or deny the request.</li></ol>
</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Internet Explorer/Edge
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you want your child to use Microsoft Edge or Internet Explorer to access the internet while they are using your computer, you’ll set the parental controls in Microsoft Family. This is the same place you go to set controls for your Windows 10 PC and Xbox 360/One gaming consoles, as they are all Microsoft products.<br><br>
</div><h2>Setting Parental Controls&nbsp;</h2><h3>How to add child accounts to your family</h3><div>If you haven’t already done so, you’ll need to add your child to your Microsoft Family. Doing so allows you to indicate that you are the parent, and that the account needs supervision. Both you and your child will need a <a href="https://signup.live.com/">Microsoft account</a>, so if you do not have one, start there.</div><div><br></div><ol>
<li>Open the Windows <strong>Settings</strong> menu and choose <strong>Accounts</strong>.</li>
<li>Choose <strong>Family &amp; Other People</strong> from the left sidebar menu.</li>
<li>Under <strong>Your Family</strong>, click <strong>Add a Family Member</strong>.</li>
<li>Enter the email address associated with your child’s Microsoft account.</li>
<li>Open your child’s email account, find the email from Microsoft, and click the link to confirm that they are your child and need to be added to your Microsoft Family.</li>
<li>Once the account has been added to your Family, you’ll be able to access parental control settings for Microsoft Edge, Internet Explorer, and your PC in general.</li>
</ol><div><br></div><h3>How to access parental control settings</h3><ol>
<li>Choose <strong>Accounts</strong> from your Windows <strong>Settings</strong> menu.</li>
<li>Look at the <strong>Family &amp; Other People</strong> menu again. Now you should see your child’s account and the option to <strong>Manage Family Settings Online</strong>.</li>
<li>Click <strong>Manage Family Settings Online</strong>. This opens the <strong>Microsoft Family Parental Control</strong> page in your browser.&nbsp;</li>
<li>Menu options on the right allow you to monitor each child’s activity and set your parental controls. Because we’re only focusing on Internet Explorer and Microsoft Edge, this will demonstrate the Web Browsing section only.</li>
<li>Windows automatically blocks search results and filters websites that contain potentially inappropriate content. Any website that hasn’t yet been added to Microsoft’s blacklist will still be accessible, and so will user-generated content on “safe” sites.&nbsp;<ol>
<li>These controls only work on Internet Explorer and Microsoft Edge.</li>
<li>Microsoft parental controls block access to other browsers by default.</li>
<li>If you want, you can disable the block on other browsers and use additional parental control methods to protect those browsers.</li>
</ol>
</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Fire is a tablet developed and supported by Amazon. Kids can use it to read Kindle ebooks, play games, watch movies, and use social media.&nbsp;</div><div><br></div><div>It’s equipped with one of the most comprehensive sets of parental controls on the market, and we’ll walk you through how to set them up.<br><br>
</div><h2>Parental Controls on Amazon Fire</h2><h3>Option 1: Basic parental controls</h3><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Tap the switch next to <strong>Parental Controls</strong>.</li>
<li>Enter a password and confirm your password.</li>
<li>Tap <strong>Finish</strong>.</li>
<li>After you turn on parental controls, a <strong>lock</strong> icon will appear at the top of the screen.<br><br>
</li>
</ol><div><strong>Basic parental controls allow you to restrict the following:</strong></div><ul>
<li>The Amazon Store</li>
<li>Web browsing</li>
<li>Email, Contacts, and Calendar apps</li>
<li>Social network sharing</li>
<li>The camera</li>
<li>Specific content types (for example, books or apps)</li>
</ul><div><br></div><div><strong>Basic parental controls allow you to password-protect the following:</strong></div><ul>
<li>Purchases from the Amazon stores on your device (like the Amazon Appstore)</li>
<li>Playing movies and TV shows from Prime Video</li>
<li>Connecting to Wi-Fi</li>
<li>Enabling location services</li>
</ul><div><br></div><div><strong>How to set a curfew and choose when your child can use their tablet:</strong></div><ul>
<li>Tap the switch next to <strong>Set a Curfew</strong> to turn this feature on.</li>
<li>Tap <strong>Curfew Schedule</strong>.</li>
<li>Choose the days and times that the child will not be able to access the device.</li>
<li>To unlock a device in curfew, enter your parental controls password.</li>
</ul><div><br></div><div><strong>How to monitor your child’s tablet use:</strong></div><ul>
<li>Tap the switch next to <strong>Monitor This Profile</strong> to monitor activity on how your child is using their Amazon Fire.</li>
<li>A monitored profile will show a <strong>parent and child</strong> icon at the top of the screen.</li>
<li>View the information by visiting <strong>Activity Center</strong> on the <strong>Your Devices</strong> tab of <strong>Manage Your Content and Devices.</strong>
</li>
<li>You’ll be able to see how much time your child has spent on various apps, which books they’ve read, and what content they’ve accessed.</li>
</ul><div><br></div><h3>Option 2: Purchasing parental controls through Amazon FreeTime Unlimited</h3><div>Amazon FreeTime Unlimited is a subscription service available for customers in the U.S., U.K., and Germany. It’s available on Fire, Android, iOS, Kindle, and compatible Echo devices, and one subscription works across all devices. It gives kids access to thousands of age-appropriate books, movies, TV shows, music, games, and educational apps for a small monthly fee. Parents can use it to create a personalized experience for their kids while striking the right balance between education and entertainment.</div><div><br></div><div>It has additional parental control options, such as limiting the type of content your child accesses until they’ve completed daily goals (i.e., math problems, reading) and shutting itself down at the designated curfew.</div><div><br></div><div><strong>How to subscribe to Amazon FreeTime Unlimited on an Amazon Fire:</strong></div><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Profiles &amp; Family Library</strong>.</li>
<li>Tap your child’s profile.</li>
<li>Tap <strong>Subscribe to Amazon FreeTime Unlimited</strong>.</li>
<li>Select a monthly subscription plan:<ol>
<li>
<strong>Single Child Plan ($4.99/month or $2.99/month for Prime members):</strong> If you have only one child registered to Amazon FreeTime, or if you want to provide access to Kindle FreeTime Unlimited to one, but not all, of the child profiles in your household</li>
<li>
<strong>Family Plan ($9.99/month or $6.99/month for Prime members, $119/year or $83/year for Prime members): </strong>If you want your subscription to cover up to four children in your household<br><br>
</li>
</ol>
</li>
</ol><div><strong>How to use Amazon FreeTime Unlimited’s parental controls:</strong></div><ol>
<li>Tap the <strong>FreeTime</strong> app.</li>
<li>Select the profile for your child.</li>
<li>Choose <strong>Set Daily Goals &amp; Time Limits</strong> and adjust the toggles to choose how long they can spend per day in specific apps (on the device overall).</li>
<li>Choose a <strong>Turn off by</strong> time to prevent them from using their tablet after bedtime.</li>
<li>Tap <strong>Manage your Child’s Content</strong> and then <strong>Smart Filters</strong> to set the age minimum and maximum for the type of content they’re allowed to see.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Amazon Fire, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor photos, videos, web browsing, and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>