<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Lollipop – 5.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to<strong> Android Lollipop</strong>, which is version 5.0 - 5.1.1. This is an older version of Android, as it was released November 12, 2014.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 5.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:<em>&nbsp;</em>
</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings.</strong>
</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF.</strong>
</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S8 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S8 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S8 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div><br></div><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.</div><div><br></div><div>You can also set up Face Recognition, Intelligent Scan, Fingerprint Scanner, and Iris Scanner. To do this:</div><div><br></div><ol>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Biometrics</strong>.</li>
<li>Tap either <strong>A) Fingerprint</strong>, <strong>B) Face Recognition</strong>, <strong>C) Intelligent Scan</strong>, or <strong>D) Iris Scanner</strong>
</li>
</ol><div><br></div><div>What's the Difference Between Fingerprint, Face Recognition, Intelligent Scan, and Iris Scanner?<br><br>
</div><ul>
<li>
<strong>Fingerprint</strong> scan uses your fingerprint to unlock the device.</li>
<li>
<strong>Face Recognition</strong> uses your face to unlock the device.</li>
<li>
<strong>Iris Scanner</strong> uses your eyes to unlock the device by pointing them at the iris scanner.</li>
<li>
<strong>Intelligent Scan</strong> uses both your face and your eyes to unlock the device.</li>
</ul><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>Tap<strong> Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap the status switch beside <strong>Data Limit.</strong>
</li>
<li>Tap <strong>Data Limit.</strong>
</li>
<li>Enter a data usage limit.</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Data Warning</strong>.</li>
<li>Enter the data usage level at which you will receive a warning.</li>
<li>Tap Set.</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    T-Mobile
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you’re a T-Mobile customer and want to set up parental controls, it’s important to note that you must be the Primary Account Holder to add Family Allowances to your account. For T-Mobile One customers with two or more lines, this service is included free. If not, you may be required to pay a monthly fee for the service.</div><div><br></div><div>By default, the Parent Line is the Primary Account Holder, but after you add Family Allowances, you can designate a Parent Line. Both the Parent Line and Primary Account Holder can manage allowances for all lines on the account. Your children’s lines (“managed lines”) can view their individual allowances, but they cannot make changes to the settings.</div><div><br></div><h2>P<strong>arental Control Settings With T-Mobile</strong>
</h2><ul>
<li>Set the number of allowed “Whenever Minutes.”</li>
<li>Set the number of text messages the line can send and receive during a billing cycle.</li>
<li>Set a current allowance if you want to specify an amount of money your child is allowed to spend on any downloads.&nbsp;<ul><li>Note: Billing purchases to your T-Mobile account are blocked while Family Allowances is active, though you can still use a credit card or prepaid card for purchases from the Google Play Store or the iPhone App Store</li></ul>
</li>
<li>Schedule the allowed or blocked time when your children are allowed to use their devices during the pre-defined time periods.<ul>
<li>Set time limits.</li>
<li>Set BedTime.</li>
</ul>
</li>
<li>Set the Allowed and Not Allowed Numbers. Each line can have a maximum of 10 numbers for each list. 411, 611, and 911 do not count toward that maximum.</li>
<li>&nbsp;The child’s line can always send and receive calls and messages to and from any Always Allowed numbers, even after allowances are reached, or during blocked times.</li>
<li>Always Allowed numbers will always allow calls and messages from these specific numbers, regardless of restrictions or allowance limitations. Remember to add the voicemail retrieval number to this list so your child can always check their voicemail.</li>
<li>Never Allowed numbers will always block calls and messages from any number on that list.<br><br>
</li>
</ul><div>You can manage these settings for all the lines on the account.<br><br>
</div><h2><strong>Parental Controls With Family Allowances</strong></h2><div>You can also manage Family Allowances from within the T-Mobile app on your device with these instructions:</div><div><br></div><ol>
<li>Open your T-Mobile App and log in as either the parent or Primary Account Holder.</li>
<li>Select <strong>Profile</strong>.</li>
<li>Click <strong>Family Controls</strong> on the left.</li>
<li>In <strong>Family Allowances</strong>, which is only an option if you’re subscribed to the service, tap <strong>Manage</strong>.</li>
<li>Select the name or the line to view current settings.</li>
<li>Set or change allowances for the selected line.</li>
<li>Tap <strong>Save</strong> on the top right of the page.</li>
</ol><div><br></div><div>Remember, Family Allowance settings don’t work on Wi-Fi or with Wi-Fi calling.</div><div><br></div><h2><strong>Control Screen Time With FamilyMode</strong></h2><div>FamilyMode is an optional T-Mobile service, available for $10/month. The system allows parents to control children’s internet access on smartphones and tablets wherever they are. The Home Base device also allows parents more control over the range of devices in their home.</div><div><br></div><div>Once you’ve added the FamilyMode service to your account, you’ll need the FamilyMode app installed on your phone. You might also consider getting the Home Base device, which offers additional control over other devices in your home.. After installing the app on your phone, connect to the Home Base using either an ethernet cable or by pairing it over your home Wi-Fi network.</div><div><br></div><h3>To set up FamilyMode</h3><ol>
<li>Open the <strong>FamilyMode</strong> app. Press <strong>Get Started</strong>.</li>
<li>Agree to the User Agreement.</li>
<li>Choose <strong>Set up parent app</strong>. Log in with your T-Mobile ID.</li>
<li>Create profiles for each family member.</li>
</ol><div><br></div><h3>Add a new family member</h3><ol>
<li>Tapping the <strong>Menu</strong> icon in the top left of the home screen in the FamilyMode app.</li>
<li>Tap <strong>Add Profile</strong>.</li>
<li>Enter the family member’s name and add an optional photo.</li>
<li>Set filter levels.<ol>
<li>
<strong>High:</strong> Works for children between the ages of 6 and 12. Educational and kid-safe experiences are available by default.</li>
<li>
<strong>Medium:</strong> Designed for teens 13-17. Most options are available. Any platforms, sites, or apps that are 18+ are blocked, and inappropriate categories are filtered and invisible.</li>
<li>
<strong>Low:</strong> Appropriate for 18+. This provides access to most all platforms, categories, and apps, but explicit and mature content is filtered by default.</li>
<li>
<strong>None:</strong> This is for profiles you want FamilyMode to ignore. This is also the option to choose if you just want to be able to set BedTimes for the profile. Time limits, filtering, and usage are not available for platforms with this filter level.</li>
</ol>
</li>
</ol><div><br></div><h3>To add another parent</h3><ol>
<li>Download the FamilyMode app to the parent’s device.&nbsp;</li>
<li>Open the app.</li>
<li>Tap <strong>Get Started</strong> on the welcome screen.</li>
<li>Agree to the user agreement.</li>
<li>Tap <strong>Set up Parent app</strong>.</li>
<li>Tap <strong>Continue</strong> at the T-Mobile Primary Account Holder screen.</li>
<li>Log in with the T-Mobile Primary Account Holder’s information.</li>
<li>Tap <strong>Menu</strong>.</li>
<li>Tap <strong>Add Profile</strong>.</li>
<li>Enter Parent’s name and photo.</li>
<li>Set the filter settings on the device. Tap <strong>Save</strong>.</li>
<li>Enable or disable BedTime. Tap <strong>Save</strong>.</li>
<li>Select the other parent’s device to add it to their profile. Tap <strong>Done</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Pinterest
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>At first glance, Pinterest appears to be one of the safest social media sites. There's little direct communication between participants, so your child is unlikely to connect with predators. Unfortunately, that doesn't mean that Pinterest is entirely safe. There are <a href="https://www.bark.us/blog/pinterest-monitoring-6-things-parents-need-to-know/">several things</a> parents need to keep in mind as they allow their children to browse Pinterest, notably including:</div><div><br></div><ul>
<li>Mature content, including pornographic content, that hasn't yet been blocked by Pinterest</li>
<li>Content that glorifies eating disorders or self-harm</li>
<li>Links that lead away from Pinterest to other sites that could potentially be dangerous</li>
<li>A lack of privacy on Pinterest (most people use their real name to sign up)</li>
<li>Pinterest has secret boards that are visible only to your child and whoever they choose to invite</li>
<li>You can <a href="https://help.pinterest.com/en/article/edit-account-privacy">hide your child’s account from search engines</a> and disable cookie-based personalization</li>
<li>Your child has the ability to <a href="https://help.pinterest.com/en/article/block-or-unblock-someone">block other Pinterest users</a> if they encounter harassment or bullying</li>
</ul><div><br></div><div>It's also important to keep in mind that your child may not be in control of what images they see when they're browsing. Content pinned by the individuals they follow (who your child may never have met) or content that appears after a seemingly innocent search can be surprisingly detrimental. Pinterest’s terms of service state that children must be <a href="https://help.pinterest.com/en/article/age-requirements-for-using-pinterest">at least 13</a> to use their product, but some parents may choose to allow their child to use it earlier.&nbsp;</div><div><br></div><div>How do you keep your child safe while they're browsing Pinterest? There are several steps that can help keep your child safer.</div><div><br></div><h2>Follow Your Child</h2><div>Do you follow your child on Pinterest? While this may not mean that you see everything they look at, it will show you what they're pinning — and make it easy for you to check out their boards. Following your child may help you note any disturbing trends in your child's Pinterest behavior before they become a more serious problem. Knowing that you're following them may also help prevent your child from looking up and pinning content that could be detrimental to their mental health.<br><br>Keep in mind that others can follow your child, too. Avoid linking your child's Pinterest account to their Facebook, Twitter, or Instagram accounts to help prevent strangers from learning more about them.</div><div><br></div><h2>Limit Pinterest Time</h2><div>You may find that limiting your child to browsing Pinterest on a browser helps you keep a more effective eye on what they're doing than allowing them to browse straight from their phone. Consider limiting the amount of time spent on Pinterest just like you would any other social media site. Many parents feel that Pinterest is essentially harmless, and it may be for most children. Others may struggle with the ready availability of pornographic images or inappropriate content. Limiting time on the site can also help limit their exposure to that content.</div><div><br></div><h2>Adjust Parental Controls in Your Browser</h2><div>It can be helpful to <a href="https://www.bark.us/blog/concerned-parents-should-consider-internet-providers-parental-controls-when-selecting-a-service-and-when-setting-up-the-devices-they-provide-their-kids/">adjust parental controls in your browser</a> to help prevent your child from browsing to websites that display inappropriate content, even if they are linked on Pinterest.</div><div><br></div><h2>Talk to Your Child</h2><div>Any time you discover that your child is accessing inappropriate content, it's important to have a conversation about it. Some content is accessed simply because of a child's natural curiosity. Other content may be accessed because your child fell down a metaphorical “rabbit hole” while browsing and ended up in a place they didn't intend to go. No matter how your child accessed that content, however, it's important to talk about it. Share your views, including why you would rather they avoid that type of content. An <a href="https://www.bark.us/blog/tech-accountability-create-technology-contract-family/">open dialogue</a> makes it easier for your child to tell you what they've seen — and it increases the odds that they'll turn to you — instead of to the internet — to learn more.</div><div><br></div><div>Pinterest is a great place for your child to browse hairstyles, outfit ideas, workout plans, and more. With proper parental monitoring, it can be an excellent tool for your child — and these steps can help keep your child safe.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Pinterest, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the child's profile, the images and descriptions that they pin. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">her</a>e.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If your family subscribes to Xfinity Comcast, you will have access to the Xfinity Comcast email service. Your Xfinity email address is associated with the primary account holder and is created when you sign up for services. You will be able to create new email addresses from your account settings.<br><br>Although Xfinity Comcast's email provider doesn't technically have parental controls, there are ways to help keep your child safer while emailing.&nbsp;<br><br>
</div><h2>Using Xfinity Connect to Manage Email Accounts</h2><div>Xfinity Connect is a downloadable app that extends your Comcast services onto mobile devices (Apple and Android), allowing you to access your @comcast.net email address. This app is where the parental restrictions live.</div><div><br></div><h2>How to Change Your Child’s Display Name</h2><div>Create your child’s email account from the main Xfinity dashboard. If this is your child's first email handle, you'll most likely monitor who they exchange emails with and when. However, changing your child's display name is still a good idea to protect his or her identity online. The display name is the name that populates in the "From" field of a sent email. Using a nickname or a pseudonym is a great way of keeping your child's name from falling into the hands of spammers. Here's how to change your display name in Xfinity Connect:</div><div><br></div><ol>
<li>From your Xfinity Connect dashboard, select <strong>Preferences</strong>.</li>
<li>From the <strong>Preferences </strong>page, click<strong> Email</strong>.</li>
<li>On the <strong>Email Preferences</strong> page, you'll see a form labelled <strong>Your name on emails will be</strong>. Fill it in accordingly.</li>
</ol><div>&nbsp;</div><h2>How to Set Spam Filters</h2><ol>
<li>From your Xfinity dashboard, click the <strong>gear</strong> icon and navigate to <strong>Advanced Settings</strong>.</li>
<li>Click <strong>Enable spam filtering</strong>.</li>
<li>If you want a record of potential spam entering your child's inbox you can choose to check the <strong>Save a copy of emails marked as spam</strong> box. Otherwise, they’ll be deleted before even reaching the inbox.</li>
</ol><div><br></div><h2>How to Set an Email Safe List</h2><div>Your Comcast email account also gives you the option to set up a highly limited inbox that only allows emails from specific email addresses. This safe list allows you to control who your child emails — any messages from addresses not included on the safe list will not be delivered.</div><div><br></div><ol>
<li>Click the <strong>gear</strong> icon to navigate to<strong> Settings</strong>.</li>
<li>Click <strong>Advanced Settings</strong>.</li>
<li>Navigate to <strong>Email Safe List </strong>and input the addresses your child may receive mail from.</li>
</ol><div><br></div><h2>How to Set Incoming Email Restrictions</h2><div>Comcast's email service also includes an advanced feature that allows you to create multiple email filters. Though this is a more complicated process, it is a robust system that gives the user the power to sort through incoming email. To create a filter you will dictate the conditions that trigger the filter and the resulting action.</div><div><br></div><ol>
<li>From the<strong> Settings</strong> page, click <strong>Filter rules </strong>followed by <strong>Add new rule</strong>.</li>
<li>Add your <strong>Rule name</strong> into the provided field.</li>
<li>Click <strong>Add condition</strong> and follow the prompts (<a href="https://www.xfinity.com/support/articles/spam-filters-and-email-blocking-new-experience">more details here</a>).</li>
<li>Choose your <strong>Action</strong>.</li>
</ol><div>5. Click <strong>Save</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Xfinity/Comcast email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    PUBG
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>PlayerUnknown’s Battlegrounds, better known by the acronym PUBG, is a large-scale multiplayer military shooter. This involve teams of one to four players competing to be the last ones standing. There are no re-spawns, so just one death leaves players sitting on the sidelines waiting for their friends or, once their team is eliminated, queuing for the next game.</div><div><br></div><div>In contrast to the accessible Fortnite, PUBG is a more realistic and violent experience. The game is currently available on PC, Xbox One, Android, and iOS. The developer, PUBG Corporation, confirmed that a PS4 version is coming soon, and other platforms are being evaluated.</div><div><br></div><h2>Is PUBG appropriate for children?&nbsp;</h2><div>PUBG is explicitly targeted at a mature audience. While it does not have over-the-top, gratuitous violence, the art style is realistic.</div><div><br></div><h3>Mature content</h3><div>Children are at risk of being exposed to offensive or violent content from other players. At the start of each game, all 100 players spawn into smaller areas together while waiting to begin. Often, at least a few players use this time to abuse the proximity chat feature to say offensive things to a captive audience.</div><div><br></div><h3>Communication with strangers</h3><div>PUBG features text chat (for iOS and Android versions only), live, in-game team voice chat, and proximity voice chat. Proximity voice is a feature that allows any of the 100 players in the game to hear each other speak in real time as long as they are close to each other in the game world. If your child is playing PUBG with friends on Xbox Live or Steam, the best communication option is to use the built-in voice chat features that come with those services while disabling proximity voice features that open up the possibility of hearing from strangers.</div><div><br></div><div>There is an in-game reporting system for individual players. While most notable bans are related to cheating, PUBG Corporation recommends reporting players that cross the line with regards to profanity or threats.</div><div><br></div><h2>In-Game Safety Settings&nbsp;</h2><div>For PC, iOS, and Android players, in-game settings and report systems can be used to create an appropriate environment for children. For Xbox One owners, the standard Xbox Live privacy features apply.</div><div><br></div><div>Text can be important for communication in PUBG, but the amount of profanity and other offensive content produced by some players is inappropriate for children. Turning on the profanity filter in the settings is recommended for parents who are satisfied with simple word censoring.</div><div><br></div><h2>How to Turn Off Voice Chat</h2><h3>For PC, iOS, or Android Users&nbsp;</h3><ol>
<li>Click the <strong>gear</strong> icon with the word <strong>Settings</strong> next to it.</li>
<li>Choose <strong>Sound</strong>.</li>
<li>Under the <strong>Voice Chat Mode</strong> heading, choose <strong>Mute</strong>.</li>
<li>Under <strong>Voice Chat Channel</strong>, choose <strong>None</strong>.</li>
<li>If you want to allow party chat but not proximity voice, under <strong>Voice Chat Channel</strong> instead of None, choose <strong>Party</strong>.</li>
<li>For iOS and Android users, the profanity filter is on at all times, with no ability to disable it. There is no option to turn off chat. There is no text chat in the other versions of the game.</li>
</ol><div><br></div><h3>For Xbox One Users&nbsp;</h3><ol>
<li>Visit <a href="https://account.xbox.com/en-US/settings">https://account.xbox.com/en-US/settings</a>. Log in with the Xbox Live username and password your child uses.</li>
<li>Click <strong>Privacy and Online Safety</strong>. Each game has a different array of settings. Choose <strong>PlayerUnknown’s Battleground</strong>.</li>
<li>Look for <strong>Others Can Communicate with Voice, Text, or Invites Settings</strong> and choose <strong>Blocked</strong>. This disables voice and text communications for PUBG on the account.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox 360
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Xbox 360 is a gaming console from Microsoft. It allows you to play video games, stream content from apps, surf the web, and chat with other players via Xbox Live. Setting parental controls is fairly simple, and can be done from the console itself or online. The controls aren’t as robust as those on the Xbox One, but they will still help you protect your child from inappropriate content.<br><br>
</div><h2>Setting Parental Controls on the Xbox 360</h2><div>On the Xbox 360, <a href="https://support.xbox.com/en-US/my-account/manage-gamertag-and-profile/xbox-live-pass-codes">you can control the following</a>:</div><div><br></div><ul>
<li>
<strong>Ratings and Content:</strong> These settings are where you restrict games and video content based on content rating. You can also choose whether or not to allow explicit or unrated content to be played on the console. You can also set exceptions for individual games outside of the rating restrictions you’ve set.</li>
<li>
<strong>Family Timer:</strong> This setting allows you to limit the time your console can be used either on a daily or weekly basis.</li>
<li>
<strong>Xbox Live Access:</strong> Block or allow access to Xbox Live from the console.</li>
<li>
<strong>Xbox Live Membership Creation:</strong> Block or allow the creation of new Xbox Live memberships from the console.</li>
<li>
<strong>Change Pass Code:</strong> Change your pass code.</li>
<li>
<strong>Reset to Default Settings:</strong> This allows you to reset the settings back to their original factory settings.</li>
</ul><div><br></div><h3>Setting controls on the Xbox 360 console</h3><ol>
<li>On your console, go to <strong>Settings</strong>. Then, choose <strong>Family</strong>.</li>
<li>Choose the gamertag for the child whose settings you want to edit.</li>
<li>Under <strong>Privacy and Online Settings</strong>, choose <strong>Change Settings</strong>.</li>
<li>Update the settings. Exit the screen to save.</li>
</ol><div><br></div><h3>Setting controls on Xbox Live through your computer</h3><ol>
<li>Sign into your Xbox account.</li>
<li>Click <strong>My Account</strong>.</li>
<li>Click <strong>Security, Family, &amp; Forums</strong>.</li>
<li>Click <strong>Xbox 360 Online Safety</strong>.</li>
<li>Choose the account you want to edit.</li>
<li>Choose <strong>Allowed</strong> or <strong>Blocked</strong> next to the areas you want to limit or allow access to.&nbsp;</li>
<li>Click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Changing your passcode</h3><div>The passcode is a PIN you can use to adjust content and controls. To change it, you must be on your console.<br><br>
</div><ol>
<li>Go to <strong>Settings</strong>, then <strong>Family</strong>.</li>
<li>Enter your pass code.</li>
<li>Choose <strong>Change Pass Code</strong>.</li>
<li>Choose <strong>Change Pass Code</strong> again.</li>
<li>Enter a new <strong>Pass Code</strong> twice.</li>
<li>Choose <strong>Done</strong>.</li>
<li>
<strong>Save</strong> and <strong>Exit</strong>.</li>
</ol><div><br></div><div>If you forget the pass code you set up for parental controls, you can reset it by answering the pass code question you set up with parental controls. You must be on your console for this.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>, then <strong>Family</strong>.</li>
<li>Choose a content setting to change.</li>
<li>Enter any pass code when prompted, even if it’s not the right one.</li>
<li>Once you’re notified the pass code is incorrect, choose <strong>Reset Pass Code</strong>.</li>
<li>Enter the answer to your Pass Code question and choose <strong>Done</strong>.</li>
</ol><div><br></div><div>If you can’t remember the answer to this question, you’ll need to contact support for more help.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you use AT&amp;T as your internet service provider, you have access to some great basic parental controls that can help you set digital ground rules for your children. You can make basic changes to your router from any connected device, keeping your family safe and secure.</div><div><br></div><h2>Setting Parental Controls With AT&amp;T</h2><div>AT&amp;T’s basic parental controls allow you to restrict chosen devices to pre-set websites and restrict the time during which a device has an internet connection. Per<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015462?make=ATT&amp;model=WirelessNetMF279&amp;gsi=vknAoFY"> AT&amp;T’s Wireless Internet support page</a>:</div><div><br></div><ol>
<li>From a device that is connected to your AT&amp;T network, go to<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Click <strong>Parental Controls</strong> and check the box next to the devices you wish to limit.</li>
<li>Click <strong>Apply</strong>.</li>
<li>Visit <strong>Permitted Websites</strong> and click <strong>Add New</strong> to add websites the device has permission to visit.</li>
<li>Visit <strong>Restricted Time Settings</strong> to set restricted times during which the device does not have access to the internet.</li>
</ol><div>&nbsp;</div><h2>Block a Device From Connecting to Wi-Fi</h2><div>Blocking devices from a Wi-Fi connection is a quick and easy way to “turn off the internet” and keep your kids from after-hours browsing.<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015465?make=ATT&amp;model=WirelessNetMF279&amp;gsi=GLNI97k"> Per AT&amp;T’s support page</a>:</div><div><br></div><ol>
<li>Visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a> and log in.</li>
<li>Click <strong>Connected Devices</strong> on the menu on the left-hand side of your screen.</li>
<li>On the Connected Devices page, check the box below <strong>Block Access</strong>.</li>
<li>Click <strong>Apply</strong> followed by <strong>OK</strong>.</li>
<li>You can unblock a device by clicking <strong>Unblock Access</strong> in the <strong>Blocked Wi-Fi Devices</strong> panel.<br><br>
</li>
</ol><h2>View and Track Data Usage by Device</h2><div>Not sure if your kids are using too much data? Now there’s an easy way to see who’s hogging all your bandwidth.</div><div><br></div><div>1.&nbsp; &nbsp; &nbsp; From your connected device, visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</div><div>2.&nbsp; &nbsp; &nbsp; Enter your login information and click <strong>Login</strong>.</div><div>3.&nbsp; &nbsp; &nbsp; Find and click <strong>Data Usage</strong> in the menu on the left-hand side of your screen.</div><div>4.&nbsp; &nbsp; &nbsp; On the <strong>Data Usage</strong> page, click <strong>Enable</strong> beneath the <strong>Data Usage Details</strong> panel.</div><div>5.&nbsp; &nbsp; &nbsp; Click <strong>Apply</strong>.</div><div>6.&nbsp; &nbsp; &nbsp; A new panel will appear, providing a breakdown of data usage by device.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AT&amp;T
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you use AT&amp;T as your internet service provider, you have access to some great basic parental controls that can help you set digital ground rules for your children. You can make basic changes to your router from any connected device, keeping your family safe and secure.</div><div><br></div><h2>Setting Parental Controls With AT&amp;T</h2><div>AT&amp;T’s basic parental controls allow you to restrict chosen devices to pre-set websites and restrict the time during which a device has an internet connection. Per<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015462?make=ATT&amp;model=WirelessNetMF279&amp;gsi=vknAoFY"> AT&amp;T’s Wireless Internet support page</a>:</div><div><br></div><ol>
<li>From a device that is connected to your AT&amp;T network, go to<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Click <strong>Parental Controls</strong> and check the box next to the devices you wish to limit.</li>
<li>Click <strong>Apply</strong>.</li>
<li>Visit Permitted Websites and click <strong>Add New</strong> to add websites the device has permission to visit.</li>
<li>Visit <strong>Restricted Time Settings</strong> to set restricted times during which the device does not have access to the internet.</li>
</ol><div>&nbsp;</div><h2>Block a Device from Connecting to Wi-Fi</h2><div>Blocking devices from a Wi-Fi connection is a quick and easy way to “turn off the internet” and keep your kids from after-hours browsing.<a href="https://www.att.com/devicehowto/tutorial.html#!/interactive/id/interactive_1500015465?make=ATT&amp;model=WirelessNetMF279&amp;gsi=GLNI97k"> Per AT&amp;T’s support page</a>:</div><div><br></div><ol>
<li>Visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a> and log in.</li>
<li>Click <strong>Connected Devices</strong> on the menu on the left-hand side of your screen.</li>
<li>On the <strong>Connected Devices</strong> page, check the box below <strong>Block Access</strong>.</li>
<li>Click <strong>Apply</strong> followed by <strong>OK</strong>.</li>
<li>You can unblock a device by clicking <strong>Unblock Access</strong> in the <strong>Blocked Wi-Fi Devices</strong> panel.<br><br>
</li>
</ol><h2>View and Track Data Usage by Device</h2><div>Not sure if your kids are using too much data? Now there’s an easy way to see who’s hogging all your bandwidth.</div><div><br></div><ol>
<li>From your connected device, visit<a href="http://att.wirelessinternet"> http://att.wirelessinternet</a>.</li>
<li>Enter your login information and click <strong>Login</strong>.</li>
<li>Find and click <strong>Data Usage</strong> in the menu on the left-hand side of your screen.</li>
<li>On the <strong>Data Usage</strong> page, click <strong>Enable</strong> beneath the <strong>Data Usage Details</strong> panel.</li>
<li>Click <strong>Apply</strong>.</li>
<li>A new panel will appear, providing a breakdown of data usage by device.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Not Sure
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Galaxy Tab
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Samsung Galaxy Tab series is a line of tablets that uses the Android operating system. These tablets are portable, have Wi-Fi capability, and come with a variety of other features — including easy-to-use parental controls in their Kids Mode app.<br><br>
</div><h2>The Kids Mode Parental Control App</h2><div>The Samsung Galaxy Tab products are best managed with the Kids Mode app, which provides children with age-appropriate content while allowing parents to restrict access to apps and stored media content on the device. The Kids Mode app is only available on newer generations (Samsung Galaxy Tab 3 and higher). Please install the latest Android operating system update beforehand to make sure Kids Mode runs smoothly.</div><div><br></div><div>Since the Kids Mode app can be toggled on and off, you need to begin by setting up a user profile for your child on the device.</div><div><br></div><h3>Create a user profile for your child on a Samsung Galaxy Tab</h3><div>&nbsp;</div><ol>
<li>Go to the tablet’s <strong>Home</strong> screen.</li>
<li>Tap on the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Users</strong>.</li>
<li>Tap <strong>Add user or profile</strong>.</li>
<li>Tap <strong>Choose restricted profile</strong>.</li>
<li>Create a password.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><div>Once you’ve set up a user profile for your child, you can download the Kids Mode app.<br><br>
</div><h3>Download Kids Mode</h3><ol>
<li>If Kids Mode is not already on your device, open the <strong>Google Play Store</strong>.</li>
<li>Search <strong>Samsung Kids Mode</strong> to pull up the Kids Mode app, created by Samsung Electronics Co. Ltd.</li>
<li>Tap <strong>Install</strong>.</li>
</ol><div><br></div><h3>Set up Kids Mode</h3><ol>
<li>From the <strong>Home</strong> screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Enter a new four-digit PIN.&nbsp;</li>
<li>Enter your child’s name and birthday for their Kids Mode profile.</li>
<li>Tap <strong>Accept</strong> on the disclaimer.</li>
<li>Tap <strong>Skip</strong> to add apps to Kids Mode later, or <strong>Next</strong> to do it now.</li>
<li>Tap <strong>Finish</strong>.</li>
</ol><div><br></div><h3>Add apps using Kids Mode</h3><div>Which apps are your child allowed to use on their Samsung Galaxy Tab? That’s up to you! Decide which apps are permitted when Kids Zone is activated — you can add up 30.</div><div>&nbsp;</div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.</li>
<li>Tap <strong>Applications</strong>.</li>
<li>Tap the <strong>Add</strong> icon in the upper right-hand corner.</li>
<li>If a disclaimer appears, tap <strong>Accept</strong> to agree and continue.</li>
<li>Select the apps you’re allowing your child to use by touching the box. A green checkmark will appear on each selected app.</li>
<li>Tap <strong>Done</strong> when you’re finished.</li>
</ol><div>&nbsp;</div><div>Even without allowing access to additional apps, children using Kids Mode will automatically have access to the following apps:<br><br>
</div><ul>
<li>Kids Drawing</li>
<li>Kids Music</li>
<li>Kids Media</li>
<li>Kids Voice Recorder</li>
<li>Kids Camera</li>
<li>Kids Photo Gallery</li>
<li>Kids Store (they can view and save apps, but only parents can choose to purchase or download an app)</li>
</ul><div><br></div><h3>Create time restrictions using Kids Mode</h3><div>How long should your child be allowed to use their Samsung Galaxy Tab? You can control exactly how long they can use the device in a single day.&nbsp;</div><div><br></div><ol>
<li>From the Home screen, tap <strong>Apps</strong>.</li>
<li>Tap <strong>Kids Mode</strong>.</li>
<li>Tap the <strong>Parental Control</strong> icon.</li>
<li>Enter your four-digit PIN.&nbsp;</li>
<li>Select <strong>Daily playtime limit</strong>.</li>
<li>You can choose to leave it on <strong>No time limit</strong>, or you can click <strong>Time limit</strong> (default is 30 minutes per day) and tap the <strong>Settings</strong> icon to personalize the time limit in five-minute intervals (0-180 minutes).</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>