<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/iphone-d02ffa5cbee4d36181e81a6fa0d482d67195ddf9e8db3539a45045b03af8c003.png">
            iPhone
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    iPhone 7
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have an iPhone, iPad, or iPod Touch, it’s important that you upgrade to Apple’s latest operating system: <strong>iOS 12</strong>. While past versions do have parental control settings, iOS 12 will ensure that you have access to the best features for setting and managing your child’s smart devices!</div><div><br></div><div>To see which operating system your child’s device is running, go to <strong>Settings </strong>&gt; <strong>General </strong>&gt; <strong>Software Update</strong>. If you are due for an upgrade, you will be prompted to <strong>Download and Install</strong> the latest software.<br><br>
</div><h2>Devices Supporting iOS 12</h2><h3><strong>iPhone</strong></h3><ul>
<li>iPhone X</li>
<li>iPhone 8</li>
<li>iPhone 8 Plus</li>
<li>iPhone 7</li>
<li>iPhone 7 Plus</li>
<li>iPhone 6s</li>
<li>iPhone 6s Plus</li>
<li>iPhone 6</li>
<li>iPhone 6 Plus</li>
<li>iPhone SE</li>
<li>iPhone 5s</li>
</ul><div><br></div><h3><strong>iPad</strong></h3><ul>
<li>12.9-inch iPad Pro, 2nd generation</li>
<li>12.9-inch iPad Pro, 1st generation</li>
<li>10.5-inch iPad Pro</li>
<li>9.7-inch iPad Pro</li>
<li>9.7-inch iPad, 6th generation (2018)</li>
<li>iPad, 5th generation (2017)</li>
<li>iPad Air 2</li>
<li>iPad Air</li>
<li>iPad mini 4</li>
<li>iPad mini 3</li>
<li>iPad mini 2</li>
</ul><div><br></div><h3><strong>iPod Touch</strong></h3><ul><li>iPod Touch, 6th generation</li></ul><div><br></div><h2>Getting the Most Out of iOS 12</h2><div>These step-by-step instructions will guide you through the most important Parental Control features available to you on iOS 12:<br><br>
</div><ul>
<li>Getting started with Apple Family Sharing</li>
<li>Setting up Screen Time content and privacy controls</li>
<li>Taking advantage of the new controls suite</li>
</ul><div><br></div><h2>Apple Family Sharing</h2><div>In order to utilize Apple’s iOS 12 update to Parental Controls, you’ll need to have a child set up. (If your child is already set up, feel free to skip this step). To do this, you’ll need to enable Family Sharing. You’ll be able to add more than one parent to serve as the privilege holder and have control of these settings from their respective devices — as long as the parent Apple IDs are linked.</div><div><br></div><div>If you need to change or update your child’s birthday, you can find instructions at <a href="https://support.apple.com/en-us/HT204164">https://support.apple.com/en-us/HT204164</a>.<br><br>
</div><h3>Creating your Family Sharing account</h3><div>Family Sharing allows you to share controls for purchases, storage, locations, calendars, and more with members of your family. Simply select features to share and send invitations. You’ll be able to add up to 6 children with Family Sharing, although you won’t be able to add children that are 18 years or older.</div><div><br></div><div>To begin, go into the <strong>Settings</strong> app on your primary parent device (iPhone or iPad). From there, tap the Apple ID button, and then tap <strong>Set up Family Sharing</strong> &gt; <strong>Get Started</strong>. You will then be able to select apps and features to share across your family’s iCloud account.</div><div>
<br>There are a number of great options to consider, including:</div><div><br></div><ul>
<li>iTunes and App Store Purchases</li>
<li>Apple Music</li>
<li>iCloud Storage</li>
<li>Location Sharing</li>
<li>Screen Time</li>
</ul><div><br></div><div>Selecting each of these options will prompt you to tap either <strong>Add Child</strong> or <strong>Create a Child Account</strong>.</div><div><br></div><div>To <strong>add a child</strong>, simply enter their <strong>Apple ID</strong> and <strong>Password</strong>, and then tap <strong>Next</strong>. They will then receive an invitation to join the family. As soon as they accept, your family’s settings will apply to their account.</div><div><br></div><div>To <strong>create a child account</strong>, enter their birthday, agree to the Parent Privacy Disclosure, and confirm you are the parent by entering the CCV code found on the back of the credit card registered to your account. You can then enter your child’s name, create an Apple ID, and set a password for them. Your child will automatically be added to your family.</div><div><br></div><div>When you’ve finished, you’ll be directed to the control suite for each feature offered by iOS 12. <strong>For the purposes of setting and managing Parental Controls, you should focus on Screen Time.</strong>
</div><div><br></div><h3>Screen Time</h3><div>Screen Time will give you insights about how much time you’re using your device, and you can set limits for managing:</div><ul>
<li>
<strong>Downtime &amp; App Limits:</strong> Set a schedule for time away from the screen and set daily time limits for app categories you want to manage.</li>
<li>
<strong>Content &amp; Privacy Restrictions:</strong> Restrict settings for explicit content, purchases and downloads, and privacy.</li>
</ul><div><br></div><h3>Downtime &amp; App Limits</h3><div>
<strong>Downtime</strong> allows you to decide how long your child can use their phone as determined by the set timeframe. Use the Start and End times to set a schedule regulating your child’s screen time, then tap <strong>Set Downtime</strong>.</div><div><br></div><div>
<strong>App Limits</strong> allows you to set up time limits on application usage that will make the apps inaccessible outside of the timefame you establish. Your child can request permission for more time.</div><div><br></div><div>Note that a parent will only be able to restrict apps based on categories (not specific applications) that are designated by Apple. The available categories include:</div><div><br></div><ul>
<li>All Apps &amp; Categories</li>
<li>Social Networking</li>
<li>Games</li>
<li>Entertainment</li>
<li>Creativity</li>
<li>Productivity</li>
<li>Education</li>
<li>Reading &amp; Reference</li>
<li>Health &amp; Fitness</li>
<li>Other</li>
</ul><div>
<br>When your child starts using an app that falls under any of the categories you’ve selected, their activity will be shown in the Screen Time window. Tap the hourglass icon to customize the allowable screen time.<br><br>
</div><h3>Content &amp; Privacy Restrictions</h3><div>This feature will allow you to restrict your child from viewing mature or explicit content within native Apple apps like iTunes, the App Store, Websites, and Music. You will also be able to set permissions to restrict them from changing the privacy settings on the iOS device.</div><div>
<br>Select <strong>Content &amp; Privacy</strong> &gt; <strong>Continue</strong> to begin. You will then be required to set a passcode to disable Screen Time. <strong>This passcode is for your use only! </strong>If you’ve already set a passcode, you can find options to change or remove it at the bottom of the Screen Time page.</div><div>
<br>Options on this page include:</div><div><br></div><ul>
<li>
<strong>iTunes and App Store Purchases:</strong> Restrict the ability to install or delete apps, or make in-app purchases. You may require a password to do so instead.</li>
<li>
<strong>Allowed Apps:</strong> Restrict which native Apple apps your child can use (Mail, Safari, FaceTime, etc).</li>
<li>
<strong>Content Restrictions:</strong> Restrict the content your child can access across the entire device. Generally speaking, this feature ensures that your child can’t access explicit content, such as movies or TV shows over a certain rating, explicit books or music, or explicit web content searched through Safari.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    WhatsApp
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>WhatsApp is a free messaging system currently owned by Facebook. It allows users to send unlimited text messages, voice messages, and video calls, as well as images, documents, and other media to other WhatsApp users around the world. Users can access the app through mobile devices and desktop computers — all they need is a cell phone number.&nbsp; Whatsapp is one of the most popular messaging apps in the world and is available internationally, with over a billion users worldwide.</div><div><br></div><div>Users must be 13 to use Whatsapp. Younger WhatsApp users prefer to use the application rather than their phone's native texting because it allows them more privacy and freedom, or so they believe. This is primarily because parents tend to be more familiar with basic texting than newer applications like WhatsApp.&nbsp;</div><div><br></div><div>WhatsApp is not considered to be a typical type of social media, since the platform is not public. Rather, it is considered "dark social" — social sharing that is not measured by web analytics platforms. This means that users cannot flag inappropriate messages to alert WhatsApp to the problem, though they may screenshot the message and share it with the company. The company cannot remove posts, though it can ban users.</div><div><br></div><h2>Privacy Controls for WhatsApp</h2><h3>How to block someone</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Blocked</strong>, and add who you’d like to block. Blocked contacts will no longer be able to call you or send your child messages.&nbsp;</li>
</ol><div><br></div><h3>How to turn off visible public public information</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Up top, you can edit the following four items and select who can see what on your child’s profile:<ol>
<li>
<strong>Last Seen:</strong> When your child was last using the app</li>
<li>
<strong>Profile Photo:</strong> Your child’s photo</li>
<li>
<strong>About:</strong> Your child’s mini bio</li>
<li>
<strong>Status:</strong> What they’re currently doing</li>
</ol>
</li>
</ol><div><br></div><h3>How to turn off Live Location</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Account</strong>.</li>
<li>Next, tap <strong>Privacy</strong>.</li>
<li>Tap <strong>Live Location</strong> and select the chats from which you’d like to remove.</li>
</ol><div><br></div><h3>How to report safety and security issues to WhatsApp</h3><ol>
<li>In the bottom-right corner of the app, tap <strong>Settings</strong>.</li>
<li>Tap <strong>Help</strong>.</li>
<li>Then tap <strong>Contact Us</strong> to send a message.&nbsp;</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On WhatsApp, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor WhatsApp messages for Android and Amazon device users. For iOS users <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor your child's messages and message attachments (if available). If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xfinity / Comcast
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If your family subscribes to Xfinity Comcast, you will have access to the Xfinity Comcast email service. Your Xfinity email address is associated with the primary account holder and is created when you sign up for services. You will be able to create new email addresses from your account settings.<br><br>Although Xfinity Comcast's email provider doesn't technically have parental controls, there are ways to help keep your child safer while emailing.&nbsp;<br><br>
</div><h2>Using Xfinity Connect to Manage Email Accounts</h2><div>Xfinity Connect is a downloadable app that extends your Comcast services onto mobile devices (Apple and Android), allowing you to access your @comcast.net email address. This app is where the parental restrictions live.</div><div><br></div><h2>How to Change Your Child’s Display Name</h2><div>Create your child’s email account from the main Xfinity dashboard. If this is your child's first email handle, you'll most likely monitor who they exchange emails with and when. However, changing your child's display name is still a good idea to protect his or her identity online. The display name is the name that populates in the "From" field of a sent email. Using a nickname or a pseudonym is a great way of keeping your child's name from falling into the hands of spammers. Here's how to change your display name in Xfinity Connect:</div><div><br></div><ol>
<li>From your Xfinity Connect dashboard, select <strong>Preferences</strong>.</li>
<li>From the <strong>Preferences </strong>page, click<strong> Email</strong>.</li>
<li>On the <strong>Email Preferences</strong> page, you'll see a form labelled <strong>Your name on emails will be</strong>. Fill it in accordingly.</li>
</ol><div>&nbsp;</div><h2>How to Set Spam Filters</h2><ol>
<li>From your Xfinity dashboard, click the <strong>gear</strong> icon and navigate to <strong>Advanced Settings</strong>.</li>
<li>Click <strong>Enable spam filtering</strong>.</li>
<li>If you want a record of potential spam entering your child's inbox you can choose to check the <strong>Save a copy of emails marked as spam</strong> box. Otherwise, they’ll be deleted before even reaching the inbox.</li>
</ol><div><br></div><h2>How to Set an Email Safe List</h2><div>Your Comcast email account also gives you the option to set up a highly limited inbox that only allows emails from specific email addresses. This safe list allows you to control who your child emails — any messages from addresses not included on the safe list will not be delivered.</div><div><br></div><ol>
<li>Click the <strong>gear</strong> icon to navigate to<strong> Settings</strong>.</li>
<li>Click <strong>Advanced Settings</strong>.</li>
<li>Navigate to <strong>Email Safe List </strong>and input the addresses your child may receive mail from.</li>
</ol><div><br></div><h2>How to Set Incoming Email Restrictions</h2><div>Comcast's email service also includes an advanced feature that allows you to create multiple email filters. Though this is a more complicated process, it is a robust system that gives the user the power to sort through incoming email. To create a filter you will dictate the conditions that trigger the filter and the resulting action.</div><div><br></div><ol>
<li>From the<strong> Settings</strong> page, click <strong>Filter rules </strong>followed by <strong>Add new rule</strong>.</li>
<li>Add your <strong>Rule name</strong> into the provided field.</li>
<li>Click <strong>Add condition</strong> and follow the prompts (<a href="https://www.xfinity.com/support/articles/spam-filters-and-email-blocking-new-experience">more details here</a>).</li>
<li>Choose your <strong>Action</strong>.</li>
</ol><div>5. Click <strong>Save</strong>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Xfinity/Comcast email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Fortnite
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Fortnite<em> </em>is a brilliant mashup of creative building and third-person shooting action. Fortnite is available on PlayStation 4 and Xbox One, as well as Windows and Mac. The popular multiplayer version of the game, Battle Royale,<em> </em>has taken the world by storm, with about 80 million people currently enjoy the action-packed adventure.</div><div><br></div><div>An internet connection is required to play the game, and when your child plays Fortnite, they can instantly connect with people around the globe. The game is rated “T for Teen” due to some violence (gunfire, explosions, swords, etc.)</div><div><br></div><div>Fortnite is a very social game, as kids can play against their friends or players from across the world. YouTube and Twitch gamers have contributed to the game's popularity by streaming their gameplay and amusing antics. The most popular gaming mode, Battle Royale, also happens to be free (with in-app purchases available).</div><div><br></div><h2>Is Fortnite Appropriate for Children?</h2><div>To some parents, the absence of blood in Fortnite makes the game less of a concern than other shooting games. However, the online chat element does open the door to inappropriate language and contact from strangers. Games with chat features generally aren't recommended for those under age 13, but with parental controls, Fortnite can serve as a great alternative to other, more brutal first-person shooter games.</div><div><br></div><h3>Fortnite and Twitch</h3><div>Many kids aren't just playing the game — they're watching others play it on Twitch. Twitch is a platform that video game enthusiasts use to livestream themselves playing games like Fortnite. Livestreaming is, by nature, a bit unpredictable. There's no editing for language or mature content. If your child is using the Twitch platform to watch gamers play Fortnite, be aware of the lack of censorship they'll encounter.</div><div><br></div><h2>Fortnite Parental Controls</h2><div>Both the gaming console and PC versions of <em>Fortnite </em>offer live, unmoderated chat capabilities. Players can opt to use voice chat or type text to the screen. This, unfortunately, exposes kids to the whims of strangers and the high likelihood of obscene language, with people talking into microphones in real time during the game.<br><br>
</div><h3>How to turn off the voice chat option in the Fortnite</h3><ol>
<li>Navigate to the top right corner of the main page.</li>
<li>Select the <strong>...</strong>&nbsp; icon.</li>
<li>Select then the <strong>gear</strong> icon.</li>
<li>Go to the <strong>Audio</strong> tab at the top of your screen.</li>
<li>Adjust voice chat and other audio features.</li>
</ol><div><br></div><h2>How to report another user</h2><div>If you or your child feel that another player has acted inappropriately, you can select <strong>Report Player</strong> at the bottom right of the screen at any time.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Steam
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Steam is a free gaming platform available for download onto your computer. With it, you can buy and download video games — and there are millions to choose from. While many of them are appropriate for children, there are plenty that aren’t. Fortunately, parents can take control and decide what gets downloaded.</div><div><br></div><div>Any time a person sets up a new Steam account, that account automatically gets full access to everything: the Steam store, all purchased games, and the Steam Community discussions. To prevent children from purchasing or accessing inappropriate content on the Steam platform, there is a set of parental controls available known as Family View.</div><div><br></div><div>With Family View, access to the Steam Store, Library, Community, Friends content, and other features may be granted by the entry of a secret PIN.</div><div><br></div><h2>How to Set Parental Controls on Steam</h2><ol>
<li>Login to Steam with the account your child will use.</li>
<li>Click the <strong>Steam menu</strong> in the top, and open <strong>Settings</strong>.</li>
<li>Go to the <strong>Family</strong> tab that opens on the left side of the window.</li>
<li>Click <strong>Family View</strong> to start the wizard.</li>
<li>Follow the on-screen instructions through each step of the wizard. This allows you to choose the content and features you want the child to be able to access with their account.</li>
<li>Select and confirm your new PIN.</li>
</ol><div><br></div><div>It’s worth noting that even though there is a parental control system in place, Steam still leaves vetting the games and checking the ratings to parents. Games are rated by age, but may not provide enough detail about what is actually in the game for parents to make informed decisions. This means parents will have to rely on third-party sources such as <a href="https://www.commonsensemedia.org/">Common Sense Media</a> to learn more about titles before making decisions about games and restrictions.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon allows parents to set up parental controls for individual devices that are connected to the network. Whenever a device is connected to a wireless network and allowed access via the password, Verizon logs the device.</div><div><br></div><div>For example, if your child has a laptop and a phone that are connected to the Wi-Fi network, each device will be listed separately, along with any other devices that have connected to the network. Verizon also allows users to set up parameters on a device-by-device basis, meaning the devices used by children can have specific controls.</div><div><br></div><h2>Setting Up Parental Controls</h2><div>Verizon subscribers can access parental controls directly <a href="https://www.verizon.com/home/myverizon/?session=n&amp;goto=https%3A%2F%2Fwww.verizon.com%2Fforyourhome%2Febillpay%2Fbilling%2Fpaybill">here</a>. To begin the process of setting up parental controls, you will need to log in into your Verizon account.</div><div>
<br>Once logged into your account:<br><br>
</div><ol>
<li>Click on the <strong>Parental Controls</strong> tab at the top of the screen.</li>
<li>Scroll down until you see the <strong>Networked computers/devices</strong> list.</li>
<li>Find your child's device, click on it, then click the <strong>Add</strong> button.</li>
<li>You can add multiple devices at one time or set up different settings for each device.</li>
</ol><div><br></div><h2>Blocking Specific Websites</h2><div>To block specific websites or types of sites, you will need to create rules that ensure the selected devices cannot access content that you find objectionable. You can do this by listing specific websites, as well as sites that contain particular keywords.</div><div><br></div><ul>
<li>After you've selected the devices that you want to create rules for, click on the <strong>Block The Following Websites and Embedded Keywords</strong> within a Website tab.</li>
<li>Type in the websites and keywords that you'd like to block.</li>
<li>Follow the prompts to select whether the sites and keywords should always be blocked, or only during specific times of the day.</li>
</ul><div><br></div><div>You may need to set up multiple rules based on the type of websites you are looking to block. If you'd like, for example, to block social media during certain times of day, you will need to set up one rule. A separate rule must be created to block mature content permanently. You will need to follow the same steps for each individual rule you wish to set up.</div><div><br></div><h2>Limiting Your Child's Daily Access to the Internet</h2><div>You can also set up a rule that blocks your child's ability to access the internet during a specified period. For example, if you'd like your child's device to disconnect at 11 p.m. you can set perimeters to block all internet access starting at 11 p.m. You must also set a time of day that the device can once again access the internet.</div><div><br></div><ul>
<li>Follow the steps above to create a rule for your child's devices.</li>
<li>Instead of clicking on the <strong>Block the Following Websites</strong> option, click on the <strong>Block all Internet Access</strong> tab.</li>
<li>Pick the days of the week and the times of the day you'd like all internet access to be blocked.</li>
<li>Save the rule and return to your main account page.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Prime
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Prime Video is a video streaming service that is included free as part of your Amazon Prime membership. This allows members to watch thousands of movies and TV shows for free.</div><div><br></div><div>Amazon Prime Video is available on web browsers and has an app that can be downloaded on various streaming devices, including Roku, XBox One, Playstation 4, and Nintendo Wii U. It can also be accessed on smartphones and tablets.</div><div><br></div><h2>Amazon Prime Parental Control Settings</h2><h3>How to create an Amazon Video PIN</h3><div>To enable parental controls, Amazon Prime Video requires you to first create a PIN for your account. The PIN will serve to lock kids out from restricted content.</div><div><br></div><ol>
<li>Make sure you’re logged in to your Amazon account from a web browser.</li>
<li>In the top right corner, click <strong>Hello [your name] Account &amp; Lists</strong>.</li>
<li>When the drop down opens, click <strong>Your Account</strong>.</li>
<li>Scroll down a little bit and on the left-hand side, in the <strong>Digital Content and Devices</strong> box, click <strong>Video Settings</strong>.</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>At the top of the page, set your PIN and click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Rating categories</h3><div>Amazon Prime Video follows the same ratings guidelines as the Motion Picture Association of America and TV Parental Guidelines to determine the parental controls rating categories. Ratings are combined into levels with recommended audiences — General, Family, Teen, and Mature — to assist with setting viewing restrictions on devices.</div><div><br></div><h3>How to set viewing restrictions</h3><div>Viewing restrictions allow you to take your parental controls one step further so you can block playback of movies and TV shows based on their rating category. You can choose the ratings categories you want to restrict, and on which registered devices you want to apply the restrictions.</div><div><br></div><div>NOTE: Restrictions for Fire Devices and Xbox One must be set on the device, and cannot be controlled from your Amazon account.</div><div><br></div><ol>
<li>While on the <strong>Parental Controls</strong> screen, scroll down from where you set the PIN to set viewing restrictions.</li>
<li>Select the ratings categories you want to restrict.</li>
<li>Continue scrolling to select the devices to which you want to apply the restrictions.</li>
</ol><div><br></div><div>Once viewing restrictions are set, a <strong>lock</strong> symbol appears next to any titles with ratings in the restricted categories. If anyone tries to watch one of the titles, they will be required to enter the video PIN before playback begins.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Verizon
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Verizon allows parents to set up parental controls for individual devices that are connected to the network. Whenever a device is connected to a wireless network and allowed access via the password, Verizon logs the device.</div><div><br></div><div>If your child has a laptop and a phone that are connected to the Wi-Fi network, each device will be listed separately, along with any other devices that are connected to the network. Verizon also allows users to set up parameters on a device-by-device basis, meaning the devices used by children can have specific controls.</div><div><br></div><h2>Setting Up Parental Controls</h2><div>Verizon subscribers can access parental controls directly <a href="https://www.verizon.com/home/myverizon/?session=n&amp;goto=https%3A%2F%2Fwww.verizon.com%2Fforyourhome%2Febillpay%2Fbilling%2Fpaybill">here</a>. To begin the process of setting up parental controls, you will need to log into your Verizon account.</div><div><br></div><ol>
<li>Once logged into your account, click on the <strong>Parental Controls</strong> tab at the top of the screen.</li>
<li>Scroll down until you see the <strong>Networked computers/devices</strong> list.</li>
<li>Find your child's device, click on it, then click the <strong>Add</strong> button.</li>
<li>You can add multiple devices at one time or set up different settings for each device.</li>
</ol><div><br></div><h2>Blocking Specific Websites</h2><div>To block specific websites or types of sites, you will need to create rules that ensure the selected devices cannot access content that you find objectionable. You can do this by listing specific websites, as well as sites that contain particular keywords.</div><div><br></div><ul>
<li>After you've selected the devices that you want to create rules for, click on the <strong>Block The Following Websites and Embedded Keywords within a Website</strong> tab.</li>
<li>Type in the websites and keywords that you'd like to block.</li>
<li>Follow the prompts to select whether the sites and keywords should always be blocked, or only during specific times of the day.</li>
</ul><div><br></div><div>You may need to set up multiple rules based on the types of websites you are looking to block. For example, if you'd like to block social media during certain times of day, you will need to set up one rule. A separate rule must be created to block mature content permanently. You will need to follow the same steps for each individual rule you wish to set up.</div><div><br></div><h2>Limiting Your Child's Daily Access to the Internet</h2><div>You can also set up a rule that blocks your child's ability to access the internet during a specified period. For example, if you'd like your child's device to disconnect at 11 p.m., you can set perimeters to block all internet access starting at that time. You must also set a time of day that the device can once again access the internet.</div><div><br></div><ul>
<li>Follow the steps above to create a rule for your child's devices.</li>
<li>Instead of clicking on the <strong>Block the Following Websites</strong> option, click on the <strong>Block All Internet Access</strong> tab.</li>
<li>Pick the days of the week and the times of the day you'd like all internet access to be blocked.</li>
<li>
<strong>Save</strong> the rule and return to your main account page.</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Firefox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Mozilla Firefox is an internet browser available for your computer and mobile devices. It does not have any built-in parental control features. However, if you change the parental controls on the computer itself, these settings can apply to the Firefox browser. It’s also possible to use third-party browser add-ons, known as <a href="https://addons.mozilla.org/en-US/firefox/search/?q=parental+control&amp;cat=all">extensions</a>, to implement parental controls.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Fire is a tablet developed and supported by Amazon. Kids can use it to read Kindle ebooks, play games, watch movies, and use social media.&nbsp;</div><div><br></div><div>It’s equipped with one of the most comprehensive sets of parental controls on the market, and we’ll walk you through how to set them up.<br><br>
</div><h2>Parental Controls on Amazon Fire</h2><h3>Option 1: Basic parental controls</h3><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Tap the switch next to <strong>Parental Controls</strong>.</li>
<li>Enter a password and confirm your password.</li>
<li>Tap <strong>Finish</strong>.</li>
<li>After you turn on parental controls, a <strong>lock</strong> icon will appear at the top of the screen.<br><br>
</li>
</ol><div><strong>Basic parental controls allow you to restrict the following:</strong></div><ul>
<li>The Amazon Store</li>
<li>Web browsing</li>
<li>Email, Contacts, and Calendar apps</li>
<li>Social network sharing</li>
<li>The camera</li>
<li>Specific content types (for example, books or apps)</li>
</ul><div><br></div><div><strong>Basic parental controls allow you to password-protect the following:</strong></div><ul>
<li>Purchases from the Amazon stores on your device (like the Amazon Appstore)</li>
<li>Playing movies and TV shows from Prime Video</li>
<li>Connecting to Wi-Fi</li>
<li>Enabling location services</li>
</ul><div><br></div><div><strong>How to set a curfew and choose when your child can use their tablet:</strong></div><ul>
<li>Tap the switch next to <strong>Set a Curfew</strong> to turn this feature on.</li>
<li>Tap <strong>Curfew Schedule</strong>.</li>
<li>Choose the days and times that the child will not be able to access the device.</li>
<li>To unlock a device in curfew, enter your parental controls password.</li>
</ul><div><br></div><div><strong>How to monitor your child’s tablet use:</strong></div><ul>
<li>Tap the switch next to <strong>Monitor This Profile</strong> to monitor activity on how your child is using their Amazon Fire.</li>
<li>A monitored profile will show a <strong>parent and child</strong> icon at the top of the screen.</li>
<li>View the information by visiting <strong>Activity Center</strong> on the <strong>Your Devices</strong> tab of <strong>Manage Your Content and Devices.</strong>
</li>
<li>You’ll be able to see how much time your child has spent on various apps, which books they’ve read, and what content they’ve accessed.</li>
</ul><div><br></div><h3>Option 2: Purchasing parental controls through Amazon FreeTime Unlimited</h3><div>Amazon FreeTime Unlimited is a subscription service available for customers in the U.S., U.K., and Germany. It’s available on Fire, Android, iOS, Kindle, and compatible Echo devices, and one subscription works across all devices. It gives kids access to thousands of age-appropriate books, movies, TV shows, music, games, and educational apps for a small monthly fee. Parents can use it to create a personalized experience for their kids while striking the right balance between education and entertainment.</div><div><br></div><div>It has additional parental control options, such as limiting the type of content your child accesses until they’ve completed daily goals (i.e., math problems, reading) and shutting itself down at the designated curfew.</div><div><br></div><div><strong>How to subscribe to Amazon FreeTime Unlimited on an Amazon Fire:</strong></div><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Profiles &amp; Family Library</strong>.</li>
<li>Tap your child’s profile.</li>
<li>Tap <strong>Subscribe to Amazon FreeTime Unlimited</strong>.</li>
<li>Select a monthly subscription plan:<ol>
<li>
<strong>Single Child Plan ($4.99/month or $2.99/month for Prime members):</strong> If you have only one child registered to Amazon FreeTime, or if you want to provide access to Kindle FreeTime Unlimited to one, but not all, of the child profiles in your household</li>
<li>
<strong>Family Plan ($9.99/month or $6.99/month for Prime members, $119/year or $83/year for Prime members): </strong>If you want your subscription to cover up to four children in your household<br><br>
</li>
</ol>
</li>
</ol><div><strong>How to use Amazon FreeTime Unlimited’s parental controls:</strong></div><ol>
<li>Tap the <strong>FreeTime</strong> app.</li>
<li>Select the profile for your child.</li>
<li>Choose <strong>Set Daily Goals &amp; Time Limits</strong> and adjust the toggles to choose how long they can spend per day in specific apps (on the device overall).</li>
<li>Choose a <strong>Turn off by</strong> time to prevent them from using their tablet after bedtime.</li>
<li>Tap <strong>Manage your Child’s Content</strong> and then <strong>Smart Filters</strong> to set the age minimum and maximum for the type of content they’re allowed to see.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Amazon Fire, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor photos, videos, web browsing, and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Not Sure
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Apple Homepod
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Apple HomePod is a smart speaker product designed to compete with the Amazon Echo and Google Home. With it, you can manage all kinds of things with your voice, such as listening to music, ordering products and services, getting the weather, and more.<br><br>
</div><h2>Setting Parental Controls for an Apple HomePod Speaker</h2><h3>On iOS</h3><ol>
<li>Open the <strong>Home App</strong>.</li>
<li>Press and hold <strong>HomePod</strong>.&nbsp;</li>
<li>Tap <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div><br></div><h3>On Mac</h3><ol>
<li>Double-click <strong>HomePod</strong>.</li>
<li>Click <strong>Settings</strong>. From here you’ll be able to manage music, podcasts, and how the device interacts with Siri.</li>
<li>Under <strong>Music and Podcasts</strong>, sign into Apple Music with your Apple ID. You’ll be able to toggle off <strong>Allow Explicit Content</strong> to prevent playback of explicit content.</li>
<li>Under <strong>Siri</strong>, you’ll be able to choose how to engage Siri. To prevent personal requests, turn this feature off.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>