<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Twitch
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Twitch allows kids and teens to watch other people play popular video games, as well as broadcast their own gameplay to a huge audience. You can watch Twitch streams on the web, or on game consoles like Xbox and PlayStation. Mobile Android and iOS devices support the Twitch app, as well.</div><div><br></div><div>The service draws in an impressive 100 million viewers every month and has an army of one million broadcasters that continues to grow every day. The most successful and popular streamers engage with their audience and provide entertaining commentary during gameplay. Some even offer expert gaming tips and tricks.</div><div><br></div><h2>Is Twitch Kid-Friendly?</h2><div><br></div><div>While Twitch doesn't have a built-in filter for kid-friendly streams, there are many channels deemed appropriate for all ages. Here are some options you can suggest to your younger children:</div><div><br></div><ul>
<li>
<a href="https://www.twitch.tv/iateyourpie">iateyourpie</a>: An energetic Super Mario streamer.</li>
<li>
<a href="https://www.twitch.tv/cohhcarnage">CohhCarnage</a>: A clean gaming channel that emphasizes clean content and clearly posts the rules for maintaining a friendly chat.</li>
<li>
<a href="https://www.twitch.tv/diamondminecart">TheDiamondMinecart</a>, <a href="https://www.twitch.tv/stampylonghead/profile/highlights">stampylonghead</a>, and <a href="https://www.twitch.tv/ihascupquake/profile/highlights">iHasCupquake</a> are all Minecraft streamers known for being appropriate for all audiences. (There's a very high chance your child loves Minecraft)!</li>
</ul><div><br></div><div>An important thing to remember is that just because a game has an age-appropriate rating for your child, it doesn't mean that the streamer playing that game is family-friendly. You may find a vulgar Mario Kart player just as readily as a super polite Call of Duty player. Twitch can be a mixed bag.&nbsp;</div><div><br></div><div>Every Twitch channel has a live chat room. This is appealing to kids and teens who appreciate the chance to speak directly to their favorite gamer, who could very well be their personal hero. Unfortunately, there are no universal chat filters to curb offensive or obscene language. Individual streamers do have the capability to ban hyperlinks and specific words from their chat, and many popular streamers use this feature to prevent spam and other offensive messaging.</div><div><br></div><h2>How Do I Know If a Channel Is Appropriate?</h2><div>The best way to determine if a particular channel is appropriate for your child is to watch the stream for 15 to 20 minutes on multiple different occasions. Try tuning in at different times, during the weekday and on weekends, to get a sense of whether the <a href="https://help.twitch.tv/customer/en/portal/articles/659011-chat-basics">chat</a> and atmosphere of the stream are fitting for your child.</div><div><br></div><div>To see who is in a channel's chat room, click the <strong>Viewer List</strong> icon at the bottom of the chat window. There, you'll see the channel's moderators, who you can easily contact if someone acts in an inappropriate manner. Alternatively, you can hide the chat area by navigating to the <strong>gear icon</strong> and selecting <strong>Hide Chat</strong>.</div><div><br></div><div>Twitch has very thorough and clear <a href="https://www.twitch.tv/p/legal/community-guidelines">community guidelines</a>. If you believe a channel has violated these guidelines, you can report it at any time by locating the <strong>gear icon</strong> under the video player and clicking <strong>Report</strong>.</div><div><br></div><h2>Privacy and Security on Twitch</h2><div>According to Twitch's community guidelines, no one under 13 years old should use the video streaming platform. The guidelines further recommend that teens between 13 and 18 only watch live streams under adult supervision. You need to enter a birth date to sign up, but that can be easily faked.</div><div><br></div><div>Streamers can opt to provide a warning that lets potential viewers know that the content of their channel is intended for mature audiences. If you see one of these warnings — and they're quite obvious — you should consider having your child try a different channel.</div><div><br></div><h3>How to disable messages from strangers</h3><div>In the world of Twitch, a direct message is called a Whisper. You can disable them.</div><div><br></div><ol>
<li>Click your child’s <strong>user name</strong> in the top-right corner of the screen.</li>
<li>From the menu that drops down, click <strong>Settings</strong>.</li>
<li>At the top of the page, click <strong>Security and Privacy</strong>.&nbsp;</li>
<li>Scroll down to the <strong>Privacy</strong> section.</li>
<li>Toggle <strong>Block Whispers from Strangers</strong> to <strong>On</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    AOL
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Parental controls for AOL email accounts were discontinued Nov. 1, 2017.&nbsp; Existing secondary usernames or child accounts were <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">promoted to full, standalone accounts with no parental control features at all</a>. Because of this, Bark does not recommend using AOL email with children.</div><div><br></div><div>If you would like to monitor your child’s existing AOL email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.&nbsp;</div><div><br></div><div>If you would prefer to remove access to these unmonitored accounts entirely, instructions on how to delete an AOL account are presented below.</div><div><br></div><h2>How to Delete a Secondary AOL Account That Has Been Promoted to a Full Account</h2><ol>
<li>Access the AOL account deactivation page <a href="https://login.aol.com/?done=https%3A%2F%2Fapi.login.aol.com%2Foauth2%2Frequest_auth%3Fclient_id%3Ddj0yJmk9a0dMSTFNQTlieXAwJmQ9WVdrOU1teEVVMHQ1TjJFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD00OQ--%26scope%3Dgdpr-w%26redirect_uri%3Dhttps%253A%252F%252Faol.mydashboard.oath.com%252Fcallback%252Fuser%26response_type%3Dcode%26language%3Den-US%26state%3DeyJ1c2VyX3JldHVybl9wYXRoIjoiL2RlbGV0ZS1teS1hY2NvdW50IiwidXNlcl9oaW50IjoidW5kZWZpbmVkIiwibm9uY2UiOiJkY2JiNmMxMWE4NDA1MDY2MGVkZmI3ZTU2NjMyZmRkZCJ9%26src%3Dpd-aol%26.scrumb%3D0&amp;src=pd-aol&amp;crumb=3e6Fsy9JE9i&amp;redirect_uri=https%3A%2F%2Faol.mydashboard.oath.com%2Fcallback%2Fuser&amp;lang=en-US&amp;language=en-US">here</a>.</li>
<li>Read the information on terminating your account in full. You'll receive all the legal information on what AOL is responsible for in terms of data, and more information.</li>
<li>Follow the on-screen prompts confirming that you do indeed want to delete this account.</li>
</ol><div><br></div><div>To learn more about changes to accounts that were previously sub-usernames or child accounts prior to 2017, please read AOL's help page on this topic <a href="https://help.aol.com/articles/account-management-managing-your-aol-username">here</a>.</div><div><br></div><h2>How to Download Data Before Deleting a Secondary AOL Account</h2><ol>
<li>If you would like to save data before deleting a standard account that was previously a child's account, visit the AOL Privacy Dashboard page <a href="https://policies.oath.com/us/en/oath/privacy/dashboard/index.html">here</a>.</li>
<li>Choose <strong>AOL email</strong> to view the data for this AOL service.</li>
<li>Scroll down and click <strong>Manage Your Data</strong>.</li>
<li>It will take time to prepare your data package. Insert an email address that you're currently using to receive the notification that your email account data are processed and ready to download.</li>
<li>Click <strong>Request Download</strong>.</li>
<li>You'll receive an email linking you to the final download of all the contents of your email account.</li>
</ol><div>
<br>For more important information on what to look for before closing an AOL email account, please review the AOL help page <a href="https://help.aol.com/articles/close-your-account">here</a>.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In AOL email, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Xbox One
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>XBox One is the latest console from Microsoft. With it, you can play video games, stream content from apps, chat with other players via <a href="https://support.xbox.com/en-US/xbox-one/xbox-live/connecting-to-xbox-live">XBox Live</a>, surf the web, and even watch TV (if you have a cable box to connect it to).</div><div><br></div><div>Setting parental controls on the XBox One is a somewhat complex process, but it's worth it for the level of control you’ll have for each child in your family. If you allow your children to stream content from various apps such as Hulu while on the device, the parental controls on the gaming console will override any parental controls you have set up on the individual apps, in most cases.</div><div><br></div><h2>Screen Time Limits</h2><div>To set screen time limits for your child on Xbox One and Windows 10 devices, go to <a href="https://account.microsoft.com/family">https://account.microsoft.com/family</a> and sign in with your Microsoft account. Then:<br><br>
</div><ol>
<li>Find your child's name and select <strong>Screen time</strong>.</li>
<li>If you want to use the same schedule for all devices, switch <strong>Use one screen time schedule</strong> from <strong>Off</strong> to <strong>On</strong>. If you’d rather have separate schedules, scroll down and switch screen time on for PC and Xbox One individually.</li>
<li>Set how much time your child is allowed to spend with their devices each day, and when they can use them. If you want to give them the full amount of time you’ve scheduled, select <strong>Max</strong> <strong>scheduled</strong>. (Example: If you’ve allowed screen time from 8 am to 8 pm, they could use their devices that entire time).</li>
</ol><div>
<br>To give your kids a heads up on Xbox when their screen time is running out:<br><br>
</div><ol>
<li>Press the <strong>Xbox </strong>button on the controller.</li>
<li>Select <strong>System</strong> &gt; <strong>Settings </strong>&nbsp;&gt; <strong>Preferences</strong> &gt; <strong>Notifications</strong> &gt; <strong>Xbox Notifications </strong>&gt; <strong>System</strong> and make sure <strong>System notifications on</strong> is selected.</li>
</ol><div>
<br>Screen time counts down when a child is signed in, so if they’re not actively using their console, have them sign out.</div><div><br></div><h2>Age Limits for Accessing Content</h2><div>To ensure your kids have access to only family-friendly games, apps, TV shows, and movies on their Xbox One, you can choose from preset recommendations by age. To do this:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button to open the guide, and then go to <strong>System &gt; Settings &gt; Account &gt; Family settings</strong>.</li>
<li>Select <strong>Manage family members</strong>, and then select the child account you want to update.</li>
<li>Under <strong>Access to content</strong>, choose the desired age-level restriction. (By default, your child’s restrictions will be set to the age associated with their Microsoft account).</li>
</ol><div>
<br>When your child asks to use a blocked app or game that’s rated above their content restrictions, you can approve it by signing in with your passkey and selecting <strong>Always</strong> or <strong>Just this once</strong>.<br><br><br>
</div><h2>Customize Privacy Settings</h2><div>You can prevent your child from playing with strangers in the privacy settings. To ensure your child is only playing with people they know, or turn off voice chat and unprompted communication:<br><br>
</div><ol>
<li>Click <strong>Settings</strong>
</li>
<li>Click <strong>All Settings</strong>
</li>
<li>Click <strong>Account</strong>
</li>
<li>Click <strong>Family</strong>
</li>
<li>Customize your privacy settings&nbsp;</li>
</ol><div><br></div><div><br></div><h2>Mute or Block Players</h2><div>If you don't want to hear or be contacted by specific players on Xbox One, you can mute them or block their communications with you. If you believe that the player has violated the Microsoft Services Agreement or Code of Conduct, you may also wish to <a href="https://enforcement.xbox.com/Home/HowTo#sub-topic2-0">file a complaint</a>.<br><br>
</div><h3>Mute another player</h3><div>If another player engages in abusive or inappropriate in-game or chat voice communications, you can mute that player. This prevents them from speaking to you in-game or in a chat session. To mute another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to mute. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player’s profile, select <strong>Mute</strong>.</li>
</ol><div>
<br>To unmute a player, follow the same steps to get to the player’s profile, and then select <strong>Unmute</strong>.<br><br>
</div><h3>Block another player</h3><div>Blocking another player prevents you from receiving that player’s messages, game invites, and party invites. It also prevents the player from seeing your online activity and removes them from your friends list, if they were on it. To block another player:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide.</li>
<li>Select <strong>People</strong>, and then select the gamertag of the player you want to block. If the player is not on your friends list, select <strong>Recent players</strong> or <strong>Find someone</strong> and enter the player’s gamertag to search.</li>
<li>From the player's profile, select <strong>Report or Block</strong>, and then select <strong>Block</strong>.</li>
</ol><div>
<br>To unblock a player, follow the same steps to get to the player’s profile, and then select <strong>Unblock</strong>.<br><br>
</div><h3>Block another player's messages</h3><div>You can also block a player after receiving an offensive or inappropriate message. Here's how:<br><br>
</div><ol>
<li>Press the <strong>Xbox</strong> button on your controller to open the guide, and then go to <strong>Communication </strong>&gt;<strong> Conversations</strong>.</li>
<li>Select the message from the player you want to block.</li>
<li>Select <strong>More </strong>&gt;<strong> View profile </strong>&gt;<strong> Report or block </strong>&gt;<strong> Block</strong>.</li>
</ol><div><br></div><h2>Copilot on XBox One</h2><div>Copilot links two controllers so you can use them as if they were one controller. The person who turns on Copilot for their controller is the pilot, and the pilot gets all achievements and gamerscore. To turn on Copilot:<br><br>
</div><ol>
<li>Connect a second controller to the Xbox for the copilot. The copilot can sign in or not — achievements and gamerscore don't go to this player.</li>
<li>Using the pilot's controller, press the <strong>Xbox</strong> button to open the guide, then select <strong>System</strong> &gt; <strong>Settings</strong> &gt; <strong>Ease of Access</strong> &gt; <strong>Controller</strong>.</li>
<li>Choose <strong>Copilot settings</strong>, then select <strong>Turn on Copilot</strong>.</li>
<li>Select the copilot controller.</li>
</ol><div>
<br>The controllers are now linked, and both controllers have full control. When you start a game, you can use either controller however you like.<br><br>To turn off Copilot, go back to the Copilot settings and select <strong>Turn off Copilot</strong>.<br><br>
</div><h2>Preventing Unauthorized Purchases</h2><div>To help prevent unauthorized purchases from your console, you can set it to ask for the password every time you buy something.<br><br>
</div><ul>
<li>Select <strong>System </strong>&gt; <strong>Settings</strong> &gt; <strong>Account</strong> &gt; <strong>Sign-in, security &amp; passkey</strong>. To help protect your account, you may be asked to enter your password.</li>
<li>Select <strong>Change my sign-in &amp; security preferences</strong>.</li>
<li>Scroll right and select <strong>Customize</strong>.</li>
<li>Scroll right and select <strong>Ask for my passkey to make purchases</strong>.</li>
<li>Select <strong>Passkey required</strong>.</li>
</ul><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    PUBG
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>PlayerUnknown’s Battlegrounds, better known by the acronym PUBG, is a large-scale multiplayer military shooter. This involve teams of one to four players competing to be the last ones standing. There are no re-spawns, so just one death leaves players sitting on the sidelines waiting for their friends or, once their team is eliminated, queuing for the next game.</div><div><br></div><div>In contrast to the accessible Fortnite, PUBG is a more realistic and violent experience. The game is currently available on PC, Xbox One, Android, and iOS. The developer, PUBG Corporation, confirmed that a PS4 version is coming soon, and other platforms are being evaluated.</div><div><br></div><h2>Is PUBG appropriate for children?&nbsp;</h2><div>PUBG is explicitly targeted at a mature audience. While it does not have over-the-top, gratuitous violence, the art style is realistic.</div><div><br></div><h3>Mature content</h3><div>Children are at risk of being exposed to offensive or violent content from other players. At the start of each game, all 100 players spawn into smaller areas together while waiting to begin. Often, at least a few players use this time to abuse the proximity chat feature to say offensive things to a captive audience.</div><div><br></div><h3>Communication with strangers</h3><div>PUBG features text chat (for iOS and Android versions only), live, in-game team voice chat, and proximity voice chat. Proximity voice is a feature that allows any of the 100 players in the game to hear each other speak in real time as long as they are close to each other in the game world. If your child is playing PUBG with friends on Xbox Live or Steam, the best communication option is to use the built-in voice chat features that come with those services while disabling proximity voice features that open up the possibility of hearing from strangers.</div><div><br></div><div>There is an in-game reporting system for individual players. While most notable bans are related to cheating, PUBG Corporation recommends reporting players that cross the line with regards to profanity or threats.</div><div><br></div><h2>In-Game Safety Settings&nbsp;</h2><div>For PC, iOS, and Android players, in-game settings and report systems can be used to create an appropriate environment for children. For Xbox One owners, the standard Xbox Live privacy features apply.</div><div><br></div><div>Text can be important for communication in PUBG, but the amount of profanity and other offensive content produced by some players is inappropriate for children. Turning on the profanity filter in the settings is recommended for parents who are satisfied with simple word censoring.</div><div><br></div><h2>How to Turn Off Voice Chat</h2><h3>For PC, iOS, or Android Users&nbsp;</h3><ol>
<li>Click the <strong>gear</strong> icon with the word <strong>Settings</strong> next to it.</li>
<li>Choose <strong>Sound</strong>.</li>
<li>Under the <strong>Voice Chat Mode</strong> heading, choose <strong>Mute</strong>.</li>
<li>Under <strong>Voice Chat Channel</strong>, choose <strong>None</strong>.</li>
<li>If you want to allow party chat but not proximity voice, under <strong>Voice Chat Channel</strong> instead of None, choose <strong>Party</strong>.</li>
<li>For iOS and Android users, the profanity filter is on at all times, with no ability to disable it. There is no option to turn off chat. There is no text chat in the other versions of the game.</li>
</ol><div><br></div><h3>For Xbox One Users&nbsp;</h3><ol>
<li>Visit <a href="https://account.xbox.com/en-US/settings">https://account.xbox.com/en-US/settings</a>. Log in with the Xbox Live username and password your child uses.</li>
<li>Click <strong>Privacy and Online Safety</strong>. Each game has a different array of settings. Choose <strong>PlayerUnknown’s Battleground</strong>.</li>
<li>Look for <strong>Others Can Communicate with Voice, Text, or Invites Settings</strong> and choose <strong>Blocked</strong>. This disables voice and text communications for PUBG on the account.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Google Fiber
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you have Google Fiber services in your home, there aren’t many options available for parental controls. <a href="https://support.google.com/fiber/thread/453164?hl=en">As of this writing</a>, Google Fiber does not provide any specific parental controls for internet usage.</div><div><br></div><div>However, if you have a Google Fiber TV, there are parental controls available.</div><div><br></div><h2>Google Fiber TV</h2><div>
<a href="https://support.google.com/fiber/answer/6308855?hl=en">According to Google's Help Center</a>, Google Fiber TV offers parents many options to restrict access to movies and shows they don't want their children to watch. The options are based around ratings for both feature films and television programs, advisory content, and unrated content. You can also restrict the ability to purchase content, and the ability to access Google Fiber apps, like VUDU and Netflix.</div><div><br></div><h2>How to Access Parental Controls — Current</h2><div>There are two ways to access and implement parental controls: one way for the newest version of Google Fiber, and another way for the older, legacy version. We'll consider the newest version first.</div><div><br></div><ol>
<li>Click the <strong>Settings</strong> button on your remote.</li>
<li>Click <strong>OK</strong>.</li>
<li>Select the <strong>Parental Controls</strong> option and push <strong>OK</strong> again.</li>
<li>That will take you to the <strong>Parental Controls Settings</strong> page. To turn Parental Controls on, select that option.</li>
<li>A prompt will appear for you to enter in a 4-digit lock code.</li>
</ol><div><br></div><div>Once you have confirmed your lock code and thereby turned Parental Controls on, you can go to the <strong>Change Parental Controls Settings</strong> option to specify what type of content you want to restrict.</div><div><br></div><div>When it comes to channels, you can hide them from search results or the channel guide (indicated by a red prohibition sign, or a "no" symbol), or you can restrict the ability to watch them, (indicated by a green lock symbol), or both.</div><div><br></div><div>You can also determine what ratings are prohibited for your children, both for movies and TV shows, as well as what advisory content is restricted. You can prohibit any unauthorized purchasing of content, as well as access to apps that are on Google Fiber TV, such as Netflix, VUDU, and YouTube. When you are done with editing, you can simply click <strong>Exit</strong> on your remote. All your changes should be saved. For more information on this step by step process, visit <a href="https://support.google.com/fiber/answer/6308855?hl=en">Google's Help Center</a>.</div><div><br></div><h2>How to Access Parental Controls — Legacy</h2><div>For <a href="https://support.google.com/fiber/answer/2430808?hl=en">legacy versions of Google Fiber</a>, the process is slightly different to enable parental controls.</div><div><br></div><ol>
<li>Select <strong>Menu</strong>.</li>
<li>Go to <strong>Apps and More</strong>.</li>
<li>Select <strong>Settings</strong> then <strong>Parental Controls</strong>.</li>
<li>Switch to <strong>Enabled</strong>.</li>
</ol><div><br></div><div>Afterward, if you select the <strong>Modify</strong> option, you'll have a screen come up with a list of all TV ratings, MPAA ratings, and advisory content that you are able to restrict.</div><div><br></div><div>You can easily pick which ones you would like to prohibit, and the green lock symbol should appear beside each one chosen. The rightmost column contains the options to restrict access to specific channels, unrated content, purchasing, and in-service apps like Netflix. Again, once you are done, you can simply press the <strong>Exit</strong> button to save your changes.</div><div><br></div><div>With both the current and legacy versions of Google Fiber, if you forget your lock code, for security reasons you will have to contact Google Support to reset it.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Hulu
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Hulu is a subscription-based service that streams movies and TV shows. Hulu can be accessed through devices such as Roku boxes, gaming consoles, Apple TVs, Amazon Fire products, or online through web browsers. It’s also available as an app download for smartphones and tablets for use on the go.<br><br>
</div><h2>Setting Parental Controls on Hulu</h2><div>As the primary account holder, you have the option to control viewing on your account by creating individual profiles for everyone who will be using the account, or by adjusting the age setting for the account as a whole.</div><div><br></div><div>Mature content is automatically restricted based on the age associated with the individual Hulu profile. Children under the age of 17 will not be able to watch any R-rated films, or shows rated TV-MA from their individual profile.</div><div><br></div><div>To enable these restrictions, you must either create a new individual profile or <a href="http://www.hulu.com/contact">contact Hulu</a> to adjust the age setting for the entire account. Contacting Hulu for an age setting adjustment will block mature content for all profiles on the account.<br><br>
</div><h3>How to create a profile for your child</h3><ol>
<li>Log in to Hulu from a computer.</li>
<li>Click <strong>+ Add Profile</strong> on the <strong>Who’s Watching</strong> screen.</li>
<li>On the next screen, provide a profile name and toggle on the <strong>Kids</strong> feature to automatically provide only kid-friendly programming. Then, click <strong>Create Profile</strong>.<ol><li>Alternatively, you can leave the <strong>Kids</strong> switch toggled off and provide your child’s birthdate and gender.</li></ol>
</li>
<li>Fill in the appropriate information, check the box to indicate parental permission, and click <strong>Create Profile</strong>.</li>
</ol><div><br></div><div>NOTE:<strong> </strong>If you’re watching Hulu on a device with its own set of universal parental controls, such as a gaming console, Hulu will operate under your device settings.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Firefox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Mozilla Firefox is an internet browser available for your computer and mobile devices. It does not have any built-in parental control features. However, if you change the parental controls on the computer itself, these settings can apply to the Firefox browser. It’s also possible to use third-party browser add-ons, known as <a href="https://addons.mozilla.org/en-US/firefox/search/?q=parental+control&amp;cat=all">extensions</a>, to implement parental controls.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Mojave
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Apple’s newest desktop operating system, Mojave (10.4), comes packed with powerful new tools and features. You want your kids to have a safe and happy experience, and by using parental controls preferences, you can manage, monitor, and control the time your kids spend on the Mac and the websites they visit. Although the parental controls on Mojave are similar to those of its predecessors, there are some changes that you need to know about.</div><div><br></div><h2>Managing Parental Controls</h2><div>Parents can manage parental controls in the following ways:</div><div><br></div><ol>
<li>
<strong>Turn on Parental Controls</strong> for each child. If you haven’t added a user account for your child to your Mac, see “Add and control a new user account” below. If you’ve already added an account for your child, see “For a child with an existing account.”</li>
<li>
<strong>Change the restrictions</strong> you want for each child. For example, you can decide which websites your child can visit, and how long they can use the Mac each day.</li>
<li>If you want, <strong>copy the settings</strong> for one child and use them for another child.</li>
<li>Manage Parental Controls <strong>from another Mac</strong>. Both computers must be on the same network.</li>
<li>Check which <strong>apps and websites your child is using</strong>.</li>
<li>When you decide your child is ready, you can <strong>turn off Parental Controls</strong> for them.</li>
</ol><div><br></div><h3>Add and control a new user account</h3><ol>
<li>On your Mac, choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>. If you see a checkbox labeled “Manage parental controls from another computer,” you’ve already added a user account. See “For a child with an existing account.”</li>
<li>Select <strong>Create a new user account with parental controls</strong>, then click <strong>Continue</strong>.</li>
<li>Enter an administrator name and password (or if your Mac has Touch ID, use Touch ID).</li>
<li>Click the <strong>Age</strong> pop-up menu, then choose an age. This setting determines the default restrictions for the account. For example, each age bracket has age-appropriate rating restrictions for movies, TV shows, and apps from the iTunes Store and App Store. You can set different restrictions after creating the account.</li>
<li>Fill in the name and password information, then click <strong>Create User</strong>.</li>
</ol><div><br></div><h3>For a child with an existing account</h3><ol>
<li>On your Mac, choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>. If you see the message “There are no user accounts to manage,” you haven’t yet added a user account. See “Add and control a new user account.”</li>
<li>Click the <strong>lock</strong> icon to unlock it.</li>
<li>Enter an administrator name and password (or if your Mac has Touch ID, use Touch ID).</li>
<li>Select a user.</li>
<li>If the user you want to turn on parental controls for isn’t in the list, click the <strong>Add</strong> button to create a new user. Click the <strong>Age</strong> pop-up menu, then choose an age. Fill in the name and password information, then click <strong>Create User</strong>.</li>
</ol><div><br></div><h3>Change restrictions for your child</h3><ol>
<li>On your Mac, choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>. If you see the message “There are no user accounts to manage,” you need to create a user account for the child you want to manage.</li>
<li>Click the <strong>lock </strong>icon to unlock it, then enter an administrator name and password (or if your Mac has Touch ID, use Touch ID).</li>
<li>Select the user you want to set restrictions for, then click one of the following buttons at the top:<ul>
<li>
<strong>Apps:</strong> Prevent your child from using the built-in camera and joining multiplayer games in Game Center. Restrict your child’s contact with other people through Mail. Specify which apps your child can access.</li>
<li>
<strong>Web:</strong> Limit access to websites, or allow unrestricted access.</li>
<li>
<strong>Stores:</strong> Disable access to the iTunes Store. Disable access to the Book Store in Apple Books. Limit your child’s access to music, movies, TV shows, apps, and books to only those with age-appropriate ratings.</li>
<li>
<strong>Time:</strong> Set time limits for weekdays, weekends, and bedtime.</li>
<li>
<strong>Privacy:</strong> Prevent apps and services from accessing your child’s data.</li>
<li>
<strong>Other:</strong> Prevent your child from using Siri and Dictation, editing printer and scanner settings, and burning CDs and DVDs. Hide profanity in the dictionary and other sources. Prevent the Dock from being modified. Provide a simplified view of the Mac desktop.</li>
</ul>
</li>
</ol><div><br></div><h3>Copy parental controls from one child to another</h3><ol>
<li>On your Mac, choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>. If you see the message “There are no user accounts to manage,” you need to add a new user account and turn on Parental Controls for it.</li>
<li>Click the <strong>lock </strong>icon to unlock it, then enter an administrator name and password (or if your Mac has Touch ID, use Touch ID).</li>
<li>Select the user whose settings you want to copy.</li>
<li>Click the <strong>Action</strong> pop-up menu, then choose <strong>Copy Settings</strong>.</li>
<li>Select the user to whom you want to apply the copied settings.</li>
<li>Click the <strong>Action</strong> pop-up menu, then choose <strong>Paste Settings</strong>.</li>
</ol><div><br></div><h3>Manage parental controls from another Mac</h3><div>On the Mac your child uses:</div><div><br></div><ol>
<li>Choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>. When you open parental controls preferences, if you see the message “There are no user accounts to manage,” you need to add a new user account and turn on parental controls for it.</li>
<li>Click the <strong>lock </strong>icon to unlock it, then enter an administrator name and password (or if your Mac has Touch ID, use Touch ID).</li>
<li>Select <strong>Manage parental controls from another computer</strong>. If you don’t see this option, there may be a user selected on the left side of parental controls preferences. Command-click the selected user so that no user is selected.</li>
</ol><div><br></div><div>On the Mac you want to use to manage your child’s parental controls settings:</div><div><br></div><ol>
<li>Choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it, then enter an administrator name and password (or if your Mac has Touch ID, use Touch ID).</li>
<li>Select the Mac your child uses.</li>
<li>Enter the administrator name and password for the Mac your child uses.</li>
<li>Select the user to be managed.</li>
<li>You can now change your child’s parental controls settings and monitor the activity logs.</li>
</ol><div><br></div><h3>Check which apps and websites your child uses</h3><ol>
<li>On your Mac, choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it, then enter an administrator name and password (or if your Mac has Touch ID, use Touch ID).</li>
<li>Select a user in the list of users.</li>
<li>Click <strong>Logs</strong>.</li>
<li>Click the <strong>Show activity for</strong> pop-up menu, then choose the period of time for which you want to view logs.</li>
<li>Do any of the following:<ul>
<li>Click <strong>Applications</strong> to see a list (sorted from most-used to least-used) and a corresponding interactive pie chart, showing the percentage of time spent in each.</li>
<li>Click <strong>Web</strong> to see a list of websites (sorted from most-used to least-used) and a corresponding interactive pie chart, showing the percentage of time spent at each website.</li>
</ul>
</li>
<li>Do any of the following:<ul>
<li>In the <strong>Applications</strong> view, click the <strong>dropdown</strong> arrow to view dates, times, and durations.</li>
<li>In the <strong>Web</strong> view, click the <strong>dropdown </strong>arrow next to a website name to view a list of specific webpages. Click the <strong>dropdown </strong>arrow next to a webpage name to see the dates and times for visits to that webpage.</li>
<li>To block the child from using an app or viewing a website, select the entry, then click <strong>Restrict</strong>. To unblock the app or website, click <strong>Allow</strong>.</li>
<li>Click <strong>Open</strong> to open a selected app or view a selected website.</li>
</ul>
</li>
</ol><div><br></div><h2>Turn Off Parental Controls</h2><ol>
<li>Choose <strong>Apple menu</strong> &gt; <strong>System Preferences</strong>, then click <strong>Parental Controls</strong>.</li>
<li>Click the <strong>lock </strong>icon to unlock it, then enter an administrator name and password (or if your Mac has a Touch Bar, use Touch ID).</li>
<li>Select the user, click the <strong>Action</strong> pop-up menu, then choose <strong>Turn off Parental Controls</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Apple device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with their groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>