<section class="text-left py-3 py-md-5 recommendations">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">

          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/android-99e2d066690ce8f8a2506609187a063addd8b8ffa5957e11afbaedbf6b204eb3.png">
            Android
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    KitKat – 4.0
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Android is the mobile operating system from Google, and it powers smartphones and tablets. Though there isn’t a specific set of parental controls you can use, there are some things you can do to protect your child while they are using are the device.</div><div><br></div><div>These instructions apply to <strong>Android KitKat</strong>, which is version 4.4 - 4.4.4. This is an older version of Android, as it was released October 31, 2013.<br><br>
</div><h2>Find Your Device’s Version of Android</h2><div>To ensure that you’re following the right set of directions, you’ll first want to check the version of Android your device is running. If it’s not current, you may have the option to update. It’s best to update whenever possible to ensure you have access to all the latest features.</div><div><br></div><ol>
<li>From the home screen, press the <strong>Settings</strong> button.</li>
<li>Scroll down and select <strong>About Phone</strong>.</li>
<li>Scroll down to <strong>Android Version</strong>. The number under this heading is the version of Android running on your device (i.e. 4.0).</li>
</ol><div><br></div><h2>Set a Passcode on Your Device</h2><div>Setting a passcode is important — it ensures that if the device is lost, it won’t be usable by anyone who doesn’t know the passcode. Remind your child not to share their passcode with anyone else, and make sure it’s not the same passcode you’ll be using for your parental controls.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen And Security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap <strong>Set Up a Passcode</strong>.</li>
<li>Select a 4-digit PIN.</li>
<li>Re-enter the PIN to confirm it.</li>
<li>Go through additional security settings, if desired, for further protection.</li>
</ol><div><br></div><h2>Set Up Parental Controls for Apps</h2><ol>
<li>Open the <strong>Google Play Store</strong>.</li>
<li>Tap the three horizontal bars in the upper-left corner to open the <strong>Menu</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Under <strong>User Controls</strong>, turn on <strong>Parental Controls</strong> and follow the prompts.</li>
<li>Set a parental control PIN for each Google Play account.</li>
<li>Open the <strong>Google Play Store</strong> menu again.</li>
<li>Tap <strong>My Apps &amp; Games</strong>.</li>
<li>Tap <strong>Installed</strong>.</li>
<li>Delete any apps that are outside of the ratings you want for your child.</li>
<li>Go back to <strong>Settings</strong> and then <strong>Parental Controls</strong> in order to set content restrictions for any future apps.</li>
<li>Tap on each type of content and make rating decisions based on what’s appropriate for your child. Note that not all apps have age ratings, so be sure to also talk to your child about the types of content you allow.</li>
<li>Go back to <strong>Settings</strong> in the Google Play Store.</li>
<li>Turn on <strong>Require Authentication for Purchases</strong> to prevent in-app purchases.</li>
</ol><div><br></div><h3>Other ways to prevent app downloads</h3><div>The Google Play Store isn’t the only place to browse for apps, so here’s a way to prevent your child from downloading apps from unknown sources:</div><div><br></div><ol>
<li>On the Home screen of the device, go to <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and Security</strong>.</li>
<li>Toggle <strong>Unknown Sources</strong> to gray, which means apps and content can be downloaded only from the Google Play Store.</li>
</ol><div><br></div><h2>Create a Restricted Profile</h2><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Users</strong> (If you don’t see this, tap the <strong>General</strong> tab first).</li>
<li>Tap <strong>Add User</strong> and tap <strong>OK</strong> to confirm.</li>
<li>Tap <strong>Set Up Now</strong>.</li>
<li>Follow the prompts to choose the content you want to be accessible to your child.</li>
</ol><div><br></div><h2>Managing Data Usage</h2><h3>Limit data usage to Wi-Fi</h3><div>If your child’s device includes a data package but you want to restrict them to only going online when there’s Wi-Fi, here’s how to update their mobile data settings:</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Mobile Data</strong> to <strong>OFF</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
</ol><div><br></div><h3>Cap your child’s data usage</h3><div>If you want to give your older children more responsibility, you can choose to limit their data usage — rather than completely disabling it. Here’s how:&nbsp;</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> gear at the top right-hand corner.</li>
<li>Toggle the <strong>Limit Mobile Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Set the usage to whatever you believe is best for your child.</li>
</ol><div><br></div><h3>Set up data usage alerts</h3><div>To help your children stay within their data limits, you can set up alerts to let them know how much they’ve used — and when they’re about to go over.</div><div><br></div><ol>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle <strong>Alert Me About Data Usage</strong> to <strong>ON</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Tap <strong>Alert Me About Data Usage</strong>.&nbsp;</li>
<li>Tap the <strong>Settings</strong> icon at the top right-hand corner.</li>
<li>Tap <strong>Data Usage Warning</strong>.</li>
<li>Enter the limit you feel is appropriate for your child.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a><br>.</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Samsung Galaxy S8
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>The Galaxy S8 is part of Samsung's incredibly popular Galaxy series of smartphone devices and has co-existed with the Galaxy Note line in Samsung’s flagship series of smartphones. Like all smartphones that run on the Android operating system, the Galaxy S8 does not have any specific parental control settings, but it does have restriction settings that can reduce your child's exposure to adult content (either through applications on the internet).<br><br>Since the Galaxy S8 does not have built-in parental control settings, some parents download third-party applications, which can provide a safer environment for their children. Luckily, the restriction settings will help some, and they are extremely easy to set up.<br><br>
</div><div><br></div><h2>Set Up a Passcode on the Device</h2><div>It's crucial that you set up a passcode on your child's device. Not only will it prevent the device from being accessed by anyone other than you and your child, but it will also prevent your child's information from being accessed in the event that the device is stolen.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Lock Screen and security</strong>.</li>
<li>Tap <strong>Screen Lock Type</strong>.</li>
<li>Tap either <strong>A) Pin</strong>, <strong>B) Pattern</strong>, or <strong>C) Password</strong>.</li>
</ol><div><br></div><div>What's the Difference Between Pin, Password, and Pattern?</div><div><br></div><ul>
<li>
<strong>Pin</strong> lock requires you to input a 4-16 digits.</li>
<li>
<strong>Password</strong> lock requires you to input a combination of numbers and letters.</li>
<li>
<strong>Pattern</strong> lock requires you to draw a pattern by connecting dots on the screen.</li>
</ul><div><br></div><div>After you have entered either a password, pin, or pattern, tap <strong>CONTINUE</strong>, re-enter the password, and tap <strong>DONE</strong>.</div><div><br></div><div>You can also set up Face Recognition, Intelligent Scan, Fingerprint Scanner, and Iris Scanner. To do this:</div><div><br></div><ol>
<li>Go to <strong>Apps</strong>.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Biometrics</strong>.</li>
<li>Tap either <strong>A) Fingerprint</strong>, <strong>B) Face Recognition</strong>, <strong>C) Intelligent Scan</strong>, or <strong>D) Iris Scanner</strong>
</li>
</ol><div><br></div><div>What's the Difference Between Fingerprint, Face Recognition, Intelligent Scan, and Iris Scanner?<br><br>
</div><ul>
<li>
<strong>Fingerprint</strong> scan uses your fingerprint to unlock the device.</li>
<li>
<strong>Face Recognition</strong> uses your face to unlock the device.</li>
<li>
<strong>Iris Scanner</strong> uses your eyes to unlock the device by pointing them at the iris scanner.</li>
<li>
<strong>Intelligent Scan</strong> uses both your face and your eyes to unlock the device.</li>
</ul><div><br></div><h2>Restrict Data Usage</h2><h3>Turn off mobile data and WiFi</h3><div>By disabling both Wi-Fi and mobile data, you can prevent your child from accessing the internet or downloading apps.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Wi-Fi</strong>.</li>
<li>Toggle Wi-Fi <strong>Off</strong>.</li>
<li>Tap <strong>OK</strong>.</li>
<li>Go back to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Only use Wi-Fi</h3><div>If you turn mobile data off but leave Wi-Fi on, you will restrict your child from using the internet unless they are around an open Wi-Fi signal.</div><div><br></div><ol>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Toggle the Mobile data switch to <strong>OFF.</strong>
</li>
<li>If prompted, tap <strong>TURN OFF</strong> to confirm.</li>
</ol><div><br></div><h3>Set up a mobile data limit</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap<strong> Data Usage</strong>.</li>
<li>Tap<strong> Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap the status switch beside <strong>Data Limit.</strong>
</li>
<li>Tap <strong>Data Limit.</strong>
</li>
<li>Enter a data usage limit.</li>
<li>Tap <strong>Set.</strong>
</li>
</ul><div><br></div><h3>To turn on Data Usage Warnings</h3><ul>
<li>From the Home screen, touch and swipe up to display all apps.&nbsp;</li>
<li>Go to <strong>Settings</strong>.</li>
<li>Tap <strong>Connections</strong>.</li>
<li>Tap <strong>Data Usage</strong>.</li>
<li>Tap <strong>Mobile Data Usage</strong>.</li>
<li>Tap the <strong>Settings</strong> icon.</li>
<li>Tap <strong>Data Warning</strong>.</li>
<li>Enter the data usage level at which you will receive a warning.</li>
<li>Tap Set.</li>
</ul><div><br></div><h2>Parental Controls on the Google Play Store</h2><div>Google Play parental controls are a great way to help restrict your child's access to mature content.</div><div><br></div><ol>
<li>Open the<strong> Play Store</strong> app.</li>
<li>Tap the <strong>Menu</strong> button.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Toggle Parental Controls <strong>On</strong>.</li>
<li>Create a <strong>PIN</strong>.</li>
</ol><div><br></div><div>Now you can tap <strong>Apps &amp; Games</strong>, <strong>Films</strong>, <strong>TV</strong>, <strong>Magazines</strong>, or <strong>Music</strong>. Each of these options will allow you to restrict access to each content type by maturity.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/wireless-816fa8c1a959083c33a8e402c822aad0e30fc8501c8fcca6c7b87abc69e4a22a.png">
            Wireless Carrier
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    T-Mobile
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>If you’re a T-Mobile customer and want to set up parental controls, it’s important to note that you must be the Primary Account Holder to add Family Allowances to your account. For T-Mobile One customers with two or more lines, this service is included free. If not, you may be required to pay a monthly fee for the service.</div><div><br></div><div>By default, the Parent Line is the Primary Account Holder, but after you add Family Allowances, you can designate a Parent Line. Both the Parent Line and Primary Account Holder can manage allowances for all lines on the account. Your children’s lines (“managed lines”) can view their individual allowances, but they cannot make changes to the settings.</div><div><br></div><h2>P<strong>arental Control Settings With T-Mobile</strong>
</h2><ul>
<li>Set the number of allowed “Whenever Minutes.”</li>
<li>Set the number of text messages the line can send and receive during a billing cycle.</li>
<li>Set a current allowance if you want to specify an amount of money your child is allowed to spend on any downloads.&nbsp;<ul><li>Note: Billing purchases to your T-Mobile account are blocked while Family Allowances is active, though you can still use a credit card or prepaid card for purchases from the Google Play Store or the iPhone App Store</li></ul>
</li>
<li>Schedule the allowed or blocked time when your children are allowed to use their devices during the pre-defined time periods.<ul>
<li>Set time limits.</li>
<li>Set BedTime.</li>
</ul>
</li>
<li>Set the Allowed and Not Allowed Numbers. Each line can have a maximum of 10 numbers for each list. 411, 611, and 911 do not count toward that maximum.</li>
<li>&nbsp;The child’s line can always send and receive calls and messages to and from any Always Allowed numbers, even after allowances are reached, or during blocked times.</li>
<li>Always Allowed numbers will always allow calls and messages from these specific numbers, regardless of restrictions or allowance limitations. Remember to add the voicemail retrieval number to this list so your child can always check their voicemail.</li>
<li>Never Allowed numbers will always block calls and messages from any number on that list.<br><br>
</li>
</ul><div>You can manage these settings for all the lines on the account.<br><br>
</div><h2><strong>Parental Controls With Family Allowances</strong></h2><div>You can also manage Family Allowances from within the T-Mobile app on your device with these instructions:</div><div><br></div><ol>
<li>Open your T-Mobile App and log in as either the parent or Primary Account Holder.</li>
<li>Select <strong>Profile</strong>.</li>
<li>Click <strong>Family Controls</strong> on the left.</li>
<li>In <strong>Family Allowances</strong>, which is only an option if you’re subscribed to the service, tap <strong>Manage</strong>.</li>
<li>Select the name or the line to view current settings.</li>
<li>Set or change allowances for the selected line.</li>
<li>Tap <strong>Save</strong> on the top right of the page.</li>
</ol><div><br></div><div>Remember, Family Allowance settings don’t work on Wi-Fi or with Wi-Fi calling.</div><div><br></div><h2><strong>Control Screen Time With FamilyMode</strong></h2><div>FamilyMode is an optional T-Mobile service, available for $10/month. The system allows parents to control children’s internet access on smartphones and tablets wherever they are. The Home Base device also allows parents more control over the range of devices in their home.</div><div><br></div><div>Once you’ve added the FamilyMode service to your account, you’ll need the FamilyMode app installed on your phone. You might also consider getting the Home Base device, which offers additional control over other devices in your home.. After installing the app on your phone, connect to the Home Base using either an ethernet cable or by pairing it over your home Wi-Fi network.</div><div><br></div><h3>To set up FamilyMode</h3><ol>
<li>Open the <strong>FamilyMode</strong> app. Press <strong>Get Started</strong>.</li>
<li>Agree to the User Agreement.</li>
<li>Choose <strong>Set up parent app</strong>. Log in with your T-Mobile ID.</li>
<li>Create profiles for each family member.</li>
</ol><div><br></div><h3>Add a new family member</h3><ol>
<li>Tapping the <strong>Menu</strong> icon in the top left of the home screen in the FamilyMode app.</li>
<li>Tap <strong>Add Profile</strong>.</li>
<li>Enter the family member’s name and add an optional photo.</li>
<li>Set filter levels.<ol>
<li>
<strong>High:</strong> Works for children between the ages of 6 and 12. Educational and kid-safe experiences are available by default.</li>
<li>
<strong>Medium:</strong> Designed for teens 13-17. Most options are available. Any platforms, sites, or apps that are 18+ are blocked, and inappropriate categories are filtered and invisible.</li>
<li>
<strong>Low:</strong> Appropriate for 18+. This provides access to most all platforms, categories, and apps, but explicit and mature content is filtered by default.</li>
<li>
<strong>None:</strong> This is for profiles you want FamilyMode to ignore. This is also the option to choose if you just want to be able to set BedTimes for the profile. Time limits, filtering, and usage are not available for platforms with this filter level.</li>
</ol>
</li>
</ol><div><br></div><h3>To add another parent</h3><ol>
<li>Download the FamilyMode app to the parent’s device.&nbsp;</li>
<li>Open the app.</li>
<li>Tap <strong>Get Started</strong> on the welcome screen.</li>
<li>Agree to the user agreement.</li>
<li>Tap <strong>Set up Parent app</strong>.</li>
<li>Tap <strong>Continue</strong> at the T-Mobile Primary Account Holder screen.</li>
<li>Log in with the T-Mobile Primary Account Holder’s information.</li>
<li>Tap <strong>Menu</strong>.</li>
<li>Tap <strong>Add Profile</strong>.</li>
<li>Enter Parent’s name and photo.</li>
<li>Set the filter settings on the device. Tap <strong>Save</strong>.</li>
<li>Enable or disable BedTime. Tap <strong>Save</strong>.</li>
<li>Select the other parent’s device to add it to their profile. Tap <strong>Done</strong>.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Android devices, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages (including deleted ones!), photos, videos, web browsing (including Incognito on the Chrome browser/app!), and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. On iOS devices (iPhone, iPad, iPod), <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor text messages/iMessages (including some deleted messages!), photos, videos, web browsing (on Safari and Chrome), and Whatsapp! Any other email and social media accounts must be connected via the parent dashboard and will be monitored at the account-level, regardless if accessed on a phone, tablet, or a computer. <a href="http://bark.us/?s=barkomatic">Bark</a> also monitors your child's Android device location with check-ins. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/apps-57c3c0ce5bd04fe78678ffa55bca727a61afbca1ec1108aa6205e90fbc094633.png">
            App Management
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Pinterest
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>At first glance, Pinterest appears to be one of the safest social media sites. There's little direct communication between participants, so your child is unlikely to connect with predators. Unfortunately, that doesn't mean that Pinterest is entirely safe. There are <a href="https://www.bark.us/blog/pinterest-monitoring-6-things-parents-need-to-know/">several things</a> parents need to keep in mind as they allow their children to browse Pinterest, notably including:</div><div><br></div><ul>
<li>Mature content, including pornographic content, that hasn't yet been blocked by Pinterest</li>
<li>Content that glorifies eating disorders or self-harm</li>
<li>Links that lead away from Pinterest to other sites that could potentially be dangerous</li>
<li>A lack of privacy on Pinterest (most people use their real name to sign up)</li>
<li>Pinterest has secret boards that are visible only to your child and whoever they choose to invite</li>
<li>You can <a href="https://help.pinterest.com/en/article/edit-account-privacy">hide your child’s account from search engines</a> and disable cookie-based personalization</li>
<li>Your child has the ability to <a href="https://help.pinterest.com/en/article/block-or-unblock-someone">block other Pinterest users</a> if they encounter harassment or bullying</li>
</ul><div><br></div><div>It's also important to keep in mind that your child may not be in control of what images they see when they're browsing. Content pinned by the individuals they follow (who your child may never have met) or content that appears after a seemingly innocent search can be surprisingly detrimental. Pinterest’s terms of service state that children must be <a href="https://help.pinterest.com/en/article/age-requirements-for-using-pinterest">at least 13</a> to use their product, but some parents may choose to allow their child to use it earlier.&nbsp;</div><div><br></div><div>How do you keep your child safe while they're browsing Pinterest? There are several steps that can help keep your child safer.</div><div><br></div><h2>Follow Your Child</h2><div>Do you follow your child on Pinterest? While this may not mean that you see everything they look at, it will show you what they're pinning — and make it easy for you to check out their boards. Following your child may help you note any disturbing trends in your child's Pinterest behavior before they become a more serious problem. Knowing that you're following them may also help prevent your child from looking up and pinning content that could be detrimental to their mental health.<br><br>Keep in mind that others can follow your child, too. Avoid linking your child's Pinterest account to their Facebook, Twitter, or Instagram accounts to help prevent strangers from learning more about them.</div><div><br></div><h2>Limit Pinterest Time</h2><div>You may find that limiting your child to browsing Pinterest on a browser helps you keep a more effective eye on what they're doing than allowing them to browse straight from their phone. Consider limiting the amount of time spent on Pinterest just like you would any other social media site. Many parents feel that Pinterest is essentially harmless, and it may be for most children. Others may struggle with the ready availability of pornographic images or inappropriate content. Limiting time on the site can also help limit their exposure to that content.</div><div><br></div><h2>Adjust Parental Controls in Your Browser</h2><div>It can be helpful to <a href="https://www.bark.us/blog/concerned-parents-should-consider-internet-providers-parental-controls-when-selecting-a-service-and-when-setting-up-the-devices-they-provide-their-kids/">adjust parental controls in your browser</a> to help prevent your child from browsing to websites that display inappropriate content, even if they are linked on Pinterest.</div><div><br></div><h2>Talk to Your Child</h2><div>Any time you discover that your child is accessing inappropriate content, it's important to have a conversation about it. Some content is accessed simply because of a child's natural curiosity. Other content may be accessed because your child fell down a metaphorical “rabbit hole” while browsing and ended up in a place they didn't intend to go. No matter how your child accessed that content, however, it's important to talk about it. Share your views, including why you would rather they avoid that type of content. An <a href="https://www.bark.us/blog/tech-accountability-create-technology-contract-family/">open dialogue</a> makes it easier for your child to tell you what they've seen — and it increases the odds that they'll turn to you — instead of to the internet — to learn more.</div><div><br></div><div>Pinterest is a great place for your child to browse hairstyles, outfit ideas, workout plans, and more. With proper parental monitoring, it can be an excellent tool for your child — and these steps can help keep your child safe.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Pinterest, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the child's profile, the images and descriptions that they pin. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">her</a>e.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/email-46f0d679cf2715531124b8426acc389f07afab2d567431413af3f400cfa9ddcc.png">
            Email Provider
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Yahoo!
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Yahoo! has ceased the creation of new Yahoo! Family Accounts, which were previously used to create email accounts for kids younger than 13. Because of this, Bark does not recommend using Yahoo! email with younger kids.</div><div><br></div><div>If you would like to monitor your 13+ child’s Yahoo! email account, another option would be to know the password to it and log in frequently to check what your child has been sending/receiving. This method, however, can be bypassed if your child deletes messages.<br><br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. In Yahoo! mail, <a href="http://bark.us/?s=barkomatic">Bark</a> monitors the emails your child sends and receives including attachments. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/gaming-0e908338ca92d644292c7b8bb297500e08f000786a6e781e5ab19ddc8b9caeb0.png">
            Gaming
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Nintendo Switch
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Since its debut with the NESin 1985, Nintendo has provided quality content and captivating gaming experiences for consumers of all ages. Today the entertainment giant has several other gaming consoles in production, including the newest addition to the family: the Nintendo Switch.</div><div>&nbsp;</div><div>Even though the Nintendo Switch is considered one of the safer consoles for children, any type of online gaming platform will always carry risk. In order to combat this, there are several different parental controls available for you to use.<br><br>
</div><h2>Parental Controls for the Switch</h2><div>In order to provide their customers with the best gaming experience, Nintendo has <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/10530">comprehensive parental controls</a> that allow parents to have a more powerful voice in how their children use the console. The parental controls for the Nintendo Switch <strong>console</strong> allow parents to:</div><div>&nbsp;</div><ul>
<li>Restrict software by age based on each game’s ESRB rating</li>
<li>Block posting to social media</li>
<li>Block communication with others</li>
</ul><div><br></div><div>The Nintendo Switch Parental Controls<strong> smart device app</strong> has the same functionality, plus the following additional features:</div><div><br></div><ul>
<li>Set play-time limits</li>
<li>View play activity</li>
<li>Restrict VR Mode (3D Visuals)</li>
</ul><div><br></div><div>Finally, <strong>through your child’s Nintendo Account</strong>, you can also set restrictions on Nintendo eShop purchases. Nintendo eShop restrictions can only be set through an account’s profile settings on a PC or smart device, accessible by signing in to <a href="http://accounts.nintendo.com">http://accounts.nintendo.com</a>.<br><br>
</div><h2>Nintendo Switch Console</h2><div>Accessing the Parental Controls for the Switch is fairly easy. To access this function directly from the console, follow these steps:</div><div>&nbsp;</div><ol>
<li>On the Home Screen, locate and select <strong>Systems Settings</strong>.</li>
<li>Once selected, scroll down to <strong>Parental Controls</strong>.</li>
<li>Select <strong>Parental Control Settings</strong>, which appears on the right side of the screen.</li>
<li>Scroll down and select <strong>Use This Console</strong>.</li>
<li>Select <strong>Restriction Level</strong>.</li>
<li>If you would like to enable the pre-made settings, select either <strong>Child</strong>, <strong>Pre-teen</strong>, or <strong>Teen</strong> from the menu and the console will automatically restrict content based on your child's age.</li>
<li>If you would rather have your settings customized, select <strong>Custom Settings</strong> instead.<br><br>
</li>
</ol><h2>Customize Your Settings</h2><div>If you want to only restrict certain functions, follow these easy steps:</div><div>&nbsp;</div><ol>
<li>From the <strong>Custom Settings</strong> menu, select <strong>Restrict Software</strong>.</li>
<li>To restrict games based on their rating, select <strong>Software Ratings Organization</strong>.</li>
<li>To restrict the ability to post to social media, select <strong>Post to Social Media</strong>. (NOTE: No players under the age of 13 will be able to access Nintendo's social media content, no matter what the parental controls are set to).</li>
<li>To limit your child's ability to send messages, share images, and get user profile information, select <strong>Communicating with Others</strong>.</li>
</ol><div>&nbsp;</div><div>Once you have your parental controls set to your exact specifications, select <strong>Next</strong> to save your preferences and create a four to eight-digit PIN number that you will use in the future to access the Parental Controls.<br><br>
</div><h2>Controls From Your Smartphone</h2><div>To access the parental controls on your Android or iPhone, you will need to register your Switch console to the <strong>Nintendo Switch Parental Controls</strong> app. To do this, open the app on your phone and either sign in or create a new Nintendo account. The app will then give you a set of instructions, <strong>including a code</strong> that you will need to submit on the Switch console.</div><div>&nbsp;</div><div>Here are <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/22407/p/897/c/628">the steps</a> to successfully managing your parental control settings on your smartphone:</div><div><br></div><ol>
<li>On your Switch console's <strong>Home Screen</strong>, launch the <strong>System Settings</strong>.</li>
<li>Scroll down and select <strong>Parental Settings</strong>.</li>
<li>Select <strong>Parental Control Settings</strong>.</li>
<li>You will then be sent to a page that will ask you how you would like to set up your Parental Control Settings. Select <strong>Use your Smart Device</strong>.</li>
<li>It will ask you if you have the Parental Control app. Select <strong>Yes</strong>.</li>
<li>Then select <strong>Enter Registration Code</strong>. Enter the code the app generated for you when you first opened it.</li>
<li>Select <strong>Register</strong>.</li>
<li>Go back to the app and select <strong>Set Parental Controls</strong>.</li>
<li>You will be prompted to <strong>Set a Daily Limit</strong>. You can either select <strong>No Limit</strong> or you can choose to limit activity for up to 6 hours.</li>
<li>Tap <strong>Next</strong>, then choose to create a pre-made setting by selecting either <strong>Child</strong>, <strong>Pre-Teen</strong>, or <strong>Teen</strong>. Or select <strong>Custom Setting</strong> for individualized restrictions.</li>
<li>Select <strong>Next</strong> to save your settings.</li>
<li>If you would like to receive Push notifications for a statement on your child's monthly game activity, tap <strong>Allow</strong>.</li>
</ol><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Fortnite
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Fortnite<em> </em>is a brilliant mashup of creative building and third-person shooting action. Fortnite is available on PlayStation 4 and Xbox One, as well as Windows and Mac. The popular multiplayer version of the game, Battle Royale,<em> </em>has taken the world by storm, with about 80 million people currently enjoy the action-packed adventure.</div><div><br></div><div>An internet connection is required to play the game, and when your child plays Fortnite, they can instantly connect with people around the globe. The game is rated “T for Teen” due to some violence (gunfire, explosions, swords, etc.)</div><div><br></div><div>Fortnite is a very social game, as kids can play against their friends or players from across the world. YouTube and Twitch gamers have contributed to the game's popularity by streaming their gameplay and amusing antics. The most popular gaming mode, Battle Royale, also happens to be free (with in-app purchases available).</div><div><br></div><h2>Is Fortnite Appropriate for Children?</h2><div>To some parents, the absence of blood in Fortnite makes the game less of a concern than other shooting games. However, the online chat element does open the door to inappropriate language and contact from strangers. Games with chat features generally aren't recommended for those under age 13, but with parental controls, Fortnite can serve as a great alternative to other, more brutal first-person shooter games.</div><div><br></div><h3>Fortnite and Twitch</h3><div>Many kids aren't just playing the game — they're watching others play it on Twitch. Twitch is a platform that video game enthusiasts use to livestream themselves playing games like Fortnite. Livestreaming is, by nature, a bit unpredictable. There's no editing for language or mature content. If your child is using the Twitch platform to watch gamers play Fortnite, be aware of the lack of censorship they'll encounter.</div><div><br></div><h2>Fortnite Parental Controls</h2><div>Both the gaming console and PC versions of <em>Fortnite </em>offer live, unmoderated chat capabilities. Players can opt to use voice chat or type text to the screen. This, unfortunately, exposes kids to the whims of strangers and the high likelihood of obscene language, with people talking into microphones in real time during the game.<br><br>
</div><h3>How to turn off the voice chat option in the Fortnite</h3><ol>
<li>Navigate to the top right corner of the main page.</li>
<li>Select the <strong>...</strong>&nbsp; icon.</li>
<li>Select then the <strong>gear</strong> icon.</li>
<li>Go to the <strong>Audio</strong> tab at the top of your screen.</li>
<li>Adjust voice chat and other audio features.</li>
</ol><div><br></div><h2>How to report another user</h2><div>If you or your child feel that another player has acted inappropriately, you can select <strong>Report Player</strong> at the bottom right of the screen at any time.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/cable-89b5a8ef4ea27c678301d3c635216909cba36facf95417d8073868e8d5dfa57d.png">
            Cable
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Cox
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Cox Communications offers several features to help parents keep an eye on their kids' internet activity. Here is a complete guide to the best parental controls for Cox Communications customers.</div><div><br></div><h2>Controls for Internet Access</h2><div>Parental control features are free for Cox High-Speed Internet customers as part of your Cox Security Suite Powered by McAfee®. Parental controls allow you to customize safety features based on your child's age and your family values.</div><div><br></div><div>Cox Security Suite allows customers to do the following:</div><div><br></div><ul>
<li>Control children's time spent online</li>
<li>Restrict access to age-appropriate websites only</li>
<li>Give older children some freedom by blocking access to categories of websites, like sites dealing with gambling, dating, or alcohol</li>
<li>Block specific websites for older children, allowing access to most of the internet</li>
<li>Receive daily email reports about your child's online activity, including time spent and websites visited</li>
</ul><div><br></div><h2>Cox Security Suite Settings</h2><div>Cox Security Suite is compatible with Windows computers and Mac computers as well as Android and Apple devices.</div><div><br></div><div>To download Cox Security Suite for Windows:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>Your personalized McAfee <strong>My Account</strong> page displays. From the McAfee My Account page, click <strong>PC</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: If you are using a non-Microsoft browser, make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>On the Installer File pop-up window that displays, click <strong>Open</strong>.</li>
<li>Select either <strong>Complete Install</strong> or <strong>Custom Install</strong>, then click <strong>Next</strong>.<br>NOTE: Custom Install allows you to select specific features if you do not want to install all features.</li>
<li>A pop-up may display asking you to allow this program to make changes. Click <strong>Yes</strong> to allow these changes.</li>
<li>The download process begins. Once complete, your computer is protected.<br><br>
</li>
</ol><div>To download Cox Security Suite for Mac:</div><div><br></div><ol>
<li>Click <a href="https://idm.east.cox.net/coxlogin/ui/internettools?TYPE=33554432&amp;REALMOID=06-000f20a7-ec0b-15c8-99ea-41c4ac1240e7&amp;GUID=&amp;SMAUTHREASON=0&amp;METHOD=GET&amp;SMAGENTNAME=-SM-k%2fEQ7O%2fTtHzKZS2HNXp2CiF7Biktxh%2bpFmDWL5V%2fqp8t%2b%2bEf%2bXhgsi6A9ByIG%2bNd&amp;TARGET=-SM-HTTPS%3a%2f%2fidm%2eeast%2ecox%2enet%2faffwebservices%2fmcafee%2fredirect%2ejsp%3fSPID%3dmcafee%2ecox%2enet%26SMPORTALURL%3dhttps-%3A-%2F-%2Fidm%2eeast%2ecox%2enet-%3A443-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3d2196c256--8e1a4a78--9fb3409b--34b54d8c--41a3df49--86a">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</li>
<li>Log in with your Cox Primary User ID and Password.<br>NOTE: When installing Cox Security Suite Plus for the first time, an activation page displays before redirecting to the McAfee My Account page.</li>
<li>From the McAfee <strong>My Account</strong> page, select <strong>Mac</strong> from the drop-down, then click <strong>Download</strong>.</li>
<li>Click <strong>Agree and Download</strong> to confirm you have read and accepted the Intel Security (McAfee) License Agreement.</li>
<li>Click <strong>Download</strong> and then click <strong>Save File</strong>.<br>NOTE: Make sure to save the serial number presented on the screen to use when prompted during the installation process. If the serial number is not used within two hours, you will need to restart this process.</li>
<li>Complete the following:<ol>
<li>Click <strong>Download</strong>.</li>
<li>Click <strong>Open</strong>.</li>
<li>Enter your Mac administrator Username and Password.</li>
<li>Enter the serial number provided.</li>
<li>Click <strong>Next</strong>.</li>
</ol>
</li>
<li>Once the download is complete, click <strong>Finish</strong>. A confirmation pop-up displays to install WebAdvisor.</li>
<li>Select the desired option to complete your installation.</li>
<li>Click <strong>Install</strong>. The WebAdvisor is downloaded and installation is complete.<br><br>
</li>
</ol><div>Begin by downloading and installing the software as described <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html">here</a>. Once the Cox Security Suite software is installed on your device, you’ll have access to these easy-to-use parental control tools.</div><div><br></div><div>To download Cox Security Suite for a smartphone/tablet:</div><div>
<br>It’s recommended to begin this process on a computer. Click <a href="https://www.cox.com/residential/support/internet/cox-security-suite-plus.html#download">here</a> to start the download process. A separate window will open so that you can refer back to these steps at any time.</div><div><br></div><ol>
<li>Sign in with your Cox Primary User ID and Password.</li>
<li>From the McAfee My Account page, click <strong>Mobile</strong> from the drop-down, then click <strong>Send Link</strong>.<br><br>
</li>
</ol><h3>Web &amp; Email Protection</h3><div>To change your firewall and anti-spam settings, follow these steps:</div><div><br></div><ol>
<li>Open the <strong>Cox Security Suite Plus Console</strong> by double-clicking the <strong>McAfee icon</strong> on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the <strong>Navigation</strong> tab to view features and navigate to <strong>Web &amp; email protection</strong>.</li>
<li>Click <strong>Firewall</strong> to toggle your firewall on or off or create new settings.</li>
<li>Click <strong>Anti-spam</strong> to toggle spam management on or off.</li>
</ol><div><br></div><h3>Parental Controls</h3><div>The Cox Security Suite offers basic parental controls for your PC.</div><div><br></div><ol>
<li>Open the Cox Security Suite Plus Console by double-clicking the McAfee icon on your desktop.</li>
<li>Click <strong>PC</strong> or <strong>Mac</strong> in the <strong>Protect More Devices</strong> dropdown.</li>
<li>Click the Navigation tab to view features and navigate to Parental Controls.</li>
<li>Next to <strong>Administrative Password</strong>, click <strong>Set</strong> to save a new password.</li>
<li>Click <strong>Edit</strong> next to <strong>Protect Your Family</strong> to customize your settings.</li>
<li>At the bottom of the page, you’ll see a <strong>Parental Controls Report</strong> that allows you to see whether your protected devices tried to view blocked content.</li>
</ol><div><br></div><h3>Privacy Settings for Mobile Devices</h3><div>Your Cox Security Suite also offers basic protection for Android and Apple phones and tablets.</div><div><br></div><ol>
<li>Log in to your <strong>McAfee Mobile Security</strong> center.</li>
<li>Click <strong>Privacy</strong>.</li>
<li>Tap the <strong>&gt;</strong> next to a profile to adjust settings.</li>
<li>Tap the box next to each app or website that is allowed for the profile.</li>
<li>Tap <strong>Save</strong>.</li>
<li>Tap the circle next to the profiles name and tap <strong>Activate</strong>.</li>
</ol><div><br></div><h3>Lock Device</h3><div>To remotely lock your child’s device, follow these steps:<br><br>
</div><ol>
<li>Visit <a href="http://www.cox.com/securitysuite">www.cox.com/securitysuite</a> and click <strong>Access Security Suite Plus</strong>.</li>
<li>Once you are signed in, click on the tab that represents the device you’d like to lock.</li>
<li>Click <strong>Lock</strong>.</li>
<li>You can unlock the device by deselecting the <strong>Lock</strong> button.</li>
</ol><div><br></div><div>Cox Communications offers several parental control features, but it doesn't cover everything. If you are looking for an easy way to monitor your child or teen's online activity, check out the <a href="https://www.bark.us/">Bark app</a> for more information. Bark provides peace of mind to parents raising kids in a digital age.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/streaming-671c921f02e970a4b50d3715add82f4cabd8dcffb7a9c23428e49a732de73a06.png">
            Streaming Services
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Prime
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Prime Video is a video streaming service that is included free as part of your Amazon Prime membership. This allows members to watch thousands of movies and TV shows for free.</div><div><br></div><div>Amazon Prime Video is available on web browsers and has an app that can be downloaded on various streaming devices, including Roku, XBox One, Playstation 4, and Nintendo Wii U. It can also be accessed on smartphones and tablets.</div><div><br></div><h2>Amazon Prime Parental Control Settings</h2><h3>How to create an Amazon Video PIN</h3><div>To enable parental controls, Amazon Prime Video requires you to first create a PIN for your account. The PIN will serve to lock kids out from restricted content.</div><div><br></div><ol>
<li>Make sure you’re logged in to your Amazon account from a web browser.</li>
<li>In the top right corner, click <strong>Hello [your name] Account &amp; Lists</strong>.</li>
<li>When the drop down opens, click <strong>Your Account</strong>.</li>
<li>Scroll down a little bit and on the left-hand side, in the <strong>Digital Content and Devices</strong> box, click <strong>Video Settings</strong>.</li>
<li>Click <strong>Parental Controls</strong>.</li>
<li>At the top of the page, set your PIN and click <strong>Save</strong>.</li>
</ol><div><br></div><h3>Rating categories</h3><div>Amazon Prime Video follows the same ratings guidelines as the Motion Picture Association of America and TV Parental Guidelines to determine the parental controls rating categories. Ratings are combined into levels with recommended audiences — General, Family, Teen, and Mature — to assist with setting viewing restrictions on devices.</div><div><br></div><h3>How to set viewing restrictions</h3><div>Viewing restrictions allow you to take your parental controls one step further so you can block playback of movies and TV shows based on their rating category. You can choose the ratings categories you want to restrict, and on which registered devices you want to apply the restrictions.</div><div><br></div><div>NOTE: Restrictions for Fire Devices and Xbox One must be set on the device, and cannot be controlled from your Amazon account.</div><div><br></div><ol>
<li>While on the <strong>Parental Controls</strong> screen, scroll down from where you set the PIN to set viewing restrictions.</li>
<li>Select the ratings categories you want to restrict.</li>
<li>Continue scrolling to select the devices to which you want to apply the restrictions.</li>
</ol><div><br></div><div>Once viewing restrictions are set, a <strong>lock</strong> symbol appears next to any titles with ratings in the restricted categories. If anyone tries to watch one of the titles, they will be required to enter the video PIN before playback begins.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/internet-cd44413a7c4a023182f4b4fb72963ea715b27b43ce04a899e4e9eea7ddb22384.png">
            Internet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Charter
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Charter Communications recently underwent a merger with Time Warner and Bright House Networks. They are now all the same company: Spectrum. What follows are the parental controls for Spectrum's internet and TV services.</div><div><br></div><h2>Spectrum Parental Controls</h2><div>Spectrum has mechanisms in place to allow for parental monitoring of TV and internet activity: Spectrum’s Security Suite Parental Controls. However, there is not a direct, central way to access controls. For example, you have to manage controls separately for all of the following:<br><br>
</div><ul>
<li>Spectrum Receiver</li>
<li>Spectrum TV App</li>
<li>SpectrumTV.com</li>
<li>Spectrum TV channel apps</li>
</ul><div><br></div><div>Here is a breakdown of how parents can monitor internet and TV access with Spectrum’s Security Suite Parental Controls.</div><div>&nbsp;</div><h2>Spectrum Internet Controls</h2><div>Parents can set a variety of controls, including the ability to block content, filter search engine results, limit time online, and review statistics of usage. These controls are accessed via Spectrum's Security Suite.</div><div><br></div><div>For Windows users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Sign in to the computer with the username and password that requires parental controls.<br>NOTE: If you’re already signed in as yourself, press the <strong>WINDOWS key + L</strong>, and then select <strong>Switch User</strong> and follow the prompts.</li>
<li>Open <strong>Security Suite</strong>, and select <strong>Parental Controls</strong>.</li>
<li>Select <strong>Turn On</strong>.</li>
<li>The current parental control settings are displayed. Select <strong>Settings</strong> to modify the access rights.</li>
<li>Select a setting, then toggle the <strong>ON/OFF</strong> button at the top right of the window and follow the onscreen prompts.</li>
</ol><ul>
<li>
<strong>Content Blocker:</strong> Restricts access to websites based on content. You can also allow access to only selected websites.</li>
<li>
<strong>Search Result Filter:</strong> Hides adult content from search results on your web browser.</li>
<li>
<strong>Time Limits:</strong> Use the slider bar to adjust the maximum number of hours allowed for web browsing in a single day. You can set different limits for weekday and weekend usage.</li>
<li>
<strong>Statistics:</strong> View a user’s activity over the course of a year, month, week, or day, the number of visited websites, potentially harmful websites that were blocked, and those that were intentionally blocked based on your filter settings.</li>
</ul><div><br></div><div>For Mac users, here’s how to set up Spectrum’s Security Suite Parental Controls:<br><br>
</div><ol>
<li>Open <strong>Security Suite</strong>.</li>
<li>Select the <strong>Antivirus</strong> tab and then select <strong>Preferences</strong>. A new window for <strong>Preferences</strong> will open.</li>
<li>Select the <strong>Parental Control</strong> tab.</li>
<li>Select <strong>Turn on Content Blocker</strong> to enable <strong>Parental Controls</strong>. You might need to select the <strong>lock</strong> icon on the Parental Control window to change to your settings. Here, just enter the password for your computer so you can make changes.</li>
<li>Select each content category you want to block. You can select the <strong>Web site exceptions</strong> button to create a list of sites that bypass your Parental Control and Browser Protection settings. If a website is added to the website exception list, it won't be blocked for any reason.<em><br></em><br>
</li>
</ol><h2>Spectrum’s Security Suite Parental Controls</h2><h3>Content blocker</h3><div>Restrict access to sites based on content, or only allow access to specified sites. For example, parents are given the option to block content categories or keywords such as weapons, violence, cults, disturbing, alcohol, adult, dating, tobacco, etc. If you want your child to focus solely on the academic use of the internet, you can also block blogs, social networks, and forums.</div><div><br></div><div>For a truly locked-down internet, there is also an option to specify exactly which sites your child can visit, blocking everything else. Only want them to go to PBS Kids? Set it up on the Spectrum content blocker.<br><br>
</div><h3>Search result filter</h3><div>When this feature is turned on in Security Suite, it is designed to keep adult content from appearing on search engine results.</div><div><br></div><h3>Time limits</h3><div>Set a maximum amount of usage per day with an easy slider bar. You can vary the maximum amounts by weekday or weekend. The usage graphs and slider bar are very user-friendly, and they are especially useful as a visual aid when talking with children about time limits.</div><div><br></div><h3>Statistics</h3><div>View stats on a user's activity over a day, a week, a month, or any other specified amount of time. Here, you can see the number of sites visited, the potentially harmful or objectionable sites that were blocked, and more. Having concrete statistics can make a world of difference when discussing internet usage and behaviors with children.</div><div><br></div><h2>Spectrum TV</h2><div>If your Spectrum service also includes television, it's important to know how to monitor that content as well.</div><div><br></div><h3>How to monitor content on SpectrumTV.com</h3><ol>
<li>Sign in to <a href="https://watch.spectrum.net/">SpectrumTV.com</a> with a Spectrum username that has Head of Household or Administrator privileges.</li>
<li>Select the <strong>Settings</strong> tab.</li>
<li>Choose <strong>Parental Controls</strong>.</li>
<li>Set the switch to <strong>ON</strong>.</li>
<li>When prompted, enter or create your PIN.</li>
<li>Under <strong>Allowed TV ratings</strong>, select the ratings that are appropriate for your child.</li>
<li>Under <strong>Allowed Movie ratings</strong>, select the appropriate ratings.</li>
<li>Under Channel blocks, select the channels you don't want your child to view.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/pc-aafeb6325ffcdae8acb2f162e8490ce580a12ea7d558d9609aa77a1dc1f16a38.png">
            PC Computer
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Windows Vista
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Windows Vista is an older Windows operating system used on PCs and tablets. It was made available to the general public in January 2007 and received its final update in Service Pack 2, which was released in May 2009. Even though it’s no longer updated, parents can still set restrictions.<br><br>
</div><h2>Setting Up Parental Restrictions</h2><h3>How to create a user account for your child</h3><ol>
<li>Open the <strong>Control Panel</strong>.</li>
<li>Select <strong>User Accounts</strong> and <strong>Family Safety</strong>.</li>
<li>Click <strong>Add or Remove User Accounts</strong> to set up your child’s user account.<ol><li>Make sure this account is a non-administrator. Otherwise, your child has access to the area where parental controls are set.</li></ol>
</li>
</ol><div><br></div><h3>How to access parental controls for your child’s account</h3><ol>
<li>Click <strong>Set up Parental Controls for Any User</strong> to start the process.</li>
<li>Click the user account you want to set controls for from the list.</li>
<li>Enable parental controls by clicking <strong>On, Enforce current settings</strong>.</li>
<li>If you want to get a report of the child’s user activity, then click <strong>On, Collect information about computer usage</strong>. This way, you’ll be able to see all the websites your child looks at, the files they downloaded, when they logged on, the programs they used, and more.</li>
<li>Use the <strong>Windows Vista Web Filter</strong> to control your child’s internet experience.<ol>
<li>Choose the content you wish to block or allow.</li>
<li>Choose to allow or block file downloads.</li>
</ol>
</li>
<li>Use the <strong>Time limits</strong> section to control the times your child can use the computer.</li>
<li>Use the <strong>Games</strong> section to control the games your child can play.<ol>
<li>Choose the rating, or mix and match content.</li>
<li>Choose the games rating provider.</li>
<li>Block specific games, if you wish.</li>
</ol>
</li>
<li>Allow or block use of specific programs.</li>
<li>Click <strong>OK</strong> when finished.</li>
<li>Repeat for any additional children.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome and Safari, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.<br><br>
</div><div><br></div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/browsers-cc0745fe9abfc034eee5106f52d01c2954749fc9a3cf9b08747a0608e1095503.png">
            Browsers
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Chrome
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Google Chrome is an internet browser available for computers, Chromebooks, smartphones, and tablets. The extent to which parental settings work with Chrome will depend heavily on whether you’re using iOS or an Android/Chromebook.<br><br>
</div><h2>Parental Settings for Chrome on Androids and Chromebooks</h2><div>To best monitor Chrome, make sure you create a Google Account for your child. If they’re under 13, you will have to create their account using the Family Link app, Google’s proprietary control app for parents.&nbsp; You’ll then control parent settings through this same app.</div><div><br></div><div>Children signed in to their Google Account on an Android device or Chromebook have a similar experience to adults. Available features may be updated from time to time, but some of the differences include:</div><div><br></div><ul>
<li>Children won’t have access to apps from Google Play and Chrome Web Store.</li>
<li>Children can't use incognito mode.</li>
<li>Parents can manage the websites their children can visit on Chrome, and limit their children’s ability to grant permissions to websites.</li>
<li>If "Try to block mature sites" has been turned on for your child in Family Link, Chrome browsing tries to block sexually explicit and violent sites.</li>
<li>Chrome Sync is required for certain parental management features to work with your child’s Google Account. You can turn off certain kinds of data collection.</li>
<li>Your child's Google Activity controls may allow Google to use Chrome browsing history and activity from websites to personalize your child’s experience across Google products and services. However, this information won't be used to personalize ads for children under 13 (or the applicable age in your country).</li>
</ul><div><br></div><h3>How to manage your child’s browsing on Chrome</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Choose the setting that’s right for your family:<ul>
<li>
<strong>Allow all sites:</strong> Your child will be able to visit all sites, except the ones you block.</li>
<li>
<strong>Try to block mature sites:</strong> No filter is perfect, but this should help hide sexually explicit and violent sites.&nbsp;</li>
<li>
<strong>Only allow certain sites:</strong> Your child will only be able to visit the sites you allow.</li>
<li>Tap <strong>Manage sites</strong> to manually allow or block certain sites. You can also manage this setting by clicking on your child's name at families.google.com.</li>
</ul>
</li>
</ol><div><br></div><h3>How to block or allow certain sites</h3><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the <strong>Settings</strong> card, tap <strong>Manage settings</strong> and then <strong>Filters on Google Chrome</strong>.</li>
<li>Tap <strong>Manage sites</strong> and then <strong>Approved</strong> or <strong>Blocked</strong>.</li>
<li>In the bottom right corner, tap <strong>Add an exception</strong>.</li>
<li>Add a website or domain.</li>
<li>In the top left, tap <strong>Close</strong>.</li>
</ol><div><br></div><h3>How to change website permission settings</h3><div>You can decide whether your child can give site permissions to websites they visit, including permission to use location, camera, and notifications.<br><br>
</div><ol>
<li>Open the <strong>Family Link</strong> app.</li>
<li>Select your child.</li>
<li>On the "<strong>Settings</strong>" card, tap <strong>Manage settings</strong>.</li>
<li>Tap <strong>Filters on Google Chrome </strong>and then <strong>Chrome dashboard</strong>.</li>
<li>Turn <strong>Permissions for sites and apps</strong> on or off. You can also manage this setting by clicking on your child's name on the Chrome dashboard.</li>
</ol><div><br></div><div>When "Permissions for sites and apps" is off, children won't be able to grant permissions to websites. However, permissions they already granted will still be in place.<br><br>
</div><h3>How to access Chrome’s browser history</h3><div><br></div><ol>
<li>On your child's device, open the <strong>Chrome</strong> app.</li>
<li>Tap <strong>More</strong> and then <strong>History</strong>. This page shows your child's recent Chrome history.</li>
</ol><div><br></div><h2>Managing Chrome on iOS Devices</h2><div>Unfortunately, the Family Link app’s functionality is not as robust for iOS as it is for Android. When you use Family Link to manage your child’s Google Account, you can let your child sign in to some Google apps (Gmail and YouTube) on their iPhone or iPad. However, the following settings won’t work:<br><br>
</div><ul>
<li>Screen time limits</li>
<li>Device location</li>
<li>App activity</li>
<li>Blocking apps &amp; app permissions</li>
<li>Google Chrome website and permission restrictions</li>
</ul><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. You can install <a href="http://bark.us/?s=barkomatic">Bark</a> on the Google Chrome web browser of your child's PC, Chromebook, or Mac, so any activity they have on Chrome, like web browsing (including Incognito Browsing!) and web searches will be sent to <a href="http://bark.us/?s=barkomatic">Bark</a> for analysis of worrisome content. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div><div><br></div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/tablet-b6f5ebe98b2cccbc22b798af0f856c965fe92470e78db9afc8cfac806e8635da.png">
            Tablet
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Fire
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Fire is a tablet developed and supported by Amazon. Kids can use it to read Kindle ebooks, play games, watch movies, and use social media.&nbsp;</div><div><br></div><div>It’s equipped with one of the most comprehensive sets of parental controls on the market, and we’ll walk you through how to set them up.<br><br>
</div><h2>Parental Controls on Amazon Fire</h2><h3>Option 1: Basic parental controls</h3><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Parental Controls</strong>.</li>
<li>Tap the switch next to <strong>Parental Controls</strong>.</li>
<li>Enter a password and confirm your password.</li>
<li>Tap <strong>Finish</strong>.</li>
<li>After you turn on parental controls, a <strong>lock</strong> icon will appear at the top of the screen.<br><br>
</li>
</ol><div><strong>Basic parental controls allow you to restrict the following:</strong></div><ul>
<li>The Amazon Store</li>
<li>Web browsing</li>
<li>Email, Contacts, and Calendar apps</li>
<li>Social network sharing</li>
<li>The camera</li>
<li>Specific content types (for example, books or apps)</li>
</ul><div><br></div><div><strong>Basic parental controls allow you to password-protect the following:</strong></div><ul>
<li>Purchases from the Amazon stores on your device (like the Amazon Appstore)</li>
<li>Playing movies and TV shows from Prime Video</li>
<li>Connecting to Wi-Fi</li>
<li>Enabling location services</li>
</ul><div><br></div><div><strong>How to set a curfew and choose when your child can use their tablet:</strong></div><ul>
<li>Tap the switch next to <strong>Set a Curfew</strong> to turn this feature on.</li>
<li>Tap <strong>Curfew Schedule</strong>.</li>
<li>Choose the days and times that the child will not be able to access the device.</li>
<li>To unlock a device in curfew, enter your parental controls password.</li>
</ul><div><br></div><div><strong>How to monitor your child’s tablet use:</strong></div><ul>
<li>Tap the switch next to <strong>Monitor This Profile</strong> to monitor activity on how your child is using their Amazon Fire.</li>
<li>A monitored profile will show a <strong>parent and child</strong> icon at the top of the screen.</li>
<li>View the information by visiting <strong>Activity Center</strong> on the <strong>Your Devices</strong> tab of <strong>Manage Your Content and Devices.</strong>
</li>
<li>You’ll be able to see how much time your child has spent on various apps, which books they’ve read, and what content they’ve accessed.</li>
</ul><div><br></div><h3>Option 2: Purchasing parental controls through Amazon FreeTime Unlimited</h3><div>Amazon FreeTime Unlimited is a subscription service available for customers in the U.S., U.K., and Germany. It’s available on Fire, Android, iOS, Kindle, and compatible Echo devices, and one subscription works across all devices. It gives kids access to thousands of age-appropriate books, movies, TV shows, music, games, and educational apps for a small monthly fee. Parents can use it to create a personalized experience for their kids while striking the right balance between education and entertainment.</div><div><br></div><div>It has additional parental control options, such as limiting the type of content your child accesses until they’ve completed daily goals (i.e., math problems, reading) and shutting itself down at the designated curfew.</div><div><br></div><div><strong>How to subscribe to Amazon FreeTime Unlimited on an Amazon Fire:</strong></div><ol>
<li>Swipe down from the top of the screen and tap <strong>Settings</strong>.</li>
<li>Tap <strong>Profiles &amp; Family Library</strong>.</li>
<li>Tap your child’s profile.</li>
<li>Tap <strong>Subscribe to Amazon FreeTime Unlimited</strong>.</li>
<li>Select a monthly subscription plan:<ol>
<li>
<strong>Single Child Plan ($4.99/month or $2.99/month for Prime members):</strong> If you have only one child registered to Amazon FreeTime, or if you want to provide access to Kindle FreeTime Unlimited to one, but not all, of the child profiles in your household</li>
<li>
<strong>Family Plan ($9.99/month or $6.99/month for Prime members, $119/year or $83/year for Prime members): </strong>If you want your subscription to cover up to four children in your household<br><br>
</li>
</ol>
</li>
</ol><div><strong>How to use Amazon FreeTime Unlimited’s parental controls:</strong></div><ol>
<li>Tap the <strong>FreeTime</strong> app.</li>
<li>Select the profile for your child.</li>
<li>Choose <strong>Set Daily Goals &amp; Time Limits</strong> and adjust the toggles to choose how long they can spend per day in specific apps (on the device overall).</li>
<li>Choose a <strong>Turn off by</strong> time to prevent them from using their tablet after bedtime.</li>
<li>Tap <strong>Manage your Child’s Content</strong> and then <strong>Smart Filters</strong> to set the age minimum and maximum for the type of content they’re allowed to see.</li>
</ol><div>
<br><br>
</div><h2>How to Monitor Content</h2><div>In addition to setting parental controls on your child's device, the next safety layer parents and caregivers should strongly consider is a monitoring solution to assess the content their kids encounter (and produce) across text messages, social media, and email. <a href="http://bark.us/?s=barkomatic">Bark</a> can do this for you. On Amazon Fire, <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor photos, videos, web browsing, and many installed apps, including Snapchat, Instagram, YouTube, TikTok (formerly Musical.ly), WhatsApp, and Kik. If you'd like to see a detailed list of everything <a href="http://bark.us/?s=barkomatic">Bark</a> can monitor, click <a href="https://help.bark.us/general/what-bark-monitors-on-the-different-platforms">here</a>.</div><div>
<br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>


          <h2 class="my-5 text-center text-md-left">
            <img class="d-block m-auto pb-3 d-md-inline-block pr-md-3" src="/assets/results/groups/smarthome-2a562a969485b332969cfb5b9ff91f0772cfdd7277722465ae5521a5b58f5b8f.png">
            Smart Home
          </h2>

            <div class="row">
              <div class="col mb-5" data-controller="collapse">
                <h3 class="mb-0">
                  <a class="d-block pb-3" data-action="collapse#toggle">
                    Amazon Echo
                    <img class="pull-right" data-target="collapse.arrow" src="/assets/results/arrow-355a8104c506b96149e8d293d7399886fb43389633f9b106de70ca4202361bac.png">
                  </a>
                </h3>
                <div data-target="collapse.content" class="collapse">
                  <div class="p-3 p-md-5">
                    <div class="trix-content">
  <div>Amazon Echo is a brand of smart speakers developed by Amazon. The devices connect to the voice-controlled intelligent personal assistant service Alexa, who responds to the name "Alexa."</div><div><br></div><div>Smart speakers allow you to do a number of things with your voice, such as checking the weather, listening to music, and ordering products online. Amazon Echo parental controls are handled in Amazon’s parental controls — the same ones you use to restrict Amazon Prime and other devices on your account. But there are extra parental controls you can add directly to your Echo device.<br><br>
</div><h2>How to Set Parental Controls on Amazon Echo</h2><ol>
<li>Create and log in to your <strong>Amazon Household Account</strong>.</li>
<li>Under <strong>Accounts and Lists</strong>, click <strong>Your Account</strong>.</li>
<li>Under <strong>Shopping Programs and Rentals</strong>, click <strong>Amazon Household</strong>.</li>
<li>Click <strong>Add a Child</strong>.</li>
<li>Enter your child’s details.</li>
<li>Click <strong>Manage Your Content and Devices</strong> to control what purchased content your child can access, as well as the devices they can use to access content.</li>
<li>Add a PIN or disable voice purchasing to prevent unauthorized purchases.<ol>
<li>Open the <strong>Alexa</strong> app or visit echo.amazon.com on your smartphone.</li>
<li>Tap the <strong>Menu</strong> icon.</li>
<li>Tap <strong>Settings</strong>.</li>
<li>Scroll until you see <strong>Voice Purchasing</strong>.</li>
<li>Add a 4-digit PIN and tap <strong>Save</strong>, or change the setting to completely disable voice purchasing.</li>
</ol>
</li>
</ol><div><br></div><div>A more kid-friendly option is the Amazon Echo Dot Kid’s edition, which is automatically safer with built-in parental controls and no adult content.<br><br>
</div><h2>What is FreeTime?</h2><div>With Amazon FreeTime, a parental control app available for a small monthly fee, you can create a personalized experience for your kids and choose what content they access on their device.<br><br>
</div><h3><strong>Parent Dashboard</strong></h3><div>The Parent Dashboard is where you share content with Alexa devices using Amazon FreeTime, and monitor what content your kids are using and for how long. You can also manage your child's access to smart home functionality by toggling it <strong>On</strong> or <strong>Off</strong> in the <strong>Parent Dashboard</strong>. You can access the Parent Dashboard <a href="https://parents.amazon.com">on your computer</a>.<br><br>
</div><h3><strong>Time Restrictions</strong></h3><div>In the Parent Dashboard, you can set time limits for the device when Amazon FreeTime is turned on. You can also use the Parent Dashboard to pause the device, which prevents use of Amazon FreeTime on the device until you unlock it or the lock time expires.<br><br>NOTE: Some Alexa device settings and features aren't available when an Alexa device is in Amazon FreeTime.<br><br><br>
</div><h2>Bark - The Internet Safety Solution</h2><div>
<a href="http://bark.us/?s=barkomatic"><strong>Bark</strong></a> is dedicated to helping keep kids safe online and in real life. In 2018, we helped protect nearly 3 million kids with our groundbreaking products for families and schools.</div><div>
<br>By monitoring text messages, YouTube, emails, and 24+ different social networks for potential safety concerns like cyberbullying, self-harm, violence, sexual predators, and more, Bark allows busy parents to rest easier knowing their kids are better protected from digital dangers. Sign up today to start your <a href="http://bark.us/?s=barkomatic"><strong>free, one-week trial</strong></a> or visit <a href="http://bark.us/?s=barkomatic">Bark.us</a> to <a href="http://bark.us/?s=barkomatic"><strong>learn more</strong></a>.</div>
</div>

                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>