<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "UA-137900395-2",
        "config": {
          "UA-137900395-2": {
            "groups": "default"
          }
        }
      },
      "triggers": {
        "iniLoad": {
          "on": "ini-load",
          "request": "request"
        },
        "userError": {
          "on": "user-error",
          "request": "error"
        },
        "defaultPageview": {
          "on": "visible",
          "request": "pageview"
        },
        "defaultPagehide": {
          "on": "hidden",
          "request": "pagehide"
        },
        "anchorClicks": {
          "on": "click",
          "selector": "a, button",
          "request": "event",
          "vars": {
            "eventCategory": "Landing Page",
            "eventAction": "Click",
            "eventLabel": "${eventId}"
          }
        }
      }
    }
  </script>
</amp-analytics>

<script>
  var config = {
    apiKey: "AIzaSyCTEd3tBXWJsybpQP9ONDfGFbmZy2_SjlI",
    authDomain: "benekids-interest.firebaseapp.com",
    databaseURL: "https://benekids-interest.firebaseio.com",
    projectId: "benekids-interest",
    storageBucket: "benekids-interest.appspot.com",
    messagingSenderId: "916615602313"
  };
  firebase.initializeApp(config);
</script>
<script src="../scripts/app.js"></script>
